=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ApiPublicWebhookSubscriptionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Webhook subscriptions
    # Reads all Webhook subscriptions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the webhook subscription
    # @option opts [String] :company_id Company identifier of the webhook subscription
    # @option opts [String] :type Type of the webhook subscription
    # @option opts [Boolean] :enabled List only enabled webhook subscriptions
    # @return [ApiPublicWebhookSubscriptionsGet200Response]
    def api_public_webhook_subscriptions_get(opts = {})
      data, _status_code, _headers = api_public_webhook_subscriptions_get_with_http_info(opts)
      data
    end

    # Reads all Webhook subscriptions
    # Reads all Webhook subscriptions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Identifier of the webhook subscription
    # @option opts [String] :company_id Company identifier of the webhook subscription
    # @option opts [String] :type Type of the webhook subscription
    # @option opts [Boolean] :enabled List only enabled webhook subscriptions
    # @return [Array<(ApiPublicWebhookSubscriptionsGet200Response, Integer, Hash)>] ApiPublicWebhookSubscriptionsGet200Response data, response status code and response headers
    def api_public_webhook_subscriptions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/api_public/webhook_subscriptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'enabled'] = opts[:'enabled'] if !opts[:'enabled'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiPublicWebhookSubscriptionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiPublicWebhookSubscriptionApi#api_public_webhook_subscriptions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Webhook subscription
    # Deletes a Webhook subscription
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiPublicWebhookSubscription]
    def api_public_webhook_subscriptions_id_delete(id, opts = {})
      data, _status_code, _headers = api_public_webhook_subscriptions_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Webhook subscription
    # Deletes a Webhook subscription
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiPublicWebhookSubscription, Integer, Hash)>] ApiPublicWebhookSubscription data, response status code and response headers
    def api_public_webhook_subscriptions_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/api_public/webhook_subscriptions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiPublicWebhookSubscription'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiPublicWebhookSubscriptionApi#api_public_webhook_subscriptions_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Webhook subscription
    # Reads a single Webhook subscription
    # @param id [String] Identifier of the webhook subscription
    # @param [Hash] opts the optional parameters
    # @return [ApiPublicWebhookSubscription]
    def api_public_webhook_subscriptions_id_get(id, opts = {})
      data, _status_code, _headers = api_public_webhook_subscriptions_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Webhook subscription
    # Reads a single Webhook subscription
    # @param id [String] Identifier of the webhook subscription
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiPublicWebhookSubscription, Integer, Hash)>] ApiPublicWebhookSubscription data, response status code and response headers
    def api_public_webhook_subscriptions_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/api_public/webhook_subscriptions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiPublicWebhookSubscription'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiPublicWebhookSubscriptionApi#api_public_webhook_subscriptions_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Webhook subscription
    # Updates a Webhook subscription
    # @param id [String] Identifier of the webhook subscription
    # @param [Hash] opts the optional parameters
    # @option opts [ApiPublicWebhookSubscriptionsIdPutRequest] :api_public_webhook_subscriptions_id_put_request 
    # @return [ApiPublicWebhookSubscription]
    def api_public_webhook_subscriptions_id_put(id, opts = {})
      data, _status_code, _headers = api_public_webhook_subscriptions_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Webhook subscription
    # Updates a Webhook subscription
    # @param id [String] Identifier of the webhook subscription
    # @param [Hash] opts the optional parameters
    # @option opts [ApiPublicWebhookSubscriptionsIdPutRequest] :api_public_webhook_subscriptions_id_put_request 
    # @return [Array<(ApiPublicWebhookSubscription, Integer, Hash)>] ApiPublicWebhookSubscription data, response status code and response headers
    def api_public_webhook_subscriptions_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/api_public/webhook_subscriptions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'api_public_webhook_subscriptions_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiPublicWebhookSubscription'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiPublicWebhookSubscriptionApi#api_public_webhook_subscriptions_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Webhook subscription
    # Creates a Webhook subscription
    # @param [Hash] opts the optional parameters
    # @option opts [ApiPublicWebhookSubscriptionsPostRequest] :api_public_webhook_subscriptions_post_request 
    # @return [ApiPublicWebhookSubscription]
    def api_public_webhook_subscriptions_post(opts = {})
      data, _status_code, _headers = api_public_webhook_subscriptions_post_with_http_info(opts)
      data
    end

    # Creates a Webhook subscription
    # Creates a Webhook subscription
    # @param [Hash] opts the optional parameters
    # @option opts [ApiPublicWebhookSubscriptionsPostRequest] :api_public_webhook_subscriptions_post_request 
    # @return [Array<(ApiPublicWebhookSubscription, Integer, Hash)>] ApiPublicWebhookSubscription data, response status code and response headers
    def api_public_webhook_subscriptions_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/api_public/webhook_subscriptions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'api_public_webhook_subscriptions_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiPublicWebhookSubscription'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ApiPublicWebhookSubscriptionApi.api_public_webhook_subscriptions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApiPublicWebhookSubscriptionApi#api_public_webhook_subscriptions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
