=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ApprovalsMaterializedApprovalsFlowApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approves an approval flow by resource
    # Approves the current pending step of an approval flow identified by resource_id and resource_type, without needing to know the materialized_approval_flow_id.
    # @param [Hash] opts the optional parameters
    # @option opts [ApprovalsMaterializedApprovalsFlowsApproveResourcePostRequest] :approvals_materialized_approvals_flows_approve_resource_post_request 
    # @return [ApprovalsMaterializedApprovalsFlow]
    def approvals_materialized_approvals_flows_approve_resource_post(opts = {})
      data, _status_code, _headers = approvals_materialized_approvals_flows_approve_resource_post_with_http_info(opts)
      data
    end

    # Approves an approval flow by resource
    # Approves the current pending step of an approval flow identified by resource_id and resource_type, without needing to know the materialized_approval_flow_id.
    # @param [Hash] opts the optional parameters
    # @option opts [ApprovalsMaterializedApprovalsFlowsApproveResourcePostRequest] :approvals_materialized_approvals_flows_approve_resource_post_request 
    # @return [Array<(ApprovalsMaterializedApprovalsFlow, Integer, Hash)>] ApprovalsMaterializedApprovalsFlow data, response status code and response headers
    def approvals_materialized_approvals_flows_approve_resource_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApprovalsMaterializedApprovalsFlowApi.approvals_materialized_approvals_flows_approve_resource_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/approvals/materialized_approvals_flows/approve_resource'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'approvals_materialized_approvals_flows_approve_resource_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApprovalsMaterializedApprovalsFlow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ApprovalsMaterializedApprovalsFlowApi.approvals_materialized_approvals_flows_approve_resource_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApprovalsMaterializedApprovalsFlowApi#approvals_materialized_approvals_flows_approve_resource_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rejects an approval flow by resource
    # Rejects the current pending step of an approval flow identified by resource_id and resource_type, without needing to know the materialized_approval_flow_id.
    # @param [Hash] opts the optional parameters
    # @option opts [ApprovalsMaterializedApprovalsFlowsRejectResourcePostRequest] :approvals_materialized_approvals_flows_reject_resource_post_request 
    # @return [ApprovalsMaterializedApprovalsFlow]
    def approvals_materialized_approvals_flows_reject_resource_post(opts = {})
      data, _status_code, _headers = approvals_materialized_approvals_flows_reject_resource_post_with_http_info(opts)
      data
    end

    # Rejects an approval flow by resource
    # Rejects the current pending step of an approval flow identified by resource_id and resource_type, without needing to know the materialized_approval_flow_id.
    # @param [Hash] opts the optional parameters
    # @option opts [ApprovalsMaterializedApprovalsFlowsRejectResourcePostRequest] :approvals_materialized_approvals_flows_reject_resource_post_request 
    # @return [Array<(ApprovalsMaterializedApprovalsFlow, Integer, Hash)>] ApprovalsMaterializedApprovalsFlow data, response status code and response headers
    def approvals_materialized_approvals_flows_reject_resource_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApprovalsMaterializedApprovalsFlowApi.approvals_materialized_approvals_flows_reject_resource_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/approvals/materialized_approvals_flows/reject_resource'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'approvals_materialized_approvals_flows_reject_resource_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApprovalsMaterializedApprovalsFlow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ApprovalsMaterializedApprovalsFlowApi.approvals_materialized_approvals_flows_reject_resource_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApprovalsMaterializedApprovalsFlowApi#approvals_materialized_approvals_flows_reject_resource_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
