=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class AtsMessageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Messages
    # Reads all Messages
    # @param last_per_conversation [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id 
    # @option opts [Array<String>] :ids 
    # @option opts [String] :ats_conversation_id 
    # @option opts [Array<String>] :ats_conversation_ids 
    # @return [AtsMessagesGet200Response]
    def ats_messages_get(last_per_conversation, opts = {})
      data, _status_code, _headers = ats_messages_get_with_http_info(last_per_conversation, opts)
      data
    end

    # Reads all Messages
    # Reads all Messages
    # @param last_per_conversation [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id 
    # @option opts [Array<String>] :ids 
    # @option opts [String] :ats_conversation_id 
    # @option opts [Array<String>] :ats_conversation_ids 
    # @return [Array<(AtsMessagesGet200Response, Integer, Hash)>] AtsMessagesGet200Response data, response status code and response headers
    def ats_messages_get_with_http_info(last_per_conversation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsMessageApi.ats_messages_get ...'
      end
      # verify the required parameter 'last_per_conversation' is set
      if @api_client.config.client_side_validation && last_per_conversation.nil?
        fail ArgumentError, "Missing the required parameter 'last_per_conversation' when calling AtsMessageApi.ats_messages_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/messages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'last_per_conversation'] = last_per_conversation
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'ats_conversation_id'] = opts[:'ats_conversation_id'] if !opts[:'ats_conversation_id'].nil?
      query_params[:'ats_conversation_ids[]'] = @api_client.build_collection_param(opts[:'ats_conversation_ids'], :multi) if !opts[:'ats_conversation_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsMessagesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsMessageApi.ats_messages_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsMessageApi#ats_messages_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Message
    # Reads a single Message
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AtsMessage]
    def ats_messages_id_get(id, opts = {})
      data, _status_code, _headers = ats_messages_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Message
    # Reads a single Message
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AtsMessage, Integer, Hash)>] AtsMessage data, response status code and response headers
    def ats_messages_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsMessageApi.ats_messages_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsMessageApi.ats_messages_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/messages/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsMessageApi.ats_messages_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsMessageApi#ats_messages_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Message
    # Creates a Message
    # @param content [String] 
    # @param sent_by_id [String] 
    # @param sent_by_type [String] 
    # @param ats_application_id [String] 
    # @param attachments [Array<File>] 
    # @param topic [String] 
    # @param send_as_corporate_email [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :delayed_until 
    # @return [AtsMessage]
    def ats_messages_post(content, sent_by_id, sent_by_type, ats_application_id, attachments, topic, send_as_corporate_email, opts = {})
      data, _status_code, _headers = ats_messages_post_with_http_info(content, sent_by_id, sent_by_type, ats_application_id, attachments, topic, send_as_corporate_email, opts)
      data
    end

    # Creates a Message
    # Creates a Message
    # @param content [String] 
    # @param sent_by_id [String] 
    # @param sent_by_type [String] 
    # @param ats_application_id [String] 
    # @param attachments [Array<File>] 
    # @param topic [String] 
    # @param send_as_corporate_email [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :delayed_until 
    # @return [Array<(AtsMessage, Integer, Hash)>] AtsMessage data, response status code and response headers
    def ats_messages_post_with_http_info(content, sent_by_id, sent_by_type, ats_application_id, attachments, topic, send_as_corporate_email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsMessageApi.ats_messages_post ...'
      end
      # verify the required parameter 'content' is set
      if @api_client.config.client_side_validation && content.nil?
        fail ArgumentError, "Missing the required parameter 'content' when calling AtsMessageApi.ats_messages_post"
      end
      # verify the required parameter 'sent_by_id' is set
      if @api_client.config.client_side_validation && sent_by_id.nil?
        fail ArgumentError, "Missing the required parameter 'sent_by_id' when calling AtsMessageApi.ats_messages_post"
      end
      # verify the required parameter 'sent_by_type' is set
      if @api_client.config.client_side_validation && sent_by_type.nil?
        fail ArgumentError, "Missing the required parameter 'sent_by_type' when calling AtsMessageApi.ats_messages_post"
      end
      # verify enum value
      allowable_values = ["candidate", "user"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sent_by_type)
        fail ArgumentError, "invalid value for \"sent_by_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'ats_application_id' is set
      if @api_client.config.client_side_validation && ats_application_id.nil?
        fail ArgumentError, "Missing the required parameter 'ats_application_id' when calling AtsMessageApi.ats_messages_post"
      end
      # verify the required parameter 'attachments' is set
      if @api_client.config.client_side_validation && attachments.nil?
        fail ArgumentError, "Missing the required parameter 'attachments' when calling AtsMessageApi.ats_messages_post"
      end
      # verify the required parameter 'topic' is set
      if @api_client.config.client_side_validation && topic.nil?
        fail ArgumentError, "Missing the required parameter 'topic' when calling AtsMessageApi.ats_messages_post"
      end
      # verify the required parameter 'send_as_corporate_email' is set
      if @api_client.config.client_side_validation && send_as_corporate_email.nil?
        fail ArgumentError, "Missing the required parameter 'send_as_corporate_email' when calling AtsMessageApi.ats_messages_post"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/messages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['content'] = content
      form_params['sent_by_id'] = sent_by_id
      form_params['sent_by_type'] = sent_by_type
      form_params['ats_application_id'] = ats_application_id
      form_params['attachments[]'] = @api_client.build_collection_param(attachments, :csv)
      form_params['topic'] = topic
      form_params['send_as_corporate_email'] = send_as_corporate_email
      form_params['delayed_until'] = opts[:'delayed_until'] if !opts[:'delayed_until'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsMessage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsMessageApi.ats_messages_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsMessageApi#ats_messages_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
