=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class AtsEvaluationFormApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Evaluation forms
    # Reads all Evaluation forms
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of IDs of the evaluation forms to be fetched.
    # @option opts [Array<String>] :ats_job_posting_ids List of IDs of the job postings to filter the evaluation forms by.
    # @option opts [Boolean] :template If true, only the evaluation forms that are templates will be fetched.
    # @return [AtsEvaluationFormsGet200Response]
    def ats_evaluation_forms_get(opts = {})
      data, _status_code, _headers = ats_evaluation_forms_get_with_http_info(opts)
      data
    end

    # Reads all Evaluation forms
    # Reads all Evaluation forms
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of IDs of the evaluation forms to be fetched.
    # @option opts [Array<String>] :ats_job_posting_ids List of IDs of the job postings to filter the evaluation forms by.
    # @option opts [Boolean] :template If true, only the evaluation forms that are templates will be fetched.
    # @return [Array<(AtsEvaluationFormsGet200Response, Integer, Hash)>] AtsEvaluationFormsGet200Response data, response status code and response headers
    def ats_evaluation_forms_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsEvaluationFormApi.ats_evaluation_forms_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/evaluation_forms'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'ats_job_posting_ids[]'] = @api_client.build_collection_param(opts[:'ats_job_posting_ids'], :multi) if !opts[:'ats_job_posting_ids'].nil?
      query_params[:'template'] = opts[:'template'] if !opts[:'template'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsEvaluationFormsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsEvaluationFormApi.ats_evaluation_forms_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsEvaluationFormApi#ats_evaluation_forms_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Evaluation form
    # Reads a single Evaluation form
    # @param id [String] List of IDs of the evaluation forms to be fetched.
    # @param [Hash] opts the optional parameters
    # @return [AtsEvaluationForm]
    def ats_evaluation_forms_id_get(id, opts = {})
      data, _status_code, _headers = ats_evaluation_forms_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Evaluation form
    # Reads a single Evaluation form
    # @param id [String] List of IDs of the evaluation forms to be fetched.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AtsEvaluationForm, Integer, Hash)>] AtsEvaluationForm data, response status code and response headers
    def ats_evaluation_forms_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsEvaluationFormApi.ats_evaluation_forms_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsEvaluationFormApi.ats_evaluation_forms_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/evaluation_forms/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsEvaluationForm'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsEvaluationFormApi.ats_evaluation_forms_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsEvaluationFormApi#ats_evaluation_forms_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save as templates an Evaluation form
    # Save an evaluation form as a template.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [AtsEvaluationForm]
    def ats_evaluation_forms_save_as_template_post(opts = {})
      data, _status_code, _headers = ats_evaluation_forms_save_as_template_post_with_http_info(opts)
      data
    end

    # Save as templates an Evaluation form
    # Save an evaluation form as a template.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [Array<(AtsEvaluationForm, Integer, Hash)>] AtsEvaluationForm data, response status code and response headers
    def ats_evaluation_forms_save_as_template_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsEvaluationFormApi.ats_evaluation_forms_save_as_template_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/evaluation_forms/save_as_template'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_evaluation_forms_save_as_template_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsEvaluationForm'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsEvaluationFormApi.ats_evaluation_forms_save_as_template_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsEvaluationFormApi#ats_evaluation_forms_save_as_template_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
