=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class AtsApplicationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Applies an Application
    # Apply to a job posting
    # @param [Hash] opts the optional parameters
    # @option opts [AtsApplicationsApplyPostRequest] :ats_applications_apply_post_request 
    # @return [AtsApplication]
    def ats_applications_apply_post(opts = {})
      data, _status_code, _headers = ats_applications_apply_post_with_http_info(opts)
      data
    end

    # Applies an Application
    # Apply to a job posting
    # @param [Hash] opts the optional parameters
    # @option opts [AtsApplicationsApplyPostRequest] :ats_applications_apply_post_request 
    # @return [Array<(AtsApplication, Integer, Hash)>] AtsApplication data, response status code and response headers
    def ats_applications_apply_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsApplicationApi.ats_applications_apply_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/applications/apply'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_applications_apply_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsApplication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsApplicationApi.ats_applications_apply_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsApplicationApi#ats_applications_apply_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Applications
    # Reads all Applications
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Application ids to retrieve
    # @option opts [String] :ats_job_posting_id Application job posting id to retrieve
    # @option opts [Boolean] :qualified Retrieve applications by their qualified status
    # @option opts [String] :ats_application_phase_id Application phase id
    # @option opts [Array<String>] :ats_candidate_ids Application candidates ids
    # @option opts [Array<String>] :ats_rejection_reason_ids Application rejection reason ids
    # @option opts [String] :search Application search
    # @option opts [Array<String>] :ats_tags_ids Application tag ids
    # @return [AtsApplicationsGet200Response]
    def ats_applications_get(opts = {})
      data, _status_code, _headers = ats_applications_get_with_http_info(opts)
      data
    end

    # Reads all Applications
    # Reads all Applications
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Application ids to retrieve
    # @option opts [String] :ats_job_posting_id Application job posting id to retrieve
    # @option opts [Boolean] :qualified Retrieve applications by their qualified status
    # @option opts [String] :ats_application_phase_id Application phase id
    # @option opts [Array<String>] :ats_candidate_ids Application candidates ids
    # @option opts [Array<String>] :ats_rejection_reason_ids Application rejection reason ids
    # @option opts [String] :search Application search
    # @option opts [Array<String>] :ats_tags_ids Application tag ids
    # @return [Array<(AtsApplicationsGet200Response, Integer, Hash)>] AtsApplicationsGet200Response data, response status code and response headers
    def ats_applications_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsApplicationApi.ats_applications_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/applications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'ats_job_posting_id'] = opts[:'ats_job_posting_id'] if !opts[:'ats_job_posting_id'].nil?
      query_params[:'qualified'] = opts[:'qualified'] if !opts[:'qualified'].nil?
      query_params[:'ats_application_phase_id'] = opts[:'ats_application_phase_id'] if !opts[:'ats_application_phase_id'].nil?
      query_params[:'ats_candidate_ids[]'] = @api_client.build_collection_param(opts[:'ats_candidate_ids'], :multi) if !opts[:'ats_candidate_ids'].nil?
      query_params[:'ats_rejection_reason_ids[]'] = @api_client.build_collection_param(opts[:'ats_rejection_reason_ids'], :multi) if !opts[:'ats_rejection_reason_ids'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'ats_tags_ids[]'] = @api_client.build_collection_param(opts[:'ats_tags_ids'], :multi) if !opts[:'ats_tags_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsApplicationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsApplicationApi.ats_applications_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsApplicationApi#ats_applications_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an Application
    # Deletes an Application
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AtsApplication]
    def ats_applications_id_delete(id, opts = {})
      data, _status_code, _headers = ats_applications_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes an Application
    # Deletes an Application
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AtsApplication, Integer, Hash)>] AtsApplication data, response status code and response headers
    def ats_applications_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsApplicationApi.ats_applications_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsApplicationApi.ats_applications_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/applications/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsApplication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsApplicationApi.ats_applications_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsApplicationApi#ats_applications_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Application
    # Reads a single Application
    # @param id [String] Application ids to retrieve
    # @param [Hash] opts the optional parameters
    # @return [AtsApplication]
    def ats_applications_id_get(id, opts = {})
      data, _status_code, _headers = ats_applications_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Application
    # Reads a single Application
    # @param id [String] Application ids to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(AtsApplication, Integer, Hash)>] AtsApplication data, response status code and response headers
    def ats_applications_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsApplicationApi.ats_applications_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsApplicationApi.ats_applications_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/applications/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsApplication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsApplicationApi.ats_applications_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsApplicationApi#ats_applications_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Application
    # Updates an Application
    # @param id [String] Application id
    # @param [Hash] opts the optional parameters
    # @option opts [AtsApplicationsIdPutRequest] :ats_applications_id_put_request 
    # @return [AtsApplication]
    def ats_applications_id_put(id, opts = {})
      data, _status_code, _headers = ats_applications_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Application
    # Updates an Application
    # @param id [String] Application id
    # @param [Hash] opts the optional parameters
    # @option opts [AtsApplicationsIdPutRequest] :ats_applications_id_put_request 
    # @return [Array<(AtsApplication, Integer, Hash)>] AtsApplication data, response status code and response headers
    def ats_applications_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsApplicationApi.ats_applications_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsApplicationApi.ats_applications_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/applications/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_applications_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsApplication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsApplicationApi.ats_applications_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsApplicationApi#ats_applications_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Move to phases an Application
    # Move an application to a different phase within the same job posting. Triggers the same side effects as moving a candidate in the product: configured phase-change automations and emails (smart actions) are executed.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsApplicationsMoveToPhasePostRequest] :ats_applications_move_to_phase_post_request 
    # @return [AtsApplication]
    def ats_applications_move_to_phase_post(opts = {})
      data, _status_code, _headers = ats_applications_move_to_phase_post_with_http_info(opts)
      data
    end

    # Move to phases an Application
    # Move an application to a different phase within the same job posting. Triggers the same side effects as moving a candidate in the product: configured phase-change automations and emails (smart actions) are executed.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsApplicationsMoveToPhasePostRequest] :ats_applications_move_to_phase_post_request 
    # @return [Array<(AtsApplication, Integer, Hash)>] AtsApplication data, response status code and response headers
    def ats_applications_move_to_phase_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsApplicationApi.ats_applications_move_to_phase_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/applications/move_to_phase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_applications_move_to_phase_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsApplication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsApplicationApi.ats_applications_move_to_phase_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsApplicationApi#ats_applications_move_to_phase_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an Application
    # Creates an Application
    # @param [Hash] opts the optional parameters
    # @option opts [AtsApplicationsPostRequest] :ats_applications_post_request 
    # @return [AtsApplication]
    def ats_applications_post(opts = {})
      data, _status_code, _headers = ats_applications_post_with_http_info(opts)
      data
    end

    # Creates an Application
    # Creates an Application
    # @param [Hash] opts the optional parameters
    # @option opts [AtsApplicationsPostRequest] :ats_applications_post_request 
    # @return [Array<(AtsApplication, Integer, Hash)>] AtsApplication data, response status code and response headers
    def ats_applications_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsApplicationApi.ats_applications_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/applications'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_applications_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsApplication'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsApplicationApi.ats_applications_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsApplicationApi#ats_applications_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
