=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class AtsJobPostingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Duplicates a Job posting
    # Duplicate an existing job posting.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [AtsJobPosting]
    def ats_job_postings_duplicate_post(opts = {})
      data, _status_code, _headers = ats_job_postings_duplicate_post_with_http_info(opts)
      data
    end

    # Duplicates a Job posting
    # Duplicate an existing job posting.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [Array<(AtsJobPosting, Integer, Hash)>] AtsJobPosting data, response status code and response headers
    def ats_job_postings_duplicate_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsJobPostingApi.ats_job_postings_duplicate_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/job_postings/duplicate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_evaluation_forms_save_as_template_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsJobPosting'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsJobPostingApi.ats_job_postings_duplicate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsJobPostingApi#ats_job_postings_duplicate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Job postings
    # Reads all Job postings
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @option opts [String] :status 
    # @option opts [String] :team_id 
    # @option opts [String] :location_id 
    # @option opts [String] :legal_entity_id 
    # @return [AtsJobPostingsGet200Response]
    def ats_job_postings_get(opts = {})
      data, _status_code, _headers = ats_job_postings_get_with_http_info(opts)
      data
    end

    # Reads all Job postings
    # Reads all Job postings
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @option opts [String] :status 
    # @option opts [String] :team_id 
    # @option opts [String] :location_id 
    # @option opts [String] :legal_entity_id 
    # @return [Array<(AtsJobPostingsGet200Response, Integer, Hash)>] AtsJobPostingsGet200Response data, response status code and response headers
    def ats_job_postings_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsJobPostingApi.ats_job_postings_get ...'
      end
      allowable_values = ["draft", "published", "unlisted", "archived", "cancelled", "deleted"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/job_postings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'team_id'] = opts[:'team_id'] if !opts[:'team_id'].nil?
      query_params[:'location_id'] = opts[:'location_id'] if !opts[:'location_id'].nil?
      query_params[:'legal_entity_id'] = opts[:'legal_entity_id'] if !opts[:'legal_entity_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsJobPostingsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsJobPostingApi.ats_job_postings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsJobPostingApi#ats_job_postings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Job posting
    # Delete a job posting.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AtsJobPosting]
    def ats_job_postings_id_delete(id, opts = {})
      data, _status_code, _headers = ats_job_postings_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Job posting
    # Delete a job posting.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AtsJobPosting, Integer, Hash)>] AtsJobPosting data, response status code and response headers
    def ats_job_postings_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsJobPostingApi.ats_job_postings_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsJobPostingApi.ats_job_postings_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/job_postings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsJobPosting'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsJobPostingApi.ats_job_postings_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsJobPostingApi#ats_job_postings_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Job posting
    # Reads a single Job posting
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AtsJobPosting]
    def ats_job_postings_id_get(id, opts = {})
      data, _status_code, _headers = ats_job_postings_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Job posting
    # Reads a single Job posting
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AtsJobPosting, Integer, Hash)>] AtsJobPosting data, response status code and response headers
    def ats_job_postings_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsJobPostingApi.ats_job_postings_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsJobPostingApi.ats_job_postings_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/job_postings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsJobPosting'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsJobPostingApi.ats_job_postings_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsJobPostingApi#ats_job_postings_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Job posting
    # Update a job posting.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AtsJobPostingsIdPutRequest] :ats_job_postings_id_put_request 
    # @return [AtsJobPosting]
    def ats_job_postings_id_put(id, opts = {})
      data, _status_code, _headers = ats_job_postings_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Job posting
    # Update a job posting.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AtsJobPostingsIdPutRequest] :ats_job_postings_id_put_request 
    # @return [Array<(AtsJobPosting, Integer, Hash)>] AtsJobPosting data, response status code and response headers
    def ats_job_postings_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsJobPostingApi.ats_job_postings_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsJobPostingApi.ats_job_postings_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/job_postings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_job_postings_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsJobPosting'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsJobPostingApi.ats_job_postings_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsJobPostingApi#ats_job_postings_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Job posting
    # Create a new job posting.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsJobPostingsPostRequest] :ats_job_postings_post_request 
    # @return [AtsJobPosting]
    def ats_job_postings_post(opts = {})
      data, _status_code, _headers = ats_job_postings_post_with_http_info(opts)
      data
    end

    # Creates a Job posting
    # Create a new job posting.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsJobPostingsPostRequest] :ats_job_postings_post_request 
    # @return [Array<(AtsJobPosting, Integer, Hash)>] AtsJobPosting data, response status code and response headers
    def ats_job_postings_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsJobPostingApi.ats_job_postings_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/job_postings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_job_postings_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsJobPosting'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsJobPostingApi.ats_job_postings_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsJobPostingApi#ats_job_postings_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
