=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class AtsFeedbackApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Feedbacks
    # This endpoint retrieves all feedbacks associated with a candidate's applications.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids retrieve only the feedbacks that match the IDs passed in the request.
    # @option opts [Array<String>] :ats_application_ids filter feedbacks based on multiple application IDs.
    # @option opts [String] :ats_candidate_id fetch feedbacks related to a specific candidate.
    # @return [AtsFeedbacksGet200Response]
    def ats_feedbacks_get(opts = {})
      data, _status_code, _headers = ats_feedbacks_get_with_http_info(opts)
      data
    end

    # Reads all Feedbacks
    # This endpoint retrieves all feedbacks associated with a candidate&#39;s applications.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids retrieve only the feedbacks that match the IDs passed in the request.
    # @option opts [Array<String>] :ats_application_ids filter feedbacks based on multiple application IDs.
    # @option opts [String] :ats_candidate_id fetch feedbacks related to a specific candidate.
    # @return [Array<(AtsFeedbacksGet200Response, Integer, Hash)>] AtsFeedbacksGet200Response data, response status code and response headers
    def ats_feedbacks_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsFeedbackApi.ats_feedbacks_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/feedbacks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'ats_application_ids[]'] = @api_client.build_collection_param(opts[:'ats_application_ids'], :multi) if !opts[:'ats_application_ids'].nil?
      query_params[:'ats_candidate_id'] = opts[:'ats_candidate_id'] if !opts[:'ats_candidate_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsFeedbacksGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsFeedbackApi.ats_feedbacks_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsFeedbackApi#ats_feedbacks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Feedback
    # This endpoint allows to delete a specific feedback entry associated with a candidate's application.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AtsFeedback]
    def ats_feedbacks_id_delete(id, opts = {})
      data, _status_code, _headers = ats_feedbacks_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Feedback
    # This endpoint allows to delete a specific feedback entry associated with a candidate&#39;s application.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AtsFeedback, Integer, Hash)>] AtsFeedback data, response status code and response headers
    def ats_feedbacks_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsFeedbackApi.ats_feedbacks_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsFeedbackApi.ats_feedbacks_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/feedbacks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsFeedback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsFeedbackApi.ats_feedbacks_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsFeedbackApi#ats_feedbacks_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Feedback
    # This endpoint retrieves all feedbacks associated with a candidate's applications.
    # @param id [String] retrieve only the feedbacks that match the IDs passed in the request.
    # @param [Hash] opts the optional parameters
    # @return [AtsFeedback]
    def ats_feedbacks_id_get(id, opts = {})
      data, _status_code, _headers = ats_feedbacks_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Feedback
    # This endpoint retrieves all feedbacks associated with a candidate&#39;s applications.
    # @param id [String] retrieve only the feedbacks that match the IDs passed in the request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AtsFeedback, Integer, Hash)>] AtsFeedback data, response status code and response headers
    def ats_feedbacks_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsFeedbackApi.ats_feedbacks_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsFeedbackApi.ats_feedbacks_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/feedbacks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsFeedback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsFeedbackApi.ats_feedbacks_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsFeedbackApi#ats_feedbacks_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Feedback
    # This endpoint allows to update existing feedback entries associated with candidates' applications.
    # @param id [String] the ID of the feedback entry to be updated.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsFeedbacksIdPutRequest] :ats_feedbacks_id_put_request 
    # @return [AtsFeedback]
    def ats_feedbacks_id_put(id, opts = {})
      data, _status_code, _headers = ats_feedbacks_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Feedback
    # This endpoint allows to update existing feedback entries associated with candidates&#39; applications.
    # @param id [String] the ID of the feedback entry to be updated.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsFeedbacksIdPutRequest] :ats_feedbacks_id_put_request 
    # @return [Array<(AtsFeedback, Integer, Hash)>] AtsFeedback data, response status code and response headers
    def ats_feedbacks_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsFeedbackApi.ats_feedbacks_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsFeedbackApi.ats_feedbacks_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/feedbacks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_feedbacks_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsFeedback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsFeedbackApi.ats_feedbacks_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsFeedbackApi#ats_feedbacks_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Feedback
    # This endpoint allows to create new feedback entries for candidates.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsFeedbacksPostRequest] :ats_feedbacks_post_request 
    # @return [AtsFeedback]
    def ats_feedbacks_post(opts = {})
      data, _status_code, _headers = ats_feedbacks_post_with_http_info(opts)
      data
    end

    # Creates a Feedback
    # This endpoint allows to create new feedback entries for candidates.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsFeedbacksPostRequest] :ats_feedbacks_post_request 
    # @return [Array<(AtsFeedback, Integer, Hash)>] AtsFeedback data, response status code and response headers
    def ats_feedbacks_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsFeedbackApi.ats_feedbacks_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/feedbacks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_feedbacks_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsFeedback'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsFeedbackApi.ats_feedbacks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsFeedbackApi#ats_feedbacks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
