=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class AtsCandidateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Candidates
    # Fetches candidates data from Factorial. When using administrator-level API Credentials, all candidates associated with a company will be returned. When using non-admin level API credentials, only candidates that applied to a job for which the user is a hiring manager will be returned.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids list of candidate identifiers.
    # @option opts [Array<String>] :emails list of candidate emails.
    # @option opts [Array<String>] :team_ids list of team identifiers, refers to teams/teams endpoint.
    # @option opts [Array<String>] :location_ids list of location identifiers, refers to locations/locations endpoint.
    # @option opts [Array<String>] :source source of the candidate.
    # @option opts [Boolean] :remote is the candidate remote?
    # @option opts [Array<String>] :job_posting_ids list of job posting identifiers, refers to ats/job_postings endpoint.
    # @option opts [Float] :minimum_average_rating minimum average rating of the candidate.
    # @option opts [Boolean] :active is the candidate active?
    # @option opts [Boolean] :talent_pool is the candidate part of talent pool?
    # @option opts [Boolean] :archived is the candidate archived?
    # @return [AtsCandidatesGet200Response]
    def ats_candidates_get(opts = {})
      data, _status_code, _headers = ats_candidates_get_with_http_info(opts)
      data
    end

    # Reads all Candidates
    # Fetches candidates data from Factorial. When using administrator-level API Credentials, all candidates associated with a company will be returned. When using non-admin level API credentials, only candidates that applied to a job for which the user is a hiring manager will be returned.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids list of candidate identifiers.
    # @option opts [Array<String>] :emails list of candidate emails.
    # @option opts [Array<String>] :team_ids list of team identifiers, refers to teams/teams endpoint.
    # @option opts [Array<String>] :location_ids list of location identifiers, refers to locations/locations endpoint.
    # @option opts [Array<String>] :source source of the candidate.
    # @option opts [Boolean] :remote is the candidate remote?
    # @option opts [Array<String>] :job_posting_ids list of job posting identifiers, refers to ats/job_postings endpoint.
    # @option opts [Float] :minimum_average_rating minimum average rating of the candidate.
    # @option opts [Boolean] :active is the candidate active?
    # @option opts [Boolean] :talent_pool is the candidate part of talent pool?
    # @option opts [Boolean] :archived is the candidate archived?
    # @return [Array<(AtsCandidatesGet200Response, Integer, Hash)>] AtsCandidatesGet200Response data, response status code and response headers
    def ats_candidates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsCandidateApi.ats_candidates_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/candidates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'emails[]'] = @api_client.build_collection_param(opts[:'emails'], :multi) if !opts[:'emails'].nil?
      query_params[:'team_ids[]'] = @api_client.build_collection_param(opts[:'team_ids'], :multi) if !opts[:'team_ids'].nil?
      query_params[:'location_ids[]'] = @api_client.build_collection_param(opts[:'location_ids'], :multi) if !opts[:'location_ids'].nil?
      query_params[:'source[]'] = @api_client.build_collection_param(opts[:'source'], :multi) if !opts[:'source'].nil?
      query_params[:'remote'] = opts[:'remote'] if !opts[:'remote'].nil?
      query_params[:'job_posting_ids[]'] = @api_client.build_collection_param(opts[:'job_posting_ids'], :multi) if !opts[:'job_posting_ids'].nil?
      query_params[:'minimum_average_rating'] = opts[:'minimum_average_rating'] if !opts[:'minimum_average_rating'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'talent_pool'] = opts[:'talent_pool'] if !opts[:'talent_pool'].nil?
      query_params[:'archived'] = opts[:'archived'] if !opts[:'archived'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsCandidatesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsCandidateApi.ats_candidates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsCandidateApi#ats_candidates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Candidate
    # Deletes a candidate from the ATS
    # @param id [String] identifier of the candidate.
    # @param [Hash] opts the optional parameters
    # @return [AtsCandidate]
    def ats_candidates_id_delete(id, opts = {})
      data, _status_code, _headers = ats_candidates_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Candidate
    # Deletes a candidate from the ATS
    # @param id [String] identifier of the candidate.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AtsCandidate, Integer, Hash)>] AtsCandidate data, response status code and response headers
    def ats_candidates_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsCandidateApi.ats_candidates_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsCandidateApi.ats_candidates_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/candidates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsCandidate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsCandidateApi.ats_candidates_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsCandidateApi#ats_candidates_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Candidate
    # Fetches candidates data from Factorial. When using administrator-level API Credentials, all candidates associated with a company will be returned. When using non-admin level API credentials, only candidates that applied to a job for which the user is a hiring manager will be returned.
    # @param id [String] list of candidate identifiers.
    # @param [Hash] opts the optional parameters
    # @return [AtsCandidate]
    def ats_candidates_id_get(id, opts = {})
      data, _status_code, _headers = ats_candidates_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Candidate
    # Fetches candidates data from Factorial. When using administrator-level API Credentials, all candidates associated with a company will be returned. When using non-admin level API credentials, only candidates that applied to a job for which the user is a hiring manager will be returned.
    # @param id [String] list of candidate identifiers.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AtsCandidate, Integer, Hash)>] AtsCandidate data, response status code and response headers
    def ats_candidates_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsCandidateApi.ats_candidates_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsCandidateApi.ats_candidates_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/candidates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AtsCandidate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsCandidateApi.ats_candidates_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsCandidateApi#ats_candidates_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Candidate
    # Updates ATS Candidates data
    # @param id [String] identifier of the candidate.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsCandidatesIdPutRequest] :ats_candidates_id_put_request 
    # @return [AtsCandidate]
    def ats_candidates_id_put(id, opts = {})
      data, _status_code, _headers = ats_candidates_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Candidate
    # Updates ATS Candidates data
    # @param id [String] identifier of the candidate.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsCandidatesIdPutRequest] :ats_candidates_id_put_request 
    # @return [Array<(AtsCandidate, Integer, Hash)>] AtsCandidate data, response status code and response headers
    def ats_candidates_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsCandidateApi.ats_candidates_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtsCandidateApi.ats_candidates_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/candidates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_candidates_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsCandidate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsCandidateApi.ats_candidates_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsCandidateApi#ats_candidates_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Candidate
    # Creates candidates related to a particular company in an ATS
    # @param [Hash] opts the optional parameters
    # @option opts [AtsCandidatesPostRequest] :ats_candidates_post_request 
    # @return [AtsCandidate]
    def ats_candidates_post(opts = {})
      data, _status_code, _headers = ats_candidates_post_with_http_info(opts)
      data
    end

    # Creates a Candidate
    # Creates candidates related to a particular company in an ATS
    # @param [Hash] opts the optional parameters
    # @option opts [AtsCandidatesPostRequest] :ats_candidates_post_request 
    # @return [Array<(AtsCandidate, Integer, Hash)>] AtsCandidate data, response status code and response headers
    def ats_candidates_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtsCandidateApi.ats_candidates_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/ats/candidates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_candidates_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AtsCandidate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AtsCandidateApi.ats_candidates_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtsCandidateApi#ats_candidates_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
