=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class AttendanceBreakConfigurationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Break configurations
    # Reads all Break configurations
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The break configuration ids to retrieve
    # @option opts [Array<String>] :time_settings_break_configuration_ids Ids of the time settings break configuration
    # @option opts [String] :attendance_employees_setting_id Id of the attendance employee setting
    # @option opts [Boolean] :enabled Status of the break configuration if enabled or not
    # @return [AttendanceBreakConfigurationsGet200Response]
    def attendance_break_configurations_get(opts = {})
      data, _status_code, _headers = attendance_break_configurations_get_with_http_info(opts)
      data
    end

    # Reads all Break configurations
    # Reads all Break configurations
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The break configuration ids to retrieve
    # @option opts [Array<String>] :time_settings_break_configuration_ids Ids of the time settings break configuration
    # @option opts [String] :attendance_employees_setting_id Id of the attendance employee setting
    # @option opts [Boolean] :enabled Status of the break configuration if enabled or not
    # @return [Array<(AttendanceBreakConfigurationsGet200Response, Integer, Hash)>] AttendanceBreakConfigurationsGet200Response data, response status code and response headers
    def attendance_break_configurations_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceBreakConfigurationApi.attendance_break_configurations_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/break_configurations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'time_settings_break_configuration_ids[]'] = @api_client.build_collection_param(opts[:'time_settings_break_configuration_ids'], :multi) if !opts[:'time_settings_break_configuration_ids'].nil?
      query_params[:'attendance_employees_setting_id'] = opts[:'attendance_employees_setting_id'] if !opts[:'attendance_employees_setting_id'].nil?
      query_params[:'enabled'] = opts[:'enabled'] if !opts[:'enabled'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceBreakConfigurationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceBreakConfigurationApi.attendance_break_configurations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceBreakConfigurationApi#attendance_break_configurations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Break configuration
    # Reads a single Break configuration
    # @param id [String] The break configuration ids to retrieve
    # @param [Hash] opts the optional parameters
    # @return [AttendanceBreakConfiguration]
    def attendance_break_configurations_id_get(id, opts = {})
      data, _status_code, _headers = attendance_break_configurations_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Break configuration
    # Reads a single Break configuration
    # @param id [String] The break configuration ids to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttendanceBreakConfiguration, Integer, Hash)>] AttendanceBreakConfiguration data, response status code and response headers
    def attendance_break_configurations_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceBreakConfigurationApi.attendance_break_configurations_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceBreakConfigurationApi.attendance_break_configurations_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/break_configurations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceBreakConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceBreakConfigurationApi.attendance_break_configurations_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceBreakConfigurationApi#attendance_break_configurations_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Break configuration
    # Updates a Break configuration
    # @param id [String] Id of the break configuration
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceBreakConfigurationsIdPutRequest] :attendance_break_configurations_id_put_request 
    # @return [AttendanceBreakConfiguration]
    def attendance_break_configurations_id_put(id, opts = {})
      data, _status_code, _headers = attendance_break_configurations_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Break configuration
    # Updates a Break configuration
    # @param id [String] Id of the break configuration
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceBreakConfigurationsIdPutRequest] :attendance_break_configurations_id_put_request 
    # @return [Array<(AttendanceBreakConfiguration, Integer, Hash)>] AttendanceBreakConfiguration data, response status code and response headers
    def attendance_break_configurations_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceBreakConfigurationApi.attendance_break_configurations_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceBreakConfigurationApi.attendance_break_configurations_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/break_configurations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_break_configurations_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceBreakConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceBreakConfigurationApi.attendance_break_configurations_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceBreakConfigurationApi#attendance_break_configurations_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Break configuration
    # Creates a Break configuration
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceBreakConfigurationsPostRequest] :attendance_break_configurations_post_request 
    # @return [AttendanceBreakConfiguration]
    def attendance_break_configurations_post(opts = {})
      data, _status_code, _headers = attendance_break_configurations_post_with_http_info(opts)
      data
    end

    # Creates a Break configuration
    # Creates a Break configuration
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceBreakConfigurationsPostRequest] :attendance_break_configurations_post_request 
    # @return [Array<(AttendanceBreakConfiguration, Integer, Hash)>] AttendanceBreakConfiguration data, response status code and response headers
    def attendance_break_configurations_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceBreakConfigurationApi.attendance_break_configurations_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/break_configurations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_break_configurations_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceBreakConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceBreakConfigurationApi.attendance_break_configurations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceBreakConfigurationApi#attendance_break_configurations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
