=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class AttendanceEditTimesheetRequestApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Edit timesheet requests
    # Reads all Edit timesheet requests
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids filter by ids.
    # @option opts [Array<String>] :employee_ids filter by employee ids.
    # @option opts [String] :shift_id filter by shift id.
    # @option opts [Boolean] :pending filter by edit timesheet request status.
    # @option opts [String] :start_on filter by edit timesheet requests that were created after or including this date.
    # @option opts [String] :end_on filter by edit timesheet requests that were created before or including this date.
    # @return [AttendanceEditTimesheetRequestsGet200Response]
    def attendance_edit_timesheet_requests_get(opts = {})
      data, _status_code, _headers = attendance_edit_timesheet_requests_get_with_http_info(opts)
      data
    end

    # Reads all Edit timesheet requests
    # Reads all Edit timesheet requests
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids filter by ids.
    # @option opts [Array<String>] :employee_ids filter by employee ids.
    # @option opts [String] :shift_id filter by shift id.
    # @option opts [Boolean] :pending filter by edit timesheet request status.
    # @option opts [String] :start_on filter by edit timesheet requests that were created after or including this date.
    # @option opts [String] :end_on filter by edit timesheet requests that were created before or including this date.
    # @return [Array<(AttendanceEditTimesheetRequestsGet200Response, Integer, Hash)>] AttendanceEditTimesheetRequestsGet200Response data, response status code and response headers
    def attendance_edit_timesheet_requests_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/edit_timesheet_requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'shift_id'] = opts[:'shift_id'] if !opts[:'shift_id'].nil?
      query_params[:'pending'] = opts[:'pending'] if !opts[:'pending'].nil?
      query_params[:'start_on'] = opts[:'start_on'] if !opts[:'start_on'].nil?
      query_params[:'end_on'] = opts[:'end_on'] if !opts[:'end_on'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceEditTimesheetRequestsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceEditTimesheetRequestApi#attendance_edit_timesheet_requests_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an Edit timesheet request
    # Deletes an edit timesheet.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AttendanceEditTimesheetRequest]
    def attendance_edit_timesheet_requests_id_delete(id, opts = {})
      data, _status_code, _headers = attendance_edit_timesheet_requests_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes an Edit timesheet request
    # Deletes an edit timesheet.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttendanceEditTimesheetRequest, Integer, Hash)>] AttendanceEditTimesheetRequest data, response status code and response headers
    def attendance_edit_timesheet_requests_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/edit_timesheet_requests/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceEditTimesheetRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceEditTimesheetRequestApi#attendance_edit_timesheet_requests_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Edit timesheet requests
    # Reads a single Edit timesheet request
    # @param id [String] filter by ids.
    # @param [Hash] opts the optional parameters
    # @return [AttendanceEditTimesheetRequest]
    def attendance_edit_timesheet_requests_id_get(id, opts = {})
      data, _status_code, _headers = attendance_edit_timesheet_requests_id_get_with_http_info(id, opts)
      data
    end

    # Reads all Edit timesheet requests
    # Reads a single Edit timesheet request
    # @param id [String] filter by ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttendanceEditTimesheetRequest, Integer, Hash)>] AttendanceEditTimesheetRequest data, response status code and response headers
    def attendance_edit_timesheet_requests_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/edit_timesheet_requests/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceEditTimesheetRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceEditTimesheetRequestApi#attendance_edit_timesheet_requests_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Edit timesheet request
    # Updates an edit timesheet request by specifying the fields required to update the shift.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceEditTimesheetRequestsIdPutRequest] :attendance_edit_timesheet_requests_id_put_request 
    # @return [AttendanceEditTimesheetRequest]
    def attendance_edit_timesheet_requests_id_put(id, opts = {})
      data, _status_code, _headers = attendance_edit_timesheet_requests_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Edit timesheet request
    # Updates an edit timesheet request by specifying the fields required to update the shift.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceEditTimesheetRequestsIdPutRequest] :attendance_edit_timesheet_requests_id_put_request 
    # @return [Array<(AttendanceEditTimesheetRequest, Integer, Hash)>] AttendanceEditTimesheetRequest data, response status code and response headers
    def attendance_edit_timesheet_requests_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/edit_timesheet_requests/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_edit_timesheet_requests_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceEditTimesheetRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceEditTimesheetRequestApi#attendance_edit_timesheet_requests_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an Edit timesheet request
    # Creates an edit timesheet request by specifying the type of the request and the fields required to create or update the shift.
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceEditTimesheetRequestsPostRequest] :attendance_edit_timesheet_requests_post_request 
    # @return [AttendanceEditTimesheetRequest]
    def attendance_edit_timesheet_requests_post(opts = {})
      data, _status_code, _headers = attendance_edit_timesheet_requests_post_with_http_info(opts)
      data
    end

    # Creates an Edit timesheet request
    # Creates an edit timesheet request by specifying the type of the request and the fields required to create or update the shift.
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceEditTimesheetRequestsPostRequest] :attendance_edit_timesheet_requests_post_request 
    # @return [Array<(AttendanceEditTimesheetRequest, Integer, Hash)>] AttendanceEditTimesheetRequest data, response status code and response headers
    def attendance_edit_timesheet_requests_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/edit_timesheet_requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_edit_timesheet_requests_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceEditTimesheetRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceEditTimesheetRequestApi.attendance_edit_timesheet_requests_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceEditTimesheetRequestApi#attendance_edit_timesheet_requests_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
