=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class AttendanceWorkedTimeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Worked times
    # Reads all Worked times
    # @param include_time_range_category [Boolean] Whether to include the time range category on each worked time block.
    # @param include_non_attendable_employees [Boolean] Whether to include employees excluded from attendance (attendable&#x3D;false) in the result. Forced to true when filtering by a single employee, so their historical worked time is returned even if they are no longer attendable.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Composite worked time id combining the employee_id and date, formatted as &lt;employee_id&gt;_&lt;YYYY-MM-DD&gt;.
    # @option opts [String] :start_on Start of the date range to fetch worked times for (inclusive). Required together with end_on.
    # @option opts [String] :end_on End of the date range to fetch worked times for (inclusive). Required together with start_on.
    # @option opts [Array<String>] :employee_ids Employee IDs to filter the date-range query by. When omitted, all attendable employees are returned.
    # @return [AttendanceWorkedTimesGet200Response]
    def attendance_worked_times_get(include_time_range_category, include_non_attendable_employees, opts = {})
      data, _status_code, _headers = attendance_worked_times_get_with_http_info(include_time_range_category, include_non_attendable_employees, opts)
      data
    end

    # Reads all Worked times
    # Reads all Worked times
    # @param include_time_range_category [Boolean] Whether to include the time range category on each worked time block.
    # @param include_non_attendable_employees [Boolean] Whether to include employees excluded from attendance (attendable&#x3D;false) in the result. Forced to true when filtering by a single employee, so their historical worked time is returned even if they are no longer attendable.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Composite worked time id combining the employee_id and date, formatted as &lt;employee_id&gt;_&lt;YYYY-MM-DD&gt;.
    # @option opts [String] :start_on Start of the date range to fetch worked times for (inclusive). Required together with end_on.
    # @option opts [String] :end_on End of the date range to fetch worked times for (inclusive). Required together with start_on.
    # @option opts [Array<String>] :employee_ids Employee IDs to filter the date-range query by. When omitted, all attendable employees are returned.
    # @return [Array<(AttendanceWorkedTimesGet200Response, Integer, Hash)>] AttendanceWorkedTimesGet200Response data, response status code and response headers
    def attendance_worked_times_get_with_http_info(include_time_range_category, include_non_attendable_employees, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceWorkedTimeApi.attendance_worked_times_get ...'
      end
      # verify the required parameter 'include_time_range_category' is set
      if @api_client.config.client_side_validation && include_time_range_category.nil?
        fail ArgumentError, "Missing the required parameter 'include_time_range_category' when calling AttendanceWorkedTimeApi.attendance_worked_times_get"
      end
      # verify the required parameter 'include_non_attendable_employees' is set
      if @api_client.config.client_side_validation && include_non_attendable_employees.nil?
        fail ArgumentError, "Missing the required parameter 'include_non_attendable_employees' when calling AttendanceWorkedTimeApi.attendance_worked_times_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/attendance/worked_times'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_time_range_category'] = include_time_range_category
      query_params[:'include_non_attendable_employees'] = include_non_attendable_employees
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'start_on'] = opts[:'start_on'] if !opts[:'start_on'].nil?
      query_params[:'end_on'] = opts[:'end_on'] if !opts[:'end_on'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceWorkedTimesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceWorkedTimeApi.attendance_worked_times_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceWorkedTimeApi#attendance_worked_times_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Worked time
    # Reads a single Worked time
    # @param id [String] Composite worked time id combining the employee_id and date, formatted as &lt;employee_id&gt;_&lt;YYYY-MM-DD&gt;.
    # @param [Hash] opts the optional parameters
    # @return [AttendanceWorkedTime]
    def attendance_worked_times_id_get(id, opts = {})
      data, _status_code, _headers = attendance_worked_times_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Worked time
    # Reads a single Worked time
    # @param id [String] Composite worked time id combining the employee_id and date, formatted as &lt;employee_id&gt;_&lt;YYYY-MM-DD&gt;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttendanceWorkedTime, Integer, Hash)>] AttendanceWorkedTime data, response status code and response headers
    def attendance_worked_times_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceWorkedTimeApi.attendance_worked_times_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceWorkedTimeApi.attendance_worked_times_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/attendance/worked_times/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceWorkedTime'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceWorkedTimeApi.attendance_worked_times_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceWorkedTimeApi#attendance_worked_times_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
