=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class AttendanceShiftApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Autofills a Shift
    # Autofills a Shift
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsAutofillPostRequest] :attendance_shifts_autofill_post_request 
    # @return [Array<AttendanceShift>]
    def attendance_shifts_autofill_post(opts = {})
      data, _status_code, _headers = attendance_shifts_autofill_post_with_http_info(opts)
      data
    end

    # Autofills a Shift
    # Autofills a Shift
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsAutofillPostRequest] :attendance_shifts_autofill_post_request 
    # @return [Array<(Array<AttendanceShift>, Integer, Hash)>] Array<AttendanceShift> data, response status code and response headers
    def attendance_shifts_autofill_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_autofill_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts/autofill'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_shifts_autofill_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AttendanceShift>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_autofill_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_autofill_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Break ends a Shift
    # Given that attendance breaks are enabled, this endpoint ends a break in an open shift.
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsBreakEndPostRequest] :attendance_shifts_break_end_post_request 
    # @return [AttendanceShift]
    def attendance_shifts_break_end_post(opts = {})
      data, _status_code, _headers = attendance_shifts_break_end_post_with_http_info(opts)
      data
    end

    # Break ends a Shift
    # Given that attendance breaks are enabled, this endpoint ends a break in an open shift.
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsBreakEndPostRequest] :attendance_shifts_break_end_post_request 
    # @return [Array<(AttendanceShift, Integer, Hash)>] AttendanceShift data, response status code and response headers
    def attendance_shifts_break_end_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_break_end_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts/break_end'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_shifts_break_end_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_break_end_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_break_end_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Break starts a Shift
    # Given that attendance breaks are enabled, this endpoint starts a break in an open shift.
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsBreakStartPostRequest] :attendance_shifts_break_start_post_request 
    # @return [AttendanceShift]
    def attendance_shifts_break_start_post(opts = {})
      data, _status_code, _headers = attendance_shifts_break_start_post_with_http_info(opts)
      data
    end

    # Break starts a Shift
    # Given that attendance breaks are enabled, this endpoint starts a break in an open shift.
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsBreakStartPostRequest] :attendance_shifts_break_start_post_request 
    # @return [Array<(AttendanceShift, Integer, Hash)>] AttendanceShift data, response status code and response headers
    def attendance_shifts_break_start_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_break_start_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts/break_start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_shifts_break_start_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_break_start_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_break_start_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clocks in a shift
    # Records the start of a shift by setting the current time as the clock-in. The shift remains open and will not have a clock-out time until explicitly updated. If you need to clock out directly, consider using or subscribing to the [clock-out endpoint](https://apidoc.factorialhr.com/v2025-01-01/reference/post_api-2025-01-01-resources-attendance-shifts-clock-out)
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsClockInPostRequest] :attendance_shifts_clock_in_post_request 
    # @return [AttendanceShift]
    def attendance_shifts_clock_in_post(opts = {})
      data, _status_code, _headers = attendance_shifts_clock_in_post_with_http_info(opts)
      data
    end

    # Clocks in a shift
    # Records the start of a shift by setting the current time as the clock-in. The shift remains open and will not have a clock-out time until explicitly updated. If you need to clock out directly, consider using or subscribing to the [clock-out endpoint](https://apidoc.factorialhr.com/v2025-01-01/reference/post_api-2025-01-01-resources-attendance-shifts-clock-out)
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsClockInPostRequest] :attendance_shifts_clock_in_post_request 
    # @return [Array<(AttendanceShift, Integer, Hash)>] AttendanceShift data, response status code and response headers
    def attendance_shifts_clock_in_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_clock_in_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts/clock_in'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_shifts_clock_in_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_clock_in_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_clock_in_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clocks out a shift
    # Completes an open shift by setting the current time as the clock-out. This action only applies to shifts that were previously started using clock_in. If you need to clock in directly, consider using or subscribing to the [clock-in endpoint](https://apidoc.factorialhr.com/v2025-01-01/reference/post_api-2025-01-01-resources-attendance-shifts-clock-in)
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsClockOutPostRequest] :attendance_shifts_clock_out_post_request 
    # @return [AttendanceShift]
    def attendance_shifts_clock_out_post(opts = {})
      data, _status_code, _headers = attendance_shifts_clock_out_post_with_http_info(opts)
      data
    end

    # Clocks out a shift
    # Completes an open shift by setting the current time as the clock-out. This action only applies to shifts that were previously started using clock_in. If you need to clock in directly, consider using or subscribing to the [clock-in endpoint](https://apidoc.factorialhr.com/v2025-01-01/reference/post_api-2025-01-01-resources-attendance-shifts-clock-in)
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsClockOutPostRequest] :attendance_shifts_clock_out_post_request 
    # @return [Array<(AttendanceShift, Integer, Hash)>] AttendanceShift data, response status code and response headers
    def attendance_shifts_clock_out_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_clock_out_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts/clock_out'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_shifts_clock_out_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_clock_out_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_clock_out_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Shifts
    # Reads all Shifts
    # @param half_day [Boolean] Flag to filter half day shifts
    # @param sort_created_at_asc [Boolean] Flag to sort by created_at asc
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :employee_ids filter by employee ids.
    # @option opts [String] :start_on filter by shift that starts after or including this date.
    # @option opts [String] :end_on filter by shift that ends before or including this date.
    # @option opts [Array<String>] :ids filter by ids.
    # @option opts [Boolean] :workable Flag to filter shifts in workable days
    # @option opts [Boolean] :latest_shift Flag to filter only the latest shift for each employee
    # @option opts [Boolean] :breaks_with_time_configuration Flag to include breaks with time configuration
    # @option opts [Boolean] :last_working_shift Filter by last working shift
    # @option opts [String] :updated_at Filter shifts by the date they were last updated
    # @return [AttendanceShiftsGet200Response]
    def attendance_shifts_get(half_day, sort_created_at_asc, opts = {})
      data, _status_code, _headers = attendance_shifts_get_with_http_info(half_day, sort_created_at_asc, opts)
      data
    end

    # Reads all Shifts
    # Reads all Shifts
    # @param half_day [Boolean] Flag to filter half day shifts
    # @param sort_created_at_asc [Boolean] Flag to sort by created_at asc
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :employee_ids filter by employee ids.
    # @option opts [String] :start_on filter by shift that starts after or including this date.
    # @option opts [String] :end_on filter by shift that ends before or including this date.
    # @option opts [Array<String>] :ids filter by ids.
    # @option opts [Boolean] :workable Flag to filter shifts in workable days
    # @option opts [Boolean] :latest_shift Flag to filter only the latest shift for each employee
    # @option opts [Boolean] :breaks_with_time_configuration Flag to include breaks with time configuration
    # @option opts [Boolean] :last_working_shift Filter by last working shift
    # @option opts [String] :updated_at Filter shifts by the date they were last updated
    # @return [Array<(AttendanceShiftsGet200Response, Integer, Hash)>] AttendanceShiftsGet200Response data, response status code and response headers
    def attendance_shifts_get_with_http_info(half_day, sort_created_at_asc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_get ...'
      end
      # verify the required parameter 'half_day' is set
      if @api_client.config.client_side_validation && half_day.nil?
        fail ArgumentError, "Missing the required parameter 'half_day' when calling AttendanceShiftApi.attendance_shifts_get"
      end
      # verify the required parameter 'sort_created_at_asc' is set
      if @api_client.config.client_side_validation && sort_created_at_asc.nil?
        fail ArgumentError, "Missing the required parameter 'sort_created_at_asc' when calling AttendanceShiftApi.attendance_shifts_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'half_day'] = half_day
      query_params[:'sort_created_at_asc'] = sort_created_at_asc
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'start_on'] = opts[:'start_on'] if !opts[:'start_on'].nil?
      query_params[:'end_on'] = opts[:'end_on'] if !opts[:'end_on'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'workable'] = opts[:'workable'] if !opts[:'workable'].nil?
      query_params[:'latest_shift'] = opts[:'latest_shift'] if !opts[:'latest_shift'].nil?
      query_params[:'breaks_with_time_configuration'] = opts[:'breaks_with_time_configuration'] if !opts[:'breaks_with_time_configuration'].nil?
      query_params[:'last_working_shift'] = opts[:'last_working_shift'] if !opts[:'last_working_shift'].nil?
      query_params[:'updated_at'] = opts[:'updated_at'] if !opts[:'updated_at'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceShiftsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Shift
    # Deletes a Shift
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AttendanceShift]
    def attendance_shifts_id_delete(id, opts = {})
      data, _status_code, _headers = attendance_shifts_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Shift
    # Deletes a Shift
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttendanceShift, Integer, Hash)>] AttendanceShift data, response status code and response headers
    def attendance_shifts_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceShiftApi.attendance_shifts_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Shift
    # Reads a single Shift
    # @param id [String] filter by ids.
    # @param [Hash] opts the optional parameters
    # @return [AttendanceShift]
    def attendance_shifts_id_get(id, opts = {})
      data, _status_code, _headers = attendance_shifts_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Shift
    # Reads a single Shift
    # @param id [String] filter by ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttendanceShift, Integer, Hash)>] AttendanceShift data, response status code and response headers
    def attendance_shifts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceShiftApi.attendance_shifts_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Shift
    # Updates a Shift
    # @param id [String] Id of the shift
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsIdPutRequest] :attendance_shifts_id_put_request 
    # @return [AttendanceShift]
    def attendance_shifts_id_put(id, opts = {})
      data, _status_code, _headers = attendance_shifts_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Shift
    # Updates a Shift
    # @param id [String] Id of the shift
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsIdPutRequest] :attendance_shifts_id_put_request 
    # @return [Array<(AttendanceShift, Integer, Hash)>] AttendanceShift data, response status code and response headers
    def attendance_shifts_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceShiftApi.attendance_shifts_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_shifts_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a shift
    # Creates a complete shift by specifying both the clock-in and clock-out times. If you need to clock in directly, consider using or subscribing to the [clock-in endpoint](https://apidoc.factorialhr.com/v2025-01-01/reference/post_api-2025-01-01-resources-attendance-shifts-clock-in)
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsPostRequest] :attendance_shifts_post_request 
    # @return [AttendanceShift]
    def attendance_shifts_post(opts = {})
      data, _status_code, _headers = attendance_shifts_post_with_http_info(opts)
      data
    end

    # Creates a shift
    # Creates a complete shift by specifying both the clock-in and clock-out times. If you need to clock in directly, consider using or subscribing to the [clock-in endpoint](https://apidoc.factorialhr.com/v2025-01-01/reference/post_api-2025-01-01-resources-attendance-shifts-clock-in)
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsPostRequest] :attendance_shifts_post_request 
    # @return [Array<(AttendanceShift, Integer, Hash)>] AttendanceShift data, response status code and response headers
    def attendance_shifts_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_shifts_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clock in/out a shift
    # Use this endpoint to toggle shift (it will clock in or out)
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsToggleClockPostRequest] :attendance_shifts_toggle_clock_post_request 
    # @return [AttendanceShift]
    def attendance_shifts_toggle_clock_post(opts = {})
      data, _status_code, _headers = attendance_shifts_toggle_clock_post_with_http_info(opts)
      data
    end

    # Clock in/out a shift
    # Use this endpoint to toggle shift (it will clock in or out)
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceShiftsToggleClockPostRequest] :attendance_shifts_toggle_clock_post_request 
    # @return [Array<(AttendanceShift, Integer, Hash)>] AttendanceShift data, response status code and response headers
    def attendance_shifts_toggle_clock_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceShiftApi.attendance_shifts_toggle_clock_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/shifts/toggle_clock'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_shifts_toggle_clock_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceShiftApi.attendance_shifts_toggle_clock_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceShiftApi#attendance_shifts_toggle_clock_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
