=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class AttendanceEstimatedTimeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Estimated times
    # Get information about estimated data for a given date range and a bunch of employees.
    # @param start_on [String] 
    # @param end_on [String] 
    # @param employee_ids [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @return [AttendanceEstimatedTimesGet200Response]
    def attendance_estimated_times_get(start_on, end_on, employee_ids, opts = {})
      data, _status_code, _headers = attendance_estimated_times_get_with_http_info(start_on, end_on, employee_ids, opts)
      data
    end

    # Reads all Estimated times
    # Get information about estimated data for a given date range and a bunch of employees.
    # @param start_on [String] 
    # @param end_on [String] 
    # @param employee_ids [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttendanceEstimatedTimesGet200Response, Integer, Hash)>] AttendanceEstimatedTimesGet200Response data, response status code and response headers
    def attendance_estimated_times_get_with_http_info(start_on, end_on, employee_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceEstimatedTimeApi.attendance_estimated_times_get ...'
      end
      # verify the required parameter 'start_on' is set
      if @api_client.config.client_side_validation && start_on.nil?
        fail ArgumentError, "Missing the required parameter 'start_on' when calling AttendanceEstimatedTimeApi.attendance_estimated_times_get"
      end
      # verify the required parameter 'end_on' is set
      if @api_client.config.client_side_validation && end_on.nil?
        fail ArgumentError, "Missing the required parameter 'end_on' when calling AttendanceEstimatedTimeApi.attendance_estimated_times_get"
      end
      # verify the required parameter 'employee_ids' is set
      if @api_client.config.client_side_validation && employee_ids.nil?
        fail ArgumentError, "Missing the required parameter 'employee_ids' when calling AttendanceEstimatedTimeApi.attendance_estimated_times_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/estimated_times'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_on'] = start_on
      query_params[:'end_on'] = end_on
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(employee_ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceEstimatedTimesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceEstimatedTimeApi.attendance_estimated_times_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceEstimatedTimeApi#attendance_estimated_times_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
