=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class AttendanceReviewApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk creates a Review
    # Bulk creates a Review
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceReviewsBulkCreatePostRequest] :attendance_reviews_bulk_create_post_request 
    # @return [Array<AttendanceReview>]
    def attendance_reviews_bulk_create_post(opts = {})
      data, _status_code, _headers = attendance_reviews_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Review
    # Bulk creates a Review
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceReviewsBulkCreatePostRequest] :attendance_reviews_bulk_create_post_request 
    # @return [Array<(Array<AttendanceReview>, Integer, Hash)>] Array<AttendanceReview> data, response status code and response headers
    def attendance_reviews_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceReviewApi.attendance_reviews_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/reviews/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_reviews_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AttendanceReview>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceReviewApi.attendance_reviews_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceReviewApi#attendance_reviews_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk destroys a Review
    # Bulk destroys a Review
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceReviewsBulkDestroyPostRequest] :attendance_reviews_bulk_destroy_post_request 
    # @return [Array<AttendanceReview>]
    def attendance_reviews_bulk_destroy_post(opts = {})
      data, _status_code, _headers = attendance_reviews_bulk_destroy_post_with_http_info(opts)
      data
    end

    # Bulk destroys a Review
    # Bulk destroys a Review
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceReviewsBulkDestroyPostRequest] :attendance_reviews_bulk_destroy_post_request 
    # @return [Array<(Array<AttendanceReview>, Integer, Hash)>] Array<AttendanceReview> data, response status code and response headers
    def attendance_reviews_bulk_destroy_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceReviewApi.attendance_reviews_bulk_destroy_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/reviews/bulk_destroy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_reviews_bulk_destroy_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AttendanceReview>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceReviewApi.attendance_reviews_bulk_destroy_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceReviewApi#attendance_reviews_bulk_destroy_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Reviews
    # Reads all Reviews
    # @param employee_ids [Array<String>] Employee identifiers
    # @param start_on [String] Start date of the reviews
    # @param end_on [String] End date of the reviews
    # @param reviewed_at [String] Reviewed at date(ISO 8601 format string)
    # @param [Hash] opts the optional parameters
    # @return [AttendanceReviewsGet200Response]
    def attendance_reviews_get(employee_ids, start_on, end_on, reviewed_at, opts = {})
      data, _status_code, _headers = attendance_reviews_get_with_http_info(employee_ids, start_on, end_on, reviewed_at, opts)
      data
    end

    # Reads all Reviews
    # Reads all Reviews
    # @param employee_ids [Array<String>] Employee identifiers
    # @param start_on [String] Start date of the reviews
    # @param end_on [String] End date of the reviews
    # @param reviewed_at [String] Reviewed at date(ISO 8601 format string)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttendanceReviewsGet200Response, Integer, Hash)>] AttendanceReviewsGet200Response data, response status code and response headers
    def attendance_reviews_get_with_http_info(employee_ids, start_on, end_on, reviewed_at, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceReviewApi.attendance_reviews_get ...'
      end
      # verify the required parameter 'employee_ids' is set
      if @api_client.config.client_side_validation && employee_ids.nil?
        fail ArgumentError, "Missing the required parameter 'employee_ids' when calling AttendanceReviewApi.attendance_reviews_get"
      end
      # verify the required parameter 'start_on' is set
      if @api_client.config.client_side_validation && start_on.nil?
        fail ArgumentError, "Missing the required parameter 'start_on' when calling AttendanceReviewApi.attendance_reviews_get"
      end
      # verify the required parameter 'end_on' is set
      if @api_client.config.client_side_validation && end_on.nil?
        fail ArgumentError, "Missing the required parameter 'end_on' when calling AttendanceReviewApi.attendance_reviews_get"
      end
      # verify the required parameter 'reviewed_at' is set
      if @api_client.config.client_side_validation && reviewed_at.nil?
        fail ArgumentError, "Missing the required parameter 'reviewed_at' when calling AttendanceReviewApi.attendance_reviews_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/reviews'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(employee_ids, :multi)
      query_params[:'start_on'] = start_on
      query_params[:'end_on'] = end_on
      query_params[:'reviewed_at'] = reviewed_at

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceReviewsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceReviewApi.attendance_reviews_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceReviewApi#attendance_reviews_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
