=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class AttendanceOvertimeRequestApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approves an Overtime request
    # Approves an Overtime request
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceOvertimeRequestsApprovePostRequest] :attendance_overtime_requests_approve_post_request 
    # @return [AttendanceOvertimeRequest]
    def attendance_overtime_requests_approve_post(opts = {})
      data, _status_code, _headers = attendance_overtime_requests_approve_post_with_http_info(opts)
      data
    end

    # Approves an Overtime request
    # Approves an Overtime request
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceOvertimeRequestsApprovePostRequest] :attendance_overtime_requests_approve_post_request 
    # @return [Array<(AttendanceOvertimeRequest, Integer, Hash)>] AttendanceOvertimeRequest data, response status code and response headers
    def attendance_overtime_requests_approve_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceOvertimeRequestApi.attendance_overtime_requests_approve_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/overtime_requests/approve'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_overtime_requests_approve_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceOvertimeRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceOvertimeRequestApi.attendance_overtime_requests_approve_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceOvertimeRequestApi#attendance_overtime_requests_approve_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Overtime requests
    # Reads all Overtime requests
    # @param include_approval_flow [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @option opts [Array<String>] :employee_ids 
    # @option opts [String] :start_on 
    # @option opts [String] :end_on 
    # @option opts [String] :status 
    # @return [AttendanceOvertimeRequestsGet200Response]
    def attendance_overtime_requests_get(include_approval_flow, opts = {})
      data, _status_code, _headers = attendance_overtime_requests_get_with_http_info(include_approval_flow, opts)
      data
    end

    # Reads all Overtime requests
    # Reads all Overtime requests
    # @param include_approval_flow [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @option opts [Array<String>] :employee_ids 
    # @option opts [String] :start_on 
    # @option opts [String] :end_on 
    # @option opts [String] :status 
    # @return [Array<(AttendanceOvertimeRequestsGet200Response, Integer, Hash)>] AttendanceOvertimeRequestsGet200Response data, response status code and response headers
    def attendance_overtime_requests_get_with_http_info(include_approval_flow, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceOvertimeRequestApi.attendance_overtime_requests_get ...'
      end
      # verify the required parameter 'include_approval_flow' is set
      if @api_client.config.client_side_validation && include_approval_flow.nil?
        fail ArgumentError, "Missing the required parameter 'include_approval_flow' when calling AttendanceOvertimeRequestApi.attendance_overtime_requests_get"
      end
      allowable_values = ["pending", "approved", "rejected", "none"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/overtime_requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_approval_flow'] = include_approval_flow
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'start_on'] = opts[:'start_on'] if !opts[:'start_on'].nil?
      query_params[:'end_on'] = opts[:'end_on'] if !opts[:'end_on'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceOvertimeRequestsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceOvertimeRequestApi.attendance_overtime_requests_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceOvertimeRequestApi#attendance_overtime_requests_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an Overtime request
    # Deletes an Overtime request
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AttendanceOvertimeRequest]
    def attendance_overtime_requests_id_delete(id, opts = {})
      data, _status_code, _headers = attendance_overtime_requests_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes an Overtime request
    # Deletes an Overtime request
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttendanceOvertimeRequest, Integer, Hash)>] AttendanceOvertimeRequest data, response status code and response headers
    def attendance_overtime_requests_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceOvertimeRequestApi.attendance_overtime_requests_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceOvertimeRequestApi.attendance_overtime_requests_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/overtime_requests/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceOvertimeRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceOvertimeRequestApi.attendance_overtime_requests_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceOvertimeRequestApi#attendance_overtime_requests_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Overtime request
    # Reads a single Overtime request
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AttendanceOvertimeRequest]
    def attendance_overtime_requests_id_get(id, opts = {})
      data, _status_code, _headers = attendance_overtime_requests_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Overtime request
    # Reads a single Overtime request
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AttendanceOvertimeRequest, Integer, Hash)>] AttendanceOvertimeRequest data, response status code and response headers
    def attendance_overtime_requests_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceOvertimeRequestApi.attendance_overtime_requests_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceOvertimeRequestApi.attendance_overtime_requests_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/overtime_requests/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceOvertimeRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceOvertimeRequestApi.attendance_overtime_requests_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceOvertimeRequestApi#attendance_overtime_requests_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Overtime request
    # Updates an Overtime request
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceOvertimeRequestsIdPutRequest] :attendance_overtime_requests_id_put_request 
    # @return [AttendanceOvertimeRequest]
    def attendance_overtime_requests_id_put(id, opts = {})
      data, _status_code, _headers = attendance_overtime_requests_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Overtime request
    # Updates an Overtime request
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceOvertimeRequestsIdPutRequest] :attendance_overtime_requests_id_put_request 
    # @return [Array<(AttendanceOvertimeRequest, Integer, Hash)>] AttendanceOvertimeRequest data, response status code and response headers
    def attendance_overtime_requests_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceOvertimeRequestApi.attendance_overtime_requests_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttendanceOvertimeRequestApi.attendance_overtime_requests_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/overtime_requests/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_overtime_requests_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceOvertimeRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceOvertimeRequestApi.attendance_overtime_requests_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceOvertimeRequestApi#attendance_overtime_requests_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an Overtime request
    # Creates an Overtime request
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceOvertimeRequestsPostRequest] :attendance_overtime_requests_post_request 
    # @return [AttendanceOvertimeRequest]
    def attendance_overtime_requests_post(opts = {})
      data, _status_code, _headers = attendance_overtime_requests_post_with_http_info(opts)
      data
    end

    # Creates an Overtime request
    # Creates an Overtime request
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceOvertimeRequestsPostRequest] :attendance_overtime_requests_post_request 
    # @return [Array<(AttendanceOvertimeRequest, Integer, Hash)>] AttendanceOvertimeRequest data, response status code and response headers
    def attendance_overtime_requests_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceOvertimeRequestApi.attendance_overtime_requests_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/overtime_requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_overtime_requests_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceOvertimeRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceOvertimeRequestApi.attendance_overtime_requests_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceOvertimeRequestApi#attendance_overtime_requests_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rejects an Overtime request
    # Rejects an Overtime request
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceOvertimeRequestsRejectPostRequest] :attendance_overtime_requests_reject_post_request 
    # @return [AttendanceOvertimeRequest]
    def attendance_overtime_requests_reject_post(opts = {})
      data, _status_code, _headers = attendance_overtime_requests_reject_post_with_http_info(opts)
      data
    end

    # Rejects an Overtime request
    # Rejects an Overtime request
    # @param [Hash] opts the optional parameters
    # @option opts [AttendanceOvertimeRequestsRejectPostRequest] :attendance_overtime_requests_reject_post_request 
    # @return [Array<(AttendanceOvertimeRequest, Integer, Hash)>] AttendanceOvertimeRequest data, response status code and response headers
    def attendance_overtime_requests_reject_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceOvertimeRequestApi.attendance_overtime_requests_reject_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/overtime_requests/reject'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'attendance_overtime_requests_reject_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceOvertimeRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceOvertimeRequestApi.attendance_overtime_requests_reject_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceOvertimeRequestApi#attendance_overtime_requests_reject_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
