=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class AttendanceOpenShiftApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Open shifts
    # This endpoint retrieves the current open shifts for the specified employee_ids.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :employee_ids Employee ids to filter the open shifts by.
    # @return [AttendanceOpenShiftsGet200Response]
    def attendance_open_shifts_get(opts = {})
      data, _status_code, _headers = attendance_open_shifts_get_with_http_info(opts)
      data
    end

    # Reads all Open shifts
    # This endpoint retrieves the current open shifts for the specified employee_ids.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :employee_ids Employee ids to filter the open shifts by.
    # @return [Array<(AttendanceOpenShiftsGet200Response, Integer, Hash)>] AttendanceOpenShiftsGet200Response data, response status code and response headers
    def attendance_open_shifts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceOpenShiftApi.attendance_open_shifts_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/open_shifts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceOpenShiftsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceOpenShiftApi.attendance_open_shifts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceOpenShiftApi#attendance_open_shifts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
