=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class AttendanceWorkedTimeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Worked times
    # Reads all Worked times
    # @param include_time_range_category [Boolean] 
    # @param include_non_attendable_employees [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_on 
    # @option opts [String] :end_on 
    # @option opts [Array<String>] :employee_ids 
    # @return [AttendanceWorkedTimesGet200Response]
    def attendance_worked_times_get(include_time_range_category, include_non_attendable_employees, opts = {})
      data, _status_code, _headers = attendance_worked_times_get_with_http_info(include_time_range_category, include_non_attendable_employees, opts)
      data
    end

    # Reads all Worked times
    # Reads all Worked times
    # @param include_time_range_category [Boolean] 
    # @param include_non_attendable_employees [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_on 
    # @option opts [String] :end_on 
    # @option opts [Array<String>] :employee_ids 
    # @return [Array<(AttendanceWorkedTimesGet200Response, Integer, Hash)>] AttendanceWorkedTimesGet200Response data, response status code and response headers
    def attendance_worked_times_get_with_http_info(include_time_range_category, include_non_attendable_employees, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttendanceWorkedTimeApi.attendance_worked_times_get ...'
      end
      # verify the required parameter 'include_time_range_category' is set
      if @api_client.config.client_side_validation && include_time_range_category.nil?
        fail ArgumentError, "Missing the required parameter 'include_time_range_category' when calling AttendanceWorkedTimeApi.attendance_worked_times_get"
      end
      # verify the required parameter 'include_non_attendable_employees' is set
      if @api_client.config.client_side_validation && include_non_attendable_employees.nil?
        fail ArgumentError, "Missing the required parameter 'include_non_attendable_employees' when calling AttendanceWorkedTimeApi.attendance_worked_times_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/attendance/worked_times'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_time_range_category'] = include_time_range_category
      query_params[:'include_non_attendable_employees'] = include_non_attendable_employees
      query_params[:'start_on'] = opts[:'start_on'] if !opts[:'start_on'].nil?
      query_params[:'end_on'] = opts[:'end_on'] if !opts[:'end_on'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AttendanceWorkedTimesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"AttendanceWorkedTimeApi.attendance_worked_times_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttendanceWorkedTimeApi#attendance_worked_times_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
