=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class BankingTransactionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Transactions
    # Reads all Transactions
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of transaction IDs to filter by.
    # @option opts [Array<String>] :bank_account_ids An array of Factorial Banking Bank Account IDs to filter by.
    # @option opts [Array<String>] :card_payment_ids An array of Factorial Card Payment IDs to filter by.
    # @option opts [String] :from Date from which the transactions should be fetched.
    # @option opts [String] :to Date until which the transactions should be fetched.
    # @option opts [String] :updated_from Filter transactions updated from a specific date.
    # @return [BankingTransactionsGet200Response]
    def banking_transactions_get(opts = {})
      data, _status_code, _headers = banking_transactions_get_with_http_info(opts)
      data
    end

    # Reads all Transactions
    # Reads all Transactions
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of transaction IDs to filter by.
    # @option opts [Array<String>] :bank_account_ids An array of Factorial Banking Bank Account IDs to filter by.
    # @option opts [Array<String>] :card_payment_ids An array of Factorial Card Payment IDs to filter by.
    # @option opts [String] :from Date from which the transactions should be fetched.
    # @option opts [String] :to Date until which the transactions should be fetched.
    # @option opts [String] :updated_from Filter transactions updated from a specific date.
    # @return [Array<(BankingTransactionsGet200Response, Integer, Hash)>] BankingTransactionsGet200Response data, response status code and response headers
    def banking_transactions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingTransactionApi.banking_transactions_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/banking/transactions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'bank_account_ids[]'] = @api_client.build_collection_param(opts[:'bank_account_ids'], :multi) if !opts[:'bank_account_ids'].nil?
      query_params[:'card_payment_ids[]'] = @api_client.build_collection_param(opts[:'card_payment_ids'], :multi) if !opts[:'card_payment_ids'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BankingTransactionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"BankingTransactionApi.banking_transactions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingTransactionApi#banking_transactions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Transaction
    # Reads a single Transaction
    # @param id [String] An array of transaction IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [BankingTransaction]
    def banking_transactions_id_get(id, opts = {})
      data, _status_code, _headers = banking_transactions_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Transaction
    # Reads a single Transaction
    # @param id [String] An array of transaction IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BankingTransaction, Integer, Hash)>] BankingTransaction data, response status code and response headers
    def banking_transactions_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingTransactionApi.banking_transactions_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BankingTransactionApi.banking_transactions_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/banking/transactions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BankingTransaction'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"BankingTransactionApi.banking_transactions_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingTransactionApi#banking_transactions_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
