=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class BookkeepersManagementIncidenceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Incidences
    # Reads all Incidences
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids A list of incidence identifiers.
    # @option opts [Array<String>] :legal_entities_ids A list of legal entities identifiers.
    # @option opts [Array<String>] :status A list of statuses.
    # @option opts [String] :starts_on Get the incidence (aka employee update) that start safter this date (included).
    # @option opts [String] :ends_on Get the incidence (aka employee update) that ends before this date (included).
    # @option opts [Array<String>] :type A list of types. It can be any of the following address, bank, cost_center, contract, gender, hiring, id, irpf, legal_entity, manual_incidence, name, nationality, parental, phone_number, sick, tax_id, termination, workplace
    # @option opts [String] :sort_by Field to sort by. It can be any of the following employee_first_name, employee_last_name, type, legal_entity_name, effective_date, status.
    # @option opts [String] :direction Sort direction. It can be &#39;asc&#39; or &#39;desc&#39;.
    # @option opts [String] :search Filter the result by the name of the employee.
    # @option opts [Array<String>] :employee_ids A list of employee identifiers.
    # @option opts [Boolean] :contains_message Boolean that filters incidences that does or does not contains messages.
    # @option opts [String] :message_from Filter by message sender.
    # @option opts [Array<String>] :custom_leave_name A list of custom leave names.
    # @return [BookkeepersManagementIncidencesGet200Response]
    def bookkeepers_management_incidences_get(opts = {})
      data, _status_code, _headers = bookkeepers_management_incidences_get_with_http_info(opts)
      data
    end

    # Reads all Incidences
    # Reads all Incidences
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids A list of incidence identifiers.
    # @option opts [Array<String>] :legal_entities_ids A list of legal entities identifiers.
    # @option opts [Array<String>] :status A list of statuses.
    # @option opts [String] :starts_on Get the incidence (aka employee update) that start safter this date (included).
    # @option opts [String] :ends_on Get the incidence (aka employee update) that ends before this date (included).
    # @option opts [Array<String>] :type A list of types. It can be any of the following address, bank, cost_center, contract, gender, hiring, id, irpf, legal_entity, manual_incidence, name, nationality, parental, phone_number, sick, tax_id, termination, workplace
    # @option opts [String] :sort_by Field to sort by. It can be any of the following employee_first_name, employee_last_name, type, legal_entity_name, effective_date, status.
    # @option opts [String] :direction Sort direction. It can be &#39;asc&#39; or &#39;desc&#39;.
    # @option opts [String] :search Filter the result by the name of the employee.
    # @option opts [Array<String>] :employee_ids A list of employee identifiers.
    # @option opts [Boolean] :contains_message Boolean that filters incidences that does or does not contains messages.
    # @option opts [String] :message_from Filter by message sender.
    # @option opts [Array<String>] :custom_leave_name A list of custom leave names.
    # @return [Array<(BookkeepersManagementIncidencesGet200Response, Integer, Hash)>] BookkeepersManagementIncidencesGet200Response data, response status code and response headers
    def bookkeepers_management_incidences_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepersManagementIncidenceApi.bookkeepers_management_incidences_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/bookkeepers_management/incidences'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'legal_entities_ids[]'] = @api_client.build_collection_param(opts[:'legal_entities_ids'], :multi) if !opts[:'legal_entities_ids'].nil?
      query_params[:'status[]'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?
      query_params[:'starts_on'] = opts[:'starts_on'] if !opts[:'starts_on'].nil?
      query_params[:'ends_on'] = opts[:'ends_on'] if !opts[:'ends_on'].nil?
      query_params[:'type[]'] = @api_client.build_collection_param(opts[:'type'], :multi) if !opts[:'type'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'contains_message'] = opts[:'contains_message'] if !opts[:'contains_message'].nil?
      query_params[:'message_from'] = opts[:'message_from'] if !opts[:'message_from'].nil?
      query_params[:'custom_leave_name[]'] = @api_client.build_collection_param(opts[:'custom_leave_name'], :multi) if !opts[:'custom_leave_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BookkeepersManagementIncidencesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"BookkeepersManagementIncidenceApi.bookkeepers_management_incidences_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepersManagementIncidenceApi#bookkeepers_management_incidences_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Incidence
    # Reads a single Incidence
    # @param id [String] A list of incidence identifiers.
    # @param [Hash] opts the optional parameters
    # @return [BookkeepersManagementIncidence]
    def bookkeepers_management_incidences_id_get(id, opts = {})
      data, _status_code, _headers = bookkeepers_management_incidences_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Incidence
    # Reads a single Incidence
    # @param id [String] A list of incidence identifiers.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BookkeepersManagementIncidence, Integer, Hash)>] BookkeepersManagementIncidence data, response status code and response headers
    def bookkeepers_management_incidences_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepersManagementIncidenceApi.bookkeepers_management_incidences_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BookkeepersManagementIncidenceApi.bookkeepers_management_incidences_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/bookkeepers_management/incidences/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BookkeepersManagementIncidence'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"BookkeepersManagementIncidenceApi.bookkeepers_management_incidences_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepersManagementIncidenceApi#bookkeepers_management_incidences_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Incidence
    # Updates an Incidence
    # @param id [String] incidence (aka employee update) identifier to update.
    # @param [Hash] opts the optional parameters
    # @option opts [BookkeepersManagementIncidencesIdPutRequest] :bookkeepers_management_incidences_id_put_request 
    # @return [BookkeepersManagementIncidence]
    def bookkeepers_management_incidences_id_put(id, opts = {})
      data, _status_code, _headers = bookkeepers_management_incidences_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Incidence
    # Updates an Incidence
    # @param id [String] incidence (aka employee update) identifier to update.
    # @param [Hash] opts the optional parameters
    # @option opts [BookkeepersManagementIncidencesIdPutRequest] :bookkeepers_management_incidences_id_put_request 
    # @return [Array<(BookkeepersManagementIncidence, Integer, Hash)>] BookkeepersManagementIncidence data, response status code and response headers
    def bookkeepers_management_incidences_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BookkeepersManagementIncidenceApi.bookkeepers_management_incidences_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BookkeepersManagementIncidenceApi.bookkeepers_management_incidences_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/bookkeepers_management/incidences/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bookkeepers_management_incidences_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'BookkeepersManagementIncidence'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"BookkeepersManagementIncidenceApi.bookkeepers_management_incidences_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BookkeepersManagementIncidenceApi#bookkeepers_management_incidences_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
