=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class CompensationsCycleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Cycles
    # Retrieves compensation cycles
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Compensation cycle ids
    # @option opts [String] :company_id Filter by single company id
    # @option opts [Array<String>] :company_ids Filter by company ids
    # @option opts [String] :recurrence Cycle recurrence (e.g. monthly)
    # @option opts [String] :currency Cycle currency (ISO-4217)
    # @option opts [String] :country Cycle country (ISO-3166 alpha-2 lowercase)
    # @option opts [Boolean] :include_archived Include archived cycles in the response
    # @option opts [Boolean] :include_hidden Include hidden cycles in the response
    # @return [CompensationsCyclesGet200Response]
    def compensations_cycles_get(opts = {})
      data, _status_code, _headers = compensations_cycles_get_with_http_info(opts)
      data
    end

    # Reads all Cycles
    # Retrieves compensation cycles
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Compensation cycle ids
    # @option opts [String] :company_id Filter by single company id
    # @option opts [Array<String>] :company_ids Filter by company ids
    # @option opts [String] :recurrence Cycle recurrence (e.g. monthly)
    # @option opts [String] :currency Cycle currency (ISO-4217)
    # @option opts [String] :country Cycle country (ISO-3166 alpha-2 lowercase)
    # @option opts [Boolean] :include_archived Include archived cycles in the response
    # @option opts [Boolean] :include_hidden Include hidden cycles in the response
    # @return [Array<(CompensationsCyclesGet200Response, Integer, Hash)>] CompensationsCyclesGet200Response data, response status code and response headers
    def compensations_cycles_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsCycleApi.compensations_cycles_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/cycles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'company_ids[]'] = @api_client.build_collection_param(opts[:'company_ids'], :multi) if !opts[:'company_ids'].nil?
      query_params[:'recurrence'] = opts[:'recurrence'] if !opts[:'recurrence'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'include_archived'] = opts[:'include_archived'] if !opts[:'include_archived'].nil?
      query_params[:'include_hidden'] = opts[:'include_hidden'] if !opts[:'include_hidden'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsCyclesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsCycleApi.compensations_cycles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsCycleApi#compensations_cycles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Cycle
    # Retrieves compensation cycles
    # @param id [String] Compensation cycle ids
    # @param [Hash] opts the optional parameters
    # @return [CompensationsCycle]
    def compensations_cycles_id_get(id, opts = {})
      data, _status_code, _headers = compensations_cycles_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Cycle
    # Retrieves compensation cycles
    # @param id [String] Compensation cycle ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompensationsCycle, Integer, Hash)>] CompensationsCycle data, response status code and response headers
    def compensations_cycles_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsCycleApi.compensations_cycles_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsCycleApi.compensations_cycles_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/cycles/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsCycle'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsCycleApi.compensations_cycles_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsCycleApi#compensations_cycles_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
