=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class CompensationsConceptApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Concepts
    # Reads all Concepts
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The ids of the concepts
    # @option opts [Array<String>] :categories The categories of the concept
    # @option opts [Boolean] :with_active_status Whether to return only active concepts
    # @return [CompensationsConceptsGet200Response]
    def compensations_concepts_get(opts = {})
      data, _status_code, _headers = compensations_concepts_get_with_http_info(opts)
      data
    end

    # Reads all Concepts
    # Reads all Concepts
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The ids of the concepts
    # @option opts [Array<String>] :categories The categories of the concept
    # @option opts [Boolean] :with_active_status Whether to return only active concepts
    # @return [Array<(CompensationsConceptsGet200Response, Integer, Hash)>] CompensationsConceptsGet200Response data, response status code and response headers
    def compensations_concepts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsConceptApi.compensations_concepts_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/compensations/concepts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'categories[]'] = @api_client.build_collection_param(opts[:'categories'], :multi) if !opts[:'categories'].nil?
      query_params[:'with_active_status'] = opts[:'with_active_status'] if !opts[:'with_active_status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsConceptsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsConceptApi.compensations_concepts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsConceptApi#compensations_concepts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Concept
    # Reads a single Concept
    # @param id [String] The ids of the concepts
    # @param [Hash] opts the optional parameters
    # @return [CompensationsConcept]
    def compensations_concepts_id_get(id, opts = {})
      data, _status_code, _headers = compensations_concepts_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Concept
    # Reads a single Concept
    # @param id [String] The ids of the concepts
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompensationsConcept, Integer, Hash)>] CompensationsConcept data, response status code and response headers
    def compensations_concepts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsConceptApi.compensations_concepts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsConceptApi.compensations_concepts_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/compensations/concepts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsConcept'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsConceptApi.compensations_concepts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsConceptApi#compensations_concepts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
