=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class CompensationsEmployeesCompensationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Employees compensations
    # Retrieves employee compensations (result_type=compensation)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Return only the employee compensation rows with these ids.
    # @option opts [Array<String>] :payroll_run_ids Filter by payroll run ids, refers to compensations/payroll_runs endpoint.
    # @option opts [Array<String>] :cycle_ids Filter by parent cycle ids, refers to compensations/cycles endpoint.
    # @option opts [Array<String>] :payroll_run_employee_ids Filter by employee ids (participants of the payroll run)
    # @option opts [Array<String>] :payroll_concept_ids Filter by payroll concept ids, refers to compensations/concepts endpoint.
    # @return [CompensationsEmployeesCompensationsGet200Response]
    def compensations_employees_compensations_get(opts = {})
      data, _status_code, _headers = compensations_employees_compensations_get_with_http_info(opts)
      data
    end

    # Reads all Employees compensations
    # Retrieves employee compensations (result_type&#x3D;compensation)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Return only the employee compensation rows with these ids.
    # @option opts [Array<String>] :payroll_run_ids Filter by payroll run ids, refers to compensations/payroll_runs endpoint.
    # @option opts [Array<String>] :cycle_ids Filter by parent cycle ids, refers to compensations/cycles endpoint.
    # @option opts [Array<String>] :payroll_run_employee_ids Filter by employee ids (participants of the payroll run)
    # @option opts [Array<String>] :payroll_concept_ids Filter by payroll concept ids, refers to compensations/concepts endpoint.
    # @return [Array<(CompensationsEmployeesCompensationsGet200Response, Integer, Hash)>] CompensationsEmployeesCompensationsGet200Response data, response status code and response headers
    def compensations_employees_compensations_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsEmployeesCompensationApi.compensations_employees_compensations_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/employees_compensations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'payroll_run_ids[]'] = @api_client.build_collection_param(opts[:'payroll_run_ids'], :multi) if !opts[:'payroll_run_ids'].nil?
      query_params[:'cycle_ids[]'] = @api_client.build_collection_param(opts[:'cycle_ids'], :multi) if !opts[:'cycle_ids'].nil?
      query_params[:'payroll_run_employee_ids[]'] = @api_client.build_collection_param(opts[:'payroll_run_employee_ids'], :multi) if !opts[:'payroll_run_employee_ids'].nil?
      query_params[:'payroll_concept_ids[]'] = @api_client.build_collection_param(opts[:'payroll_concept_ids'], :multi) if !opts[:'payroll_concept_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsEmployeesCompensationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsEmployeesCompensationApi.compensations_employees_compensations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsEmployeesCompensationApi#compensations_employees_compensations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an Employees compensation
    # Deletes a dashboard-created employee compensation
    # @param id [String] Employee compensation id to delete
    # @param [Hash] opts the optional parameters
    # @return [CompensationsEmployeesCompensation]
    def compensations_employees_compensations_id_delete(id, opts = {})
      data, _status_code, _headers = compensations_employees_compensations_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes an Employees compensation
    # Deletes a dashboard-created employee compensation
    # @param id [String] Employee compensation id to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompensationsEmployeesCompensation, Integer, Hash)>] CompensationsEmployeesCompensation data, response status code and response headers
    def compensations_employees_compensations_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsEmployeesCompensationApi.compensations_employees_compensations_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsEmployeesCompensationApi.compensations_employees_compensations_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/employees_compensations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsEmployeesCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsEmployeesCompensationApi.compensations_employees_compensations_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsEmployeesCompensationApi#compensations_employees_compensations_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Employees compensation
    # Retrieves employee compensations (result_type=compensation)
    # @param id [String] Return only the employee compensation rows with these ids.
    # @param [Hash] opts the optional parameters
    # @return [CompensationsEmployeesCompensation]
    def compensations_employees_compensations_id_get(id, opts = {})
      data, _status_code, _headers = compensations_employees_compensations_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Employees compensation
    # Retrieves employee compensations (result_type&#x3D;compensation)
    # @param id [String] Return only the employee compensation rows with these ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompensationsEmployeesCompensation, Integer, Hash)>] CompensationsEmployeesCompensation data, response status code and response headers
    def compensations_employees_compensations_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsEmployeesCompensationApi.compensations_employees_compensations_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsEmployeesCompensationApi.compensations_employees_compensations_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/employees_compensations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsEmployeesCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsEmployeesCompensationApi.compensations_employees_compensations_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsEmployeesCompensationApi#compensations_employees_compensations_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Employees compensation
    # Updates a dashboard-created employee compensation
    # @param id [String] Employee compensation id
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsEmployeesCompensationsIdPutRequest] :compensations_employees_compensations_id_put_request 
    # @return [CompensationsEmployeesCompensation]
    def compensations_employees_compensations_id_put(id, opts = {})
      data, _status_code, _headers = compensations_employees_compensations_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Employees compensation
    # Updates a dashboard-created employee compensation
    # @param id [String] Employee compensation id
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsEmployeesCompensationsIdPutRequest] :compensations_employees_compensations_id_put_request 
    # @return [Array<(CompensationsEmployeesCompensation, Integer, Hash)>] CompensationsEmployeesCompensation data, response status code and response headers
    def compensations_employees_compensations_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsEmployeesCompensationApi.compensations_employees_compensations_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsEmployeesCompensationApi.compensations_employees_compensations_id_put"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/employees_compensations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'compensations_employees_compensations_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsEmployeesCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsEmployeesCompensationApi.compensations_employees_compensations_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsEmployeesCompensationApi#compensations_employees_compensations_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an Employees compensation
    # Creates an employee compensation (dashboard-created, no source)
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsEmployeesCompensationsPostRequest] :compensations_employees_compensations_post_request 
    # @return [CompensationsEmployeesCompensation]
    def compensations_employees_compensations_post(opts = {})
      data, _status_code, _headers = compensations_employees_compensations_post_with_http_info(opts)
      data
    end

    # Creates an Employees compensation
    # Creates an employee compensation (dashboard-created, no source)
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsEmployeesCompensationsPostRequest] :compensations_employees_compensations_post_request 
    # @return [Array<(CompensationsEmployeesCompensation, Integer, Hash)>] CompensationsEmployeesCompensation data, response status code and response headers
    def compensations_employees_compensations_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsEmployeesCompensationApi.compensations_employees_compensations_post ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/employees_compensations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'compensations_employees_compensations_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsEmployeesCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsEmployeesCompensationApi.compensations_employees_compensations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsEmployeesCompensationApi#compensations_employees_compensations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
