=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class CompaniesLegalEntityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Legal entities
    # Reads all Legal entities
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids identifier of the legal entity
    # @option opts [Array<String>] :employees_ids identifier of the employees asigned to the legal entity
    # @option opts [Array<String>] :companies_ids identifier of the companies to which the legal entity belongs
    # @option opts [Array<String>] :country_ids country code of the legal entity
    # @return [CompaniesLegalEntitiesGet200Response]
    def companies_legal_entities_get(opts = {})
      data, _status_code, _headers = companies_legal_entities_get_with_http_info(opts)
      data
    end

    # Reads all Legal entities
    # Reads all Legal entities
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids identifier of the legal entity
    # @option opts [Array<String>] :employees_ids identifier of the employees asigned to the legal entity
    # @option opts [Array<String>] :companies_ids identifier of the companies to which the legal entity belongs
    # @option opts [Array<String>] :country_ids country code of the legal entity
    # @return [Array<(CompaniesLegalEntitiesGet200Response, Integer, Hash)>] CompaniesLegalEntitiesGet200Response data, response status code and response headers
    def companies_legal_entities_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompaniesLegalEntityApi.companies_legal_entities_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/companies/legal_entities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employees_ids[]'] = @api_client.build_collection_param(opts[:'employees_ids'], :multi) if !opts[:'employees_ids'].nil?
      query_params[:'companies_ids[]'] = @api_client.build_collection_param(opts[:'companies_ids'], :multi) if !opts[:'companies_ids'].nil?
      query_params[:'country_ids[]'] = @api_client.build_collection_param(opts[:'country_ids'], :multi) if !opts[:'country_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesLegalEntitiesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompaniesLegalEntityApi.companies_legal_entities_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompaniesLegalEntityApi#companies_legal_entities_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Legal entity
    # Reads a single Legal entity
    # @param id [String] identifier of the legal entity
    # @param [Hash] opts the optional parameters
    # @return [CompaniesLegalEntity]
    def companies_legal_entities_id_get(id, opts = {})
      data, _status_code, _headers = companies_legal_entities_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Legal entity
    # Reads a single Legal entity
    # @param id [String] identifier of the legal entity
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesLegalEntity, Integer, Hash)>] CompaniesLegalEntity data, response status code and response headers
    def companies_legal_entities_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompaniesLegalEntityApi.companies_legal_entities_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompaniesLegalEntityApi.companies_legal_entities_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/companies/legal_entities/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesLegalEntity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompaniesLegalEntityApi.companies_legal_entities_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompaniesLegalEntityApi#companies_legal_entities_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Legal entity
    # Creates a Legal entity
    # @param [Hash] opts the optional parameters
    # @option opts [CompaniesLegalEntitiesPostRequest] :companies_legal_entities_post_request 
    # @return [CompaniesLegalEntity]
    def companies_legal_entities_post(opts = {})
      data, _status_code, _headers = companies_legal_entities_post_with_http_info(opts)
      data
    end

    # Creates a Legal entity
    # Creates a Legal entity
    # @param [Hash] opts the optional parameters
    # @option opts [CompaniesLegalEntitiesPostRequest] :companies_legal_entities_post_request 
    # @return [Array<(CompaniesLegalEntity, Integer, Hash)>] CompaniesLegalEntity data, response status code and response headers
    def companies_legal_entities_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompaniesLegalEntityApi.companies_legal_entities_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/companies/legal_entities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'companies_legal_entities_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesLegalEntity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompaniesLegalEntityApi.companies_legal_entities_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompaniesLegalEntityApi#companies_legal_entities_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
