=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class CompensationsAdditionalCompensationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Additional compensations
    # Retrieves additional compensations. At least one of `ids`, `contract_version_ids`, `employee_ids`, or `payroll_concept_ids` must be supplied to scope the response.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by additional compensation ids
    # @option opts [Array<String>] :contract_version_ids Filter by contract version ids, refers to contracts/contract_versions endpoint.
    # @option opts [Array<String>] :employee_ids Filter by employee ids, refers to employees/employees endpoint.
    # @option opts [Array<String>] :payroll_concept_ids Filter by payroll concept ids, refers to compensations/concepts endpoint.
    # @return [CompensationsAdditionalCompensationsGet200Response]
    def compensations_additional_compensations_get(opts = {})
      data, _status_code, _headers = compensations_additional_compensations_get_with_http_info(opts)
      data
    end

    # Reads all Additional compensations
    # Retrieves additional compensations. At least one of &#x60;ids&#x60;, &#x60;contract_version_ids&#x60;, &#x60;employee_ids&#x60;, or &#x60;payroll_concept_ids&#x60; must be supplied to scope the response.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by additional compensation ids
    # @option opts [Array<String>] :contract_version_ids Filter by contract version ids, refers to contracts/contract_versions endpoint.
    # @option opts [Array<String>] :employee_ids Filter by employee ids, refers to employees/employees endpoint.
    # @option opts [Array<String>] :payroll_concept_ids Filter by payroll concept ids, refers to compensations/concepts endpoint.
    # @return [Array<(CompensationsAdditionalCompensationsGet200Response, Integer, Hash)>] CompensationsAdditionalCompensationsGet200Response data, response status code and response headers
    def compensations_additional_compensations_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsAdditionalCompensationApi.compensations_additional_compensations_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/additional_compensations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'contract_version_ids[]'] = @api_client.build_collection_param(opts[:'contract_version_ids'], :multi) if !opts[:'contract_version_ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'payroll_concept_ids[]'] = @api_client.build_collection_param(opts[:'payroll_concept_ids'], :multi) if !opts[:'payroll_concept_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsAdditionalCompensationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsAdditionalCompensationApi.compensations_additional_compensations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsAdditionalCompensationApi#compensations_additional_compensations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an Additional compensation
    # Deletes an additional compensation. Cascades to the linked amount strategy and (when applicable) per-worked-day definition, and re-points any compensation policies that referenced the destroyed strategy.
    # @param id [String] Additional compensation id to delete
    # @param [Hash] opts the optional parameters
    # @return [CompensationsAdditionalCompensation]
    def compensations_additional_compensations_id_delete(id, opts = {})
      data, _status_code, _headers = compensations_additional_compensations_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes an Additional compensation
    # Deletes an additional compensation. Cascades to the linked amount strategy and (when applicable) per-worked-day definition, and re-points any compensation policies that referenced the destroyed strategy.
    # @param id [String] Additional compensation id to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompensationsAdditionalCompensation, Integer, Hash)>] CompensationsAdditionalCompensation data, response status code and response headers
    def compensations_additional_compensations_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsAdditionalCompensationApi.compensations_additional_compensations_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsAdditionalCompensationApi.compensations_additional_compensations_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/additional_compensations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsAdditionalCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsAdditionalCompensationApi.compensations_additional_compensations_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsAdditionalCompensationApi#compensations_additional_compensations_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Additional compensation
    # Retrieves additional compensations. At least one of `ids`, `contract_version_ids`, `employee_ids`, or `payroll_concept_ids` must be supplied to scope the response.
    # @param id [String] Filter by additional compensation ids
    # @param [Hash] opts the optional parameters
    # @return [CompensationsAdditionalCompensation]
    def compensations_additional_compensations_id_get(id, opts = {})
      data, _status_code, _headers = compensations_additional_compensations_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Additional compensation
    # Retrieves additional compensations. At least one of &#x60;ids&#x60;, &#x60;contract_version_ids&#x60;, &#x60;employee_ids&#x60;, or &#x60;payroll_concept_ids&#x60; must be supplied to scope the response.
    # @param id [String] Filter by additional compensation ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompensationsAdditionalCompensation, Integer, Hash)>] CompensationsAdditionalCompensation data, response status code and response headers
    def compensations_additional_compensations_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsAdditionalCompensationApi.compensations_additional_compensations_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsAdditionalCompensationApi.compensations_additional_compensations_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/additional_compensations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsAdditionalCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsAdditionalCompensationApi.compensations_additional_compensations_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsAdditionalCompensationApi#compensations_additional_compensations_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Additional compensation
    # Updates an additional compensation. Identity fields (`contract_version_id`, `payroll_concept_id`, `company_id`) are immutable once created.
    # @param id [String] Additional compensation id
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsAdditionalCompensationsIdPutRequest] :compensations_additional_compensations_id_put_request 
    # @return [CompensationsAdditionalCompensation]
    def compensations_additional_compensations_id_put(id, opts = {})
      data, _status_code, _headers = compensations_additional_compensations_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Additional compensation
    # Updates an additional compensation. Identity fields (&#x60;contract_version_id&#x60;, &#x60;payroll_concept_id&#x60;, &#x60;company_id&#x60;) are immutable once created.
    # @param id [String] Additional compensation id
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsAdditionalCompensationsIdPutRequest] :compensations_additional_compensations_id_put_request 
    # @return [Array<(CompensationsAdditionalCompensation, Integer, Hash)>] CompensationsAdditionalCompensation data, response status code and response headers
    def compensations_additional_compensations_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsAdditionalCompensationApi.compensations_additional_compensations_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsAdditionalCompensationApi.compensations_additional_compensations_id_put"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/additional_compensations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'compensations_additional_compensations_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsAdditionalCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsAdditionalCompensationApi.compensations_additional_compensations_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsAdditionalCompensationApi#compensations_additional_compensations_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an Additional compensation
    # Creates an additional compensation for a contract version.
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsAdditionalCompensationsPostRequest] :compensations_additional_compensations_post_request 
    # @return [CompensationsAdditionalCompensation]
    def compensations_additional_compensations_post(opts = {})
      data, _status_code, _headers = compensations_additional_compensations_post_with_http_info(opts)
      data
    end

    # Creates an Additional compensation
    # Creates an additional compensation for a contract version.
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsAdditionalCompensationsPostRequest] :compensations_additional_compensations_post_request 
    # @return [Array<(CompensationsAdditionalCompensation, Integer, Hash)>] CompensationsAdditionalCompensation data, response status code and response headers
    def compensations_additional_compensations_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsAdditionalCompensationApi.compensations_additional_compensations_post ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/additional_compensations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'compensations_additional_compensations_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsAdditionalCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsAdditionalCompensationApi.compensations_additional_compensations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsAdditionalCompensationApi#compensations_additional_compensations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
