=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class CompensationsConceptApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Concepts
    # Retrieves compensation concepts (custom and default)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by concept ids
    # @option opts [Array<String>] :categories Return only the concepts in these categories: &#x60;earnings_fixed_salary&#x60;, &#x60;earnings_variable&#x60;, &#x60;earnings_benefits_in_kind&#x60;, &#x60;earnings_others&#x60;, &#x60;deductions&#x60;, &#x60;company_contribution&#x60; or &#x60;summarized_values&#x60;.
    # @option opts [Boolean] :with_active_status When true, returns only active concepts
    # @option opts [Boolean] :enabled When true, returns active concepts only; when false, only inactive
    # @option opts [Boolean] :default Set to true to return only the concepts Factorial ships by default, leaving out the ones the company created itself. Passing false has no effect.
    # @return [CompensationsConceptsGet200Response]
    def compensations_concepts_get(opts = {})
      data, _status_code, _headers = compensations_concepts_get_with_http_info(opts)
      data
    end

    # Reads all Concepts
    # Retrieves compensation concepts (custom and default)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by concept ids
    # @option opts [Array<String>] :categories Return only the concepts in these categories: &#x60;earnings_fixed_salary&#x60;, &#x60;earnings_variable&#x60;, &#x60;earnings_benefits_in_kind&#x60;, &#x60;earnings_others&#x60;, &#x60;deductions&#x60;, &#x60;company_contribution&#x60; or &#x60;summarized_values&#x60;.
    # @option opts [Boolean] :with_active_status When true, returns only active concepts
    # @option opts [Boolean] :enabled When true, returns active concepts only; when false, only inactive
    # @option opts [Boolean] :default Set to true to return only the concepts Factorial ships by default, leaving out the ones the company created itself. Passing false has no effect.
    # @return [Array<(CompensationsConceptsGet200Response, Integer, Hash)>] CompensationsConceptsGet200Response data, response status code and response headers
    def compensations_concepts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsConceptApi.compensations_concepts_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/concepts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'categories[]'] = @api_client.build_collection_param(opts[:'categories'], :multi) if !opts[:'categories'].nil?
      query_params[:'with_active_status'] = opts[:'with_active_status'] if !opts[:'with_active_status'].nil?
      query_params[:'enabled'] = opts[:'enabled'] if !opts[:'enabled'].nil?
      query_params[:'default'] = opts[:'default'] if !opts[:'default'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsConceptsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsConceptApi.compensations_concepts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsConceptApi#compensations_concepts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Concept
    # Retrieves compensation concepts (custom and default)
    # @param id [String] Filter by concept ids
    # @param [Hash] opts the optional parameters
    # @return [CompensationsConcept]
    def compensations_concepts_id_get(id, opts = {})
      data, _status_code, _headers = compensations_concepts_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Concept
    # Retrieves compensation concepts (custom and default)
    # @param id [String] Filter by concept ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompensationsConcept, Integer, Hash)>] CompensationsConcept data, response status code and response headers
    def compensations_concepts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsConceptApi.compensations_concepts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsConceptApi.compensations_concepts_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/concepts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsConcept'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsConceptApi.compensations_concepts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsConceptApi#compensations_concepts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Concept
    # Updates an existing concept. For default concepts, only the `enabled` flag may be changed.
    # @param id [String] The identifier of the concept to update
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsConceptsIdPutRequest] :compensations_concepts_id_put_request 
    # @return [CompensationsConcept]
    def compensations_concepts_id_put(id, opts = {})
      data, _status_code, _headers = compensations_concepts_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Concept
    # Updates an existing concept. For default concepts, only the &#x60;enabled&#x60; flag may be changed.
    # @param id [String] The identifier of the concept to update
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsConceptsIdPutRequest] :compensations_concepts_id_put_request 
    # @return [Array<(CompensationsConcept, Integer, Hash)>] CompensationsConcept data, response status code and response headers
    def compensations_concepts_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsConceptApi.compensations_concepts_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsConceptApi.compensations_concepts_id_put"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/concepts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'compensations_concepts_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsConcept'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsConceptApi.compensations_concepts_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsConceptApi#compensations_concepts_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Concept
    # Creates a new custom compensation concept
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsConceptsPostRequest] :compensations_concepts_post_request 
    # @return [CompensationsConcept]
    def compensations_concepts_post(opts = {})
      data, _status_code, _headers = compensations_concepts_post_with_http_info(opts)
      data
    end

    # Creates a Concept
    # Creates a new custom compensation concept
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsConceptsPostRequest] :compensations_concepts_post_request 
    # @return [Array<(CompensationsConcept, Integer, Hash)>] CompensationsConcept data, response status code and response headers
    def compensations_concepts_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsConceptApi.compensations_concepts_post ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/concepts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'compensations_concepts_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsConcept'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsConceptApi.compensations_concepts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsConceptApi#compensations_concepts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
