=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class CompensationsPayrollRunEmployeesCompensationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Payroll run employees compensations
    # Retrieves payroll-run employee compensation records.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Payroll run employee compensation ids
    # @option opts [Array<String>] :payroll_run_ids Filter by payroll run ids, refers to compensations/payroll_runs endpoint.
    # @option opts [Array<String>] :payroll_run_employee_ids Filter by employee ids (participants of the payroll run)
    # @option opts [Array<String>] :payroll_concept_ids Filter by payroll concept ids, refers to compensations/concepts endpoint.
    # @option opts [String] :result_type Filter by record projection type — &#x60;compensation&#x60; (input) or &#x60;payroll_result&#x60; (computed)
    # @option opts [Array<String>] :legal_entity_ids Filter by legal entity ids, refers to companies/legal_entities endpoint.
    # @return [CompensationsPayrollRunEmployeesCompensationsGet200Response]
    def compensations_payroll_run_employees_compensations_get(opts = {})
      data, _status_code, _headers = compensations_payroll_run_employees_compensations_get_with_http_info(opts)
      data
    end

    # Reads all Payroll run employees compensations
    # Retrieves payroll-run employee compensation records.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Payroll run employee compensation ids
    # @option opts [Array<String>] :payroll_run_ids Filter by payroll run ids, refers to compensations/payroll_runs endpoint.
    # @option opts [Array<String>] :payroll_run_employee_ids Filter by employee ids (participants of the payroll run)
    # @option opts [Array<String>] :payroll_concept_ids Filter by payroll concept ids, refers to compensations/concepts endpoint.
    # @option opts [String] :result_type Filter by record projection type — &#x60;compensation&#x60; (input) or &#x60;payroll_result&#x60; (computed)
    # @option opts [Array<String>] :legal_entity_ids Filter by legal entity ids, refers to companies/legal_entities endpoint.
    # @return [Array<(CompensationsPayrollRunEmployeesCompensationsGet200Response, Integer, Hash)>] CompensationsPayrollRunEmployeesCompensationsGet200Response data, response status code and response headers
    def compensations_payroll_run_employees_compensations_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsPayrollRunEmployeesCompensationApi.compensations_payroll_run_employees_compensations_get ...'
      end
      allowable_values = ["compensation", "payroll_result"]
      if @api_client.config.client_side_validation && opts[:'result_type'] && !allowable_values.include?(opts[:'result_type'])
        fail ArgumentError, "invalid value for \"result_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/payroll_run_employees_compensations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'payroll_run_ids[]'] = @api_client.build_collection_param(opts[:'payroll_run_ids'], :multi) if !opts[:'payroll_run_ids'].nil?
      query_params[:'payroll_run_employee_ids[]'] = @api_client.build_collection_param(opts[:'payroll_run_employee_ids'], :multi) if !opts[:'payroll_run_employee_ids'].nil?
      query_params[:'payroll_concept_ids[]'] = @api_client.build_collection_param(opts[:'payroll_concept_ids'], :multi) if !opts[:'payroll_concept_ids'].nil?
      query_params[:'result_type'] = opts[:'result_type'] if !opts[:'result_type'].nil?
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsPayrollRunEmployeesCompensationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsPayrollRunEmployeesCompensationApi.compensations_payroll_run_employees_compensations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsPayrollRunEmployeesCompensationApi#compensations_payroll_run_employees_compensations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Payroll run employees compensation
    # Retrieves payroll-run employee compensation records.
    # @param id [String] Payroll run employee compensation ids
    # @param [Hash] opts the optional parameters
    # @return [CompensationsPayrollRunEmployeesCompensation]
    def compensations_payroll_run_employees_compensations_id_get(id, opts = {})
      data, _status_code, _headers = compensations_payroll_run_employees_compensations_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Payroll run employees compensation
    # Retrieves payroll-run employee compensation records.
    # @param id [String] Payroll run employee compensation ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompensationsPayrollRunEmployeesCompensation, Integer, Hash)>] CompensationsPayrollRunEmployeesCompensation data, response status code and response headers
    def compensations_payroll_run_employees_compensations_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsPayrollRunEmployeesCompensationApi.compensations_payroll_run_employees_compensations_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsPayrollRunEmployeesCompensationApi.compensations_payroll_run_employees_compensations_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/payroll_run_employees_compensations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsPayrollRunEmployeesCompensation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsPayrollRunEmployeesCompensationApi.compensations_payroll_run_employees_compensations_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsPayrollRunEmployeesCompensationApi#compensations_payroll_run_employees_compensations_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
