=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class CompensationsPayrollRunApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Payroll runs
    # Retrieves payroll runs
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by payroll run ids
    # @option opts [String] :from Lower bound for the run end date (ends_on &gt;&#x3D; from)
    # @option opts [String] :to Upper bound for the run start date (starts_on &lt;&#x3D; to)
    # @option opts [String] :company_id Filter by company id (single)
    # @option opts [Array<String>] :cycle_ids Filter by parent cycle ids
    # @option opts [Array<String>] :statuses Filter by run statuses
    # @option opts [Array<String>] :payment_types Filter by payment types (regular, extra_pay)
    # @option opts [Boolean] :include_hidden Include hidden cycles&#39; runs in the response
    # @return [CompensationsPayrollRunsGet200Response]
    def compensations_payroll_runs_get(opts = {})
      data, _status_code, _headers = compensations_payroll_runs_get_with_http_info(opts)
      data
    end

    # Reads all Payroll runs
    # Retrieves payroll runs
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by payroll run ids
    # @option opts [String] :from Lower bound for the run end date (ends_on &gt;&#x3D; from)
    # @option opts [String] :to Upper bound for the run start date (starts_on &lt;&#x3D; to)
    # @option opts [String] :company_id Filter by company id (single)
    # @option opts [Array<String>] :cycle_ids Filter by parent cycle ids
    # @option opts [Array<String>] :statuses Filter by run statuses
    # @option opts [Array<String>] :payment_types Filter by payment types (regular, extra_pay)
    # @option opts [Boolean] :include_hidden Include hidden cycles&#39; runs in the response
    # @return [Array<(CompensationsPayrollRunsGet200Response, Integer, Hash)>] CompensationsPayrollRunsGet200Response data, response status code and response headers
    def compensations_payroll_runs_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsPayrollRunApi.compensations_payroll_runs_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/payroll_runs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'cycle_ids[]'] = @api_client.build_collection_param(opts[:'cycle_ids'], :multi) if !opts[:'cycle_ids'].nil?
      query_params[:'statuses[]'] = @api_client.build_collection_param(opts[:'statuses'], :multi) if !opts[:'statuses'].nil?
      query_params[:'payment_types[]'] = @api_client.build_collection_param(opts[:'payment_types'], :multi) if !opts[:'payment_types'].nil?
      query_params[:'include_hidden'] = opts[:'include_hidden'] if !opts[:'include_hidden'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsPayrollRunsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsPayrollRunApi.compensations_payroll_runs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsPayrollRunApi#compensations_payroll_runs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Payroll run
    # Retrieves payroll runs
    # @param id [String] Filter by payroll run ids
    # @param [Hash] opts the optional parameters
    # @return [CompensationsPayrollRun]
    def compensations_payroll_runs_id_get(id, opts = {})
      data, _status_code, _headers = compensations_payroll_runs_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Payroll run
    # Retrieves payroll runs
    # @param id [String] Filter by payroll run ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompensationsPayrollRun, Integer, Hash)>] CompensationsPayrollRun data, response status code and response headers
    def compensations_payroll_runs_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsPayrollRunApi.compensations_payroll_runs_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsPayrollRunApi.compensations_payroll_runs_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/payroll_runs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsPayrollRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsPayrollRunApi.compensations_payroll_runs_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsPayrollRunApi#compensations_payroll_runs_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
