=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class CompensationsPayrollResultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk creates a Payroll result
    # Imports payroll result amounts for employees of an existing payroll run, for example the figures returned by an external payroll provider. Only Factorial ids are accepted.  The import is atomic: the whole request is validated before anything is written, and any error rejects it entirely. A 4xx or 5xx response means nothing was written, so a failed request can be retried as is.  The request is rejected when: - it has no results, an employee entry has no items, it carries more than 1,000 amounts,   or it repeats an employee or a concept for the same employee - the payroll run, an employee or a payroll concept does not exist in the company - an employee is not part of the payroll run, that is, is not one of the employees   Factorial lists in that run. On regular runs the employee's contract must cover the run   period, they must not have been terminated more than 60 days before the run starts and,   when the run's cycle is limited to a people group, they must belong to it. Off-cycle   runs only apply the people group and a 365-day termination window. The error lists   these employees in `errors.employee_ids`, so they can be removed and the rest resent. - a concept is a base salary concept or is disabled - an employee entry does not include the company's net_pay concept (find its id with   compensations/concepts) - an amount is outside the signed 32-bit integer range  Re-posting an (employee, concept) pair replaces its amount and keeps the row id. Pairs not included in the request are left untouched; there is no delete. Split larger payrolls into requests of up to 1,000 amounts, keeping all of an employee's items in the same request. Requires the \"Import payroll results\" permission. 
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsPayrollResultsBulkCreatePostRequest] :compensations_payroll_results_bulk_create_post_request 
    # @return [Array<CompensationsPayrollResult>]
    def compensations_payroll_results_bulk_create_post(opts = {})
      data, _status_code, _headers = compensations_payroll_results_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Payroll result
    # Imports payroll result amounts for employees of an existing payroll run, for example the figures returned by an external payroll provider. Only Factorial ids are accepted.  The import is atomic: the whole request is validated before anything is written, and any error rejects it entirely. A 4xx or 5xx response means nothing was written, so a failed request can be retried as is.  The request is rejected when: - it has no results, an employee entry has no items, it carries more than 1,000 amounts,   or it repeats an employee or a concept for the same employee - the payroll run, an employee or a payroll concept does not exist in the company - an employee is not part of the payroll run, that is, is not one of the employees   Factorial lists in that run. On regular runs the employee&#39;s contract must cover the run   period, they must not have been terminated more than 60 days before the run starts and,   when the run&#39;s cycle is limited to a people group, they must belong to it. Off-cycle   runs only apply the people group and a 365-day termination window. The error lists   these employees in &#x60;errors.employee_ids&#x60;, so they can be removed and the rest resent. - a concept is a base salary concept or is disabled - an employee entry does not include the company&#39;s net_pay concept (find its id with   compensations/concepts) - an amount is outside the signed 32-bit integer range  Re-posting an (employee, concept) pair replaces its amount and keeps the row id. Pairs not included in the request are left untouched; there is no delete. Split larger payrolls into requests of up to 1,000 amounts, keeping all of an employee&#39;s items in the same request. Requires the \&quot;Import payroll results\&quot; permission. 
    # @param [Hash] opts the optional parameters
    # @option opts [CompensationsPayrollResultsBulkCreatePostRequest] :compensations_payroll_results_bulk_create_post_request 
    # @return [Array<(Array<CompensationsPayrollResult>, Integer, Hash)>] Array<CompensationsPayrollResult> data, response status code and response headers
    def compensations_payroll_results_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsPayrollResultApi.compensations_payroll_results_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/payroll_results/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'compensations_payroll_results_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CompensationsPayrollResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsPayrollResultApi.compensations_payroll_results_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsPayrollResultApi#compensations_payroll_results_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Payroll results
    # Retrieves payroll result rows (result_type=payroll_result)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Payroll result ids
    # @option opts [Array<String>] :payroll_run_ids Filter by payroll run ids, refers to compensations/payroll_runs endpoint.
    # @option opts [Array<String>] :cycle_ids Filter by parent cycle ids, refers to compensations/cycles endpoint.
    # @option opts [Array<String>] :payroll_run_employee_ids Filter by employee ids (participants of the payroll run)
    # @option opts [Array<String>] :payroll_concept_ids Filter by payroll concept ids, refers to compensations/concepts endpoint.
    # @return [CompensationsPayrollResultsGet200Response]
    def compensations_payroll_results_get(opts = {})
      data, _status_code, _headers = compensations_payroll_results_get_with_http_info(opts)
      data
    end

    # Reads all Payroll results
    # Retrieves payroll result rows (result_type&#x3D;payroll_result)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Payroll result ids
    # @option opts [Array<String>] :payroll_run_ids Filter by payroll run ids, refers to compensations/payroll_runs endpoint.
    # @option opts [Array<String>] :cycle_ids Filter by parent cycle ids, refers to compensations/cycles endpoint.
    # @option opts [Array<String>] :payroll_run_employee_ids Filter by employee ids (participants of the payroll run)
    # @option opts [Array<String>] :payroll_concept_ids Filter by payroll concept ids, refers to compensations/concepts endpoint.
    # @return [Array<(CompensationsPayrollResultsGet200Response, Integer, Hash)>] CompensationsPayrollResultsGet200Response data, response status code and response headers
    def compensations_payroll_results_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsPayrollResultApi.compensations_payroll_results_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/payroll_results'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'payroll_run_ids[]'] = @api_client.build_collection_param(opts[:'payroll_run_ids'], :multi) if !opts[:'payroll_run_ids'].nil?
      query_params[:'cycle_ids[]'] = @api_client.build_collection_param(opts[:'cycle_ids'], :multi) if !opts[:'cycle_ids'].nil?
      query_params[:'payroll_run_employee_ids[]'] = @api_client.build_collection_param(opts[:'payroll_run_employee_ids'], :multi) if !opts[:'payroll_run_employee_ids'].nil?
      query_params[:'payroll_concept_ids[]'] = @api_client.build_collection_param(opts[:'payroll_concept_ids'], :multi) if !opts[:'payroll_concept_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsPayrollResultsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsPayrollResultApi.compensations_payroll_results_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsPayrollResultApi#compensations_payroll_results_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Payroll result
    # Retrieves payroll result rows (result_type=payroll_result)
    # @param id [String] Payroll result ids
    # @param [Hash] opts the optional parameters
    # @return [CompensationsPayrollResult]
    def compensations_payroll_results_id_get(id, opts = {})
      data, _status_code, _headers = compensations_payroll_results_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Payroll result
    # Retrieves payroll result rows (result_type&#x3D;payroll_result)
    # @param id [String] Payroll result ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompensationsPayrollResult, Integer, Hash)>] CompensationsPayrollResult data, response status code and response headers
    def compensations_payroll_results_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompensationsPayrollResultApi.compensations_payroll_results_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CompensationsPayrollResultApi.compensations_payroll_results_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/compensations/payroll_results/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompensationsPayrollResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CompensationsPayrollResultApi.compensations_payroll_results_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompensationsPayrollResultApi#compensations_payroll_results_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
