=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ContractsContractActivityPeriodApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List the activity periods of a contract.
    # Returns the activity and inactivity periods of a single contract, most recent first. Periods are derived from the contract's approved versions, so they reflect the contract as it stands today. A contract that does not exist, or that the caller is not allowed to see, returns an empty list.
    # @param contract_id [String] The contract whose periods are returned. Required — periods are computed per contract rather than stored, so they cannot be listed across a company.
    # @param [Hash] opts the optional parameters
    # @return [ContractsContractActivityPeriodsGet200Response]
    def contracts_contract_activity_periods_get(contract_id, opts = {})
      data, _status_code, _headers = contracts_contract_activity_periods_get_with_http_info(contract_id, opts)
      data
    end

    # List the activity periods of a contract.
    # Returns the activity and inactivity periods of a single contract, most recent first. Periods are derived from the contract&#39;s approved versions, so they reflect the contract as it stands today. A contract that does not exist, or that the caller is not allowed to see, returns an empty list.
    # @param contract_id [String] The contract whose periods are returned. Required — periods are computed per contract rather than stored, so they cannot be listed across a company.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractsContractActivityPeriodsGet200Response, Integer, Hash)>] ContractsContractActivityPeriodsGet200Response data, response status code and response headers
    def contracts_contract_activity_periods_get_with_http_info(contract_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractActivityPeriodApi.contracts_contract_activity_periods_get ...'
      end
      # verify the required parameter 'contract_id' is set
      if @api_client.config.client_side_validation && contract_id.nil?
        fail ArgumentError, "Missing the required parameter 'contract_id' when calling ContractsContractActivityPeriodApi.contracts_contract_activity_periods_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/contracts/contract_activity_periods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'contract_id'] = contract_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractActivityPeriodsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractActivityPeriodApi.contracts_contract_activity_periods_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractActivityPeriodApi#contracts_contract_activity_periods_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
