=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ContractsSpanishContractTypeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Spanish contract types
    # Reads all Spanish contract types
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids list of contract type identifiers.
    # @option opts [Boolean] :archived whether to show archived types or not.
    # @option opts [String] :contract_template_id Contract template identifier. Refers to contracts/contract_templates.
    # @return [ContractsSpanishContractTypesGet200Response]
    def contracts_spanish_contract_types_get(opts = {})
      data, _status_code, _headers = contracts_spanish_contract_types_get_with_http_info(opts)
      data
    end

    # Reads all Spanish contract types
    # Reads all Spanish contract types
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids list of contract type identifiers.
    # @option opts [Boolean] :archived whether to show archived types or not.
    # @option opts [String] :contract_template_id Contract template identifier. Refers to contracts/contract_templates.
    # @return [Array<(ContractsSpanishContractTypesGet200Response, Integer, Hash)>] ContractsSpanishContractTypesGet200Response data, response status code and response headers
    def contracts_spanish_contract_types_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsSpanishContractTypeApi.contracts_spanish_contract_types_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/spanish_contract_types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'archived'] = opts[:'archived'] if !opts[:'archived'].nil?
      query_params[:'contract_template_id'] = opts[:'contract_template_id'] if !opts[:'contract_template_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsSpanishContractTypesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsSpanishContractTypeApi.contracts_spanish_contract_types_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsSpanishContractTypeApi#contracts_spanish_contract_types_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Spanish contract type
    # Reads a single Spanish contract type
    # @param id [String] list of contract type identifiers.
    # @param [Hash] opts the optional parameters
    # @return [ContractsSpanishContractType]
    def contracts_spanish_contract_types_id_get(id, opts = {})
      data, _status_code, _headers = contracts_spanish_contract_types_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Spanish contract type
    # Reads a single Spanish contract type
    # @param id [String] list of contract type identifiers.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractsSpanishContractType, Integer, Hash)>] ContractsSpanishContractType data, response status code and response headers
    def contracts_spanish_contract_types_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsSpanishContractTypeApi.contracts_spanish_contract_types_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContractsSpanishContractTypeApi.contracts_spanish_contract_types_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/spanish_contract_types/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsSpanishContractType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsSpanishContractTypeApi.contracts_spanish_contract_types_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsSpanishContractTypeApi#contracts_spanish_contract_types_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Spanish contract type
    # Creates a Spanish contract type
    # @param [Hash] opts the optional parameters
    # @option opts [ContractsSpanishContractTypesPostRequest] :contracts_spanish_contract_types_post_request 
    # @return [ContractsSpanishContractType]
    def contracts_spanish_contract_types_post(opts = {})
      data, _status_code, _headers = contracts_spanish_contract_types_post_with_http_info(opts)
      data
    end

    # Creates a Spanish contract type
    # Creates a Spanish contract type
    # @param [Hash] opts the optional parameters
    # @option opts [ContractsSpanishContractTypesPostRequest] :contracts_spanish_contract_types_post_request 
    # @return [Array<(ContractsSpanishContractType, Integer, Hash)>] ContractsSpanishContractType data, response status code and response headers
    def contracts_spanish_contract_types_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsSpanishContractTypeApi.contracts_spanish_contract_types_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/spanish_contract_types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'contracts_spanish_contract_types_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsSpanishContractType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsSpanishContractTypeApi.contracts_spanish_contract_types_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsSpanishContractTypeApi#contracts_spanish_contract_types_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
