=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ContractsMaterializedTemplateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Materialized templates
    # Reads all Materialized templates
    # @param company_id [String] The identifier of the company whose templates you want to retrieve. All results are scoped to this company. 
    # @param template_type [String] The template level to retrieve. Use company to get the organization-wide base field definitions. Use country to get country-specific overrides merged with company defaults. Use legal_entity to get the final effective template for a specific legal entity, which is the most common use case when building contract creation or editing flows. 
    # @param include_archived [Boolean] When true, archived options are included in the response alongside active ones. Defaults to false, which returns only active options. Set to true when you need to display contracts that reference options that have since been archived. 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :legal_entity_ids Optional list of legal entity identifiers to filter results. When provided alongside template_type: legal_entity, returns only the materialized templates for those legal entities. Ignored for company and country template types. 
    # @option opts [Array<String>] :countries Optional list of ISO 3166-1 alpha-2 country codes to filter results. When provided alongside template_type: country, returns only templates for those countries. When used with template_type: legal_entity, narrows results to legal entities operating in those countries. 
    # @option opts [Array<String>] :field_ids Optional list of field identifiers to filter the template fields returned. When provided, each materialized template will only include fields whose field_id matches one of the values in this list. Use this to retrieve a specific subset of fields (e.g. [\&quot;contract_type\&quot;]) without fetching the full template structure. 
    # @return [ContractsMaterializedTemplatesGet200Response]
    def contracts_materialized_templates_get(company_id, template_type, include_archived, opts = {})
      data, _status_code, _headers = contracts_materialized_templates_get_with_http_info(company_id, template_type, include_archived, opts)
      data
    end

    # Reads all Materialized templates
    # Reads all Materialized templates
    # @param company_id [String] The identifier of the company whose templates you want to retrieve. All results are scoped to this company. 
    # @param template_type [String] The template level to retrieve. Use company to get the organization-wide base field definitions. Use country to get country-specific overrides merged with company defaults. Use legal_entity to get the final effective template for a specific legal entity, which is the most common use case when building contract creation or editing flows. 
    # @param include_archived [Boolean] When true, archived options are included in the response alongside active ones. Defaults to false, which returns only active options. Set to true when you need to display contracts that reference options that have since been archived. 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :legal_entity_ids Optional list of legal entity identifiers to filter results. When provided alongside template_type: legal_entity, returns only the materialized templates for those legal entities. Ignored for company and country template types. 
    # @option opts [Array<String>] :countries Optional list of ISO 3166-1 alpha-2 country codes to filter results. When provided alongside template_type: country, returns only templates for those countries. When used with template_type: legal_entity, narrows results to legal entities operating in those countries. 
    # @option opts [Array<String>] :field_ids Optional list of field identifiers to filter the template fields returned. When provided, each materialized template will only include fields whose field_id matches one of the values in this list. Use this to retrieve a specific subset of fields (e.g. [\&quot;contract_type\&quot;]) without fetching the full template structure. 
    # @return [Array<(ContractsMaterializedTemplatesGet200Response, Integer, Hash)>] ContractsMaterializedTemplatesGet200Response data, response status code and response headers
    def contracts_materialized_templates_get_with_http_info(company_id, template_type, include_archived, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsMaterializedTemplateApi.contracts_materialized_templates_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ContractsMaterializedTemplateApi.contracts_materialized_templates_get"
      end
      # verify the required parameter 'template_type' is set
      if @api_client.config.client_side_validation && template_type.nil?
        fail ArgumentError, "Missing the required parameter 'template_type' when calling ContractsMaterializedTemplateApi.contracts_materialized_templates_get"
      end
      # verify enum value
      allowable_values = ["company", "country", "legal_entity", "contract_type"]
      if @api_client.config.client_side_validation && !allowable_values.include?(template_type)
        fail ArgumentError, "invalid value for \"template_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'include_archived' is set
      if @api_client.config.client_side_validation && include_archived.nil?
        fail ArgumentError, "Missing the required parameter 'include_archived' when calling ContractsMaterializedTemplateApi.contracts_materialized_templates_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/materialized_templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = company_id
      query_params[:'template_type'] = template_type
      query_params[:'include_archived'] = include_archived
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?
      query_params[:'countries[]'] = @api_client.build_collection_param(opts[:'countries'], :multi) if !opts[:'countries'].nil?
      query_params[:'field_ids[]'] = @api_client.build_collection_param(opts[:'field_ids'], :multi) if !opts[:'field_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsMaterializedTemplatesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsMaterializedTemplateApi.contracts_materialized_templates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsMaterializedTemplateApi#contracts_materialized_templates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
