=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ContractsContractVersionMetaDatumApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Contract version meta data
    # Reads all Contract version meta data
    # @param contract_version_ids [Array<String>] list of contract version ids identifiers.
    # @param [Hash] opts the optional parameters
    # @return [ContractsContractVersionMetaDataGet200Response]
    def contracts_contract_version_meta_data_get(contract_version_ids, opts = {})
      data, _status_code, _headers = contracts_contract_version_meta_data_get_with_http_info(contract_version_ids, opts)
      data
    end

    # Reads all Contract version meta data
    # Reads all Contract version meta data
    # @param contract_version_ids [Array<String>] list of contract version ids identifiers.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractsContractVersionMetaDataGet200Response, Integer, Hash)>] ContractsContractVersionMetaDataGet200Response data, response status code and response headers
    def contracts_contract_version_meta_data_get_with_http_info(contract_version_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractVersionMetaDatumApi.contracts_contract_version_meta_data_get ...'
      end
      # verify the required parameter 'contract_version_ids' is set
      if @api_client.config.client_side_validation && contract_version_ids.nil?
        fail ArgumentError, "Missing the required parameter 'contract_version_ids' when calling ContractsContractVersionMetaDatumApi.contracts_contract_version_meta_data_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/contract_version_meta_data'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'contract_version_ids[]'] = @api_client.build_collection_param(contract_version_ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractVersionMetaDataGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractVersionMetaDatumApi.contracts_contract_version_meta_data_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractVersionMetaDatumApi#contracts_contract_version_meta_data_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
