=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ContractsContractVersionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Contract versions
    # Reads all Contract versions
    # @param job_catalog_tree_node_uuids [Array<String>] the uuid of nodes in the job catalog tree. As only level nodes are accepted and persisted, so filtering with other node types will return no results. Refer to job_catalog/tree_nodes endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids list of contract version identifiers.
    # @option opts [Array<String>] :employee_ids list of employee identifiers, refers to /employees/employees endpoint.
    # @option opts [String] :date filters contracts of employees with effective_on date less or equal than the given date.
    # @option opts [String] :updated_at_gteq Filter contract versions updated on or after this timestamp (ISO 8601). 
    # @option opts [String] :updated_at_lteq Filter contract versions updated on or before this timestamp (ISO 8601). 
    # @return [ContractsContractVersionsGet200Response]
    def contracts_contract_versions_get(job_catalog_tree_node_uuids, opts = {})
      data, _status_code, _headers = contracts_contract_versions_get_with_http_info(job_catalog_tree_node_uuids, opts)
      data
    end

    # Reads all Contract versions
    # Reads all Contract versions
    # @param job_catalog_tree_node_uuids [Array<String>] the uuid of nodes in the job catalog tree. As only level nodes are accepted and persisted, so filtering with other node types will return no results. Refer to job_catalog/tree_nodes endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids list of contract version identifiers.
    # @option opts [Array<String>] :employee_ids list of employee identifiers, refers to /employees/employees endpoint.
    # @option opts [String] :date filters contracts of employees with effective_on date less or equal than the given date.
    # @option opts [String] :updated_at_gteq Filter contract versions updated on or after this timestamp (ISO 8601). 
    # @option opts [String] :updated_at_lteq Filter contract versions updated on or before this timestamp (ISO 8601). 
    # @return [Array<(ContractsContractVersionsGet200Response, Integer, Hash)>] ContractsContractVersionsGet200Response data, response status code and response headers
    def contracts_contract_versions_get_with_http_info(job_catalog_tree_node_uuids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractVersionApi.contracts_contract_versions_get ...'
      end
      # verify the required parameter 'job_catalog_tree_node_uuids' is set
      if @api_client.config.client_side_validation && job_catalog_tree_node_uuids.nil?
        fail ArgumentError, "Missing the required parameter 'job_catalog_tree_node_uuids' when calling ContractsContractVersionApi.contracts_contract_versions_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/contract_versions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'job_catalog_tree_node_uuids[]'] = @api_client.build_collection_param(job_catalog_tree_node_uuids, :multi)
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?
      query_params[:'updated_at_gteq'] = opts[:'updated_at_gteq'] if !opts[:'updated_at_gteq'].nil?
      query_params[:'updated_at_lteq'] = opts[:'updated_at_lteq'] if !opts[:'updated_at_lteq'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractVersionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractVersionApi.contracts_contract_versions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractVersionApi#contracts_contract_versions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Contract version
    # Deletes a Contract version
    # @param id [String] contract version identifier.
    # @param [Hash] opts the optional parameters
    # @return [ContractsContractVersion]
    def contracts_contract_versions_id_delete(id, opts = {})
      data, _status_code, _headers = contracts_contract_versions_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Contract version
    # Deletes a Contract version
    # @param id [String] contract version identifier.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractsContractVersion, Integer, Hash)>] ContractsContractVersion data, response status code and response headers
    def contracts_contract_versions_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractVersionApi.contracts_contract_versions_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContractsContractVersionApi.contracts_contract_versions_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/contract_versions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractVersionApi.contracts_contract_versions_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractVersionApi#contracts_contract_versions_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Contract version
    # Reads a single Contract version
    # @param id [String] list of contract version identifiers.
    # @param [Hash] opts the optional parameters
    # @return [ContractsContractVersion]
    def contracts_contract_versions_id_get(id, opts = {})
      data, _status_code, _headers = contracts_contract_versions_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Contract version
    # Reads a single Contract version
    # @param id [String] list of contract version identifiers.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractsContractVersion, Integer, Hash)>] ContractsContractVersion data, response status code and response headers
    def contracts_contract_versions_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractVersionApi.contracts_contract_versions_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContractsContractVersionApi.contracts_contract_versions_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/contract_versions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractVersionApi.contracts_contract_versions_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractVersionApi#contracts_contract_versions_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Contract version
    # Updates a Contract version
    # @param id [String] contract version identifier.
    # @param [Hash] opts the optional parameters
    # @option opts [ContractsContractVersionsIdPutRequest] :contracts_contract_versions_id_put_request 
    # @return [ContractsContractVersion]
    def contracts_contract_versions_id_put(id, opts = {})
      data, _status_code, _headers = contracts_contract_versions_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Contract version
    # Updates a Contract version
    # @param id [String] contract version identifier.
    # @param [Hash] opts the optional parameters
    # @option opts [ContractsContractVersionsIdPutRequest] :contracts_contract_versions_id_put_request 
    # @return [Array<(ContractsContractVersion, Integer, Hash)>] ContractsContractVersion data, response status code and response headers
    def contracts_contract_versions_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractVersionApi.contracts_contract_versions_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContractsContractVersionApi.contracts_contract_versions_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/contract_versions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'contracts_contract_versions_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractVersionApi.contracts_contract_versions_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractVersionApi#contracts_contract_versions_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Contract version
    # Creates a Contract version
    # @param [Hash] opts the optional parameters
    # @option opts [ContractsContractVersionsPostRequest] :contracts_contract_versions_post_request 
    # @return [ContractsContractVersion]
    def contracts_contract_versions_post(opts = {})
      data, _status_code, _headers = contracts_contract_versions_post_with_http_info(opts)
      data
    end

    # Creates a Contract version
    # Creates a Contract version
    # @param [Hash] opts the optional parameters
    # @option opts [ContractsContractVersionsPostRequest] :contracts_contract_versions_post_request 
    # @return [Array<(ContractsContractVersion, Integer, Hash)>] ContractsContractVersion data, response status code and response headers
    def contracts_contract_versions_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractVersionApi.contracts_contract_versions_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/contract_versions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'contracts_contract_versions_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractVersionApi.contracts_contract_versions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractVersionApi#contracts_contract_versions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
