=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ContractsContractVersionHistoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Contract version histories
    # Reads all Contract version histories
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids the ids of the contract versions.
    # @option opts [Array<String>] :contract_version_ids the ids of the contract versions.
    # @option opts [Array<String>] :employee_ids the ids of the employees.
    # @option opts [String] :current_on the date to filter the contract version histories.
    # @option opts [String] :changes_lteq the date to filter the contract version histories.
    # @option opts [String] :changes_gteq the date to filter the contract version histories.
    # @return [ContractsContractVersionHistoriesGet200Response]
    def contracts_contract_version_histories_get(opts = {})
      data, _status_code, _headers = contracts_contract_version_histories_get_with_http_info(opts)
      data
    end

    # Reads all Contract version histories
    # Reads all Contract version histories
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids the ids of the contract versions.
    # @option opts [Array<String>] :contract_version_ids the ids of the contract versions.
    # @option opts [Array<String>] :employee_ids the ids of the employees.
    # @option opts [String] :current_on the date to filter the contract version histories.
    # @option opts [String] :changes_lteq the date to filter the contract version histories.
    # @option opts [String] :changes_gteq the date to filter the contract version histories.
    # @return [Array<(ContractsContractVersionHistoriesGet200Response, Integer, Hash)>] ContractsContractVersionHistoriesGet200Response data, response status code and response headers
    def contracts_contract_version_histories_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractVersionHistoryApi.contracts_contract_version_histories_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/contract_version_histories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'contract_version_ids[]'] = @api_client.build_collection_param(opts[:'contract_version_ids'], :multi) if !opts[:'contract_version_ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'current_on'] = opts[:'current_on'] if !opts[:'current_on'].nil?
      query_params[:'changes_lteq'] = opts[:'changes_lteq'] if !opts[:'changes_lteq'].nil?
      query_params[:'changes_gteq'] = opts[:'changes_gteq'] if !opts[:'changes_gteq'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractVersionHistoriesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractVersionHistoryApi.contracts_contract_version_histories_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractVersionHistoryApi#contracts_contract_version_histories_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Contract version history
    # Reads a single Contract version history
    # @param id [String] the ids of the contract versions.
    # @param [Hash] opts the optional parameters
    # @return [ContractsContractVersionHistory]
    def contracts_contract_version_histories_id_get(id, opts = {})
      data, _status_code, _headers = contracts_contract_version_histories_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Contract version history
    # Reads a single Contract version history
    # @param id [String] the ids of the contract versions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractsContractVersionHistory, Integer, Hash)>] ContractsContractVersionHistory data, response status code and response headers
    def contracts_contract_version_histories_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractVersionHistoryApi.contracts_contract_version_histories_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContractsContractVersionHistoryApi.contracts_contract_version_histories_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/contract_version_histories/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractVersionHistory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractVersionHistoryApi.contracts_contract_version_histories_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractVersionHistoryApi#contracts_contract_version_histories_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
