=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ContractsContractApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Contracts
    # Reads all Contracts
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Return only the contracts with these ids.
    # @option opts [Array<String>] :employee_ids Return only the contracts of these employees.
    # @option opts [String] :starts_on Return only the contracts starting exactly on this date. This is an equality match on the contract&#39;s start date, not a lower bound.
    # @return [ContractsContractsGet200Response]
    def contracts_contracts_get(opts = {})
      data, _status_code, _headers = contracts_contracts_get_with_http_info(opts)
      data
    end

    # Reads all Contracts
    # Reads all Contracts
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Return only the contracts with these ids.
    # @option opts [Array<String>] :employee_ids Return only the contracts of these employees.
    # @option opts [String] :starts_on Return only the contracts starting exactly on this date. This is an equality match on the contract&#39;s start date, not a lower bound.
    # @return [Array<(ContractsContractsGet200Response, Integer, Hash)>] ContractsContractsGet200Response data, response status code and response headers
    def contracts_contracts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractApi.contracts_contracts_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/contracts/contracts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'starts_on'] = opts[:'starts_on'] if !opts[:'starts_on'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractApi.contracts_contracts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractApi#contracts_contracts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Contract
    # Reads a single Contract
    # @param id [String] Return only the contracts with these ids.
    # @param [Hash] opts the optional parameters
    # @return [ContractsContract]
    def contracts_contracts_id_get(id, opts = {})
      data, _status_code, _headers = contracts_contracts_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Contract
    # Reads a single Contract
    # @param id [String] Return only the contracts with these ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractsContract, Integer, Hash)>] ContractsContract data, response status code and response headers
    def contracts_contracts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsContractApi.contracts_contracts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ContractsContractApi.contracts_contracts_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/contracts/contracts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContract'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsContractApi.contracts_contracts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsContractApi#contracts_contracts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
