=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ContractsReferenceContractApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Reference contracts
    # Reads all Reference Contracts. The reference contract is the contract that applies today. If no contract applies today, we will return the nearest upcoming contract. If there are no upcoming contracts, we will provide the most recent past contract.
    # @param job_catalog_tree_node_uuids [Array<String>] the uuid of nodes in the job catalog tree.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :employee_ids filter by employee ids.
    # @return [ContractsContractVersionsGet200Response]
    def contracts_reference_contracts_get(job_catalog_tree_node_uuids, opts = {})
      data, _status_code, _headers = contracts_reference_contracts_get_with_http_info(job_catalog_tree_node_uuids, opts)
      data
    end

    # Reads all Reference contracts
    # Reads all Reference Contracts. The reference contract is the contract that applies today. If no contract applies today, we will return the nearest upcoming contract. If there are no upcoming contracts, we will provide the most recent past contract.
    # @param job_catalog_tree_node_uuids [Array<String>] the uuid of nodes in the job catalog tree.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :employee_ids filter by employee ids.
    # @return [Array<(ContractsContractVersionsGet200Response, Integer, Hash)>] ContractsContractVersionsGet200Response data, response status code and response headers
    def contracts_reference_contracts_get_with_http_info(job_catalog_tree_node_uuids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractsReferenceContractApi.contracts_reference_contracts_get ...'
      end
      # verify the required parameter 'job_catalog_tree_node_uuids' is set
      if @api_client.config.client_side_validation && job_catalog_tree_node_uuids.nil?
        fail ArgumentError, "Missing the required parameter 'job_catalog_tree_node_uuids' when calling ContractsReferenceContractApi.contracts_reference_contracts_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/contracts/reference_contracts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'job_catalog_tree_node_uuids[]'] = @api_client.build_collection_param(job_catalog_tree_node_uuids, :multi)
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractsContractVersionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ContractsReferenceContractApi.contracts_reference_contracts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractsReferenceContractApi#contracts_reference_contracts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
