=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class CustomFieldsValueApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Values
    # Reads all Values
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :employee_ids Employee identifiers to filter custom field values by
    # @option opts [Array<String>] :identifiers Custom field to filter by identifier
    # @option opts [Array<String>] :ids Custom field value identifiers to filter by
    # @option opts [String] :instance_id Identifier of the instance that the custom field value is attached to
    # @option opts [String] :value Custom field value to filter by
    # @option opts [String] :slug Custom field slug to filter by
    # @option opts [String] :field_id Custom field identifier to filter by
    # @option opts [String] :updated_at_gteq Filter values updated on or after this date (ISO 8601 format).
    # @return [CustomFieldsValuesGet200Response]
    def custom_fields_values_get(opts = {})
      data, _status_code, _headers = custom_fields_values_get_with_http_info(opts)
      data
    end

    # Reads all Values
    # Reads all Values
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :employee_ids Employee identifiers to filter custom field values by
    # @option opts [Array<String>] :identifiers Custom field to filter by identifier
    # @option opts [Array<String>] :ids Custom field value identifiers to filter by
    # @option opts [String] :instance_id Identifier of the instance that the custom field value is attached to
    # @option opts [String] :value Custom field value to filter by
    # @option opts [String] :slug Custom field slug to filter by
    # @option opts [String] :field_id Custom field identifier to filter by
    # @option opts [String] :updated_at_gteq Filter values updated on or after this date (ISO 8601 format).
    # @return [Array<(CustomFieldsValuesGet200Response, Integer, Hash)>] CustomFieldsValuesGet200Response data, response status code and response headers
    def custom_fields_values_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsValueApi.custom_fields_values_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/values'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'identifiers[]'] = @api_client.build_collection_param(opts[:'identifiers'], :multi) if !opts[:'identifiers'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'instance_id'] = opts[:'instance_id'] if !opts[:'instance_id'].nil?
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?
      query_params[:'slug'] = opts[:'slug'] if !opts[:'slug'].nil?
      query_params[:'field_id'] = opts[:'field_id'] if !opts[:'field_id'].nil?
      query_params[:'updated_at_gteq'] = opts[:'updated_at_gteq'] if !opts[:'updated_at_gteq'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsValuesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsValueApi.custom_fields_values_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsValueApi#custom_fields_values_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Value
    # Reads a single Value
    # @param id [String] Custom field value identifiers to filter by
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldsValue]
    def custom_fields_values_id_get(id, opts = {})
      data, _status_code, _headers = custom_fields_values_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Value
    # Reads a single Value
    # @param id [String] Custom field value identifiers to filter by
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldsValue, Integer, Hash)>] CustomFieldsValue data, response status code and response headers
    def custom_fields_values_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsValueApi.custom_fields_values_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldsValueApi.custom_fields_values_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/values/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsValue'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsValueApi.custom_fields_values_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsValueApi#custom_fields_values_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Value
    # Updates a Value
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CustomFieldsValuesIdPutRequest] :custom_fields_values_id_put_request 
    # @return [CustomFieldsValue]
    def custom_fields_values_id_put(id, opts = {})
      data, _status_code, _headers = custom_fields_values_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Value
    # Updates a Value
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CustomFieldsValuesIdPutRequest] :custom_fields_values_id_put_request 
    # @return [Array<(CustomFieldsValue, Integer, Hash)>] CustomFieldsValue data, response status code and response headers
    def custom_fields_values_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsValueApi.custom_fields_values_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldsValueApi.custom_fields_values_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/values/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'custom_fields_values_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsValue'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsValueApi.custom_fields_values_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsValueApi#custom_fields_values_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Value
    # Creates a Value
    # @param [Hash] opts the optional parameters
    # @option opts [CustomFieldsValuesPostRequest] :custom_fields_values_post_request 
    # @return [CustomFieldsValue]
    def custom_fields_values_post(opts = {})
      data, _status_code, _headers = custom_fields_values_post_with_http_info(opts)
      data
    end

    # Creates a Value
    # Creates a Value
    # @param [Hash] opts the optional parameters
    # @option opts [CustomFieldsValuesPostRequest] :custom_fields_values_post_request 
    # @return [Array<(CustomFieldsValue, Integer, Hash)>] CustomFieldsValue data, response status code and response headers
    def custom_fields_values_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsValueApi.custom_fields_values_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/values'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'custom_fields_values_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsValue'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsValueApi.custom_fields_values_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsValueApi#custom_fields_values_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
