=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class CustomFieldsFieldApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Fields
    # Reads all Fields
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Field identifiers
    # @option opts [String] :field_type Filter fields by type
    # @option opts [String] :label Field label
    # @option opts [String] :slug Custom field slug
    # @option opts [String] :company_id Company identifier where this field belongs
    # @return [CustomFieldsFieldsGet200Response]
    def custom_fields_fields_get(opts = {})
      data, _status_code, _headers = custom_fields_fields_get_with_http_info(opts)
      data
    end

    # Reads all Fields
    # Reads all Fields
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Field identifiers
    # @option opts [String] :field_type Filter fields by type
    # @option opts [String] :label Field label
    # @option opts [String] :slug Custom field slug
    # @option opts [String] :company_id Company identifier where this field belongs
    # @return [Array<(CustomFieldsFieldsGet200Response, Integer, Hash)>] CustomFieldsFieldsGet200Response data, response status code and response headers
    def custom_fields_fields_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsFieldApi.custom_fields_fields_get ...'
      end
      allowable_values = ["text", "long_text", "date", "rating", "checkbox", "single_choice", "multiple_choice", "money", "cents"]
      if @api_client.config.client_side_validation && opts[:'field_type'] && !allowable_values.include?(opts[:'field_type'])
        fail ArgumentError, "invalid value for \"field_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/fields'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'field_type'] = opts[:'field_type'] if !opts[:'field_type'].nil?
      query_params[:'label'] = opts[:'label'] if !opts[:'label'].nil?
      query_params[:'slug'] = opts[:'slug'] if !opts[:'slug'].nil?
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsFieldsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsFieldApi.custom_fields_fields_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsFieldApi#custom_fields_fields_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Field
    # Deletes a Field
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldsField]
    def custom_fields_fields_id_delete(id, opts = {})
      data, _status_code, _headers = custom_fields_fields_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Field
    # Deletes a Field
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldsField, Integer, Hash)>] CustomFieldsField data, response status code and response headers
    def custom_fields_fields_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsFieldApi.custom_fields_fields_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldsFieldApi.custom_fields_fields_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/fields/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsField'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsFieldApi.custom_fields_fields_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsFieldApi#custom_fields_fields_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Field
    # Reads a single Field
    # @param id [String] Field identifiers
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldsField]
    def custom_fields_fields_id_get(id, opts = {})
      data, _status_code, _headers = custom_fields_fields_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Field
    # Reads a single Field
    # @param id [String] Field identifiers
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldsField, Integer, Hash)>] CustomFieldsField data, response status code and response headers
    def custom_fields_fields_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsFieldApi.custom_fields_fields_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldsFieldApi.custom_fields_fields_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/fields/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsField'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsFieldApi.custom_fields_fields_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsFieldApi#custom_fields_fields_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Field
    # Creates a Field
    # @param [Hash] opts the optional parameters
    # @option opts [CustomFieldsFieldsPostRequest] :custom_fields_fields_post_request 
    # @return [CustomFieldsField]
    def custom_fields_fields_post(opts = {})
      data, _status_code, _headers = custom_fields_fields_post_with_http_info(opts)
      data
    end

    # Creates a Field
    # Creates a Field
    # @param [Hash] opts the optional parameters
    # @option opts [CustomFieldsFieldsPostRequest] :custom_fields_fields_post_request 
    # @return [Array<(CustomFieldsField, Integer, Hash)>] CustomFieldsField data, response status code and response headers
    def custom_fields_fields_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsFieldApi.custom_fields_fields_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/fields'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'custom_fields_fields_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsField'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsFieldApi.custom_fields_fields_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsFieldApi#custom_fields_fields_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
