=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class CustomFieldsResourceFieldApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Resource fields
    # Reads schema custom fields
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Resource field identifiers
    # @option opts [Array<String>] :field_ids Custom Field identifiers
    # @option opts [Array<String>] :schema_ids Custom Resources Schema identifiers
    # @return [CustomFieldsResourceFieldsGet200Response]
    def custom_fields_resource_fields_get(opts = {})
      data, _status_code, _headers = custom_fields_resource_fields_get_with_http_info(opts)
      data
    end

    # Reads all Resource fields
    # Reads schema custom fields
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Resource field identifiers
    # @option opts [Array<String>] :field_ids Custom Field identifiers
    # @option opts [Array<String>] :schema_ids Custom Resources Schema identifiers
    # @return [Array<(CustomFieldsResourceFieldsGet200Response, Integer, Hash)>] CustomFieldsResourceFieldsGet200Response data, response status code and response headers
    def custom_fields_resource_fields_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsResourceFieldApi.custom_fields_resource_fields_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/resource_fields'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'field_ids[]'] = @api_client.build_collection_param(opts[:'field_ids'], :multi) if !opts[:'field_ids'].nil?
      query_params[:'schema_ids[]'] = @api_client.build_collection_param(opts[:'schema_ids'], :multi) if !opts[:'schema_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsResourceFieldsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsResourceFieldApi.custom_fields_resource_fields_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsResourceFieldApi#custom_fields_resource_fields_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Resource field
    # Reads schema custom fields
    # @param id [String] Resource field identifiers
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldsResourceField]
    def custom_fields_resource_fields_id_get(id, opts = {})
      data, _status_code, _headers = custom_fields_resource_fields_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Resource field
    # Reads schema custom fields
    # @param id [String] Resource field identifiers
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldsResourceField, Integer, Hash)>] CustomFieldsResourceField data, response status code and response headers
    def custom_fields_resource_fields_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsResourceFieldApi.custom_fields_resource_fields_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldsResourceFieldApi.custom_fields_resource_fields_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/resource_fields/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsResourceField'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsResourceFieldApi.custom_fields_resource_fields_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsResourceFieldApi#custom_fields_resource_fields_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Resource field
    # Creates an schema custom field
    # @param [Hash] opts the optional parameters
    # @option opts [CustomFieldsResourceFieldsPostRequest] :custom_fields_resource_fields_post_request 
    # @return [CustomFieldsResourceField]
    def custom_fields_resource_fields_post(opts = {})
      data, _status_code, _headers = custom_fields_resource_fields_post_with_http_info(opts)
      data
    end

    # Creates a Resource field
    # Creates an schema custom field
    # @param [Hash] opts the optional parameters
    # @option opts [CustomFieldsResourceFieldsPostRequest] :custom_fields_resource_fields_post_request 
    # @return [Array<(CustomFieldsResourceField, Integer, Hash)>] CustomFieldsResourceField data, response status code and response headers
    def custom_fields_resource_fields_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsResourceFieldApi.custom_fields_resource_fields_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/custom_fields/resource_fields'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'custom_fields_resource_fields_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsResourceField'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"CustomFieldsResourceFieldApi.custom_fields_resource_fields_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsResourceFieldApi#custom_fields_resource_fields_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
