=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class DocumentsDocumentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Documents
    # Reads all Documents
    # @param by_pending_assignment [Boolean] flag to indicate if the document is pending assignment.
    # @param by_trash_bin [Boolean] flag to indicate if the document is in the trash bin.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :by_bookkeeper_documents flag to indicate if the document belongs to a bookkeeper.
    # @option opts [Boolean] :by_without_folder flag to indicate if the document doesn&#39;t have a folder.
    # @option opts [Array<String>] :employee_ids list of employee identifiers.
    # @option opts [String] :folder_id folder identifier.
    # @option opts [Array<String>] :ids list of document identifiers.
    # @option opts [String] :leave_id leave identifier associated to the document, refers to /timeoff/leaves endpoint.
    # @return [DocumentsDocumentsGet200Response]
    def documents_documents_get(by_pending_assignment, by_trash_bin, opts = {})
      data, _status_code, _headers = documents_documents_get_with_http_info(by_pending_assignment, by_trash_bin, opts)
      data
    end

    # Reads all Documents
    # Reads all Documents
    # @param by_pending_assignment [Boolean] flag to indicate if the document is pending assignment.
    # @param by_trash_bin [Boolean] flag to indicate if the document is in the trash bin.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :by_bookkeeper_documents flag to indicate if the document belongs to a bookkeeper.
    # @option opts [Boolean] :by_without_folder flag to indicate if the document doesn&#39;t have a folder.
    # @option opts [Array<String>] :employee_ids list of employee identifiers.
    # @option opts [String] :folder_id folder identifier.
    # @option opts [Array<String>] :ids list of document identifiers.
    # @option opts [String] :leave_id leave identifier associated to the document, refers to /timeoff/leaves endpoint.
    # @return [Array<(DocumentsDocumentsGet200Response, Integer, Hash)>] DocumentsDocumentsGet200Response data, response status code and response headers
    def documents_documents_get_with_http_info(by_pending_assignment, by_trash_bin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsDocumentApi.documents_documents_get ...'
      end
      # verify the required parameter 'by_pending_assignment' is set
      if @api_client.config.client_side_validation && by_pending_assignment.nil?
        fail ArgumentError, "Missing the required parameter 'by_pending_assignment' when calling DocumentsDocumentApi.documents_documents_get"
      end
      # verify the required parameter 'by_trash_bin' is set
      if @api_client.config.client_side_validation && by_trash_bin.nil?
        fail ArgumentError, "Missing the required parameter 'by_trash_bin' when calling DocumentsDocumentApi.documents_documents_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/documents/documents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'by_pending_assignment'] = by_pending_assignment
      query_params[:'by_trash_bin'] = by_trash_bin
      query_params[:'by_bookkeeper_documents'] = opts[:'by_bookkeeper_documents'] if !opts[:'by_bookkeeper_documents'].nil?
      query_params[:'by_without_folder'] = opts[:'by_without_folder'] if !opts[:'by_without_folder'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'folder_id'] = opts[:'folder_id'] if !opts[:'folder_id'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'leave_id'] = opts[:'leave_id'] if !opts[:'leave_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentsDocumentsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"DocumentsDocumentApi.documents_documents_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsDocumentApi#documents_documents_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Document
    # Deletes a Document
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DocumentsDocument]
    def documents_documents_id_delete(id, opts = {})
      data, _status_code, _headers = documents_documents_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Document
    # Deletes a Document
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentsDocument, Integer, Hash)>] DocumentsDocument data, response status code and response headers
    def documents_documents_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsDocumentApi.documents_documents_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DocumentsDocumentApi.documents_documents_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/documents/documents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentsDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"DocumentsDocumentApi.documents_documents_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsDocumentApi#documents_documents_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Document
    # Reads a single Document
    # @param id [String] list of document identifiers.
    # @param [Hash] opts the optional parameters
    # @return [DocumentsDocument]
    def documents_documents_id_get(id, opts = {})
      data, _status_code, _headers = documents_documents_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Document
    # Reads a single Document
    # @param id [String] list of document identifiers.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentsDocument, Integer, Hash)>] DocumentsDocument data, response status code and response headers
    def documents_documents_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsDocumentApi.documents_documents_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DocumentsDocumentApi.documents_documents_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/documents/documents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentsDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"DocumentsDocumentApi.documents_documents_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsDocumentApi#documents_documents_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Document
    # Updates a Document
    # @param id [String] document identifiers.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentsDocumentsIdPutRequest] :documents_documents_id_put_request 
    # @return [DocumentsDocument]
    def documents_documents_id_put(id, opts = {})
      data, _status_code, _headers = documents_documents_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Document
    # Updates a Document
    # @param id [String] document identifiers.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentsDocumentsIdPutRequest] :documents_documents_id_put_request 
    # @return [Array<(DocumentsDocument, Integer, Hash)>] DocumentsDocument data, response status code and response headers
    def documents_documents_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsDocumentApi.documents_documents_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DocumentsDocumentApi.documents_documents_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/documents/documents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'documents_documents_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentsDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"DocumentsDocumentApi.documents_documents_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsDocumentApi#documents_documents_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Move to trash bins a Document
    # This endpoint moves the documents to the trash bin, after 30 days they will be deleted from the system.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentsDocumentsMoveToTrashBinPostRequest] :documents_documents_move_to_trash_bin_post_request 
    # @return [Array<DocumentsDocument>]
    def documents_documents_move_to_trash_bin_post(opts = {})
      data, _status_code, _headers = documents_documents_move_to_trash_bin_post_with_http_info(opts)
      data
    end

    # Move to trash bins a Document
    # This endpoint moves the documents to the trash bin, after 30 days they will be deleted from the system.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentsDocumentsMoveToTrashBinPostRequest] :documents_documents_move_to_trash_bin_post_request 
    # @return [Array<(Array<DocumentsDocument>, Integer, Hash)>] Array<DocumentsDocument> data, response status code and response headers
    def documents_documents_move_to_trash_bin_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsDocumentApi.documents_documents_move_to_trash_bin_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/documents/documents/move_to_trash_bin'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'documents_documents_move_to_trash_bin_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<DocumentsDocument>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"DocumentsDocumentApi.documents_documents_move_to_trash_bin_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsDocumentApi#documents_documents_move_to_trash_bin_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Document
    # Creates a Document
    # @param public [Boolean] flag to indicate if the document is public.
    # @param space [String] document space, in case of employee_my_documents it&#39;s necessary to fill employee_id.
    # @param is_pending_assignment [Boolean] flag that indicates if the document is pending assignment.
    # @param file [File] file to upload, the binary file.
    # @param author_id [String] access identifier of the author, refers to /employees/employees endpoint.
    # @param company_id [String] company identifier, refers to /api/me endpoint.
    # @param signee_ids [Array<String>] list of user access identifiers associated to the document, refers to /employees/employees endpoint.
    # @param request_esignature [Boolean] flag to indicate if the document requires an electronic signature.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder_id folder identifier, references to documents/folders endpoint.
    # @option opts [String] :file_filename final name of the file, even if the file has been uploaded with a different name.
    # @option opts [String] :leave_id leave identifier associated to the document, refers to /timeoff/leaves endpoint.
    # @option opts [String] :employee_id employee identifier associated to the document.
    # @return [DocumentsDocument]
    def documents_documents_post(public, space, is_pending_assignment, file, author_id, company_id, signee_ids, request_esignature, opts = {})
      data, _status_code, _headers = documents_documents_post_with_http_info(public, space, is_pending_assignment, file, author_id, company_id, signee_ids, request_esignature, opts)
      data
    end

    # Creates a Document
    # Creates a Document
    # @param public [Boolean] flag to indicate if the document is public.
    # @param space [String] document space, in case of employee_my_documents it&#39;s necessary to fill employee_id.
    # @param is_pending_assignment [Boolean] flag that indicates if the document is pending assignment.
    # @param file [File] file to upload, the binary file.
    # @param author_id [String] access identifier of the author, refers to /employees/employees endpoint.
    # @param company_id [String] company identifier, refers to /api/me endpoint.
    # @param signee_ids [Array<String>] list of user access identifiers associated to the document, refers to /employees/employees endpoint.
    # @param request_esignature [Boolean] flag to indicate if the document requires an electronic signature.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :folder_id folder identifier, references to documents/folders endpoint.
    # @option opts [String] :file_filename final name of the file, even if the file has been uploaded with a different name.
    # @option opts [String] :leave_id leave identifier associated to the document, refers to /timeoff/leaves endpoint.
    # @option opts [String] :employee_id employee identifier associated to the document.
    # @return [Array<(DocumentsDocument, Integer, Hash)>] DocumentsDocument data, response status code and response headers
    def documents_documents_post_with_http_info(public, space, is_pending_assignment, file, author_id, company_id, signee_ids, request_esignature, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsDocumentApi.documents_documents_post ...'
      end
      # verify the required parameter 'public' is set
      if @api_client.config.client_side_validation && public.nil?
        fail ArgumentError, "Missing the required parameter 'public' when calling DocumentsDocumentApi.documents_documents_post"
      end
      # verify the required parameter 'space' is set
      if @api_client.config.client_side_validation && space.nil?
        fail ArgumentError, "Missing the required parameter 'space' when calling DocumentsDocumentApi.documents_documents_post"
      end
      # verify enum value
      allowable_values = ["employee_my_documents", "company_public", "company_internal", "pending_to_assign", "pending_to_destroy"]
      if @api_client.config.client_side_validation && !allowable_values.include?(space)
        fail ArgumentError, "invalid value for \"space\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'is_pending_assignment' is set
      if @api_client.config.client_side_validation && is_pending_assignment.nil?
        fail ArgumentError, "Missing the required parameter 'is_pending_assignment' when calling DocumentsDocumentApi.documents_documents_post"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling DocumentsDocumentApi.documents_documents_post"
      end
      # verify the required parameter 'author_id' is set
      if @api_client.config.client_side_validation && author_id.nil?
        fail ArgumentError, "Missing the required parameter 'author_id' when calling DocumentsDocumentApi.documents_documents_post"
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling DocumentsDocumentApi.documents_documents_post"
      end
      # verify the required parameter 'signee_ids' is set
      if @api_client.config.client_side_validation && signee_ids.nil?
        fail ArgumentError, "Missing the required parameter 'signee_ids' when calling DocumentsDocumentApi.documents_documents_post"
      end
      # verify the required parameter 'request_esignature' is set
      if @api_client.config.client_side_validation && request_esignature.nil?
        fail ArgumentError, "Missing the required parameter 'request_esignature' when calling DocumentsDocumentApi.documents_documents_post"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/documents/documents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['public'] = public
      form_params['space'] = space
      form_params['is_pending_assignment'] = is_pending_assignment
      form_params['file'] = file
      form_params['author_id'] = author_id
      form_params['company_id'] = company_id
      form_params['signee_ids[]'] = @api_client.build_collection_param(signee_ids, :csv)
      form_params['request_esignature'] = request_esignature
      form_params['folder_id'] = opts[:'folder_id'] if !opts[:'folder_id'].nil?
      form_params['file_filename'] = opts[:'file_filename'] if !opts[:'file_filename'].nil?
      form_params['leave_id'] = opts[:'leave_id'] if !opts[:'leave_id'].nil?
      form_params['employee_id'] = opts[:'employee_id'] if !opts[:'employee_id'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentsDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"DocumentsDocumentApi.documents_documents_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsDocumentApi#documents_documents_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore from trash bins a Document
    # This endpoint restores the documents from the trash bin, remember that a document in the trash bin will be deleted from the system after 30 days.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentsDocumentsMoveToTrashBinPostRequest] :documents_documents_move_to_trash_bin_post_request 
    # @return [Array<DocumentsDocument>]
    def documents_documents_restore_from_trash_bin_post(opts = {})
      data, _status_code, _headers = documents_documents_restore_from_trash_bin_post_with_http_info(opts)
      data
    end

    # Restore from trash bins a Document
    # This endpoint restores the documents from the trash bin, remember that a document in the trash bin will be deleted from the system after 30 days.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentsDocumentsMoveToTrashBinPostRequest] :documents_documents_move_to_trash_bin_post_request 
    # @return [Array<(Array<DocumentsDocument>, Integer, Hash)>] Array<DocumentsDocument> data, response status code and response headers
    def documents_documents_restore_from_trash_bin_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsDocumentApi.documents_documents_restore_from_trash_bin_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/documents/documents/restore_from_trash_bin'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'documents_documents_move_to_trash_bin_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<DocumentsDocument>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"DocumentsDocumentApi.documents_documents_restore_from_trash_bin_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsDocumentApi#documents_documents_restore_from_trash_bin_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
