=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class EmployeeUpdatesSummaryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Summaries
    # This endpoint can be used to retrieve a list of `employee updates`.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids retrieve only the &#x60;employee updates&#x60; that matches the &#x60;ids&#x60; passed in the request.
    # @option opts [Array<String>] :employee_ids retrieve only the &#x60;employee updates&#x60; assigned to any &#x60;employee&#x60; specified in the request.
    # @option opts [Array<String>] :legal_entities_ids retrieve only the &#x60;employee updates&#x60; assigned to any &#x60;legal entity&#x60; specified in the request.
    # @option opts [Array<String>] :type filter &#x60;employee updates&#x60; that have the given type. The supported types are: sick, parental, name, id, address, irpf, bank, residence, nationality, gender, hiring, custom-leave, termination, contract, workplace, manual_incidence, legal_entity
    # @option opts [String] :starts_on filter &#x60;employee updates&#x60; that started **later** the given param.
    # @option opts [String] :ends_on filter &#x60;employee updates&#x60; that started **before** the given param.
    # @return [EmployeeUpdatesSummariesGet200Response]
    def employee_updates_summaries_get(opts = {})
      data, _status_code, _headers = employee_updates_summaries_get_with_http_info(opts)
      data
    end

    # Reads all Summaries
    # This endpoint can be used to retrieve a list of &#x60;employee updates&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids retrieve only the &#x60;employee updates&#x60; that matches the &#x60;ids&#x60; passed in the request.
    # @option opts [Array<String>] :employee_ids retrieve only the &#x60;employee updates&#x60; assigned to any &#x60;employee&#x60; specified in the request.
    # @option opts [Array<String>] :legal_entities_ids retrieve only the &#x60;employee updates&#x60; assigned to any &#x60;legal entity&#x60; specified in the request.
    # @option opts [Array<String>] :type filter &#x60;employee updates&#x60; that have the given type. The supported types are: sick, parental, name, id, address, irpf, bank, residence, nationality, gender, hiring, custom-leave, termination, contract, workplace, manual_incidence, legal_entity
    # @option opts [String] :starts_on filter &#x60;employee updates&#x60; that started **later** the given param.
    # @option opts [String] :ends_on filter &#x60;employee updates&#x60; that started **before** the given param.
    # @return [Array<(EmployeeUpdatesSummariesGet200Response, Integer, Hash)>] EmployeeUpdatesSummariesGet200Response data, response status code and response headers
    def employee_updates_summaries_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeUpdatesSummaryApi.employee_updates_summaries_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employee_updates/summaries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'legal_entities_ids[]'] = @api_client.build_collection_param(opts[:'legal_entities_ids'], :multi) if !opts[:'legal_entities_ids'].nil?
      query_params[:'type[]'] = @api_client.build_collection_param(opts[:'type'], :multi) if !opts[:'type'].nil?
      query_params[:'starts_on'] = opts[:'starts_on'] if !opts[:'starts_on'].nil?
      query_params[:'ends_on'] = opts[:'ends_on'] if !opts[:'ends_on'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeUpdatesSummariesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeeUpdatesSummaryApi.employee_updates_summaries_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeUpdatesSummaryApi#employee_updates_summaries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Summary
    # This endpoint can be used to retrieve a list of `employee updates`.
    # @param id [String] retrieve only the &#x60;employee updates&#x60; that matches the &#x60;ids&#x60; passed in the request.
    # @param [Hash] opts the optional parameters
    # @return [EmployeeUpdatesSummary]
    def employee_updates_summaries_id_get(id, opts = {})
      data, _status_code, _headers = employee_updates_summaries_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Summary
    # This endpoint can be used to retrieve a list of &#x60;employee updates&#x60;.
    # @param id [String] retrieve only the &#x60;employee updates&#x60; that matches the &#x60;ids&#x60; passed in the request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmployeeUpdatesSummary, Integer, Hash)>] EmployeeUpdatesSummary data, response status code and response headers
    def employee_updates_summaries_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeUpdatesSummaryApi.employee_updates_summaries_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmployeeUpdatesSummaryApi.employee_updates_summaries_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employee_updates/summaries/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeUpdatesSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeeUpdatesSummaryApi.employee_updates_summaries_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeUpdatesSummaryApi#employee_updates_summaries_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
