=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class EmployeesEmployeeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create with contracts an Employee
    # Create an employee with a contract
    # @param [Hash] opts the optional parameters
    # @option opts [EmployeesEmployeesCreateWithContractPostRequest] :employees_employees_create_with_contract_post_request 
    # @return [EmployeesEmployee]
    def employees_employees_create_with_contract_post(opts = {})
      data, _status_code, _headers = employees_employees_create_with_contract_post_with_http_info(opts)
      data
    end

    # Create with contracts an Employee
    # Create an employee with a contract
    # @param [Hash] opts the optional parameters
    # @option opts [EmployeesEmployeesCreateWithContractPostRequest] :employees_employees_create_with_contract_post_request 
    # @return [Array<(EmployeesEmployee, Integer, Hash)>] EmployeesEmployee data, response status code and response headers
    def employees_employees_create_with_contract_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesEmployeeApi.employees_employees_create_with_contract_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employees/employees/create_with_contract'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employees_employees_create_with_contract_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeesEmployee'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeesEmployeeApi.employees_employees_create_with_contract_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesEmployeeApi#employees_employees_create_with_contract_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Employees
    # Only admins can see all the employees' information, regular users will get a restricted version of the payload as a response based on the permission set by the admin
    # @param only_active [Boolean] get only active employees
    # @param only_managers [Boolean] get only manager employees.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids filter by employee ids.
    # @option opts [Array<String>] :access_ids filter by employee access ids.
    # @option opts [Array<String>] :emails filter by employee emails.
    # @option opts [String] :full_text_name filter by employee name.
    # @option opts [String] :updated_at_gteq Filter employees by their latest update timestamp (&#x60;updated_at&#x60;), on or after this date. Only the date is considered; any time component is ignored (matching starts at 00:00:00 of the given date). Note: &#x60;updated_at&#x60; only stores the most recent update, so an employee updated multiple times is matched solely by its latest update, not by earlier ones.
    # @option opts [Array<String>] :legal_entity_ids filter by legal entity id (refereces to companies/legal_entities).
    # @option opts [String] :company_identifier filter by employee company identifier.
    # @option opts [Array<String>] :team_ids filter employees by team id (references to core/teams).
    # @option opts [Array<String>] :location_ids filter employees by location id (references to locations/location).
    # @option opts [String] :name_starts_with filter by employee names that start with the given text.
    # @return [EmployeesEmployeesGet200Response]
    def employees_employees_get(only_active, only_managers, opts = {})
      data, _status_code, _headers = employees_employees_get_with_http_info(only_active, only_managers, opts)
      data
    end

    # Reads all Employees
    # Only admins can see all the employees&#39; information, regular users will get a restricted version of the payload as a response based on the permission set by the admin
    # @param only_active [Boolean] get only active employees
    # @param only_managers [Boolean] get only manager employees.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids filter by employee ids.
    # @option opts [Array<String>] :access_ids filter by employee access ids.
    # @option opts [Array<String>] :emails filter by employee emails.
    # @option opts [String] :full_text_name filter by employee name.
    # @option opts [String] :updated_at_gteq Filter employees by their latest update timestamp (&#x60;updated_at&#x60;), on or after this date. Only the date is considered; any time component is ignored (matching starts at 00:00:00 of the given date). Note: &#x60;updated_at&#x60; only stores the most recent update, so an employee updated multiple times is matched solely by its latest update, not by earlier ones.
    # @option opts [Array<String>] :legal_entity_ids filter by legal entity id (refereces to companies/legal_entities).
    # @option opts [String] :company_identifier filter by employee company identifier.
    # @option opts [Array<String>] :team_ids filter employees by team id (references to core/teams).
    # @option opts [Array<String>] :location_ids filter employees by location id (references to locations/location).
    # @option opts [String] :name_starts_with filter by employee names that start with the given text.
    # @return [Array<(EmployeesEmployeesGet200Response, Integer, Hash)>] EmployeesEmployeesGet200Response data, response status code and response headers
    def employees_employees_get_with_http_info(only_active, only_managers, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesEmployeeApi.employees_employees_get ...'
      end
      # verify the required parameter 'only_active' is set
      if @api_client.config.client_side_validation && only_active.nil?
        fail ArgumentError, "Missing the required parameter 'only_active' when calling EmployeesEmployeeApi.employees_employees_get"
      end
      # verify the required parameter 'only_managers' is set
      if @api_client.config.client_side_validation && only_managers.nil?
        fail ArgumentError, "Missing the required parameter 'only_managers' when calling EmployeesEmployeeApi.employees_employees_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employees/employees'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'only_active'] = only_active
      query_params[:'only_managers'] = only_managers
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'access_ids[]'] = @api_client.build_collection_param(opts[:'access_ids'], :multi) if !opts[:'access_ids'].nil?
      query_params[:'emails[]'] = @api_client.build_collection_param(opts[:'emails'], :multi) if !opts[:'emails'].nil?
      query_params[:'full_text_name'] = opts[:'full_text_name'] if !opts[:'full_text_name'].nil?
      query_params[:'updated_at_gteq'] = opts[:'updated_at_gteq'] if !opts[:'updated_at_gteq'].nil?
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?
      query_params[:'company_identifier'] = opts[:'company_identifier'] if !opts[:'company_identifier'].nil?
      query_params[:'team_ids[]'] = @api_client.build_collection_param(opts[:'team_ids'], :multi) if !opts[:'team_ids'].nil?
      query_params[:'location_ids[]'] = @api_client.build_collection_param(opts[:'location_ids'], :multi) if !opts[:'location_ids'].nil?
      query_params[:'name_starts_with'] = opts[:'name_starts_with'] if !opts[:'name_starts_with'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeesEmployeesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeesEmployeeApi.employees_employees_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesEmployeeApi#employees_employees_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Employee
    # Only admins can see all the employees' information, regular users will get a restricted version of the payload as a response based on the permission set by the admin
    # @param id [String] filter by employee ids.
    # @param [Hash] opts the optional parameters
    # @return [EmployeesEmployee]
    def employees_employees_id_get(id, opts = {})
      data, _status_code, _headers = employees_employees_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Employee
    # Only admins can see all the employees&#39; information, regular users will get a restricted version of the payload as a response based on the permission set by the admin
    # @param id [String] filter by employee ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmployeesEmployee, Integer, Hash)>] EmployeesEmployee data, response status code and response headers
    def employees_employees_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesEmployeeApi.employees_employees_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmployeesEmployeeApi.employees_employees_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employees/employees/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeesEmployee'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeesEmployeeApi.employees_employees_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesEmployeeApi#employees_employees_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Employee
    # Updates an Employee
    # @param id [String] id of the employee.
    # @param [Hash] opts the optional parameters
    # @option opts [EmployeesEmployeesIdPutRequest] :employees_employees_id_put_request 
    # @return [EmployeesEmployee]
    def employees_employees_id_put(id, opts = {})
      data, _status_code, _headers = employees_employees_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Employee
    # Updates an Employee
    # @param id [String] id of the employee.
    # @param [Hash] opts the optional parameters
    # @option opts [EmployeesEmployeesIdPutRequest] :employees_employees_id_put_request 
    # @return [Array<(EmployeesEmployee, Integer, Hash)>] EmployeesEmployee data, response status code and response headers
    def employees_employees_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesEmployeeApi.employees_employees_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmployeesEmployeeApi.employees_employees_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employees/employees/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employees_employees_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeesEmployee'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeesEmployeeApi.employees_employees_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesEmployeeApi#employees_employees_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invites an Employee
    # Send an email invitation to an unconfirmed employee to join Factorial
    # @param [Hash] opts the optional parameters
    # @option opts [EmployeesEmployeesInvitePostRequest] :employees_employees_invite_post_request 
    # @return [EmployeesEmployee]
    def employees_employees_invite_post(opts = {})
      data, _status_code, _headers = employees_employees_invite_post_with_http_info(opts)
      data
    end

    # Invites an Employee
    # Send an email invitation to an unconfirmed employee to join Factorial
    # @param [Hash] opts the optional parameters
    # @option opts [EmployeesEmployeesInvitePostRequest] :employees_employees_invite_post_request 
    # @return [Array<(EmployeesEmployee, Integer, Hash)>] EmployeesEmployee data, response status code and response headers
    def employees_employees_invite_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesEmployeeApi.employees_employees_invite_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employees/employees/invite'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employees_employees_invite_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeesEmployee'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeesEmployeeApi.employees_employees_invite_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesEmployeeApi#employees_employees_invite_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set regular access start dates an Employee
    # Set regular access start dates an Employee
    # @param [Hash] opts the optional parameters
    # @option opts [EmployeesEmployeesSetRegularAccessStartDatePostRequest] :employees_employees_set_regular_access_start_date_post_request 
    # @return [EmployeesEmployee]
    def employees_employees_set_regular_access_start_date_post(opts = {})
      data, _status_code, _headers = employees_employees_set_regular_access_start_date_post_with_http_info(opts)
      data
    end

    # Set regular access start dates an Employee
    # Set regular access start dates an Employee
    # @param [Hash] opts the optional parameters
    # @option opts [EmployeesEmployeesSetRegularAccessStartDatePostRequest] :employees_employees_set_regular_access_start_date_post_request 
    # @return [Array<(EmployeesEmployee, Integer, Hash)>] EmployeesEmployee data, response status code and response headers
    def employees_employees_set_regular_access_start_date_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesEmployeeApi.employees_employees_set_regular_access_start_date_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employees/employees/set_regular_access_start_date'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employees_employees_set_regular_access_start_date_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeesEmployee'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeesEmployeeApi.employees_employees_set_regular_access_start_date_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesEmployeeApi#employees_employees_set_regular_access_start_date_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Terminates an Employee
    # Terminates an Employee
    # @param [Hash] opts the optional parameters
    # @option opts [EmployeesEmployeesTerminatePostRequest] :employees_employees_terminate_post_request 
    # @return [EmployeesEmployee]
    def employees_employees_terminate_post(opts = {})
      data, _status_code, _headers = employees_employees_terminate_post_with_http_info(opts)
      data
    end

    # Terminates an Employee
    # Terminates an Employee
    # @param [Hash] opts the optional parameters
    # @option opts [EmployeesEmployeesTerminatePostRequest] :employees_employees_terminate_post_request 
    # @return [Array<(EmployeesEmployee, Integer, Hash)>] EmployeesEmployee data, response status code and response headers
    def employees_employees_terminate_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesEmployeeApi.employees_employees_terminate_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employees/employees/terminate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employees_employees_terminate_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeesEmployee'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeesEmployeeApi.employees_employees_terminate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesEmployeeApi#employees_employees_terminate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unterminates an Employee
    # Unterminates an Employee
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [EmployeesEmployee]
    def employees_employees_unterminate_post(opts = {})
      data, _status_code, _headers = employees_employees_unterminate_post_with_http_info(opts)
      data
    end

    # Unterminates an Employee
    # Unterminates an Employee
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [Array<(EmployeesEmployee, Integer, Hash)>] EmployeesEmployee data, response status code and response headers
    def employees_employees_unterminate_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeesEmployeeApi.employees_employees_unterminate_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employees/employees/unterminate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_evaluation_forms_save_as_template_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeesEmployee'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeesEmployeeApi.employees_employees_unterminate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeesEmployeeApi#employees_employees_unterminate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
