=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class EmployeeUpdatesPersonalChangeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Personal changes
    # This endpoint can be used to retrieve a list of personal changes `employee updates`.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids filter by personal change incidence ids.
    # @return [EmployeeUpdatesPersonalChangesGet200Response]
    def employee_updates_personal_changes_get(opts = {})
      data, _status_code, _headers = employee_updates_personal_changes_get_with_http_info(opts)
      data
    end

    # Reads all Personal changes
    # This endpoint can be used to retrieve a list of personal changes &#x60;employee updates&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids filter by personal change incidence ids.
    # @return [Array<(EmployeeUpdatesPersonalChangesGet200Response, Integer, Hash)>] EmployeeUpdatesPersonalChangesGet200Response data, response status code and response headers
    def employee_updates_personal_changes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeUpdatesPersonalChangeApi.employee_updates_personal_changes_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employee_updates/personal_changes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeUpdatesPersonalChangesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeeUpdatesPersonalChangeApi.employee_updates_personal_changes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeUpdatesPersonalChangeApi#employee_updates_personal_changes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Personal change
    # This endpoint can be used to retrieve a list of personal changes `employee updates`.
    # @param id [String] filter by personal change incidence ids.
    # @param [Hash] opts the optional parameters
    # @return [EmployeeUpdatesPersonalChange]
    def employee_updates_personal_changes_id_get(id, opts = {})
      data, _status_code, _headers = employee_updates_personal_changes_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Personal change
    # This endpoint can be used to retrieve a list of personal changes &#x60;employee updates&#x60;.
    # @param id [String] filter by personal change incidence ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmployeeUpdatesPersonalChange, Integer, Hash)>] EmployeeUpdatesPersonalChange data, response status code and response headers
    def employee_updates_personal_changes_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeUpdatesPersonalChangeApi.employee_updates_personal_changes_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmployeeUpdatesPersonalChangeApi.employee_updates_personal_changes_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/employee_updates/personal_changes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeUpdatesPersonalChange'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"EmployeeUpdatesPersonalChangeApi.employee_updates_personal_changes_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeUpdatesPersonalChangeApi#employee_updates_personal_changes_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
