=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ExpensesPerDiemApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Per diems
    # Reads all Per diems
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The IDs of the per diem to read.
    # @option opts [Array<String>] :expenses_expensable_ids The IDs of the expensables to read per diems for.
    # @option opts [Boolean] :exclude_drafts Whether to exclude drafts from the results.
    # @return [ExpensesPerDiemsGet200Response]
    def expenses_per_diems_get(opts = {})
      data, _status_code, _headers = expenses_per_diems_get_with_http_info(opts)
      data
    end

    # Reads all Per diems
    # Reads all Per diems
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The IDs of the per diem to read.
    # @option opts [Array<String>] :expenses_expensable_ids The IDs of the expensables to read per diems for.
    # @option opts [Boolean] :exclude_drafts Whether to exclude drafts from the results.
    # @return [Array<(ExpensesPerDiemsGet200Response, Integer, Hash)>] ExpensesPerDiemsGet200Response data, response status code and response headers
    def expenses_per_diems_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesPerDiemApi.expenses_per_diems_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/expenses/per_diems'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'expenses_expensable_ids[]'] = @api_client.build_collection_param(opts[:'expenses_expensable_ids'], :multi) if !opts[:'expenses_expensable_ids'].nil?
      query_params[:'exclude_drafts'] = opts[:'exclude_drafts'] if !opts[:'exclude_drafts'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpensesPerDiemsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ExpensesPerDiemApi.expenses_per_diems_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesPerDiemApi#expenses_per_diems_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Per diem
    # Reads a single Per diem
    # @param id [String] The IDs of the per diem to read.
    # @param [Hash] opts the optional parameters
    # @return [ExpensesPerDiem]
    def expenses_per_diems_id_get(id, opts = {})
      data, _status_code, _headers = expenses_per_diems_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Per diem
    # Reads a single Per diem
    # @param id [String] The IDs of the per diem to read.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpensesPerDiem, Integer, Hash)>] ExpensesPerDiem data, response status code and response headers
    def expenses_per_diems_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesPerDiemApi.expenses_per_diems_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExpensesPerDiemApi.expenses_per_diems_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/expenses/per_diems/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpensesPerDiem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ExpensesPerDiemApi.expenses_per_diems_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesPerDiemApi#expenses_per_diems_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
