=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ExpensesExpenseApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Expenses
    # Reads all Expenses
    # @param include_manual_drafts [Boolean] Whether to include manual drafts
    # @param include_attachments [Boolean] Wether to include the attachments
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The ids of the expenses to filter by
    # @option opts [Array<String>] :expenses_expensable_ids The ids of the expensables to filter by
    # @option opts [Array<String>] :employee_ids The ids of the employees to filter by
    # @option opts [Array<String>] :external_authorization_ids The ids of the external authorizations to filter by
    # @option opts [Array<String>] :card_ids The ids of the cards to filter by
    # @option opts [Array<String>] :card_payment_ids The ids of the card payments to filter by
    # @option opts [String] :from The time from which to filter expenses
    # @option opts [String] :to The time to which to filter expenses
    # @option opts [Array<String>] :dispute_ids The ids of the disputes to filter by
    # @return [ExpensesExpensesGet200Response]
    def expenses_expenses_get(include_manual_drafts, include_attachments, opts = {})
      data, _status_code, _headers = expenses_expenses_get_with_http_info(include_manual_drafts, include_attachments, opts)
      data
    end

    # Reads all Expenses
    # Reads all Expenses
    # @param include_manual_drafts [Boolean] Whether to include manual drafts
    # @param include_attachments [Boolean] Wether to include the attachments
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The ids of the expenses to filter by
    # @option opts [Array<String>] :expenses_expensable_ids The ids of the expensables to filter by
    # @option opts [Array<String>] :employee_ids The ids of the employees to filter by
    # @option opts [Array<String>] :external_authorization_ids The ids of the external authorizations to filter by
    # @option opts [Array<String>] :card_ids The ids of the cards to filter by
    # @option opts [Array<String>] :card_payment_ids The ids of the card payments to filter by
    # @option opts [String] :from The time from which to filter expenses
    # @option opts [String] :to The time to which to filter expenses
    # @option opts [Array<String>] :dispute_ids The ids of the disputes to filter by
    # @return [Array<(ExpensesExpensesGet200Response, Integer, Hash)>] ExpensesExpensesGet200Response data, response status code and response headers
    def expenses_expenses_get_with_http_info(include_manual_drafts, include_attachments, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesExpenseApi.expenses_expenses_get ...'
      end
      # verify the required parameter 'include_manual_drafts' is set
      if @api_client.config.client_side_validation && include_manual_drafts.nil?
        fail ArgumentError, "Missing the required parameter 'include_manual_drafts' when calling ExpensesExpenseApi.expenses_expenses_get"
      end
      # verify the required parameter 'include_attachments' is set
      if @api_client.config.client_side_validation && include_attachments.nil?
        fail ArgumentError, "Missing the required parameter 'include_attachments' when calling ExpensesExpenseApi.expenses_expenses_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/expenses/expenses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_manual_drafts'] = include_manual_drafts
      query_params[:'include_attachments'] = include_attachments
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'expenses_expensable_ids[]'] = @api_client.build_collection_param(opts[:'expenses_expensable_ids'], :multi) if !opts[:'expenses_expensable_ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'external_authorization_ids[]'] = @api_client.build_collection_param(opts[:'external_authorization_ids'], :multi) if !opts[:'external_authorization_ids'].nil?
      query_params[:'card_ids[]'] = @api_client.build_collection_param(opts[:'card_ids'], :multi) if !opts[:'card_ids'].nil?
      query_params[:'card_payment_ids[]'] = @api_client.build_collection_param(opts[:'card_payment_ids'], :multi) if !opts[:'card_payment_ids'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'dispute_ids[]'] = @api_client.build_collection_param(opts[:'dispute_ids'], :multi) if !opts[:'dispute_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpensesExpensesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ExpensesExpenseApi.expenses_expenses_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesExpenseApi#expenses_expenses_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Expense
    # Reads a single Expense
    # @param id [String] The ids of the expenses to filter by
    # @param [Hash] opts the optional parameters
    # @return [ExpensesExpense]
    def expenses_expenses_id_get(id, opts = {})
      data, _status_code, _headers = expenses_expenses_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Expense
    # Reads a single Expense
    # @param id [String] The ids of the expenses to filter by
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpensesExpense, Integer, Hash)>] ExpensesExpense data, response status code and response headers
    def expenses_expenses_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesExpenseApi.expenses_expenses_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExpensesExpenseApi.expenses_expenses_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/expenses/expenses/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpensesExpense'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ExpensesExpenseApi.expenses_expenses_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesExpenseApi#expenses_expenses_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
