=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ExpensesExpensableApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk set to paids an Expensable
    # Bulk set to paids an Expensable
    # @param [Hash] opts the optional parameters
    # @option opts [ExpensesExpensablesBulkSetToPaidPostRequest] :expenses_expensables_bulk_set_to_paid_post_request 
    # @return [Array<ExpensesExpensable>]
    def expenses_expensables_bulk_set_to_paid_post(opts = {})
      data, _status_code, _headers = expenses_expensables_bulk_set_to_paid_post_with_http_info(opts)
      data
    end

    # Bulk set to paids an Expensable
    # Bulk set to paids an Expensable
    # @param [Hash] opts the optional parameters
    # @option opts [ExpensesExpensablesBulkSetToPaidPostRequest] :expenses_expensables_bulk_set_to_paid_post_request 
    # @return [Array<(Array<ExpensesExpensable>, Integer, Hash)>] Array<ExpensesExpensable> data, response status code and response headers
    def expenses_expensables_bulk_set_to_paid_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesExpensableApi.expenses_expensables_bulk_set_to_paid_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/expenses/expensables/bulk_set_to_paid'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'expenses_expensables_bulk_set_to_paid_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ExpensesExpensable>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ExpensesExpensableApi.expenses_expensables_bulk_set_to_paid_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesExpensableApi#expenses_expensables_bulk_set_to_paid_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Expensables
    # Reads all Expensables
    # @param include_grouped [Boolean] 
    # @param include_attachments [Boolean] 
    # @param include_manual_drafts [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @option opts [String] :company_id 
    # @option opts [Array<String>] :group_ids 
    # @option opts [Array<Object>] :by_resources 
    # @option opts [Array<String>] :employee_ids 
    # @option opts [Array<String>] :reporter_ids 
    # @option opts [Array<String>] :status 
    # @option opts [Array<String>] :creation_type 
    # @option opts [String] :from 
    # @option opts [String] :to 
    # @option opts [String] :search 
    # @return [ExpensesExpensablesGet200Response]
    def expenses_expensables_get(include_grouped, include_attachments, include_manual_drafts, opts = {})
      data, _status_code, _headers = expenses_expensables_get_with_http_info(include_grouped, include_attachments, include_manual_drafts, opts)
      data
    end

    # Reads all Expensables
    # Reads all Expensables
    # @param include_grouped [Boolean] 
    # @param include_attachments [Boolean] 
    # @param include_manual_drafts [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @option opts [String] :company_id 
    # @option opts [Array<String>] :group_ids 
    # @option opts [Array<Object>] :by_resources 
    # @option opts [Array<String>] :employee_ids 
    # @option opts [Array<String>] :reporter_ids 
    # @option opts [Array<String>] :status 
    # @option opts [Array<String>] :creation_type 
    # @option opts [String] :from 
    # @option opts [String] :to 
    # @option opts [String] :search 
    # @return [Array<(ExpensesExpensablesGet200Response, Integer, Hash)>] ExpensesExpensablesGet200Response data, response status code and response headers
    def expenses_expensables_get_with_http_info(include_grouped, include_attachments, include_manual_drafts, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesExpensableApi.expenses_expensables_get ...'
      end
      # verify the required parameter 'include_grouped' is set
      if @api_client.config.client_side_validation && include_grouped.nil?
        fail ArgumentError, "Missing the required parameter 'include_grouped' when calling ExpensesExpensableApi.expenses_expensables_get"
      end
      # verify the required parameter 'include_attachments' is set
      if @api_client.config.client_side_validation && include_attachments.nil?
        fail ArgumentError, "Missing the required parameter 'include_attachments' when calling ExpensesExpensableApi.expenses_expensables_get"
      end
      # verify the required parameter 'include_manual_drafts' is set
      if @api_client.config.client_side_validation && include_manual_drafts.nil?
        fail ArgumentError, "Missing the required parameter 'include_manual_drafts' when calling ExpensesExpensableApi.expenses_expensables_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/expenses/expensables'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_grouped'] = include_grouped
      query_params[:'include_attachments'] = include_attachments
      query_params[:'include_manual_drafts'] = include_manual_drafts
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'group_ids[]'] = @api_client.build_collection_param(opts[:'group_ids'], :multi) if !opts[:'group_ids'].nil?
      query_params[:'by_resources[]'] = @api_client.build_collection_param(opts[:'by_resources'], :multi) if !opts[:'by_resources'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'reporter_ids[]'] = @api_client.build_collection_param(opts[:'reporter_ids'], :multi) if !opts[:'reporter_ids'].nil?
      query_params[:'status[]'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?
      query_params[:'creation_type[]'] = @api_client.build_collection_param(opts[:'creation_type'], :multi) if !opts[:'creation_type'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpensesExpensablesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ExpensesExpensableApi.expenses_expensables_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesExpensableApi#expenses_expensables_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Expensable
    # Reads a single Expensable
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ExpensesExpensable]
    def expenses_expensables_id_get(id, opts = {})
      data, _status_code, _headers = expenses_expensables_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Expensable
    # Reads a single Expensable
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExpensesExpensable, Integer, Hash)>] ExpensesExpensable data, response status code and response headers
    def expenses_expensables_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesExpensableApi.expenses_expensables_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExpensesExpensableApi.expenses_expensables_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/expenses/expensables/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpensesExpensable'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ExpensesExpensableApi.expenses_expensables_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesExpensableApi#expenses_expensables_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update reimbursable amount on an expensable
    # Update the reimbursable amount on an expensable. Only expense-type expensables with reimbursable payment are supported.
    # @param [Hash] opts the optional parameters
    # @option opts [ExpensesExpensablesUpdateReimbursableAmountPostRequest] :expenses_expensables_update_reimbursable_amount_post_request 
    # @return [ExpensesExpensable]
    def expenses_expensables_update_reimbursable_amount_post(opts = {})
      data, _status_code, _headers = expenses_expensables_update_reimbursable_amount_post_with_http_info(opts)
      data
    end

    # Update reimbursable amount on an expensable
    # Update the reimbursable amount on an expensable. Only expense-type expensables with reimbursable payment are supported.
    # @param [Hash] opts the optional parameters
    # @option opts [ExpensesExpensablesUpdateReimbursableAmountPostRequest] :expenses_expensables_update_reimbursable_amount_post_request 
    # @return [Array<(ExpensesExpensable, Integer, Hash)>] ExpensesExpensable data, response status code and response headers
    def expenses_expensables_update_reimbursable_amount_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpensesExpensableApi.expenses_expensables_update_reimbursable_amount_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/expenses/expensables/update_reimbursable_amount'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'expenses_expensables_update_reimbursable_amount_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ExpensesExpensable'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ExpensesExpensableApi.expenses_expensables_update_reimbursable_amount_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpensesExpensableApi#expenses_expensables_update_reimbursable_amount_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
