=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class FinanceCostCenterApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Edits a Cost center
    # Edits a Cost center
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceCostCentersEditPostRequest] :finance_cost_centers_edit_post_request 
    # @return [FinanceCostCenter]
    def finance_cost_centers_edit_post(opts = {})
      data, _status_code, _headers = finance_cost_centers_edit_post_with_http_info(opts)
      data
    end

    # Edits a Cost center
    # Edits a Cost center
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceCostCentersEditPostRequest] :finance_cost_centers_edit_post_request 
    # @return [Array<(FinanceCostCenter, Integer, Hash)>] FinanceCostCenter data, response status code and response headers
    def finance_cost_centers_edit_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceCostCenterApi.finance_cost_centers_edit_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/cost_centers/edit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_cost_centers_edit_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceCostCenter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceCostCenterApi.finance_cost_centers_edit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceCostCenterApi#finance_cost_centers_edit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Cost centers
    # Reads all Cost centers
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @option opts [String] :company_id 
    # @option opts [Array<String>] :legal_entity_ids 
    # @option opts [String] :include_actives_on_date 
    # @option opts [String] :search 
    # @return [FinanceCostCentersGet200Response]
    def finance_cost_centers_get(opts = {})
      data, _status_code, _headers = finance_cost_centers_get_with_http_info(opts)
      data
    end

    # Reads all Cost centers
    # Reads all Cost centers
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @option opts [String] :company_id 
    # @option opts [Array<String>] :legal_entity_ids 
    # @option opts [String] :include_actives_on_date 
    # @option opts [String] :search 
    # @return [Array<(FinanceCostCentersGet200Response, Integer, Hash)>] FinanceCostCentersGet200Response data, response status code and response headers
    def finance_cost_centers_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceCostCenterApi.finance_cost_centers_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/cost_centers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?
      query_params[:'include_actives_on_date'] = opts[:'include_actives_on_date'] if !opts[:'include_actives_on_date'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceCostCentersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceCostCenterApi.finance_cost_centers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceCostCenterApi#finance_cost_centers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Cost center
    # Deletes a Cost center
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FinanceCostCenter]
    def finance_cost_centers_id_delete(id, opts = {})
      data, _status_code, _headers = finance_cost_centers_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Cost center
    # Deletes a Cost center
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceCostCenter, Integer, Hash)>] FinanceCostCenter data, response status code and response headers
    def finance_cost_centers_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceCostCenterApi.finance_cost_centers_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceCostCenterApi.finance_cost_centers_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/cost_centers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceCostCenter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceCostCenterApi.finance_cost_centers_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceCostCenterApi#finance_cost_centers_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Cost center
    # Reads a single Cost center
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FinanceCostCenter]
    def finance_cost_centers_id_get(id, opts = {})
      data, _status_code, _headers = finance_cost_centers_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Cost center
    # Reads a single Cost center
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceCostCenter, Integer, Hash)>] FinanceCostCenter data, response status code and response headers
    def finance_cost_centers_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceCostCenterApi.finance_cost_centers_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceCostCenterApi.finance_cost_centers_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/cost_centers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceCostCenter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceCostCenterApi.finance_cost_centers_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceCostCenterApi#finance_cost_centers_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Cost center
    # Creates a Cost center
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceCostCentersPostRequest] :finance_cost_centers_post_request 
    # @return [FinanceCostCenter]
    def finance_cost_centers_post(opts = {})
      data, _status_code, _headers = finance_cost_centers_post_with_http_info(opts)
      data
    end

    # Creates a Cost center
    # Creates a Cost center
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceCostCentersPostRequest] :finance_cost_centers_post_request 
    # @return [Array<(FinanceCostCenter, Integer, Hash)>] FinanceCostCenter data, response status code and response headers
    def finance_cost_centers_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceCostCenterApi.finance_cost_centers_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/cost_centers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_cost_centers_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceCostCenter'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceCostCenterApi.finance_cost_centers_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceCostCenterApi#finance_cost_centers_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
