=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class FinanceTaxTypeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Tax types
    # Reads all Tax types
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of TaxType IDs to filter.
    # @option opts [String] :country_code Filters TaxTypes by a specified country code or includes those without any country code if set to nil.
    # @option opts [String] :type Filters TaxTypes by a type (vat, personal_income).
    # @option opts [String] :updated_from Start date for filtering TaxType records based on their last update.
    # @return [FinanceTaxTypesGet200Response]
    def finance_tax_types_get(opts = {})
      data, _status_code, _headers = finance_tax_types_get_with_http_info(opts)
      data
    end

    # Reads all Tax types
    # Reads all Tax types
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of TaxType IDs to filter.
    # @option opts [String] :country_code Filters TaxTypes by a specified country code or includes those without any country code if set to nil.
    # @option opts [String] :type Filters TaxTypes by a type (vat, personal_income).
    # @option opts [String] :updated_from Start date for filtering TaxType records based on their last update.
    # @return [Array<(FinanceTaxTypesGet200Response, Integer, Hash)>] FinanceTaxTypesGet200Response data, response status code and response headers
    def finance_tax_types_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceTaxTypeApi.finance_tax_types_get ...'
      end
      allowable_values = ["vat", "personal_income"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/tax_types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceTaxTypesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceTaxTypeApi.finance_tax_types_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceTaxTypeApi#finance_tax_types_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Tax type
    # Reads a single Tax type
    # @param id [String] List of TaxType IDs to filter.
    # @param [Hash] opts the optional parameters
    # @return [FinanceTaxType]
    def finance_tax_types_id_get(id, opts = {})
      data, _status_code, _headers = finance_tax_types_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Tax type
    # Reads a single Tax type
    # @param id [String] List of TaxType IDs to filter.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceTaxType, Integer, Hash)>] FinanceTaxType data, response status code and response headers
    def finance_tax_types_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceTaxTypeApi.finance_tax_types_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceTaxTypeApi.finance_tax_types_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/tax_types/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceTaxType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceTaxTypeApi.finance_tax_types_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceTaxTypeApi#finance_tax_types_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Tax type
    # Updates a Tax type
    # @param id [String] The id of the tax type.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceTaxTypesIdPutRequest] :finance_tax_types_id_put_request 
    # @return [FinanceTaxType]
    def finance_tax_types_id_put(id, opts = {})
      data, _status_code, _headers = finance_tax_types_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Tax type
    # Updates a Tax type
    # @param id [String] The id of the tax type.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceTaxTypesIdPutRequest] :finance_tax_types_id_put_request 
    # @return [Array<(FinanceTaxType, Integer, Hash)>] FinanceTaxType data, response status code and response headers
    def finance_tax_types_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceTaxTypeApi.finance_tax_types_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceTaxTypeApi.finance_tax_types_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/tax_types/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_tax_types_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceTaxType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceTaxTypeApi.finance_tax_types_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceTaxTypeApi#finance_tax_types_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Tax type
    # Creates a Tax type
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceTaxTypesPostRequest] :finance_tax_types_post_request 
    # @return [FinanceTaxType]
    def finance_tax_types_post(opts = {})
      data, _status_code, _headers = finance_tax_types_post_with_http_info(opts)
      data
    end

    # Creates a Tax type
    # Creates a Tax type
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceTaxTypesPostRequest] :finance_tax_types_post_request 
    # @return [Array<(FinanceTaxType, Integer, Hash)>] FinanceTaxType data, response status code and response headers
    def finance_tax_types_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceTaxTypeApi.finance_tax_types_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/tax_types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_tax_types_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceTaxType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceTaxTypeApi.finance_tax_types_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceTaxTypeApi#finance_tax_types_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
