=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class FinanceContactApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Contacts
    # Reads all Contacts
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of Contact IDs to filter by.
    # @option opts [Array<String>] :tax_ids List of Tax IDs to filter by.
    # @option opts [String] :legal_name Filter by partial match of a contact&#39;s legal name.
    # @option opts [String] :name The commercial name of the Contact.
    # @option opts [String] :contact_type Type of the contact (defaults to Vendor).
    # @option opts [String] :website The website of the Contact.
    # @option opts [String] :email The email of the Contact.
    # @option opts [String] :phone_number The phone number of the Contact.
    # @option opts [String] :updated_from Start date for filtering Contacts records based on their last update.
    # @return [FinanceContactsGet200Response]
    def finance_contacts_get(opts = {})
      data, _status_code, _headers = finance_contacts_get_with_http_info(opts)
      data
    end

    # Reads all Contacts
    # Reads all Contacts
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of Contact IDs to filter by.
    # @option opts [Array<String>] :tax_ids List of Tax IDs to filter by.
    # @option opts [String] :legal_name Filter by partial match of a contact&#39;s legal name.
    # @option opts [String] :name The commercial name of the Contact.
    # @option opts [String] :contact_type Type of the contact (defaults to Vendor).
    # @option opts [String] :website The website of the Contact.
    # @option opts [String] :email The email of the Contact.
    # @option opts [String] :phone_number The phone number of the Contact.
    # @option opts [String] :updated_from Start date for filtering Contacts records based on their last update.
    # @return [Array<(FinanceContactsGet200Response, Integer, Hash)>] FinanceContactsGet200Response data, response status code and response headers
    def finance_contacts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceContactApi.finance_contacts_get ...'
      end
      allowable_values = ["client", "vendor"]
      if @api_client.config.client_side_validation && opts[:'contact_type'] && !allowable_values.include?(opts[:'contact_type'])
        fail ArgumentError, "invalid value for \"contact_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/contacts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'tax_ids[]'] = @api_client.build_collection_param(opts[:'tax_ids'], :multi) if !opts[:'tax_ids'].nil?
      query_params[:'legal_name'] = opts[:'legal_name'] if !opts[:'legal_name'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'contact_type'] = opts[:'contact_type'] if !opts[:'contact_type'].nil?
      query_params[:'website'] = opts[:'website'] if !opts[:'website'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'phone_number'] = opts[:'phone_number'] if !opts[:'phone_number'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceContactsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceContactApi.finance_contacts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceContactApi#finance_contacts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Contact
    # Reads a single Contact
    # @param id [String] List of Contact IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [FinanceContact]
    def finance_contacts_id_get(id, opts = {})
      data, _status_code, _headers = finance_contacts_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Contact
    # Reads a single Contact
    # @param id [String] List of Contact IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceContact, Integer, Hash)>] FinanceContact data, response status code and response headers
    def finance_contacts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceContactApi.finance_contacts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceContactApi.finance_contacts_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/contacts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceContact'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceContactApi.finance_contacts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceContactApi#finance_contacts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Contact
    # Updates a Contact
    # @param id [String] ID of the Contact to update.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceContactsIdPutRequest] :finance_contacts_id_put_request 
    # @return [FinanceContact]
    def finance_contacts_id_put(id, opts = {})
      data, _status_code, _headers = finance_contacts_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Contact
    # Updates a Contact
    # @param id [String] ID of the Contact to update.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceContactsIdPutRequest] :finance_contacts_id_put_request 
    # @return [Array<(FinanceContact, Integer, Hash)>] FinanceContact data, response status code and response headers
    def finance_contacts_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceContactApi.finance_contacts_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceContactApi.finance_contacts_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/contacts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_contacts_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceContact'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceContactApi.finance_contacts_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceContactApi#finance_contacts_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Contact
    # Creates a Contact
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceContactsPostRequest] :finance_contacts_post_request 
    # @return [FinanceContact]
    def finance_contacts_post(opts = {})
      data, _status_code, _headers = finance_contacts_post_with_http_info(opts)
      data
    end

    # Creates a Contact
    # Creates a Contact
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceContactsPostRequest] :finance_contacts_post_request 
    # @return [Array<(FinanceContact, Integer, Hash)>] FinanceContact data, response status code and response headers
    def finance_contacts_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceContactApi.finance_contacts_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/contacts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_contacts_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceContact'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceContactApi.finance_contacts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceContactApi#finance_contacts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
