=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class FinanceAccountingSettingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Accounting settings
    # Reads all Accounting settings
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of AccountingSetting IDs to filter.
    # @option opts [Array<String>] :legal_entity_ids Filter by an array of legal entity IDs.
    # @option opts [String] :updated_from Start date for filtering accounting settings records based on their last update.
    # @return [FinanceAccountingSettingsGet200Response]
    def finance_accounting_settings_get(opts = {})
      data, _status_code, _headers = finance_accounting_settings_get_with_http_info(opts)
      data
    end

    # Reads all Accounting settings
    # Reads all Accounting settings
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of AccountingSetting IDs to filter.
    # @option opts [Array<String>] :legal_entity_ids Filter by an array of legal entity IDs.
    # @option opts [String] :updated_from Start date for filtering accounting settings records based on their last update.
    # @return [Array<(FinanceAccountingSettingsGet200Response, Integer, Hash)>] FinanceAccountingSettingsGet200Response data, response status code and response headers
    def finance_accounting_settings_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceAccountingSettingApi.finance_accounting_settings_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/accounting_settings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceAccountingSettingsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceAccountingSettingApi.finance_accounting_settings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceAccountingSettingApi#finance_accounting_settings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Accounting setting
    # Reads a single Accounting setting
    # @param id [String] List of AccountingSetting IDs to filter.
    # @param [Hash] opts the optional parameters
    # @return [FinanceAccountingSetting]
    def finance_accounting_settings_id_get(id, opts = {})
      data, _status_code, _headers = finance_accounting_settings_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Accounting setting
    # Reads a single Accounting setting
    # @param id [String] List of AccountingSetting IDs to filter.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceAccountingSetting, Integer, Hash)>] FinanceAccountingSetting data, response status code and response headers
    def finance_accounting_settings_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceAccountingSettingApi.finance_accounting_settings_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceAccountingSettingApi.finance_accounting_settings_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/accounting_settings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceAccountingSetting'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceAccountingSettingApi.finance_accounting_settings_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceAccountingSettingApi#finance_accounting_settings_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upserts an Accounting setting
    # Upserts an Accounting setting
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceAccountingSettingsUpsertPostRequest] :finance_accounting_settings_upsert_post_request 
    # @return [FinanceAccountingSetting]
    def finance_accounting_settings_upsert_post(opts = {})
      data, _status_code, _headers = finance_accounting_settings_upsert_post_with_http_info(opts)
      data
    end

    # Upserts an Accounting setting
    # Upserts an Accounting setting
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceAccountingSettingsUpsertPostRequest] :finance_accounting_settings_upsert_post_request 
    # @return [Array<(FinanceAccountingSetting, Integer, Hash)>] FinanceAccountingSetting data, response status code and response headers
    def finance_accounting_settings_upsert_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceAccountingSettingApi.finance_accounting_settings_upsert_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/accounting_settings/upsert'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_accounting_settings_upsert_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceAccountingSetting'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceAccountingSettingApi.finance_accounting_settings_upsert_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceAccountingSettingApi#finance_accounting_settings_upsert_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
