=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class FinanceTaxRateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Tax rates
    # Reads all Tax rates
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of TaxRate IDs to filter.
    # @option opts [Array<String>] :tax_type_ids List of TaxType IDs to filter TaxRate records.
    # @option opts [String] :updated_from Start date for filtering TaxRate records based on their last update.
    # @return [FinanceTaxRatesGet200Response]
    def finance_tax_rates_get(opts = {})
      data, _status_code, _headers = finance_tax_rates_get_with_http_info(opts)
      data
    end

    # Reads all Tax rates
    # Reads all Tax rates
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of TaxRate IDs to filter.
    # @option opts [Array<String>] :tax_type_ids List of TaxType IDs to filter TaxRate records.
    # @option opts [String] :updated_from Start date for filtering TaxRate records based on their last update.
    # @return [Array<(FinanceTaxRatesGet200Response, Integer, Hash)>] FinanceTaxRatesGet200Response data, response status code and response headers
    def finance_tax_rates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceTaxRateApi.finance_tax_rates_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/tax_rates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'tax_type_ids[]'] = @api_client.build_collection_param(opts[:'tax_type_ids'], :multi) if !opts[:'tax_type_ids'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceTaxRatesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceTaxRateApi.finance_tax_rates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceTaxRateApi#finance_tax_rates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Tax rate
    # Reads a single Tax rate
    # @param id [String] List of TaxRate IDs to filter.
    # @param [Hash] opts the optional parameters
    # @return [FinanceTaxRate]
    def finance_tax_rates_id_get(id, opts = {})
      data, _status_code, _headers = finance_tax_rates_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Tax rate
    # Reads a single Tax rate
    # @param id [String] List of TaxRate IDs to filter.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceTaxRate, Integer, Hash)>] FinanceTaxRate data, response status code and response headers
    def finance_tax_rates_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceTaxRateApi.finance_tax_rates_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceTaxRateApi.finance_tax_rates_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/tax_rates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceTaxRate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceTaxRateApi.finance_tax_rates_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceTaxRateApi#finance_tax_rates_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Tax rate
    # Updates a Tax rate
    # @param id [String] The id of the tax rate.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceTaxRatesIdPutRequest] :finance_tax_rates_id_put_request 
    # @return [FinanceTaxRate]
    def finance_tax_rates_id_put(id, opts = {})
      data, _status_code, _headers = finance_tax_rates_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Tax rate
    # Updates a Tax rate
    # @param id [String] The id of the tax rate.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceTaxRatesIdPutRequest] :finance_tax_rates_id_put_request 
    # @return [Array<(FinanceTaxRate, Integer, Hash)>] FinanceTaxRate data, response status code and response headers
    def finance_tax_rates_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceTaxRateApi.finance_tax_rates_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceTaxRateApi.finance_tax_rates_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/tax_rates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_tax_rates_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceTaxRate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceTaxRateApi.finance_tax_rates_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceTaxRateApi#finance_tax_rates_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Tax rate
    # Creates a Tax rate
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceTaxRatesPostRequest] :finance_tax_rates_post_request 
    # @return [FinanceTaxRate]
    def finance_tax_rates_post(opts = {})
      data, _status_code, _headers = finance_tax_rates_post_with_http_info(opts)
      data
    end

    # Creates a Tax rate
    # Creates a Tax rate
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceTaxRatesPostRequest] :finance_tax_rates_post_request 
    # @return [Array<(FinanceTaxRate, Integer, Hash)>] FinanceTaxRate data, response status code and response headers
    def finance_tax_rates_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceTaxRateApi.finance_tax_rates_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/tax_rates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_tax_rates_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceTaxRate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceTaxRateApi.finance_tax_rates_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceTaxRateApi#finance_tax_rates_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
