=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class FinanceLedgerAccountResourceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Ledger account resources
    # Fetch one or all ledger account resource for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Search ledger account resources by ID
    # @option opts [Array<String>] :resource_ids Filter ledger account resources by resource ID
    # @option opts [String] :resource_type Filter ledger account resources by resource type
    # @option opts [Array<String>] :legal_entity_ids Filter ledger account resources by legal entity ID
    # @option opts [String] :updated_from Filter ledger account resources by updated at
    # @option opts [Array<String>] :finance_account_ids Filter ledger account resources by finance account ID
    # @return [FinanceLedgerAccountResourcesGet200Response]
    def finance_ledger_account_resources_get(opts = {})
      data, _status_code, _headers = finance_ledger_account_resources_get_with_http_info(opts)
      data
    end

    # Reads all Ledger account resources
    # Fetch one or all ledger account resource for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Search ledger account resources by ID
    # @option opts [Array<String>] :resource_ids Filter ledger account resources by resource ID
    # @option opts [String] :resource_type Filter ledger account resources by resource type
    # @option opts [Array<String>] :legal_entity_ids Filter ledger account resources by legal entity ID
    # @option opts [String] :updated_from Filter ledger account resources by updated at
    # @option opts [Array<String>] :finance_account_ids Filter ledger account resources by finance account ID
    # @return [Array<(FinanceLedgerAccountResourcesGet200Response, Integer, Hash)>] FinanceLedgerAccountResourcesGet200Response data, response status code and response headers
    def finance_ledger_account_resources_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceLedgerAccountResourceApi.finance_ledger_account_resources_get ...'
      end
      allowable_values = ["bankaccount", "vendor", "taxtype", "payrollconcept", "customcategory", "invoice"]
      if @api_client.config.client_side_validation && opts[:'resource_type'] && !allowable_values.include?(opts[:'resource_type'])
        fail ArgumentError, "invalid value for \"resource_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/ledger_account_resources'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'resource_ids[]'] = @api_client.build_collection_param(opts[:'resource_ids'], :multi) if !opts[:'resource_ids'].nil?
      query_params[:'resource_type'] = opts[:'resource_type'] if !opts[:'resource_type'].nil?
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?
      query_params[:'finance_account_ids[]'] = @api_client.build_collection_param(opts[:'finance_account_ids'], :multi) if !opts[:'finance_account_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceLedgerAccountResourcesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceLedgerAccountResourceApi.finance_ledger_account_resources_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceLedgerAccountResourceApi#finance_ledger_account_resources_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Ledger account resource
    # Fetch one or all ledger account resource for the company.
    # @param id [String] Search ledger account resources by ID
    # @param [Hash] opts the optional parameters
    # @return [FinanceLedgerAccountResource]
    def finance_ledger_account_resources_id_get(id, opts = {})
      data, _status_code, _headers = finance_ledger_account_resources_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Ledger account resource
    # Fetch one or all ledger account resource for the company.
    # @param id [String] Search ledger account resources by ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceLedgerAccountResource, Integer, Hash)>] FinanceLedgerAccountResource data, response status code and response headers
    def finance_ledger_account_resources_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceLedgerAccountResourceApi.finance_ledger_account_resources_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceLedgerAccountResourceApi.finance_ledger_account_resources_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/ledger_account_resources/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceLedgerAccountResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceLedgerAccountResourceApi.finance_ledger_account_resources_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceLedgerAccountResourceApi#finance_ledger_account_resources_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upserts a Ledger account resource
    # Create or update a ledger account resource.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceLedgerAccountResourcesUpsertPostRequest] :finance_ledger_account_resources_upsert_post_request 
    # @return [FinanceLedgerAccountResource]
    def finance_ledger_account_resources_upsert_post(opts = {})
      data, _status_code, _headers = finance_ledger_account_resources_upsert_post_with_http_info(opts)
      data
    end

    # Upserts a Ledger account resource
    # Create or update a ledger account resource.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceLedgerAccountResourcesUpsertPostRequest] :finance_ledger_account_resources_upsert_post_request 
    # @return [Array<(FinanceLedgerAccountResource, Integer, Hash)>] FinanceLedgerAccountResource data, response status code and response headers
    def finance_ledger_account_resources_upsert_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceLedgerAccountResourceApi.finance_ledger_account_resources_upsert_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/ledger_account_resources/upsert'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_ledger_account_resources_upsert_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceLedgerAccountResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceLedgerAccountResourceApi.finance_ledger_account_resources_upsert_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceLedgerAccountResourceApi#finance_ledger_account_resources_upsert_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
