=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class FinanceCostCenterMembershipApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk create updates a Cost center membership
    # ###### **What does it do?** Performs an update of cost center memberships for an employee. The action creates new memberships starting from today, terminating any pre-existing memberships for the employee. This ensures a history of cost center memberships is preserved. ###### **What does the `memberships` array look like?** An array of objects with these properties: - `cost_center_id` - `percentage`: A float between 0 and 1 representing the percentage that the employee is assigned to the cost center. For multiple assignments, the sum of percentages must equal 1.0. For example, for an employee assigned to cost center 1 during 30% of their time and cost center 2 during 70% of their time, the request parameters would look like: `memberships: [{\"cost_center_id\": 1, \"percentage\": 0.3} ,{\"cost_center_id\": 2, \"percentage\": 0.7}]`
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceCostCenterMembershipsBulkCreateUpdatePostRequest] :finance_cost_center_memberships_bulk_create_update_post_request 
    # @return [Array<FinanceCostCenterMembership>]
    def finance_cost_center_memberships_bulk_create_update_post(opts = {})
      data, _status_code, _headers = finance_cost_center_memberships_bulk_create_update_post_with_http_info(opts)
      data
    end

    # Bulk create updates a Cost center membership
    # ###### **What does it do?** Performs an update of cost center memberships for an employee. The action creates new memberships starting from today, terminating any pre-existing memberships for the employee. This ensures a history of cost center memberships is preserved. ###### **What does the &#x60;memberships&#x60; array look like?** An array of objects with these properties: - &#x60;cost_center_id&#x60; - &#x60;percentage&#x60;: A float between 0 and 1 representing the percentage that the employee is assigned to the cost center. For multiple assignments, the sum of percentages must equal 1.0. For example, for an employee assigned to cost center 1 during 30% of their time and cost center 2 during 70% of their time, the request parameters would look like: &#x60;memberships: [{\&quot;cost_center_id\&quot;: 1, \&quot;percentage\&quot;: 0.3} ,{\&quot;cost_center_id\&quot;: 2, \&quot;percentage\&quot;: 0.7}]&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceCostCenterMembershipsBulkCreateUpdatePostRequest] :finance_cost_center_memberships_bulk_create_update_post_request 
    # @return [Array<(Array<FinanceCostCenterMembership>, Integer, Hash)>] Array<FinanceCostCenterMembership> data, response status code and response headers
    def finance_cost_center_memberships_bulk_create_update_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceCostCenterMembershipApi.finance_cost_center_memberships_bulk_create_update_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/cost_center_memberships/bulk_create_update'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_cost_center_memberships_bulk_create_update_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FinanceCostCenterMembership>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceCostCenterMembershipApi.finance_cost_center_memberships_bulk_create_update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceCostCenterMembershipApi#finance_cost_center_memberships_bulk_create_update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Cost center memberships
    # Reads all Cost center memberships
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cost_center_id To retreive active cost center memberships for a specific cost center
    # @option opts [String] :employee_id To retreive active cost center memberships for a specific employee
    # @option opts [String] :active_on To retreive active cost center memberships for a specific date
    # @option opts [Boolean] :only_active To retreive only active cost center memberships, this is the default behavior
    # @option opts [String] :applying_on To retreive cost center memberships applying on a specific date
    # @option opts [String] :company_id retrieve the cost center memberships for a specific company
    # @option opts [Array<String>] :cost_center_ids retrieve the cost center memberships for a list of cost centers
    # @return [FinanceCostCenterMembershipsGet200Response]
    def finance_cost_center_memberships_get(opts = {})
      data, _status_code, _headers = finance_cost_center_memberships_get_with_http_info(opts)
      data
    end

    # Reads all Cost center memberships
    # Reads all Cost center memberships
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cost_center_id To retreive active cost center memberships for a specific cost center
    # @option opts [String] :employee_id To retreive active cost center memberships for a specific employee
    # @option opts [String] :active_on To retreive active cost center memberships for a specific date
    # @option opts [Boolean] :only_active To retreive only active cost center memberships, this is the default behavior
    # @option opts [String] :applying_on To retreive cost center memberships applying on a specific date
    # @option opts [String] :company_id retrieve the cost center memberships for a specific company
    # @option opts [Array<String>] :cost_center_ids retrieve the cost center memberships for a list of cost centers
    # @return [Array<(FinanceCostCenterMembershipsGet200Response, Integer, Hash)>] FinanceCostCenterMembershipsGet200Response data, response status code and response headers
    def finance_cost_center_memberships_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceCostCenterMembershipApi.finance_cost_center_memberships_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/cost_center_memberships'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cost_center_id'] = opts[:'cost_center_id'] if !opts[:'cost_center_id'].nil?
      query_params[:'employee_id'] = opts[:'employee_id'] if !opts[:'employee_id'].nil?
      query_params[:'active_on'] = opts[:'active_on'] if !opts[:'active_on'].nil?
      query_params[:'only_active'] = opts[:'only_active'] if !opts[:'only_active'].nil?
      query_params[:'applying_on'] = opts[:'applying_on'] if !opts[:'applying_on'].nil?
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'cost_center_ids[]'] = @api_client.build_collection_param(opts[:'cost_center_ids'], :multi) if !opts[:'cost_center_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceCostCenterMembershipsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceCostCenterMembershipApi.finance_cost_center_memberships_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceCostCenterMembershipApi#finance_cost_center_memberships_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
