=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class FinanceBudgetOptionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Budget options
    # Fetch budget options for the company
    # @param include_inactive [Boolean] Include inactive budget options
    # @param include_archived [Boolean] Include archived budget options
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Search budget options by ID
    # @option opts [Array<String>] :employee_ids Search budget options by employee IDs
    # @option opts [String] :effective_at Filter budget options effective at this date
    # @return [FinanceBudgetOptionsGet200Response]
    def finance_budget_options_get(include_inactive, include_archived, opts = {})
      data, _status_code, _headers = finance_budget_options_get_with_http_info(include_inactive, include_archived, opts)
      data
    end

    # Reads all Budget options
    # Fetch budget options for the company
    # @param include_inactive [Boolean] Include inactive budget options
    # @param include_archived [Boolean] Include archived budget options
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Search budget options by ID
    # @option opts [Array<String>] :employee_ids Search budget options by employee IDs
    # @option opts [String] :effective_at Filter budget options effective at this date
    # @return [Array<(FinanceBudgetOptionsGet200Response, Integer, Hash)>] FinanceBudgetOptionsGet200Response data, response status code and response headers
    def finance_budget_options_get_with_http_info(include_inactive, include_archived, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceBudgetOptionApi.finance_budget_options_get ...'
      end
      # verify the required parameter 'include_inactive' is set
      if @api_client.config.client_side_validation && include_inactive.nil?
        fail ArgumentError, "Missing the required parameter 'include_inactive' when calling FinanceBudgetOptionApi.finance_budget_options_get"
      end
      # verify the required parameter 'include_archived' is set
      if @api_client.config.client_side_validation && include_archived.nil?
        fail ArgumentError, "Missing the required parameter 'include_archived' when calling FinanceBudgetOptionApi.finance_budget_options_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/budget_options'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_inactive'] = include_inactive
      query_params[:'include_archived'] = include_archived
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'effective_at'] = opts[:'effective_at'] if !opts[:'effective_at'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceBudgetOptionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceBudgetOptionApi.finance_budget_options_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceBudgetOptionApi#finance_budget_options_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Budget option
    # Fetch budget options for the company
    # @param id [String] Search budget options by ID
    # @param [Hash] opts the optional parameters
    # @return [FinanceBudgetOption]
    def finance_budget_options_id_get(id, opts = {})
      data, _status_code, _headers = finance_budget_options_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Budget option
    # Fetch budget options for the company
    # @param id [String] Search budget options by ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceBudgetOption, Integer, Hash)>] FinanceBudgetOption data, response status code and response headers
    def finance_budget_options_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceBudgetOptionApi.finance_budget_options_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceBudgetOptionApi.finance_budget_options_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/budget_options/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceBudgetOption'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceBudgetOptionApi.finance_budget_options_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceBudgetOptionApi#finance_budget_options_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
