=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class FinanceJournalEntryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Journal entries
    # Reads all Journal entries
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by JournalEntry IDs
    # @option opts [Array<String>] :legal_entity_ids Filter by Legal Entity IDs
    # @option opts [Array<String>] :source_ids Filter by Source IDs
    # @option opts [String] :source_type Filter by related source type
    # @option opts [Array<String>] :types Filter by entry type
    # @option opts [String] :status Filter by Journal Entry Status
    # @option opts [String] :updated_from Start date for filtering journal entries records based on their last update.
    # @return [FinanceJournalEntriesGet200Response]
    def finance_journal_entries_get(opts = {})
      data, _status_code, _headers = finance_journal_entries_get_with_http_info(opts)
      data
    end

    # Reads all Journal entries
    # Reads all Journal entries
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by JournalEntry IDs
    # @option opts [Array<String>] :legal_entity_ids Filter by Legal Entity IDs
    # @option opts [Array<String>] :source_ids Filter by Source IDs
    # @option opts [String] :source_type Filter by related source type
    # @option opts [Array<String>] :types Filter by entry type
    # @option opts [String] :status Filter by Journal Entry Status
    # @option opts [String] :updated_from Start date for filtering journal entries records based on their last update.
    # @return [Array<(FinanceJournalEntriesGet200Response, Integer, Hash)>] FinanceJournalEntriesGet200Response data, response status code and response headers
    def finance_journal_entries_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceJournalEntryApi.finance_journal_entries_get ...'
      end
      allowable_values = ["bank_transaction", "invoice", "reconciliation", "finance_reconciliation", "account", "expense", "payroll_result", "journal_entry"]
      if @api_client.config.client_side_validation && opts[:'source_type'] && !allowable_values.include?(opts[:'source_type'])
        fail ArgumentError, "invalid value for \"source_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["published", "reversed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/journal_entries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?
      query_params[:'source_ids[]'] = @api_client.build_collection_param(opts[:'source_ids'], :multi) if !opts[:'source_ids'].nil?
      query_params[:'source_type'] = opts[:'source_type'] if !opts[:'source_type'].nil?
      query_params[:'types[]'] = @api_client.build_collection_param(opts[:'types'], :multi) if !opts[:'types'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceJournalEntriesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceJournalEntryApi.finance_journal_entries_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceJournalEntryApi#finance_journal_entries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Journal entry
    # Reads a single Journal entry
    # @param id [String] Filter by JournalEntry IDs
    # @param [Hash] opts the optional parameters
    # @return [FinanceJournalEntry]
    def finance_journal_entries_id_get(id, opts = {})
      data, _status_code, _headers = finance_journal_entries_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Journal entry
    # Reads a single Journal entry
    # @param id [String] Filter by JournalEntry IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceJournalEntry, Integer, Hash)>] FinanceJournalEntry data, response status code and response headers
    def finance_journal_entries_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceJournalEntryApi.finance_journal_entries_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceJournalEntryApi.finance_journal_entries_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/journal_entries/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceJournalEntry'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceJournalEntryApi.finance_journal_entries_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceJournalEntryApi#finance_journal_entries_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Journal entry
    # Creates a Journal entry
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceJournalEntriesPostRequest] :finance_journal_entries_post_request 
    # @return [FinanceJournalEntry]
    def finance_journal_entries_post(opts = {})
      data, _status_code, _headers = finance_journal_entries_post_with_http_info(opts)
      data
    end

    # Creates a Journal entry
    # Creates a Journal entry
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceJournalEntriesPostRequest] :finance_journal_entries_post_request 
    # @return [Array<(FinanceJournalEntry, Integer, Hash)>] FinanceJournalEntry data, response status code and response headers
    def finance_journal_entries_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceJournalEntryApi.finance_journal_entries_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/journal_entries'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_journal_entries_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceJournalEntry'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceJournalEntryApi.finance_journal_entries_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceJournalEntryApi#finance_journal_entries_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
