=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class FinanceFinancialDocumentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Financial documents
    # Fetch one or all financial documents for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :company_id Return only the documents of this company. It must be a company the reader has access to: an id outside that set makes the read fail rather than come back empty.
    # @option opts [Array<String>] :ids Return only the financial documents with these ids.
    # @option opts [String] :vendor_id Return only the documents issued by this vendor contact.
    # @option opts [String] :currency Return only the documents in this currency, as an uppercase ISO 4217 code. It takes one code, not a list.
    # @option opts [Array<String>] :statuses Return only the documents in these states: &#x60;processing&#x60;, &#x60;review&#x60; (awaiting approval), &#x60;sent_to_pay&#x60; or &#x60;paid&#x60;.
    # @option opts [Array<String>] :legal_entity_ids Return only the documents booked against these legal entities.
    # @option opts [Array<String>] :document_types Return only the documents of these kinds: &#x60;invoice&#x60;, &#x60;receipt&#x60; or &#x60;credit_note&#x60;.
    # @option opts [String] :updated_from Filter financial documents updated from a specific date
    # @return [FinanceFinancialDocumentsGet200Response]
    def finance_financial_documents_get(opts = {})
      data, _status_code, _headers = finance_financial_documents_get_with_http_info(opts)
      data
    end

    # Reads all Financial documents
    # Fetch one or all financial documents for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :company_id Return only the documents of this company. It must be a company the reader has access to: an id outside that set makes the read fail rather than come back empty.
    # @option opts [Array<String>] :ids Return only the financial documents with these ids.
    # @option opts [String] :vendor_id Return only the documents issued by this vendor contact.
    # @option opts [String] :currency Return only the documents in this currency, as an uppercase ISO 4217 code. It takes one code, not a list.
    # @option opts [Array<String>] :statuses Return only the documents in these states: &#x60;processing&#x60;, &#x60;review&#x60; (awaiting approval), &#x60;sent_to_pay&#x60; or &#x60;paid&#x60;.
    # @option opts [Array<String>] :legal_entity_ids Return only the documents booked against these legal entities.
    # @option opts [Array<String>] :document_types Return only the documents of these kinds: &#x60;invoice&#x60;, &#x60;receipt&#x60; or &#x60;credit_note&#x60;.
    # @option opts [String] :updated_from Filter financial documents updated from a specific date
    # @return [Array<(FinanceFinancialDocumentsGet200Response, Integer, Hash)>] FinanceFinancialDocumentsGet200Response data, response status code and response headers
    def finance_financial_documents_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceFinancialDocumentApi.finance_financial_documents_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/finance/financial_documents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'vendor_id'] = opts[:'vendor_id'] if !opts[:'vendor_id'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'statuses[]'] = @api_client.build_collection_param(opts[:'statuses'], :multi) if !opts[:'statuses'].nil?
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?
      query_params[:'document_types[]'] = @api_client.build_collection_param(opts[:'document_types'], :multi) if !opts[:'document_types'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceFinancialDocumentsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceFinancialDocumentApi.finance_financial_documents_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceFinancialDocumentApi#finance_financial_documents_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Financial document
    # Fetch one or all financial documents for the company.
    # @param id [String] Return only the financial documents with these ids.
    # @param [Hash] opts the optional parameters
    # @return [FinanceFinancialDocument]
    def finance_financial_documents_id_get(id, opts = {})
      data, _status_code, _headers = finance_financial_documents_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Financial document
    # Fetch one or all financial documents for the company.
    # @param id [String] Return only the financial documents with these ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceFinancialDocument, Integer, Hash)>] FinanceFinancialDocument data, response status code and response headers
    def finance_financial_documents_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceFinancialDocumentApi.finance_financial_documents_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceFinancialDocumentApi.finance_financial_documents_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/finance/financial_documents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceFinancialDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceFinancialDocumentApi.finance_financial_documents_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceFinancialDocumentApi#finance_financial_documents_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Financial document
    # Update a purchase financial document with PUT semantics: read the document, modify it, and send the complete resource back — the fields are replaced as sent. Status transitions are accepted and have their real side effects. Fields required on a validated document are only enforced when the document is validated (validated_at present in the payload), not before.
    # @param id [String] Identifier of the financial document to update.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceFinancialDocumentsIdPutRequest] :finance_financial_documents_id_put_request 
    # @return [FinanceFinancialDocument]
    def finance_financial_documents_id_put(id, opts = {})
      data, _status_code, _headers = finance_financial_documents_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Financial document
    # Update a purchase financial document with PUT semantics: read the document, modify it, and send the complete resource back — the fields are replaced as sent. Status transitions are accepted and have their real side effects. Fields required on a validated document are only enforced when the document is validated (validated_at present in the payload), not before.
    # @param id [String] Identifier of the financial document to update.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceFinancialDocumentsIdPutRequest] :finance_financial_documents_id_put_request 
    # @return [Array<(FinanceFinancialDocument, Integer, Hash)>] FinanceFinancialDocument data, response status code and response headers
    def finance_financial_documents_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceFinancialDocumentApi.finance_financial_documents_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceFinancialDocumentApi.finance_financial_documents_id_put"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/finance/financial_documents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_financial_documents_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceFinancialDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceFinancialDocumentApi.finance_financial_documents_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceFinancialDocumentApi#finance_financial_documents_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Financial document
    # Create a purchase financial document (invoice, credit note or receipt) together with its file. Sent as multipart/form-data. The document is created in draft (pending review) state; the strict required-field set is only enforced when it is validated in the app.
    # @param company_id [String] Company identifier, refers to /api/me endpoint.
    # @param document_type [String] Type of the financial document. One of &#x60;invoice&#x60;, &#x60;credit_note&#x60;, &#x60;receipt&#x60;.
    # @param file [File] The document file to upload, the binary file. Required for purchase documents.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :vendor_id Vendor identifier (Finance contact).
    # @option opts [String] :legal_entity_id Legal entity identifier of the financial document.
    # @option opts [String] :invoice_number Document number. Must be unique per vendor for purchases; a duplicate returns a 422 with a machine-readable invoice_number error.
    # @option opts [String] :invoice_date Document date.
    # @option opts [String] :due_date Due date.
    # @option opts [String] :currency Document currency (ISO 4217).
    # @option opts [Integer] :total_amount_cents Total amount in cents. Ignored when line_items are provided, since the line items own the totals.
    # @option opts [String] :additional_information Free-text internal notes about the financial document.
    # @option opts [String] :parent_financial_document_id For credit notes, the referenced original document by internal id (exposed as parent_financial_document_id to match the read contract). Provide this or original_invoice_number.
    # @option opts [String] :original_invoice_number For credit notes, the referenced original document by invoice number (resolved together with the vendor).
    # @option opts [Array<FinanceFinancialDocumentsPostRequestLineItemsInner>] :line_items Purchase-invoice line items. When present they own the document totals.
    # @return [FinanceFinancialDocument]
    def finance_financial_documents_post(company_id, document_type, file, opts = {})
      data, _status_code, _headers = finance_financial_documents_post_with_http_info(company_id, document_type, file, opts)
      data
    end

    # Creates a Financial document
    # Create a purchase financial document (invoice, credit note or receipt) together with its file. Sent as multipart/form-data. The document is created in draft (pending review) state; the strict required-field set is only enforced when it is validated in the app.
    # @param company_id [String] Company identifier, refers to /api/me endpoint.
    # @param document_type [String] Type of the financial document. One of &#x60;invoice&#x60;, &#x60;credit_note&#x60;, &#x60;receipt&#x60;.
    # @param file [File] The document file to upload, the binary file. Required for purchase documents.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :vendor_id Vendor identifier (Finance contact).
    # @option opts [String] :legal_entity_id Legal entity identifier of the financial document.
    # @option opts [String] :invoice_number Document number. Must be unique per vendor for purchases; a duplicate returns a 422 with a machine-readable invoice_number error.
    # @option opts [String] :invoice_date Document date.
    # @option opts [String] :due_date Due date.
    # @option opts [String] :currency Document currency (ISO 4217).
    # @option opts [Integer] :total_amount_cents Total amount in cents. Ignored when line_items are provided, since the line items own the totals.
    # @option opts [String] :additional_information Free-text internal notes about the financial document.
    # @option opts [String] :parent_financial_document_id For credit notes, the referenced original document by internal id (exposed as parent_financial_document_id to match the read contract). Provide this or original_invoice_number.
    # @option opts [String] :original_invoice_number For credit notes, the referenced original document by invoice number (resolved together with the vendor).
    # @option opts [Array<FinanceFinancialDocumentsPostRequestLineItemsInner>] :line_items Purchase-invoice line items. When present they own the document totals.
    # @return [Array<(FinanceFinancialDocument, Integer, Hash)>] FinanceFinancialDocument data, response status code and response headers
    def finance_financial_documents_post_with_http_info(company_id, document_type, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceFinancialDocumentApi.finance_financial_documents_post ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling FinanceFinancialDocumentApi.finance_financial_documents_post"
      end
      # verify the required parameter 'document_type' is set
      if @api_client.config.client_side_validation && document_type.nil?
        fail ArgumentError, "Missing the required parameter 'document_type' when calling FinanceFinancialDocumentApi.finance_financial_documents_post"
      end
      # verify enum value
      allowable_values = ["invoice", "credit_note", "receipt"]
      if @api_client.config.client_side_validation && !allowable_values.include?(document_type)
        fail ArgumentError, "invalid value for \"document_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling FinanceFinancialDocumentApi.finance_financial_documents_post"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/finance/financial_documents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['company_id'] = company_id
      form_params['document_type'] = document_type
      form_params['file'] = file
      form_params['vendor_id'] = opts[:'vendor_id'] if !opts[:'vendor_id'].nil?
      form_params['legal_entity_id'] = opts[:'legal_entity_id'] if !opts[:'legal_entity_id'].nil?
      form_params['invoice_number'] = opts[:'invoice_number'] if !opts[:'invoice_number'].nil?
      form_params['invoice_date'] = opts[:'invoice_date'] if !opts[:'invoice_date'].nil?
      form_params['due_date'] = opts[:'due_date'] if !opts[:'due_date'].nil?
      form_params['currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      form_params['total_amount_cents'] = opts[:'total_amount_cents'] if !opts[:'total_amount_cents'].nil?
      form_params['additional_information'] = opts[:'additional_information'] if !opts[:'additional_information'].nil?
      form_params['parent_financial_document_id'] = opts[:'parent_financial_document_id'] if !opts[:'parent_financial_document_id'].nil?
      form_params['original_invoice_number'] = opts[:'original_invoice_number'] if !opts[:'original_invoice_number'].nil?
      form_params['line_items[]'] = @api_client.build_collection_param(opts[:'line_items'], :csv) if !opts[:'line_items'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceFinancialDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceFinancialDocumentApi.finance_financial_documents_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceFinancialDocumentApi#finance_financial_documents_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
