=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class FinanceFinancialDocumentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Financial documents
    # Fetch one or all financial documents for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :company_id Search financial documents by company_id
    # @option opts [Array<String>] :ids Search financial documents by ID
    # @option opts [String] :vendor_id Search financial documents by vendor_id
    # @option opts [String] :currency Search financial documents by currency
    # @option opts [Array<String>] :statuses Search financial documents by status
    # @option opts [Array<String>] :legal_entity_ids Search financial documents by legal_entity_id
    # @option opts [Array<String>] :document_types Search financial documents by document_type
    # @option opts [String] :updated_from Filter financial documents updated from a specific date
    # @return [FinanceFinancialDocumentsGet200Response]
    def finance_financial_documents_get(opts = {})
      data, _status_code, _headers = finance_financial_documents_get_with_http_info(opts)
      data
    end

    # Reads all Financial documents
    # Fetch one or all financial documents for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :company_id Search financial documents by company_id
    # @option opts [Array<String>] :ids Search financial documents by ID
    # @option opts [String] :vendor_id Search financial documents by vendor_id
    # @option opts [String] :currency Search financial documents by currency
    # @option opts [Array<String>] :statuses Search financial documents by status
    # @option opts [Array<String>] :legal_entity_ids Search financial documents by legal_entity_id
    # @option opts [Array<String>] :document_types Search financial documents by document_type
    # @option opts [String] :updated_from Filter financial documents updated from a specific date
    # @return [Array<(FinanceFinancialDocumentsGet200Response, Integer, Hash)>] FinanceFinancialDocumentsGet200Response data, response status code and response headers
    def finance_financial_documents_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceFinancialDocumentApi.finance_financial_documents_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/financial_documents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'vendor_id'] = opts[:'vendor_id'] if !opts[:'vendor_id'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'statuses[]'] = @api_client.build_collection_param(opts[:'statuses'], :multi) if !opts[:'statuses'].nil?
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?
      query_params[:'document_types[]'] = @api_client.build_collection_param(opts[:'document_types'], :multi) if !opts[:'document_types'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceFinancialDocumentsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceFinancialDocumentApi.finance_financial_documents_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceFinancialDocumentApi#finance_financial_documents_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Financial document
    # Fetch one or all financial documents for the company.
    # @param id [String] Search financial documents by ID
    # @param [Hash] opts the optional parameters
    # @return [FinanceFinancialDocument]
    def finance_financial_documents_id_get(id, opts = {})
      data, _status_code, _headers = finance_financial_documents_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Financial document
    # Fetch one or all financial documents for the company.
    # @param id [String] Search financial documents by ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceFinancialDocument, Integer, Hash)>] FinanceFinancialDocument data, response status code and response headers
    def finance_financial_documents_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceFinancialDocumentApi.finance_financial_documents_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceFinancialDocumentApi.finance_financial_documents_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/financial_documents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceFinancialDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceFinancialDocumentApi.finance_financial_documents_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceFinancialDocumentApi#finance_financial_documents_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
