=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class FinanceCategoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Categories
    # Fetch expense categories and subcategories for the company
    # @param category_level [String] Filter by category level
    # @param type [String] Filter by category type
    # @param statuses [Array<String>] Filter by category status
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Search categories by ID
    # @option opts [Array<String>] :company_ids Search categories by company IDs
    # @option opts [Array<String>] :parent_category_ids Search subcategories by parent category ID
    # @option opts [String] :search Search by category label or identifier
    # @return [FinanceCategoriesGet200Response]
    def finance_categories_get(category_level, type, statuses, opts = {})
      data, _status_code, _headers = finance_categories_get_with_http_info(category_level, type, statuses, opts)
      data
    end

    # Reads all Categories
    # Fetch expense categories and subcategories for the company
    # @param category_level [String] Filter by category level
    # @param type [String] Filter by category type
    # @param statuses [Array<String>] Filter by category status
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Search categories by ID
    # @option opts [Array<String>] :company_ids Search categories by company IDs
    # @option opts [Array<String>] :parent_category_ids Search subcategories by parent category ID
    # @option opts [String] :search Search by category label or identifier
    # @return [Array<(FinanceCategoriesGet200Response, Integer, Hash)>] FinanceCategoriesGet200Response data, response status code and response headers
    def finance_categories_get_with_http_info(category_level, type, statuses, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceCategoryApi.finance_categories_get ...'
      end
      # verify the required parameter 'category_level' is set
      if @api_client.config.client_side_validation && category_level.nil?
        fail ArgumentError, "Missing the required parameter 'category_level' when calling FinanceCategoryApi.finance_categories_get"
      end
      # verify enum value
      allowable_values = ["category", "subcategory", "all"]
      if @api_client.config.client_side_validation && !allowable_values.include?(category_level)
        fail ArgumentError, "invalid value for \"category_level\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling FinanceCategoryApi.finance_categories_get"
      end
      # verify enum value
      allowable_values = ["mileage", "expense", "perdiem", "all"]
      if @api_client.config.client_side_validation && !allowable_values.include?(type)
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'statuses' is set
      if @api_client.config.client_side_validation && statuses.nil?
        fail ArgumentError, "Missing the required parameter 'statuses' when calling FinanceCategoryApi.finance_categories_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'category_level'] = category_level
      query_params[:'type'] = type
      query_params[:'statuses[]'] = @api_client.build_collection_param(statuses, :multi)
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'company_ids[]'] = @api_client.build_collection_param(opts[:'company_ids'], :multi) if !opts[:'company_ids'].nil?
      query_params[:'parent_category_ids[]'] = @api_client.build_collection_param(opts[:'parent_category_ids'], :multi) if !opts[:'parent_category_ids'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceCategoriesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceCategoryApi.finance_categories_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceCategoryApi#finance_categories_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Category
    # Fetch expense categories and subcategories for the company
    # @param id [String] Search categories by ID
    # @param [Hash] opts the optional parameters
    # @return [FinanceCategory]
    def finance_categories_id_get(id, opts = {})
      data, _status_code, _headers = finance_categories_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Category
    # Fetch expense categories and subcategories for the company
    # @param id [String] Search categories by ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceCategory, Integer, Hash)>] FinanceCategory data, response status code and response headers
    def finance_categories_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceCategoryApi.finance_categories_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceCategoryApi.finance_categories_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/categories/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceCategory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceCategoryApi.finance_categories_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceCategoryApi#finance_categories_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
