=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class FinanceJournalLineApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Journal lines
    # Reads all Journal lines
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by specific JournalLine IDs
    # @option opts [Array<String>] :journal_entry_ids Filter by specific JournalEntry IDs
    # @option opts [Array<String>] :account_ids Filter by specific Account IDs
    # @option opts [Array<String>] :journal_entry_types Filter by JournalEntry types, accepted values: bank, bill, invoice, credit_note, merged_ledger_account, reconciliation, tax, receipt, payroll_result, external
    # @option opts [String] :reconciliation_status The reconciliation status of the journal line
    # @option opts [String] :description 
    # @option opts [String] :updated_from Start date for filtering journal line records based on their last update.
    # @return [FinanceJournalLinesGet200Response]
    def finance_journal_lines_get(opts = {})
      data, _status_code, _headers = finance_journal_lines_get_with_http_info(opts)
      data
    end

    # Reads all Journal lines
    # Reads all Journal lines
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by specific JournalLine IDs
    # @option opts [Array<String>] :journal_entry_ids Filter by specific JournalEntry IDs
    # @option opts [Array<String>] :account_ids Filter by specific Account IDs
    # @option opts [Array<String>] :journal_entry_types Filter by JournalEntry types, accepted values: bank, bill, invoice, credit_note, merged_ledger_account, reconciliation, tax, receipt, payroll_result, external
    # @option opts [String] :reconciliation_status The reconciliation status of the journal line
    # @option opts [String] :description 
    # @option opts [String] :updated_from Start date for filtering journal line records based on their last update.
    # @return [Array<(FinanceJournalLinesGet200Response, Integer, Hash)>] FinanceJournalLinesGet200Response data, response status code and response headers
    def finance_journal_lines_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceJournalLineApi.finance_journal_lines_get ...'
      end
      allowable_values = ["pending", "reconciled", "snoozed"]
      if @api_client.config.client_side_validation && opts[:'reconciliation_status'] && !allowable_values.include?(opts[:'reconciliation_status'])
        fail ArgumentError, "invalid value for \"reconciliation_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/journal_lines'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'journal_entry_ids[]'] = @api_client.build_collection_param(opts[:'journal_entry_ids'], :multi) if !opts[:'journal_entry_ids'].nil?
      query_params[:'account_ids[]'] = @api_client.build_collection_param(opts[:'account_ids'], :multi) if !opts[:'account_ids'].nil?
      query_params[:'journal_entry_types[]'] = @api_client.build_collection_param(opts[:'journal_entry_types'], :multi) if !opts[:'journal_entry_types'].nil?
      query_params[:'reconciliation_status'] = opts[:'reconciliation_status'] if !opts[:'reconciliation_status'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceJournalLinesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceJournalLineApi.finance_journal_lines_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceJournalLineApi#finance_journal_lines_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Journal line
    # Reads a single Journal line
    # @param id [String] Filter by specific JournalLine IDs
    # @param [Hash] opts the optional parameters
    # @return [FinanceJournalLine]
    def finance_journal_lines_id_get(id, opts = {})
      data, _status_code, _headers = finance_journal_lines_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Journal line
    # Reads a single Journal line
    # @param id [String] Filter by specific JournalLine IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceJournalLine, Integer, Hash)>] FinanceJournalLine data, response status code and response headers
    def finance_journal_lines_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceJournalLineApi.finance_journal_lines_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceJournalLineApi.finance_journal_lines_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/journal_lines/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceJournalLine'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceJournalLineApi.finance_journal_lines_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceJournalLineApi#finance_journal_lines_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
