=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class FinanceAccountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Accounts
    # Fetch one or all ledger accounts for the company legal_entities.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Search ledger accounts by ID
    # @option opts [Array<String>] :legal_entity_ids Search ledger accounts by legal_entity_id
    # @option opts [Array<String>] :types Search ledger accounts by type
    # @option opts [String] :number Search ledger accounts by number
    # @option opts [String] :updated_from Start date for filtering ledger accounts based on their last update.
    # @return [FinanceAccountsGet200Response]
    def finance_accounts_get(opts = {})
      data, _status_code, _headers = finance_accounts_get_with_http_info(opts)
      data
    end

    # Reads all Accounts
    # Fetch one or all ledger accounts for the company legal_entities.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Search ledger accounts by ID
    # @option opts [Array<String>] :legal_entity_ids Search ledger accounts by legal_entity_id
    # @option opts [Array<String>] :types Search ledger accounts by type
    # @option opts [String] :number Search ledger accounts by number
    # @option opts [String] :updated_from Start date for filtering ledger accounts based on their last update.
    # @return [Array<(FinanceAccountsGet200Response, Integer, Hash)>] FinanceAccountsGet200Response data, response status code and response headers
    def finance_accounts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceAccountApi.finance_accounts_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/accounts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?
      query_params[:'types[]'] = @api_client.build_collection_param(opts[:'types'], :multi) if !opts[:'types'].nil?
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceAccountsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceAccountApi.finance_accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceAccountApi#finance_accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Account
    # Fetch one or all ledger accounts for the company legal_entities.
    # @param id [String] Search ledger accounts by ID
    # @param [Hash] opts the optional parameters
    # @return [FinanceAccount]
    def finance_accounts_id_get(id, opts = {})
      data, _status_code, _headers = finance_accounts_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Account
    # Fetch one or all ledger accounts for the company legal_entities.
    # @param id [String] Search ledger accounts by ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinanceAccount, Integer, Hash)>] FinanceAccount data, response status code and response headers
    def finance_accounts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceAccountApi.finance_accounts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceAccountApi.finance_accounts_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/accounts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceAccountApi.finance_accounts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceAccountApi#finance_accounts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Account
    # Update a ledger account.
    # @param id [String] Unique identifier in factorial for the ledger account
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceAccountsIdPutRequest] :finance_accounts_id_put_request 
    # @return [FinanceAccount]
    def finance_accounts_id_put(id, opts = {})
      data, _status_code, _headers = finance_accounts_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Account
    # Update a ledger account.
    # @param id [String] Unique identifier in factorial for the ledger account
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceAccountsIdPutRequest] :finance_accounts_id_put_request 
    # @return [Array<(FinanceAccount, Integer, Hash)>] FinanceAccount data, response status code and response headers
    def finance_accounts_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceAccountApi.finance_accounts_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FinanceAccountApi.finance_accounts_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/accounts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_accounts_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceAccountApi.finance_accounts_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceAccountApi#finance_accounts_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an Account
    # Create a ledger account for the company legal_entity. To avoid duplicates use the external_id field to set the ID of the ledger account in the external system.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceAccountsPostRequest] :finance_accounts_post_request 
    # @return [FinanceAccount]
    def finance_accounts_post(opts = {})
      data, _status_code, _headers = finance_accounts_post_with_http_info(opts)
      data
    end

    # Creates an Account
    # Create a ledger account for the company legal_entity. To avoid duplicates use the external_id field to set the ID of the ledger account in the external system.
    # @param [Hash] opts the optional parameters
    # @option opts [FinanceAccountsPostRequest] :finance_accounts_post_request 
    # @return [Array<(FinanceAccount, Integer, Hash)>] FinanceAccount data, response status code and response headers
    def finance_accounts_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinanceAccountApi.finance_accounts_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/finance/accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'finance_accounts_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FinanceAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"FinanceAccountApi.finance_accounts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinanceAccountApi#finance_accounts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
