=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class IntegrationsSyncableItemApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Syncable items
    # Reads all Syncable items
    # @param sync_run_id [String] Identifier of the sync run
    # @param [Hash] opts the optional parameters
    # @return [IntegrationsSyncableItemsGet200Response]
    def integrations_syncable_items_get(sync_run_id, opts = {})
      data, _status_code, _headers = integrations_syncable_items_get_with_http_info(sync_run_id, opts)
      data
    end

    # Reads all Syncable items
    # Reads all Syncable items
    # @param sync_run_id [String] Identifier of the sync run
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationsSyncableItemsGet200Response, Integer, Hash)>] IntegrationsSyncableItemsGet200Response data, response status code and response headers
    def integrations_syncable_items_get_with_http_info(sync_run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncableItemApi.integrations_syncable_items_get ...'
      end
      # verify the required parameter 'sync_run_id' is set
      if @api_client.config.client_side_validation && sync_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'sync_run_id' when calling IntegrationsSyncableItemApi.integrations_syncable_items_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/integrations/syncable_items'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sync_run_id'] = sync_run_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsSyncableItemsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncableItemApi.integrations_syncable_items_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncableItemApi#integrations_syncable_items_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
