=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class IntegrationsSyncRunOutputApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a Sync run output
    # Creates a Sync run output
    # @param sync_run_id [String] Identifier of the sync run this output belongs to
    # @param file [File] The CSV file to upload as the sync run output
    # @param [Hash] opts the optional parameters
    # @return [IntegrationsSyncRunOutput]
    def integrations_sync_run_outputs_post(sync_run_id, file, opts = {})
      data, _status_code, _headers = integrations_sync_run_outputs_post_with_http_info(sync_run_id, file, opts)
      data
    end

    # Creates a Sync run output
    # Creates a Sync run output
    # @param sync_run_id [String] Identifier of the sync run this output belongs to
    # @param file [File] The CSV file to upload as the sync run output
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationsSyncRunOutput, Integer, Hash)>] IntegrationsSyncRunOutput data, response status code and response headers
    def integrations_sync_run_outputs_post_with_http_info(sync_run_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncRunOutputApi.integrations_sync_run_outputs_post ...'
      end
      # verify the required parameter 'sync_run_id' is set
      if @api_client.config.client_side_validation && sync_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'sync_run_id' when calling IntegrationsSyncRunOutputApi.integrations_sync_run_outputs_post"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling IntegrationsSyncRunOutputApi.integrations_sync_run_outputs_post"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/integrations/sync_run_outputs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['sync_run_id'] = sync_run_id
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsSyncRunOutput'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncRunOutputApi.integrations_sync_run_outputs_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncRunOutputApi#integrations_sync_run_outputs_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
