=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class IntegrationsSyncableSyncRunApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk upserts a Syncable sync run
    # Bulk upserts a Syncable sync run
    # @param [Hash] opts the optional parameters
    # @option opts [IntegrationsSyncableSyncRunsBulkUpsertPostRequest] :integrations_syncable_sync_runs_bulk_upsert_post_request 
    # @return [Array<IntegrationsSyncableSyncRun>]
    def integrations_syncable_sync_runs_bulk_upsert_post(opts = {})
      data, _status_code, _headers = integrations_syncable_sync_runs_bulk_upsert_post_with_http_info(opts)
      data
    end

    # Bulk upserts a Syncable sync run
    # Bulk upserts a Syncable sync run
    # @param [Hash] opts the optional parameters
    # @option opts [IntegrationsSyncableSyncRunsBulkUpsertPostRequest] :integrations_syncable_sync_runs_bulk_upsert_post_request 
    # @return [Array<(Array<IntegrationsSyncableSyncRun>, Integer, Hash)>] Array<IntegrationsSyncableSyncRun> data, response status code and response headers
    def integrations_syncable_sync_runs_bulk_upsert_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncableSyncRunApi.integrations_syncable_sync_runs_bulk_upsert_post ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/integrations/syncable_sync_runs/bulk_upsert'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'integrations_syncable_sync_runs_bulk_upsert_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<IntegrationsSyncableSyncRun>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncableSyncRunApi.integrations_syncable_sync_runs_bulk_upsert_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncableSyncRunApi#integrations_syncable_sync_runs_bulk_upsert_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Syncable sync runs
    # Reads all Syncable sync runs
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter syncable sync runs by their identifiers
    # @option opts [Array<String>] :sync_run_ids Filter syncable sync runs by the sync runs they belong to
    # @return [IntegrationsSyncableSyncRunsGet200Response]
    def integrations_syncable_sync_runs_get(opts = {})
      data, _status_code, _headers = integrations_syncable_sync_runs_get_with_http_info(opts)
      data
    end

    # Reads all Syncable sync runs
    # Reads all Syncable sync runs
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter syncable sync runs by their identifiers
    # @option opts [Array<String>] :sync_run_ids Filter syncable sync runs by the sync runs they belong to
    # @return [Array<(IntegrationsSyncableSyncRunsGet200Response, Integer, Hash)>] IntegrationsSyncableSyncRunsGet200Response data, response status code and response headers
    def integrations_syncable_sync_runs_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncableSyncRunApi.integrations_syncable_sync_runs_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/integrations/syncable_sync_runs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'sync_run_ids[]'] = @api_client.build_collection_param(opts[:'sync_run_ids'], :multi) if !opts[:'sync_run_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsSyncableSyncRunsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncableSyncRunApi.integrations_syncable_sync_runs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncableSyncRunApi#integrations_syncable_sync_runs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Syncable sync run
    # Reads a single Syncable sync run
    # @param id [String] Filter syncable sync runs by their identifiers
    # @param [Hash] opts the optional parameters
    # @return [IntegrationsSyncableSyncRun]
    def integrations_syncable_sync_runs_id_get(id, opts = {})
      data, _status_code, _headers = integrations_syncable_sync_runs_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Syncable sync run
    # Reads a single Syncable sync run
    # @param id [String] Filter syncable sync runs by their identifiers
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationsSyncableSyncRun, Integer, Hash)>] IntegrationsSyncableSyncRun data, response status code and response headers
    def integrations_syncable_sync_runs_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncableSyncRunApi.integrations_syncable_sync_runs_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IntegrationsSyncableSyncRunApi.integrations_syncable_sync_runs_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/integrations/syncable_sync_runs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsSyncableSyncRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncableSyncRunApi.integrations_syncable_sync_runs_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncableSyncRunApi#integrations_syncable_sync_runs_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Syncable sync run
    # Updates a Syncable sync run
    # @param id [String] Identifier of the syncable sync run
    # @param [Hash] opts the optional parameters
    # @option opts [IntegrationsSyncableSyncRunsIdPutRequest] :integrations_syncable_sync_runs_id_put_request 
    # @return [IntegrationsSyncableSyncRun]
    def integrations_syncable_sync_runs_id_put(id, opts = {})
      data, _status_code, _headers = integrations_syncable_sync_runs_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Syncable sync run
    # Updates a Syncable sync run
    # @param id [String] Identifier of the syncable sync run
    # @param [Hash] opts the optional parameters
    # @option opts [IntegrationsSyncableSyncRunsIdPutRequest] :integrations_syncable_sync_runs_id_put_request 
    # @return [Array<(IntegrationsSyncableSyncRun, Integer, Hash)>] IntegrationsSyncableSyncRun data, response status code and response headers
    def integrations_syncable_sync_runs_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncableSyncRunApi.integrations_syncable_sync_runs_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IntegrationsSyncableSyncRunApi.integrations_syncable_sync_runs_id_put"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/integrations/syncable_sync_runs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'integrations_syncable_sync_runs_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsSyncableSyncRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncableSyncRunApi.integrations_syncable_sync_runs_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncableSyncRunApi#integrations_syncable_sync_runs_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
