=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class IntegrationsSyncRunApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Sync runs
    # Reads all Sync runs
    # @param marketplace_integration_uuid [String] UUID of the marketplace integration to filter sync runs by.
    # @param created_at_gteq [String] Filter sync runs by their creation timestamp (&#x60;created_at&#x60;), on or after this timestamp (inclusive).
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids identifier of sync run
    # @return [IntegrationsSyncRunsGet200Response]
    def integrations_sync_runs_get(marketplace_integration_uuid, created_at_gteq, opts = {})
      data, _status_code, _headers = integrations_sync_runs_get_with_http_info(marketplace_integration_uuid, created_at_gteq, opts)
      data
    end

    # Reads all Sync runs
    # Reads all Sync runs
    # @param marketplace_integration_uuid [String] UUID of the marketplace integration to filter sync runs by.
    # @param created_at_gteq [String] Filter sync runs by their creation timestamp (&#x60;created_at&#x60;), on or after this timestamp (inclusive).
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids identifier of sync run
    # @return [Array<(IntegrationsSyncRunsGet200Response, Integer, Hash)>] IntegrationsSyncRunsGet200Response data, response status code and response headers
    def integrations_sync_runs_get_with_http_info(marketplace_integration_uuid, created_at_gteq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncRunApi.integrations_sync_runs_get ...'
      end
      # verify the required parameter 'marketplace_integration_uuid' is set
      if @api_client.config.client_side_validation && marketplace_integration_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'marketplace_integration_uuid' when calling IntegrationsSyncRunApi.integrations_sync_runs_get"
      end
      # verify the required parameter 'created_at_gteq' is set
      if @api_client.config.client_side_validation && created_at_gteq.nil?
        fail ArgumentError, "Missing the required parameter 'created_at_gteq' when calling IntegrationsSyncRunApi.integrations_sync_runs_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/integrations/sync_runs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'marketplace_integration_uuid'] = marketplace_integration_uuid
      query_params[:'created_at_gteq'] = created_at_gteq
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsSyncRunsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncRunApi.integrations_sync_runs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncRunApi#integrations_sync_runs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Sync run
    # Reads a single Sync run
    # @param id [String] identifier of sync run
    # @param [Hash] opts the optional parameters
    # @return [IntegrationsSyncRun]
    def integrations_sync_runs_id_get(id, opts = {})
      data, _status_code, _headers = integrations_sync_runs_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Sync run
    # Reads a single Sync run
    # @param id [String] identifier of sync run
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationsSyncRun, Integer, Hash)>] IntegrationsSyncRun data, response status code and response headers
    def integrations_sync_runs_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncRunApi.integrations_sync_runs_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IntegrationsSyncRunApi.integrations_sync_runs_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/integrations/sync_runs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsSyncRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncRunApi.integrations_sync_runs_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncRunApi#integrations_sync_runs_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Sync run
    # Creates a Sync run
    # @param [Hash] opts the optional parameters
    # @option opts [IntegrationsSyncRunsPostRequest] :integrations_sync_runs_post_request 
    # @return [IntegrationsSyncRun]
    def integrations_sync_runs_post(opts = {})
      data, _status_code, _headers = integrations_sync_runs_post_with_http_info(opts)
      data
    end

    # Creates a Sync run
    # Creates a Sync run
    # @param [Hash] opts the optional parameters
    # @option opts [IntegrationsSyncRunsPostRequest] :integrations_sync_runs_post_request 
    # @return [Array<(IntegrationsSyncRun, Integer, Hash)>] IntegrationsSyncRun data, response status code and response headers
    def integrations_sync_runs_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncRunApi.integrations_sync_runs_post ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/integrations/sync_runs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'integrations_sync_runs_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsSyncRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncRunApi.integrations_sync_runs_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncRunApi#integrations_sync_runs_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
