=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class IntegrationsSyncableStateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Syncable states
    # Reads all Syncable states
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter syncable states by their identifiers
    # @option opts [Array<String>] :syncable_ids Filter syncable states by the identifiers of the linked API resource, identified by the resource_syncable_type field
    # @option opts [String] :resource_syncable_type The resource of the linked records, in \&quot;namespace/resource\&quot; form. Required when filtering by syncable_ids.
    # @option opts [String] :integration_uuid Filter syncable states by the UUID of the marketplace integration
    # @return [IntegrationsSyncableStatesGet200Response]
    def integrations_syncable_states_get(opts = {})
      data, _status_code, _headers = integrations_syncable_states_get_with_http_info(opts)
      data
    end

    # Reads all Syncable states
    # Reads all Syncable states
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter syncable states by their identifiers
    # @option opts [Array<String>] :syncable_ids Filter syncable states by the identifiers of the linked API resource, identified by the resource_syncable_type field
    # @option opts [String] :resource_syncable_type The resource of the linked records, in \&quot;namespace/resource\&quot; form. Required when filtering by syncable_ids.
    # @option opts [String] :integration_uuid Filter syncable states by the UUID of the marketplace integration
    # @return [Array<(IntegrationsSyncableStatesGet200Response, Integer, Hash)>] IntegrationsSyncableStatesGet200Response data, response status code and response headers
    def integrations_syncable_states_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncableStateApi.integrations_syncable_states_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/integrations/syncable_states'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'syncable_ids[]'] = @api_client.build_collection_param(opts[:'syncable_ids'], :multi) if !opts[:'syncable_ids'].nil?
      query_params[:'resource_syncable_type'] = opts[:'resource_syncable_type'] if !opts[:'resource_syncable_type'].nil?
      query_params[:'integration_uuid'] = opts[:'integration_uuid'] if !opts[:'integration_uuid'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsSyncableStatesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncableStateApi.integrations_syncable_states_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncableStateApi#integrations_syncable_states_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Syncable state
    # Reads a single Syncable state
    # @param id [String] Filter syncable states by their identifiers
    # @param [Hash] opts the optional parameters
    # @return [IntegrationsSyncableState]
    def integrations_syncable_states_id_get(id, opts = {})
      data, _status_code, _headers = integrations_syncable_states_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Syncable state
    # Reads a single Syncable state
    # @param id [String] Filter syncable states by their identifiers
    # @param [Hash] opts the optional parameters
    # @return [Array<(IntegrationsSyncableState, Integer, Hash)>] IntegrationsSyncableState data, response status code and response headers
    def integrations_syncable_states_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntegrationsSyncableStateApi.integrations_syncable_states_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IntegrationsSyncableStateApi.integrations_syncable_states_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/integrations/syncable_states/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IntegrationsSyncableState'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"IntegrationsSyncableStateApi.integrations_syncable_states_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntegrationsSyncableStateApi#integrations_syncable_states_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
