=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ItManagementItAssetApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all It assets
    # Reads all It assets
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids IT Asset identifiers to retrieve
    # @option opts [Array<String>] :serial_numbers Serial numbers of IT assets to retrieve
    # @option opts [Array<String>] :type_names Type names of IT assets to filter
    # @option opts [Array<String>] :owner_ids Owner (employee) identifiers to filter assets
    # @option opts [Array<String>] :location_ids Location identifiers to filter assets
    # @option opts [Array<String>] :workplace_ids Workplace identifiers to filter assets
    # @option opts [Array<String>] :team_ids Team identifiers to filter assets
    # @return [ItManagementItAssetsGet200Response]
    def it_management_it_assets_get(opts = {})
      data, _status_code, _headers = it_management_it_assets_get_with_http_info(opts)
      data
    end

    # Reads all It assets
    # Reads all It assets
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids IT Asset identifiers to retrieve
    # @option opts [Array<String>] :serial_numbers Serial numbers of IT assets to retrieve
    # @option opts [Array<String>] :type_names Type names of IT assets to filter
    # @option opts [Array<String>] :owner_ids Owner (employee) identifiers to filter assets
    # @option opts [Array<String>] :location_ids Location identifiers to filter assets
    # @option opts [Array<String>] :workplace_ids Workplace identifiers to filter assets
    # @option opts [Array<String>] :team_ids Team identifiers to filter assets
    # @return [Array<(ItManagementItAssetsGet200Response, Integer, Hash)>] ItManagementItAssetsGet200Response data, response status code and response headers
    def it_management_it_assets_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItManagementItAssetApi.it_management_it_assets_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/it_management/it_assets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'serial_numbers[]'] = @api_client.build_collection_param(opts[:'serial_numbers'], :multi) if !opts[:'serial_numbers'].nil?
      query_params[:'type_names[]'] = @api_client.build_collection_param(opts[:'type_names'], :multi) if !opts[:'type_names'].nil?
      query_params[:'owner_ids[]'] = @api_client.build_collection_param(opts[:'owner_ids'], :multi) if !opts[:'owner_ids'].nil?
      query_params[:'location_ids[]'] = @api_client.build_collection_param(opts[:'location_ids'], :multi) if !opts[:'location_ids'].nil?
      query_params[:'workplace_ids[]'] = @api_client.build_collection_param(opts[:'workplace_ids'], :multi) if !opts[:'workplace_ids'].nil?
      query_params[:'team_ids[]'] = @api_client.build_collection_param(opts[:'team_ids'], :multi) if !opts[:'team_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItManagementItAssetsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ItManagementItAssetApi.it_management_it_assets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItManagementItAssetApi#it_management_it_assets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an It asset
    # Deletes an It asset
    # @param id [String] IT Asset identifier to delete
    # @param [Hash] opts the optional parameters
    # @return [ItManagementItAsset]
    def it_management_it_assets_id_delete(id, opts = {})
      data, _status_code, _headers = it_management_it_assets_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes an It asset
    # Deletes an It asset
    # @param id [String] IT Asset identifier to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItManagementItAsset, Integer, Hash)>] ItManagementItAsset data, response status code and response headers
    def it_management_it_assets_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItManagementItAssetApi.it_management_it_assets_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItManagementItAssetApi.it_management_it_assets_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/it_management/it_assets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItManagementItAsset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ItManagementItAssetApi.it_management_it_assets_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItManagementItAssetApi#it_management_it_assets_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single It asset
    # Reads a single It asset
    # @param id [String] IT Asset identifiers to retrieve
    # @param [Hash] opts the optional parameters
    # @return [ItManagementItAsset]
    def it_management_it_assets_id_get(id, opts = {})
      data, _status_code, _headers = it_management_it_assets_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single It asset
    # Reads a single It asset
    # @param id [String] IT Asset identifiers to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItManagementItAsset, Integer, Hash)>] ItManagementItAsset data, response status code and response headers
    def it_management_it_assets_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItManagementItAssetApi.it_management_it_assets_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItManagementItAssetApi.it_management_it_assets_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/it_management/it_assets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItManagementItAsset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ItManagementItAssetApi.it_management_it_assets_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItManagementItAssetApi#it_management_it_assets_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an It asset
    # Updates an It asset
    # @param id [String] IT Asset identifier
    # @param [Hash] opts the optional parameters
    # @option opts [ItManagementItAssetsIdPutRequest] :it_management_it_assets_id_put_request 
    # @return [ItManagementItAsset]
    def it_management_it_assets_id_put(id, opts = {})
      data, _status_code, _headers = it_management_it_assets_id_put_with_http_info(id, opts)
      data
    end

    # Updates an It asset
    # Updates an It asset
    # @param id [String] IT Asset identifier
    # @param [Hash] opts the optional parameters
    # @option opts [ItManagementItAssetsIdPutRequest] :it_management_it_assets_id_put_request 
    # @return [Array<(ItManagementItAsset, Integer, Hash)>] ItManagementItAsset data, response status code and response headers
    def it_management_it_assets_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItManagementItAssetApi.it_management_it_assets_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ItManagementItAssetApi.it_management_it_assets_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/it_management/it_assets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'it_management_it_assets_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItManagementItAsset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ItManagementItAssetApi.it_management_it_assets_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItManagementItAssetApi#it_management_it_assets_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an It asset
    # Creates an It asset
    # @param [Hash] opts the optional parameters
    # @option opts [ItManagementItAssetsPostRequest] :it_management_it_assets_post_request 
    # @return [ItManagementItAsset]
    def it_management_it_assets_post(opts = {})
      data, _status_code, _headers = it_management_it_assets_post_with_http_info(opts)
      data
    end

    # Creates an It asset
    # Creates an It asset
    # @param [Hash] opts the optional parameters
    # @option opts [ItManagementItAssetsPostRequest] :it_management_it_assets_post_request 
    # @return [Array<(ItManagementItAsset, Integer, Hash)>] ItManagementItAsset data, response status code and response headers
    def it_management_it_assets_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItManagementItAssetApi.it_management_it_assets_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/it_management/it_assets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'it_management_it_assets_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItManagementItAsset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ItManagementItAssetApi.it_management_it_assets_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItManagementItAssetApi#it_management_it_assets_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
