=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class JobCatalogNodeAttributeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Node attributes
    # Fetch Attributes for a node (Family, Function, role or level) in the Job Catalog Tree
    # @param node_uuid [String] Preferred identifier of the node to fetch attributes for. Required unless &#x60;node_id&#x60; + &#x60;node_type&#x60; are provided.
    # @param attribute_types [Array<String>] Restrict the response to attributes of these classes (e.g., competency, salary_range).
    # @param [Hash] opts the optional parameters
    # @return [JobCatalogNodeAttributesGet200Response]
    def job_catalog_node_attributes_get(node_uuid, attribute_types, opts = {})
      data, _status_code, _headers = job_catalog_node_attributes_get_with_http_info(node_uuid, attribute_types, opts)
      data
    end

    # Reads all Node attributes
    # Fetch Attributes for a node (Family, Function, role or level) in the Job Catalog Tree
    # @param node_uuid [String] Preferred identifier of the node to fetch attributes for. Required unless &#x60;node_id&#x60; + &#x60;node_type&#x60; are provided.
    # @param attribute_types [Array<String>] Restrict the response to attributes of these classes (e.g., competency, salary_range).
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobCatalogNodeAttributesGet200Response, Integer, Hash)>] JobCatalogNodeAttributesGet200Response data, response status code and response headers
    def job_catalog_node_attributes_get_with_http_info(node_uuid, attribute_types, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobCatalogNodeAttributeApi.job_catalog_node_attributes_get ...'
      end
      # verify the required parameter 'node_uuid' is set
      if @api_client.config.client_side_validation && node_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'node_uuid' when calling JobCatalogNodeAttributeApi.job_catalog_node_attributes_get"
      end
      # verify the required parameter 'attribute_types' is set
      if @api_client.config.client_side_validation && attribute_types.nil?
        fail ArgumentError, "Missing the required parameter 'attribute_types' when calling JobCatalogNodeAttributeApi.job_catalog_node_attributes_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/job_catalog/node_attributes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'node_uuid'] = node_uuid
      query_params[:'attribute_types[]'] = @api_client.build_collection_param(attribute_types, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobCatalogNodeAttributesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"JobCatalogNodeAttributeApi.job_catalog_node_attributes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobCatalogNodeAttributeApi#job_catalog_node_attributes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
