=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class JobCatalogTreeNodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Tree nodes
    # Fetch Job Catalog Tree Node. For now only admins can see all the nodes' information, regular users won't have access to the nodes' information. In general there are four node types level, function, role and family.
    # @param node_type [String] Node type scope for the query. Required with IDs, ancestor filters, or name search. Accepted values: jobcatalog_treelevel, jobcatalog_treefunction, jobcatalog_treerole, jobcatalog_treefamily.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :uuids List of Job Catalog node UUIDs to fetch. Must reference nodes of a single type.
    # @option opts [Array<String>] :ancestor_uuids Return nodes that descend from any of these ancestor UUIDs (single node type only).
    # @option opts [Boolean] :include_full_path When true, includes each node&#39;s ordered ancestor path up to the root.
    # @return [JobCatalogTreeNodesGet200Response]
    def job_catalog_tree_nodes_get(node_type, opts = {})
      data, _status_code, _headers = job_catalog_tree_nodes_get_with_http_info(node_type, opts)
      data
    end

    # Reads all Tree nodes
    # Fetch Job Catalog Tree Node. For now only admins can see all the nodes&#39; information, regular users won&#39;t have access to the nodes&#39; information. In general there are four node types level, function, role and family.
    # @param node_type [String] Node type scope for the query. Required with IDs, ancestor filters, or name search. Accepted values: jobcatalog_treelevel, jobcatalog_treefunction, jobcatalog_treerole, jobcatalog_treefamily.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :uuids List of Job Catalog node UUIDs to fetch. Must reference nodes of a single type.
    # @option opts [Array<String>] :ancestor_uuids Return nodes that descend from any of these ancestor UUIDs (single node type only).
    # @option opts [Boolean] :include_full_path When true, includes each node&#39;s ordered ancestor path up to the root.
    # @return [Array<(JobCatalogTreeNodesGet200Response, Integer, Hash)>] JobCatalogTreeNodesGet200Response data, response status code and response headers
    def job_catalog_tree_nodes_get_with_http_info(node_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobCatalogTreeNodeApi.job_catalog_tree_nodes_get ...'
      end
      # verify the required parameter 'node_type' is set
      if @api_client.config.client_side_validation && node_type.nil?
        fail ArgumentError, "Missing the required parameter 'node_type' when calling JobCatalogTreeNodeApi.job_catalog_tree_nodes_get"
      end
      # verify enum value
      allowable_values = ["jobcatalog_treeroot", "jobcatalog_treefamily", "jobcatalog_treefunction", "jobcatalog_treerole", "jobcatalog_treelevel"]
      if @api_client.config.client_side_validation && !allowable_values.include?(node_type)
        fail ArgumentError, "invalid value for \"node_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/job_catalog/tree_nodes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'node_type'] = node_type
      query_params[:'uuids[]'] = @api_client.build_collection_param(opts[:'uuids'], :multi) if !opts[:'uuids'].nil?
      query_params[:'ancestor_uuids[]'] = @api_client.build_collection_param(opts[:'ancestor_uuids'], :multi) if !opts[:'ancestor_uuids'].nil?
      query_params[:'include_full_path'] = opts[:'include_full_path'] if !opts[:'include_full_path'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobCatalogTreeNodesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"JobCatalogTreeNodeApi.job_catalog_tree_nodes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobCatalogTreeNodeApi#job_catalog_tree_nodes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
