=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class JobCatalogLevelApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Levels
    # This returns the job catalog levels
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids filter by level ids.
    # @option opts [Array<String>] :role_ids filter by role ids.
    # @return [JobCatalogLevelsGet200Response]
    def job_catalog_levels_get(opts = {})
      data, _status_code, _headers = job_catalog_levels_get_with_http_info(opts)
      data
    end

    # Reads all Levels
    # This returns the job catalog levels
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids filter by level ids.
    # @option opts [Array<String>] :role_ids filter by role ids.
    # @return [Array<(JobCatalogLevelsGet200Response, Integer, Hash)>] JobCatalogLevelsGet200Response data, response status code and response headers
    def job_catalog_levels_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobCatalogLevelApi.job_catalog_levels_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/job_catalog/levels'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'role_ids[]'] = @api_client.build_collection_param(opts[:'role_ids'], :multi) if !opts[:'role_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobCatalogLevelsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"JobCatalogLevelApi.job_catalog_levels_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobCatalogLevelApi#job_catalog_levels_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Level
    # This returns the job catalog levels
    # @param id [String] filter by level ids.
    # @param [Hash] opts the optional parameters
    # @return [JobCatalogLevel]
    def job_catalog_levels_id_get(id, opts = {})
      data, _status_code, _headers = job_catalog_levels_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Level
    # This returns the job catalog levels
    # @param id [String] filter by level ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobCatalogLevel, Integer, Hash)>] JobCatalogLevel data, response status code and response headers
    def job_catalog_levels_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobCatalogLevelApi.job_catalog_levels_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling JobCatalogLevelApi.job_catalog_levels_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/job_catalog/levels/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobCatalogLevel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"JobCatalogLevelApi.job_catalog_levels_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobCatalogLevelApi#job_catalog_levels_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
