=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class LocationsLocationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Locations
    # Reads all Locations
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The location IDs to filter the results.
    # @option opts [Array<String>] :employee_ids Return only the locations assigned to these employees.
    # @option opts [Boolean] :main Wether to filter only the main location.
    # @return [LocationsLocationsGet200Response]
    def locations_locations_get(opts = {})
      data, _status_code, _headers = locations_locations_get_with_http_info(opts)
      data
    end

    # Reads all Locations
    # Reads all Locations
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The location IDs to filter the results.
    # @option opts [Array<String>] :employee_ids Return only the locations assigned to these employees.
    # @option opts [Boolean] :main Wether to filter only the main location.
    # @return [Array<(LocationsLocationsGet200Response, Integer, Hash)>] LocationsLocationsGet200Response data, response status code and response headers
    def locations_locations_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsLocationApi.locations_locations_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/locations/locations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'main'] = opts[:'main'] if !opts[:'main'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocationsLocationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"LocationsLocationApi.locations_locations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsLocationApi#locations_locations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Location
    # Deletes a Location
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LocationsLocation]
    def locations_locations_id_delete(id, opts = {})
      data, _status_code, _headers = locations_locations_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Location
    # Deletes a Location
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocationsLocation, Integer, Hash)>] LocationsLocation data, response status code and response headers
    def locations_locations_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsLocationApi.locations_locations_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LocationsLocationApi.locations_locations_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/locations/locations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocationsLocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"LocationsLocationApi.locations_locations_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsLocationApi#locations_locations_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Location
    # Reads a single Location
    # @param id [String] The location IDs to filter the results.
    # @param [Hash] opts the optional parameters
    # @return [LocationsLocation]
    def locations_locations_id_get(id, opts = {})
      data, _status_code, _headers = locations_locations_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Location
    # Reads a single Location
    # @param id [String] The location IDs to filter the results.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocationsLocation, Integer, Hash)>] LocationsLocation data, response status code and response headers
    def locations_locations_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsLocationApi.locations_locations_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LocationsLocationApi.locations_locations_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/locations/locations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocationsLocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"LocationsLocationApi.locations_locations_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsLocationApi#locations_locations_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Location
    # Updates a Location
    # @param id [String] identifier of the location
    # @param [Hash] opts the optional parameters
    # @option opts [LocationsLocationsIdPutRequest] :locations_locations_id_put_request 
    # @return [LocationsLocation]
    def locations_locations_id_put(id, opts = {})
      data, _status_code, _headers = locations_locations_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Location
    # Updates a Location
    # @param id [String] identifier of the location
    # @param [Hash] opts the optional parameters
    # @option opts [LocationsLocationsIdPutRequest] :locations_locations_id_put_request 
    # @return [Array<(LocationsLocation, Integer, Hash)>] LocationsLocation data, response status code and response headers
    def locations_locations_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsLocationApi.locations_locations_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LocationsLocationApi.locations_locations_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/locations/locations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'locations_locations_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'LocationsLocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"LocationsLocationApi.locations_locations_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsLocationApi#locations_locations_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Location
    # Creates a Location
    # @param [Hash] opts the optional parameters
    # @option opts [LocationsLocationsPostRequest] :locations_locations_post_request 
    # @return [LocationsLocation]
    def locations_locations_post(opts = {})
      data, _status_code, _headers = locations_locations_post_with_http_info(opts)
      data
    end

    # Creates a Location
    # Creates a Location
    # @param [Hash] opts the optional parameters
    # @option opts [LocationsLocationsPostRequest] :locations_locations_post_request 
    # @return [Array<(LocationsLocation, Integer, Hash)>] LocationsLocation data, response status code and response headers
    def locations_locations_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsLocationApi.locations_locations_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/locations/locations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'locations_locations_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'LocationsLocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"LocationsLocationApi.locations_locations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsLocationApi#locations_locations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
