=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class MarketplaceInstallationSettingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Installation settings
    # Reads all Installation settings
    # @param company_id [String] Identifier of the company
    # @param integration_id [String] ID of the integration
    # @param [Hash] opts the optional parameters
    # @return [MarketplaceInstallationSettingsGet200Response]
    def marketplace_installation_settings_get(company_id, integration_id, opts = {})
      data, _status_code, _headers = marketplace_installation_settings_get_with_http_info(company_id, integration_id, opts)
      data
    end

    # Reads all Installation settings
    # Reads all Installation settings
    # @param company_id [String] Identifier of the company
    # @param integration_id [String] ID of the integration
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarketplaceInstallationSettingsGet200Response, Integer, Hash)>] MarketplaceInstallationSettingsGet200Response data, response status code and response headers
    def marketplace_installation_settings_get_with_http_info(company_id, integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketplaceInstallationSettingApi.marketplace_installation_settings_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling MarketplaceInstallationSettingApi.marketplace_installation_settings_get"
      end
      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling MarketplaceInstallationSettingApi.marketplace_installation_settings_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/marketplace/installation_settings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = company_id
      query_params[:'integration_id'] = integration_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarketplaceInstallationSettingsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"MarketplaceInstallationSettingApi.marketplace_installation_settings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplaceInstallationSettingApi#marketplace_installation_settings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
