=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PayrollSupplementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Supplements
    # Reads all Supplements
    # @param policy_period_ids [Array<String>] The policy period ids to retrieve
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from Valid date following the format YYYY-MM-DD
    # @option opts [String] :to Valid date following the format YYYY-MM-DD
    # @option opts [Array<String>] :employee_ids The employee ids to retrieve
    # @option opts [String] :compensation_id The compensation id to retrieve
    # @option opts [Array<String>] :ids ids
    # @option opts [Array<String>] :legal_entity_ids The legal entities id to retrieve
    # @return [PayrollSupplementsGet200Response]
    def payroll_supplements_get(policy_period_ids, opts = {})
      data, _status_code, _headers = payroll_supplements_get_with_http_info(policy_period_ids, opts)
      data
    end

    # Reads all Supplements
    # Reads all Supplements
    # @param policy_period_ids [Array<String>] The policy period ids to retrieve
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from Valid date following the format YYYY-MM-DD
    # @option opts [String] :to Valid date following the format YYYY-MM-DD
    # @option opts [Array<String>] :employee_ids The employee ids to retrieve
    # @option opts [String] :compensation_id The compensation id to retrieve
    # @option opts [Array<String>] :ids ids
    # @option opts [Array<String>] :legal_entity_ids The legal entities id to retrieve
    # @return [Array<(PayrollSupplementsGet200Response, Integer, Hash)>] PayrollSupplementsGet200Response data, response status code and response headers
    def payroll_supplements_get_with_http_info(policy_period_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollSupplementApi.payroll_supplements_get ...'
      end
      # verify the required parameter 'policy_period_ids' is set
      if @api_client.config.client_side_validation && policy_period_ids.nil?
        fail ArgumentError, "Missing the required parameter 'policy_period_ids' when calling PayrollSupplementApi.payroll_supplements_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll/supplements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'policy_period_ids[]'] = @api_client.build_collection_param(policy_period_ids, :multi)
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'compensation_id'] = opts[:'compensation_id'] if !opts[:'compensation_id'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'legal_entity_ids[]'] = @api_client.build_collection_param(opts[:'legal_entity_ids'], :multi) if !opts[:'legal_entity_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollSupplementsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollSupplementApi.payroll_supplements_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollSupplementApi#payroll_supplements_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Supplement
    # Deletes a Supplement
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PayrollSupplement]
    def payroll_supplements_id_delete(id, opts = {})
      data, _status_code, _headers = payroll_supplements_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Supplement
    # Deletes a Supplement
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayrollSupplement, Integer, Hash)>] PayrollSupplement data, response status code and response headers
    def payroll_supplements_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollSupplementApi.payroll_supplements_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayrollSupplementApi.payroll_supplements_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll/supplements/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollSupplement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollSupplementApi.payroll_supplements_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollSupplementApi#payroll_supplements_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Supplement
    # Reads a single Supplement
    # @param id [String] ids
    # @param [Hash] opts the optional parameters
    # @return [PayrollSupplement]
    def payroll_supplements_id_get(id, opts = {})
      data, _status_code, _headers = payroll_supplements_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Supplement
    # Reads a single Supplement
    # @param id [String] ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayrollSupplement, Integer, Hash)>] PayrollSupplement data, response status code and response headers
    def payroll_supplements_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollSupplementApi.payroll_supplements_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayrollSupplementApi.payroll_supplements_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll/supplements/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollSupplement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollSupplementApi.payroll_supplements_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollSupplementApi#payroll_supplements_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Supplement
    # Updates a Supplement unless it is an additional compensation supplement (In such case, you need to create a new one, then remove the old compensation supplement from the contract and add the newly created one to it).
    # @param id [String] The supplement id
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollSupplementsIdPutRequest] :payroll_supplements_id_put_request 
    # @return [PayrollSupplement]
    def payroll_supplements_id_put(id, opts = {})
      data, _status_code, _headers = payroll_supplements_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Supplement
    # Updates a Supplement unless it is an additional compensation supplement (In such case, you need to create a new one, then remove the old compensation supplement from the contract and add the newly created one to it).
    # @param id [String] The supplement id
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollSupplementsIdPutRequest] :payroll_supplements_id_put_request 
    # @return [Array<(PayrollSupplement, Integer, Hash)>] PayrollSupplement data, response status code and response headers
    def payroll_supplements_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollSupplementApi.payroll_supplements_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayrollSupplementApi.payroll_supplements_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll/supplements/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payroll_supplements_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollSupplement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollSupplementApi.payroll_supplements_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollSupplementApi#payroll_supplements_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Supplement
    # Creates a Supplement
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollSupplementsPostRequest] :payroll_supplements_post_request 
    # @return [PayrollSupplement]
    def payroll_supplements_post(opts = {})
      data, _status_code, _headers = payroll_supplements_post_with_http_info(opts)
      data
    end

    # Creates a Supplement
    # Creates a Supplement
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollSupplementsPostRequest] :payroll_supplements_post_request 
    # @return [Array<(PayrollSupplement, Integer, Hash)>] PayrollSupplement data, response status code and response headers
    def payroll_supplements_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollSupplementApi.payroll_supplements_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll/supplements'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payroll_supplements_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollSupplement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollSupplementApi.payroll_supplements_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollSupplementApi#payroll_supplements_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
