=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PayrollEmployeesIdentifierApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Identifiers
    # Reads Payroll employee identifier codes, current countries supported are Portugal, Italy and Germany
    # @param country [String] filters by country code pt | it | de
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @option opts [Array<String>] :employees_ids filters by employee identifiers
    # @option opts [Array<String>] :legal_entities_ids 
    # @return [PayrollEmployeesIdentifiersGet200Response]
    def payroll_employees_identifiers_get(country, opts = {})
      data, _status_code, _headers = payroll_employees_identifiers_get_with_http_info(country, opts)
      data
    end

    # Reads all Identifiers
    # Reads Payroll employee identifier codes, current countries supported are Portugal, Italy and Germany
    # @param country [String] filters by country code pt | it | de
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @option opts [Array<String>] :employees_ids filters by employee identifiers
    # @option opts [Array<String>] :legal_entities_ids 
    # @return [Array<(PayrollEmployeesIdentifiersGet200Response, Integer, Hash)>] PayrollEmployeesIdentifiersGet200Response data, response status code and response headers
    def payroll_employees_identifiers_get_with_http_info(country, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollEmployeesIdentifierApi.payroll_employees_identifiers_get ...'
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling PayrollEmployeesIdentifierApi.payroll_employees_identifiers_get"
      end
      # verify enum value
      allowable_values = ["pt", "de", "it"]
      if @api_client.config.client_side_validation && !allowable_values.include?(country)
        fail ArgumentError, "invalid value for \"country\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll_employees/identifiers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = country
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employees_ids[]'] = @api_client.build_collection_param(opts[:'employees_ids'], :multi) if !opts[:'employees_ids'].nil?
      query_params[:'legal_entities_ids[]'] = @api_client.build_collection_param(opts[:'legal_entities_ids'], :multi) if !opts[:'legal_entities_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollEmployeesIdentifiersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollEmployeesIdentifierApi.payroll_employees_identifiers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollEmployeesIdentifierApi#payroll_employees_identifiers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an Identifier
    # Reads Payroll employee identifier codes, current countries supported are Portugal, Italy and Germany
    # @param id [String] payroll employee identifier
    # @param [Hash] opts the optional parameters
    # @return [PayrollEmployeesIdentifier]
    def payroll_employees_identifiers_id_delete(id, opts = {})
      data, _status_code, _headers = payroll_employees_identifiers_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes an Identifier
    # Reads Payroll employee identifier codes, current countries supported are Portugal, Italy and Germany
    # @param id [String] payroll employee identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayrollEmployeesIdentifier, Integer, Hash)>] PayrollEmployeesIdentifier data, response status code and response headers
    def payroll_employees_identifiers_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollEmployeesIdentifierApi.payroll_employees_identifiers_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayrollEmployeesIdentifierApi.payroll_employees_identifiers_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll_employees/identifiers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollEmployeesIdentifier'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollEmployeesIdentifierApi.payroll_employees_identifiers_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollEmployeesIdentifierApi#payroll_employees_identifiers_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Identifier
    # Reads Payroll employee identifier codes, current countries supported are Portugal, Italy and Germany
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PayrollEmployeesIdentifier]
    def payroll_employees_identifiers_id_get(id, opts = {})
      data, _status_code, _headers = payroll_employees_identifiers_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Identifier
    # Reads Payroll employee identifier codes, current countries supported are Portugal, Italy and Germany
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayrollEmployeesIdentifier, Integer, Hash)>] PayrollEmployeesIdentifier data, response status code and response headers
    def payroll_employees_identifiers_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollEmployeesIdentifierApi.payroll_employees_identifiers_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayrollEmployeesIdentifierApi.payroll_employees_identifiers_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll_employees/identifiers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollEmployeesIdentifier'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollEmployeesIdentifierApi.payroll_employees_identifiers_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollEmployeesIdentifierApi#payroll_employees_identifiers_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Identifier
    # Reads Payroll employee identifier codes, current countries supported are Portugal, Italy and Germany
    # @param id [String] payroll employee identifier
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollEmployeesIdentifiersIdPutRequest] :payroll_employees_identifiers_id_put_request 
    # @return [PayrollEmployeesIdentifier]
    def payroll_employees_identifiers_id_put(id, opts = {})
      data, _status_code, _headers = payroll_employees_identifiers_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Identifier
    # Reads Payroll employee identifier codes, current countries supported are Portugal, Italy and Germany
    # @param id [String] payroll employee identifier
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollEmployeesIdentifiersIdPutRequest] :payroll_employees_identifiers_id_put_request 
    # @return [Array<(PayrollEmployeesIdentifier, Integer, Hash)>] PayrollEmployeesIdentifier data, response status code and response headers
    def payroll_employees_identifiers_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollEmployeesIdentifierApi.payroll_employees_identifiers_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayrollEmployeesIdentifierApi.payroll_employees_identifiers_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll_employees/identifiers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payroll_employees_identifiers_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollEmployeesIdentifier'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollEmployeesIdentifierApi.payroll_employees_identifiers_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollEmployeesIdentifierApi#payroll_employees_identifiers_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an Identifier
    # Reads Payroll employee identifier codes, current countries supported are Portugal, Italy and Germany
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollEmployeesIdentifiersPostRequest] :payroll_employees_identifiers_post_request 
    # @return [PayrollEmployeesIdentifier]
    def payroll_employees_identifiers_post(opts = {})
      data, _status_code, _headers = payroll_employees_identifiers_post_with_http_info(opts)
      data
    end

    # Creates an Identifier
    # Reads Payroll employee identifier codes, current countries supported are Portugal, Italy and Germany
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollEmployeesIdentifiersPostRequest] :payroll_employees_identifiers_post_request 
    # @return [Array<(PayrollEmployeesIdentifier, Integer, Hash)>] PayrollEmployeesIdentifier data, response status code and response headers
    def payroll_employees_identifiers_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollEmployeesIdentifierApi.payroll_employees_identifiers_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll_employees/identifiers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payroll_employees_identifiers_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollEmployeesIdentifier'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollEmployeesIdentifierApi.payroll_employees_identifiers_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollEmployeesIdentifierApi#payroll_employees_identifiers_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
