=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class PayrollEmployeesGermanEmployeeDatumApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all German employee data
    # Reads German-specific payroll data records for employees
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by identifiers of the German employee data records
    # @option opts [Array<String>] :employee_ids Filter by employee identifiers
    # @return [PayrollEmployeesGermanEmployeeDataGet200Response]
    def payroll_employees_german_employee_data_get(opts = {})
      data, _status_code, _headers = payroll_employees_german_employee_data_get_with_http_info(opts)
      data
    end

    # Reads all German employee data
    # Reads German-specific payroll data records for employees
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by identifiers of the German employee data records
    # @option opts [Array<String>] :employee_ids Filter by employee identifiers
    # @return [Array<(PayrollEmployeesGermanEmployeeDataGet200Response, Integer, Hash)>] PayrollEmployeesGermanEmployeeDataGet200Response data, response status code and response headers
    def payroll_employees_german_employee_data_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollEmployeesGermanEmployeeDatumApi.payroll_employees_german_employee_data_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/payroll_employees/german_employee_data'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollEmployeesGermanEmployeeDataGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollEmployeesGermanEmployeeDatumApi.payroll_employees_german_employee_data_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollEmployeesGermanEmployeeDatumApi#payroll_employees_german_employee_data_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single German employee datum
    # Reads German-specific payroll data records for employees
    # @param id [String] Filter by identifiers of the German employee data records
    # @param [Hash] opts the optional parameters
    # @return [PayrollEmployeesGermanEmployeeDatum]
    def payroll_employees_german_employee_data_id_get(id, opts = {})
      data, _status_code, _headers = payroll_employees_german_employee_data_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single German employee datum
    # Reads German-specific payroll data records for employees
    # @param id [String] Filter by identifiers of the German employee data records
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayrollEmployeesGermanEmployeeDatum, Integer, Hash)>] PayrollEmployeesGermanEmployeeDatum data, response status code and response headers
    def payroll_employees_german_employee_data_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollEmployeesGermanEmployeeDatumApi.payroll_employees_german_employee_data_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayrollEmployeesGermanEmployeeDatumApi.payroll_employees_german_employee_data_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/payroll_employees/german_employee_data/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollEmployeesGermanEmployeeDatum'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollEmployeesGermanEmployeeDatumApi.payroll_employees_german_employee_data_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollEmployeesGermanEmployeeDatumApi#payroll_employees_german_employee_data_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a German employee datum
    # Updates the German-specific payroll data record for an employee
    # @param id [String] Identifier of the German employee data record
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollEmployeesGermanEmployeeDataIdPutRequest] :payroll_employees_german_employee_data_id_put_request 
    # @return [PayrollEmployeesGermanEmployeeDatum]
    def payroll_employees_german_employee_data_id_put(id, opts = {})
      data, _status_code, _headers = payroll_employees_german_employee_data_id_put_with_http_info(id, opts)
      data
    end

    # Updates a German employee datum
    # Updates the German-specific payroll data record for an employee
    # @param id [String] Identifier of the German employee data record
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollEmployeesGermanEmployeeDataIdPutRequest] :payroll_employees_german_employee_data_id_put_request 
    # @return [Array<(PayrollEmployeesGermanEmployeeDatum, Integer, Hash)>] PayrollEmployeesGermanEmployeeDatum data, response status code and response headers
    def payroll_employees_german_employee_data_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollEmployeesGermanEmployeeDatumApi.payroll_employees_german_employee_data_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayrollEmployeesGermanEmployeeDatumApi.payroll_employees_german_employee_data_id_put"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/payroll_employees/german_employee_data/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payroll_employees_german_employee_data_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollEmployeesGermanEmployeeDatum'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollEmployeesGermanEmployeeDatumApi.payroll_employees_german_employee_data_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollEmployeesGermanEmployeeDatumApi#payroll_employees_german_employee_data_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a German employee datum
    # Creates the German-specific payroll data record for an employee
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollEmployeesGermanEmployeeDataPostRequest] :payroll_employees_german_employee_data_post_request 
    # @return [PayrollEmployeesGermanEmployeeDatum]
    def payroll_employees_german_employee_data_post(opts = {})
      data, _status_code, _headers = payroll_employees_german_employee_data_post_with_http_info(opts)
      data
    end

    # Creates a German employee datum
    # Creates the German-specific payroll data record for an employee
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollEmployeesGermanEmployeeDataPostRequest] :payroll_employees_german_employee_data_post_request 
    # @return [Array<(PayrollEmployeesGermanEmployeeDatum, Integer, Hash)>] PayrollEmployeesGermanEmployeeDatum data, response status code and response headers
    def payroll_employees_german_employee_data_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollEmployeesGermanEmployeeDatumApi.payroll_employees_german_employee_data_post ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/payroll_employees/german_employee_data'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payroll_employees_german_employee_data_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollEmployeesGermanEmployeeDatum'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollEmployeesGermanEmployeeDatumApi.payroll_employees_german_employee_data_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollEmployeesGermanEmployeeDatumApi#payroll_employees_german_employee_data_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
