=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PayrollIntegrationsBaseCodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Codes
    # Reads all Codes
    # @param integrations [Array<String>] Payroll Integration names
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code Code Value
    # @option opts [String] :codeable_id Related object ID. Used together with codeable_type
    # @option opts [String] :codeable_type Related object type. Used together with codeable_id
    # @return [PayrollIntegrationsBaseCodesGet200Response]
    def payroll_integrations_base_codes_get(integrations, opts = {})
      data, _status_code, _headers = payroll_integrations_base_codes_get_with_http_info(integrations, opts)
      data
    end

    # Reads all Codes
    # Reads all Codes
    # @param integrations [Array<String>] Payroll Integration names
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code Code Value
    # @option opts [String] :codeable_id Related object ID. Used together with codeable_type
    # @option opts [String] :codeable_type Related object type. Used together with codeable_id
    # @return [Array<(PayrollIntegrationsBaseCodesGet200Response, Integer, Hash)>] PayrollIntegrationsBaseCodesGet200Response data, response status code and response headers
    def payroll_integrations_base_codes_get_with_http_info(integrations, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_get ...'
      end
      # verify the required parameter 'integrations' is set
      if @api_client.config.client_side_validation && integrations.nil?
        fail ArgumentError, "Missing the required parameter 'integrations' when calling PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll_integrations_base/codes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'integrations[]'] = @api_client.build_collection_param(integrations, :multi)
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'codeable_id'] = opts[:'codeable_id'] if !opts[:'codeable_id'].nil?
      query_params[:'codeable_type'] = opts[:'codeable_type'] if !opts[:'codeable_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollIntegrationsBaseCodesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollIntegrationsBaseCodeApi#payroll_integrations_base_codes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Code
    # Deletes a Code
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PayrollIntegrationsBaseCode]
    def payroll_integrations_base_codes_id_delete(id, opts = {})
      data, _status_code, _headers = payroll_integrations_base_codes_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Code
    # Deletes a Code
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayrollIntegrationsBaseCode, Integer, Hash)>] PayrollIntegrationsBaseCode data, response status code and response headers
    def payroll_integrations_base_codes_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll_integrations_base/codes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollIntegrationsBaseCode'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollIntegrationsBaseCodeApi#payroll_integrations_base_codes_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Code
    # Updates a Code
    # @param id [String] Code identifier
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollIntegrationsBaseCodesIdPutRequest] :payroll_integrations_base_codes_id_put_request 
    # @return [PayrollIntegrationsBaseCode]
    def payroll_integrations_base_codes_id_put(id, opts = {})
      data, _status_code, _headers = payroll_integrations_base_codes_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Code
    # Updates a Code
    # @param id [String] Code identifier
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollIntegrationsBaseCodesIdPutRequest] :payroll_integrations_base_codes_id_put_request 
    # @return [Array<(PayrollIntegrationsBaseCode, Integer, Hash)>] PayrollIntegrationsBaseCode data, response status code and response headers
    def payroll_integrations_base_codes_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll_integrations_base/codes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payroll_integrations_base_codes_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollIntegrationsBaseCode'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollIntegrationsBaseCodeApi#payroll_integrations_base_codes_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Code
    # Creates a Code
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollIntegrationsBaseCodesPostRequest] :payroll_integrations_base_codes_post_request 
    # @return [PayrollIntegrationsBaseCode]
    def payroll_integrations_base_codes_post(opts = {})
      data, _status_code, _headers = payroll_integrations_base_codes_post_with_http_info(opts)
      data
    end

    # Creates a Code
    # Creates a Code
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollIntegrationsBaseCodesPostRequest] :payroll_integrations_base_codes_post_request 
    # @return [Array<(PayrollIntegrationsBaseCode, Integer, Hash)>] PayrollIntegrationsBaseCode data, response status code and response headers
    def payroll_integrations_base_codes_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll_integrations_base/codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payroll_integrations_base_codes_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollIntegrationsBaseCode'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollIntegrationsBaseCodeApi.payroll_integrations_base_codes_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollIntegrationsBaseCodeApi#payroll_integrations_base_codes_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
