=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class PayrollPolicyPeriodApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Change statuses a Policy period
    # Change statuses a Policy period
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollPolicyPeriodsChangeStatusPostRequest] :payroll_policy_periods_change_status_post_request 
    # @return [PayrollPolicyPeriod]
    def payroll_policy_periods_change_status_post(opts = {})
      data, _status_code, _headers = payroll_policy_periods_change_status_post_with_http_info(opts)
      data
    end

    # Change statuses a Policy period
    # Change statuses a Policy period
    # @param [Hash] opts the optional parameters
    # @option opts [PayrollPolicyPeriodsChangeStatusPostRequest] :payroll_policy_periods_change_status_post_request 
    # @return [Array<(PayrollPolicyPeriod, Integer, Hash)>] PayrollPolicyPeriod data, response status code and response headers
    def payroll_policy_periods_change_status_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollPolicyPeriodApi.payroll_policy_periods_change_status_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/payroll/policy_periods/change_status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payroll_policy_periods_change_status_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PayrollPolicyPeriod'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PayrollPolicyPeriodApi.payroll_policy_periods_change_status_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollPolicyPeriodApi#payroll_policy_periods_change_status_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
