=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class PerformanceAgreementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk initiates an Agreement
    # Initiate the action plan for all your direct reports in a review process. If you are acting as a company, the action plan from all employees in the review process will be initiated.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceAgreementsBulkInitiatePostRequest] :performance_agreements_bulk_initiate_post_request 
    # @return [Array<PerformanceAgreement>]
    def performance_agreements_bulk_initiate_post(opts = {})
      data, _status_code, _headers = performance_agreements_bulk_initiate_post_with_http_info(opts)
      data
    end

    # Bulk initiates an Agreement
    # Initiate the action plan for all your direct reports in a review process. If you are acting as a company, the action plan from all employees in the review process will be initiated.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceAgreementsBulkInitiatePostRequest] :performance_agreements_bulk_initiate_post_request 
    # @return [Array<(Array<PerformanceAgreement>, Integer, Hash)>] Array<PerformanceAgreement> data, response status code and response headers
    def performance_agreements_bulk_initiate_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceAgreementApi.performance_agreements_bulk_initiate_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/agreements/bulk_initiate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'performance_agreements_bulk_initiate_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PerformanceAgreement>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceAgreementApi.performance_agreements_bulk_initiate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceAgreementApi#performance_agreements_bulk_initiate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Agreements
    # Retrieves the action plans of review processes.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by action plan IDs
    # @option opts [Array<String>] :process_ids Filter by review process IDs
    # @option opts [Array<String>] :target_ids Filter by review process target IDs
    # @return [PerformanceAgreementsGet200Response]
    def performance_agreements_get(opts = {})
      data, _status_code, _headers = performance_agreements_get_with_http_info(opts)
      data
    end

    # Reads all Agreements
    # Retrieves the action plans of review processes.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by action plan IDs
    # @option opts [Array<String>] :process_ids Filter by review process IDs
    # @option opts [Array<String>] :target_ids Filter by review process target IDs
    # @return [Array<(PerformanceAgreementsGet200Response, Integer, Hash)>] PerformanceAgreementsGet200Response data, response status code and response headers
    def performance_agreements_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceAgreementApi.performance_agreements_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/agreements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'process_ids[]'] = @api_client.build_collection_param(opts[:'process_ids'], :multi) if !opts[:'process_ids'].nil?
      query_params[:'target_ids[]'] = @api_client.build_collection_param(opts[:'target_ids'], :multi) if !opts[:'target_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceAgreementsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceAgreementApi.performance_agreements_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceAgreementApi#performance_agreements_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Agreement
    # Retrieves the action plans of review processes.
    # @param id [String] Filter by action plan IDs
    # @param [Hash] opts the optional parameters
    # @return [PerformanceAgreement]
    def performance_agreements_id_get(id, opts = {})
      data, _status_code, _headers = performance_agreements_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Agreement
    # Retrieves the action plans of review processes.
    # @param id [String] Filter by action plan IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(PerformanceAgreement, Integer, Hash)>] PerformanceAgreement data, response status code and response headers
    def performance_agreements_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceAgreementApi.performance_agreements_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceAgreementApi.performance_agreements_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/agreements/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceAgreement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceAgreementApi.performance_agreements_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceAgreementApi#performance_agreements_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initiates an Agreement
    # Initiate the action plan for a review process target ID in a review process.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceAgreementsInitiatePostRequest] :performance_agreements_initiate_post_request 
    # @return [PerformanceAgreement]
    def performance_agreements_initiate_post(opts = {})
      data, _status_code, _headers = performance_agreements_initiate_post_with_http_info(opts)
      data
    end

    # Initiates an Agreement
    # Initiate the action plan for a review process target ID in a review process.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceAgreementsInitiatePostRequest] :performance_agreements_initiate_post_request 
    # @return [Array<(PerformanceAgreement, Integer, Hash)>] PerformanceAgreement data, response status code and response headers
    def performance_agreements_initiate_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceAgreementApi.performance_agreements_initiate_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/agreements/initiate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'performance_agreements_initiate_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceAgreement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceAgreementApi.performance_agreements_initiate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceAgreementApi#performance_agreements_initiate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
