=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class PerformanceReviewVisibilitySettingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Review visibility settings
    # Retrieves the visibility settings of review processes.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :performance_review_process_ids Filter by review process IDs
    # @return [PerformanceReviewVisibilitySettingsGet200Response]
    def performance_review_visibility_settings_get(opts = {})
      data, _status_code, _headers = performance_review_visibility_settings_get_with_http_info(opts)
      data
    end

    # Reads all Review visibility settings
    # Retrieves the visibility settings of review processes.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :performance_review_process_ids Filter by review process IDs
    # @return [Array<(PerformanceReviewVisibilitySettingsGet200Response, Integer, Hash)>] PerformanceReviewVisibilitySettingsGet200Response data, response status code and response headers
    def performance_review_visibility_settings_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewVisibilitySettingApi.performance_review_visibility_settings_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_visibility_settings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'performance_review_process_ids[]'] = @api_client.build_collection_param(opts[:'performance_review_process_ids'], :multi) if !opts[:'performance_review_process_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewVisibilitySettingsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewVisibilitySettingApi.performance_review_visibility_settings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewVisibilitySettingApi#performance_review_visibility_settings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Review visibility setting
    # Modifiy the visibility settings of the review process.
    # @param id [String] Review process ID
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewVisibilitySettingsIdPutRequest] :performance_review_visibility_settings_id_put_request 
    # @return [PerformanceReviewVisibilitySetting]
    def performance_review_visibility_settings_id_put(id, opts = {})
      data, _status_code, _headers = performance_review_visibility_settings_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Review visibility setting
    # Modifiy the visibility settings of the review process.
    # @param id [String] Review process ID
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewVisibilitySettingsIdPutRequest] :performance_review_visibility_settings_id_put_request 
    # @return [Array<(PerformanceReviewVisibilitySetting, Integer, Hash)>] PerformanceReviewVisibilitySetting data, response status code and response headers
    def performance_review_visibility_settings_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewVisibilitySettingApi.performance_review_visibility_settings_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceReviewVisibilitySettingApi.performance_review_visibility_settings_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_visibility_settings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'performance_review_visibility_settings_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewVisibilitySetting'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewVisibilitySettingApi.performance_review_visibility_settings_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewVisibilitySettingApi#performance_review_visibility_settings_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
