=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class PerformanceReviewOwnerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk creates a Review owner
    # Add multiple owners to a review process.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewOwnersBulkCreatePostRequest] :performance_review_owners_bulk_create_post_request 
    # @return [Array<PerformanceReviewOwner>]
    def performance_review_owners_bulk_create_post(opts = {})
      data, _status_code, _headers = performance_review_owners_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Review owner
    # Add multiple owners to a review process.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewOwnersBulkCreatePostRequest] :performance_review_owners_bulk_create_post_request 
    # @return [Array<(Array<PerformanceReviewOwner>, Integer, Hash)>] Array<PerformanceReviewOwner> data, response status code and response headers
    def performance_review_owners_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewOwnerApi.performance_review_owners_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_owners/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'performance_review_owners_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PerformanceReviewOwner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewOwnerApi.performance_review_owners_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewOwnerApi#performance_review_owners_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Review owners
    # Retrieves the review owners of review processes (each process has at least one owner). The owners can edit the review process and access its results.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :performance_review_process_ids Filter by review process IDs
    # @return [PerformanceReviewOwnersGet200Response]
    def performance_review_owners_get(opts = {})
      data, _status_code, _headers = performance_review_owners_get_with_http_info(opts)
      data
    end

    # Reads all Review owners
    # Retrieves the review owners of review processes (each process has at least one owner). The owners can edit the review process and access its results.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :performance_review_process_ids Filter by review process IDs
    # @return [Array<(PerformanceReviewOwnersGet200Response, Integer, Hash)>] PerformanceReviewOwnersGet200Response data, response status code and response headers
    def performance_review_owners_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewOwnerApi.performance_review_owners_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_owners'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'performance_review_process_ids[]'] = @api_client.build_collection_param(opts[:'performance_review_process_ids'], :multi) if !opts[:'performance_review_process_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewOwnersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewOwnerApi.performance_review_owners_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewOwnerApi#performance_review_owners_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Review owner
    # Remove an owner from a review process. The review process must have at least one owner.
    # @param id [String] Review owner ID
    # @param [Hash] opts the optional parameters
    # @return [PerformanceReviewOwner]
    def performance_review_owners_id_delete(id, opts = {})
      data, _status_code, _headers = performance_review_owners_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Review owner
    # Remove an owner from a review process. The review process must have at least one owner.
    # @param id [String] Review owner ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PerformanceReviewOwner, Integer, Hash)>] PerformanceReviewOwner data, response status code and response headers
    def performance_review_owners_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewOwnerApi.performance_review_owners_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceReviewOwnerApi.performance_review_owners_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_owners/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewOwner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewOwnerApi.performance_review_owners_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewOwnerApi#performance_review_owners_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
