=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PerformanceTargetManagerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Target managers
    # Retrieves the participants' managers of a review process.
    # @param performance_review_process_ids [Array<String>] Review process ID (only one ID is allowed)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @return [PerformanceTargetManagersGet200Response]
    def performance_target_managers_get(performance_review_process_ids, opts = {})
      data, _status_code, _headers = performance_target_managers_get_with_http_info(performance_review_process_ids, opts)
      data
    end

    # Reads all Target managers
    # Retrieves the participants&#39; managers of a review process.
    # @param performance_review_process_ids [Array<String>] Review process ID (only one ID is allowed)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @return [Array<(PerformanceTargetManagersGet200Response, Integer, Hash)>] PerformanceTargetManagersGet200Response data, response status code and response headers
    def performance_target_managers_get_with_http_info(performance_review_process_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceTargetManagerApi.performance_target_managers_get ...'
      end
      # verify the required parameter 'performance_review_process_ids' is set
      if @api_client.config.client_side_validation && performance_review_process_ids.nil?
        fail ArgumentError, "Missing the required parameter 'performance_review_process_ids' when calling PerformanceTargetManagerApi.performance_target_managers_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/target_managers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'performance_review_process_ids[]'] = @api_client.build_collection_param(performance_review_process_ids, :multi)
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceTargetManagersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceTargetManagerApi.performance_target_managers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceTargetManagerApi#performance_target_managers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Target manager
    # Retrieves the participants' managers of a review process.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PerformanceTargetManager]
    def performance_target_managers_id_get(id, opts = {})
      data, _status_code, _headers = performance_target_managers_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Target manager
    # Retrieves the participants&#39; managers of a review process.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PerformanceTargetManager, Integer, Hash)>] PerformanceTargetManager data, response status code and response headers
    def performance_target_managers_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceTargetManagerApi.performance_target_managers_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceTargetManagerApi.performance_target_managers_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/target_managers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceTargetManager'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceTargetManagerApi.performance_target_managers_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceTargetManagerApi#performance_target_managers_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
