=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PerformanceReviewEvaluationScoreApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Review evaluation scores
    # Retrieves the published evaluation scores of performance reviews.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by evaluation score IDs
    # @option opts [Array<String>] :review_process_ids Filter by review process IDs
    # @option opts [Array<String>] :review_evaluation_ids Filter by evaluation IDs
    # @option opts [Array<String>] :target_access_ids Filter by employee access IDs
    # @option opts [Array<String>] :reviewer_strategies Filter by who scored the employee
    # @option opts [Array<String>] :review_process_target_ids Filter by review process target IDs
    # @return [PerformanceReviewEvaluationScoresGet200Response]
    def performance_review_evaluation_scores_get(opts = {})
      data, _status_code, _headers = performance_review_evaluation_scores_get_with_http_info(opts)
      data
    end

    # Reads all Review evaluation scores
    # Retrieves the published evaluation scores of performance reviews.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by evaluation score IDs
    # @option opts [Array<String>] :review_process_ids Filter by review process IDs
    # @option opts [Array<String>] :review_evaluation_ids Filter by evaluation IDs
    # @option opts [Array<String>] :target_access_ids Filter by employee access IDs
    # @option opts [Array<String>] :reviewer_strategies Filter by who scored the employee
    # @option opts [Array<String>] :review_process_target_ids Filter by review process target IDs
    # @return [Array<(PerformanceReviewEvaluationScoresGet200Response, Integer, Hash)>] PerformanceReviewEvaluationScoresGet200Response data, response status code and response headers
    def performance_review_evaluation_scores_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewEvaluationScoreApi.performance_review_evaluation_scores_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_evaluation_scores'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'review_process_ids[]'] = @api_client.build_collection_param(opts[:'review_process_ids'], :multi) if !opts[:'review_process_ids'].nil?
      query_params[:'review_evaluation_ids[]'] = @api_client.build_collection_param(opts[:'review_evaluation_ids'], :multi) if !opts[:'review_evaluation_ids'].nil?
      query_params[:'target_access_ids[]'] = @api_client.build_collection_param(opts[:'target_access_ids'], :multi) if !opts[:'target_access_ids'].nil?
      query_params[:'reviewer_strategies[]'] = @api_client.build_collection_param(opts[:'reviewer_strategies'], :multi) if !opts[:'reviewer_strategies'].nil?
      query_params[:'review_process_target_ids[]'] = @api_client.build_collection_param(opts[:'review_process_target_ids'], :multi) if !opts[:'review_process_target_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewEvaluationScoresGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewEvaluationScoreApi.performance_review_evaluation_scores_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewEvaluationScoreApi#performance_review_evaluation_scores_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Review evaluation score
    # Retrieves the published evaluation scores of performance reviews.
    # @param id [String] Filter by evaluation score IDs
    # @param [Hash] opts the optional parameters
    # @return [PerformanceReviewEvaluationScore]
    def performance_review_evaluation_scores_id_get(id, opts = {})
      data, _status_code, _headers = performance_review_evaluation_scores_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Review evaluation score
    # Retrieves the published evaluation scores of performance reviews.
    # @param id [String] Filter by evaluation score IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(PerformanceReviewEvaluationScore, Integer, Hash)>] PerformanceReviewEvaluationScore data, response status code and response headers
    def performance_review_evaluation_scores_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewEvaluationScoreApi.performance_review_evaluation_scores_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceReviewEvaluationScoreApi.performance_review_evaluation_scores_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_evaluation_scores/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewEvaluationScore'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewEvaluationScoreApi.performance_review_evaluation_scores_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewEvaluationScoreApi#performance_review_evaluation_scores_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
