=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PerformanceReviewEvaluationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Review evaluations
    # Retrieves the pending and published review evaluations. The evaluations are created based on the participants and the review types when the review process is started.  For example, if the defined review types are \"self-review\" and \"manager review,\" two evaluations will be created for each participant when the review process starts. One will be for the self-review, where the participant is both the target and the reviewer. The other will be for the manager review, where the participant is the target, and the manager is the reviewer.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by evaluation IDs
    # @option opts [Array<String>] :performance_review_process_ids Filter by review process IDs
    # @option opts [Boolean] :published Only published or unpublished evaluations
    # @option opts [Array<String>] :reviewer_ids Filter by reviewer access IDs
    # @option opts [Array<String>] :reviewer_strategies Filter by reviewer strategies
    # @option opts [Array<String>] :target_access_ids Filter by participant access IDs
    # @option opts [Array<String>] :review_process_target_ids Filter by review process target IDs. Composite key format: review_process_id-target_access_id
    # @option opts [PerformanceReviewEvaluationsGetWithTargetsManagedByFilterParameter] :with_targets_managed_by_filter Only evaluations where the participant is managed by the specified employee ID
    # @option opts [Array<String>] :exclude_ids Exclude evaluations by IDs
    # @return [PerformanceReviewEvaluationsGet200Response]
    def performance_review_evaluations_get(opts = {})
      data, _status_code, _headers = performance_review_evaluations_get_with_http_info(opts)
      data
    end

    # Reads all Review evaluations
    # Retrieves the pending and published review evaluations. The evaluations are created based on the participants and the review types when the review process is started.  For example, if the defined review types are \&quot;self-review\&quot; and \&quot;manager review,\&quot; two evaluations will be created for each participant when the review process starts. One will be for the self-review, where the participant is both the target and the reviewer. The other will be for the manager review, where the participant is the target, and the manager is the reviewer.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by evaluation IDs
    # @option opts [Array<String>] :performance_review_process_ids Filter by review process IDs
    # @option opts [Boolean] :published Only published or unpublished evaluations
    # @option opts [Array<String>] :reviewer_ids Filter by reviewer access IDs
    # @option opts [Array<String>] :reviewer_strategies Filter by reviewer strategies
    # @option opts [Array<String>] :target_access_ids Filter by participant access IDs
    # @option opts [Array<String>] :review_process_target_ids Filter by review process target IDs. Composite key format: review_process_id-target_access_id
    # @option opts [PerformanceReviewEvaluationsGetWithTargetsManagedByFilterParameter] :with_targets_managed_by_filter Only evaluations where the participant is managed by the specified employee ID
    # @option opts [Array<String>] :exclude_ids Exclude evaluations by IDs
    # @return [Array<(PerformanceReviewEvaluationsGet200Response, Integer, Hash)>] PerformanceReviewEvaluationsGet200Response data, response status code and response headers
    def performance_review_evaluations_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewEvaluationApi.performance_review_evaluations_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_evaluations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'performance_review_process_ids[]'] = @api_client.build_collection_param(opts[:'performance_review_process_ids'], :multi) if !opts[:'performance_review_process_ids'].nil?
      query_params[:'published'] = opts[:'published'] if !opts[:'published'].nil?
      query_params[:'reviewer_ids[]'] = @api_client.build_collection_param(opts[:'reviewer_ids'], :multi) if !opts[:'reviewer_ids'].nil?
      query_params[:'reviewer_strategies[]'] = @api_client.build_collection_param(opts[:'reviewer_strategies'], :multi) if !opts[:'reviewer_strategies'].nil?
      query_params[:'target_access_ids[]'] = @api_client.build_collection_param(opts[:'target_access_ids'], :multi) if !opts[:'target_access_ids'].nil?
      query_params[:'review_process_target_ids[]'] = @api_client.build_collection_param(opts[:'review_process_target_ids'], :multi) if !opts[:'review_process_target_ids'].nil?
      query_params[:'with_targets_managed_by_filter'] = opts[:'with_targets_managed_by_filter'] if !opts[:'with_targets_managed_by_filter'].nil?
      query_params[:'exclude_ids[]'] = @api_client.build_collection_param(opts[:'exclude_ids'], :multi) if !opts[:'exclude_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewEvaluationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewEvaluationApi.performance_review_evaluations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewEvaluationApi#performance_review_evaluations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Review evaluation
    # Retrieves the pending and published review evaluations. The evaluations are created based on the participants and the review types when the review process is started.  For example, if the defined review types are \"self-review\" and \"manager review,\" two evaluations will be created for each participant when the review process starts. One will be for the self-review, where the participant is both the target and the reviewer. The other will be for the manager review, where the participant is the target, and the manager is the reviewer.
    # @param id [String] Filter by evaluation IDs
    # @param [Hash] opts the optional parameters
    # @return [PerformanceReviewEvaluation]
    def performance_review_evaluations_id_get(id, opts = {})
      data, _status_code, _headers = performance_review_evaluations_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Review evaluation
    # Retrieves the pending and published review evaluations. The evaluations are created based on the participants and the review types when the review process is started.  For example, if the defined review types are \&quot;self-review\&quot; and \&quot;manager review,\&quot; two evaluations will be created for each participant when the review process starts. One will be for the self-review, where the participant is both the target and the reviewer. The other will be for the manager review, where the participant is the target, and the manager is the reviewer.
    # @param id [String] Filter by evaluation IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(PerformanceReviewEvaluation, Integer, Hash)>] PerformanceReviewEvaluation data, response status code and response headers
    def performance_review_evaluations_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewEvaluationApi.performance_review_evaluations_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceReviewEvaluationApi.performance_review_evaluations_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_evaluations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewEvaluation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewEvaluationApi.performance_review_evaluations_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewEvaluationApi#performance_review_evaluations_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace reviewers a Review evaluation
    # Define a new reviewer for the evaluation that will only be able to leave feedback about the employee. This can only be done if the process is active, the evaluation is not published and the evaluation type is not \"self\".
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewEvaluationsReplaceReviewerPostRequest] :performance_review_evaluations_replace_reviewer_post_request 
    # @return [PerformanceReviewEvaluation]
    def performance_review_evaluations_replace_reviewer_post(opts = {})
      data, _status_code, _headers = performance_review_evaluations_replace_reviewer_post_with_http_info(opts)
      data
    end

    # Replace reviewers a Review evaluation
    # Define a new reviewer for the evaluation that will only be able to leave feedback about the employee. This can only be done if the process is active, the evaluation is not published and the evaluation type is not \&quot;self\&quot;.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewEvaluationsReplaceReviewerPostRequest] :performance_review_evaluations_replace_reviewer_post_request 
    # @return [Array<(PerformanceReviewEvaluation, Integer, Hash)>] PerformanceReviewEvaluation data, response status code and response headers
    def performance_review_evaluations_replace_reviewer_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewEvaluationApi.performance_review_evaluations_replace_reviewer_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_evaluations/replace_reviewer'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'performance_review_evaluations_replace_reviewer_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewEvaluation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewEvaluationApi.performance_review_evaluations_replace_reviewer_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewEvaluationApi#performance_review_evaluations_replace_reviewer_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
