=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PerformanceReviewProcessEstimatedTargetApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Review process estimated targets
    # Retrieve review process estimated target before the review process is launched
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :performance_review_process_ids Filter by review process IDs
    # @option opts [Array<String>] :access_ids Filter by access IDs
    # @return [PerformanceReviewProcessEstimatedTargetsGet200Response]
    def performance_review_process_estimated_targets_get(opts = {})
      data, _status_code, _headers = performance_review_process_estimated_targets_get_with_http_info(opts)
      data
    end

    # Reads all Review process estimated targets
    # Retrieve review process estimated target before the review process is launched
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :performance_review_process_ids Filter by review process IDs
    # @option opts [Array<String>] :access_ids Filter by access IDs
    # @return [Array<(PerformanceReviewProcessEstimatedTargetsGet200Response, Integer, Hash)>] PerformanceReviewProcessEstimatedTargetsGet200Response data, response status code and response headers
    def performance_review_process_estimated_targets_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewProcessEstimatedTargetApi.performance_review_process_estimated_targets_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_process_estimated_targets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'performance_review_process_ids[]'] = @api_client.build_collection_param(opts[:'performance_review_process_ids'], :multi) if !opts[:'performance_review_process_ids'].nil?
      query_params[:'access_ids[]'] = @api_client.build_collection_param(opts[:'access_ids'], :multi) if !opts[:'access_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewProcessEstimatedTargetsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewProcessEstimatedTargetApi.performance_review_process_estimated_targets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewProcessEstimatedTargetApi#performance_review_process_estimated_targets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
