=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PerformanceReviewQuestionnaireByStrategyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Review questionnaire by strategies
    # Retrieves the questionnaires by reviewer strategy for review processes.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by review process IDs
    # @return [PerformanceReviewQuestionnaireByStrategiesGet200Response]
    def performance_review_questionnaire_by_strategies_get(opts = {})
      data, _status_code, _headers = performance_review_questionnaire_by_strategies_get_with_http_info(opts)
      data
    end

    # Reads all Review questionnaire by strategies
    # Retrieves the questionnaires by reviewer strategy for review processes.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by review process IDs
    # @return [Array<(PerformanceReviewQuestionnaireByStrategiesGet200Response, Integer, Hash)>] PerformanceReviewQuestionnaireByStrategiesGet200Response data, response status code and response headers
    def performance_review_questionnaire_by_strategies_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewQuestionnaireByStrategyApi.performance_review_questionnaire_by_strategies_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_questionnaire_by_strategies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewQuestionnaireByStrategiesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewQuestionnaireByStrategyApi.performance_review_questionnaire_by_strategies_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewQuestionnaireByStrategyApi#performance_review_questionnaire_by_strategies_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Review questionnaire by strategy
    # Retrieves the questionnaires by reviewer strategy for review processes.
    # @param id [String] Filter by review process IDs
    # @param [Hash] opts the optional parameters
    # @return [PerformanceReviewQuestionnairesByStrategy]
    def performance_review_questionnaire_by_strategies_id_get(id, opts = {})
      data, _status_code, _headers = performance_review_questionnaire_by_strategies_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Review questionnaire by strategy
    # Retrieves the questionnaires by reviewer strategy for review processes.
    # @param id [String] Filter by review process IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(PerformanceReviewQuestionnairesByStrategy, Integer, Hash)>] PerformanceReviewQuestionnairesByStrategy data, response status code and response headers
    def performance_review_questionnaire_by_strategies_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewQuestionnaireByStrategyApi.performance_review_questionnaire_by_strategies_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceReviewQuestionnaireByStrategyApi.performance_review_questionnaire_by_strategies_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_questionnaire_by_strategies/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewQuestionnairesByStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewQuestionnaireByStrategyApi.performance_review_questionnaire_by_strategies_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewQuestionnaireByStrategyApi#performance_review_questionnaire_by_strategies_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update default rating scales a Review questionnaire by strategy
    # Update the scoring range used in rating questions for all reviewer strategies.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewQuestionnaireByStrategiesUpdateDefaultRatingScalePostRequest] :performance_review_questionnaire_by_strategies_update_default_rating_scale_post_request 
    # @return [PerformanceReviewQuestionnairesByStrategy]
    def performance_review_questionnaire_by_strategies_update_default_rating_scale_post(opts = {})
      data, _status_code, _headers = performance_review_questionnaire_by_strategies_update_default_rating_scale_post_with_http_info(opts)
      data
    end

    # Update default rating scales a Review questionnaire by strategy
    # Update the scoring range used in rating questions for all reviewer strategies.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewQuestionnaireByStrategiesUpdateDefaultRatingScalePostRequest] :performance_review_questionnaire_by_strategies_update_default_rating_scale_post_request 
    # @return [Array<(PerformanceReviewQuestionnairesByStrategy, Integer, Hash)>] PerformanceReviewQuestionnairesByStrategy data, response status code and response headers
    def performance_review_questionnaire_by_strategies_update_default_rating_scale_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewQuestionnaireByStrategyApi.performance_review_questionnaire_by_strategies_update_default_rating_scale_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_questionnaire_by_strategies/update_default_rating_scale'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'performance_review_questionnaire_by_strategies_update_default_rating_scale_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewQuestionnairesByStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewQuestionnaireByStrategyApi.performance_review_questionnaire_by_strategies_update_default_rating_scale_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewQuestionnaireByStrategyApi#performance_review_questionnaire_by_strategies_update_default_rating_scale_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update questionnaire for strategies a Review questionnaire by strategy
    # Update the review process questionnaire for a specific reviewer strategy (review type). It can be used to add, edit or delete questions from a draft review process.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewQuestionnaireByStrategiesUpdateQuestionnaireForStrategyPostRequest] :performance_review_questionnaire_by_strategies_update_questionnaire_for_strategy_post_request 
    # @return [PerformanceReviewQuestionnairesByStrategy]
    def performance_review_questionnaire_by_strategies_update_questionnaire_for_strategy_post(opts = {})
      data, _status_code, _headers = performance_review_questionnaire_by_strategies_update_questionnaire_for_strategy_post_with_http_info(opts)
      data
    end

    # Update questionnaire for strategies a Review questionnaire by strategy
    # Update the review process questionnaire for a specific reviewer strategy (review type). It can be used to add, edit or delete questions from a draft review process.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewQuestionnaireByStrategiesUpdateQuestionnaireForStrategyPostRequest] :performance_review_questionnaire_by_strategies_update_questionnaire_for_strategy_post_request 
    # @return [Array<(PerformanceReviewQuestionnairesByStrategy, Integer, Hash)>] PerformanceReviewQuestionnairesByStrategy data, response status code and response headers
    def performance_review_questionnaire_by_strategies_update_questionnaire_for_strategy_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewQuestionnaireByStrategyApi.performance_review_questionnaire_by_strategies_update_questionnaire_for_strategy_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_questionnaire_by_strategies/update_questionnaire_for_strategy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'performance_review_questionnaire_by_strategies_update_questionnaire_for_strategy_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewQuestionnairesByStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewQuestionnaireByStrategyApi.performance_review_questionnaire_by_strategies_update_questionnaire_for_strategy_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewQuestionnaireByStrategyApi#performance_review_questionnaire_by_strategies_update_questionnaire_for_strategy_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
