=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class PerformanceReviewProcessCustomTemplateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Review process custom templates
    # Retrieves the templates for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by template IDs
    # @option opts [Array<String>] :author_ids Filter by author IDs
    # @option opts [String] :search Filter by template name
    # @return [PerformanceReviewProcessCustomTemplatesGet200Response]
    def performance_review_process_custom_templates_get(opts = {})
      data, _status_code, _headers = performance_review_process_custom_templates_get_with_http_info(opts)
      data
    end

    # Reads all Review process custom templates
    # Retrieves the templates for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by template IDs
    # @option opts [Array<String>] :author_ids Filter by author IDs
    # @option opts [String] :search Filter by template name
    # @return [Array<(PerformanceReviewProcessCustomTemplatesGet200Response, Integer, Hash)>] PerformanceReviewProcessCustomTemplatesGet200Response data, response status code and response headers
    def performance_review_process_custom_templates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewProcessCustomTemplateApi.performance_review_process_custom_templates_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_process_custom_templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'author_ids[]'] = @api_client.build_collection_param(opts[:'author_ids'], :multi) if !opts[:'author_ids'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewProcessCustomTemplatesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewProcessCustomTemplateApi.performance_review_process_custom_templates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewProcessCustomTemplateApi#performance_review_process_custom_templates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Review process custom template
    # Retrieves the templates for the company.
    # @param id [String] Filter by template IDs
    # @param [Hash] opts the optional parameters
    # @return [PerformanceReviewProcessCustomTemplate]
    def performance_review_process_custom_templates_id_get(id, opts = {})
      data, _status_code, _headers = performance_review_process_custom_templates_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Review process custom template
    # Retrieves the templates for the company.
    # @param id [String] Filter by template IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(PerformanceReviewProcessCustomTemplate, Integer, Hash)>] PerformanceReviewProcessCustomTemplate data, response status code and response headers
    def performance_review_process_custom_templates_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewProcessCustomTemplateApi.performance_review_process_custom_templates_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceReviewProcessCustomTemplateApi.performance_review_process_custom_templates_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_process_custom_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewProcessCustomTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewProcessCustomTemplateApi.performance_review_process_custom_templates_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewProcessCustomTemplateApi#performance_review_process_custom_templates_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
