=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PerformanceReviewProcessTargetApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add peers a Review process target
    # Assign peers to evaluate a specific participant.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewProcessTargetsAddPeersPostRequest] :performance_review_process_targets_add_peers_post_request 
    # @return [PerformanceReviewProcessTarget]
    def performance_review_process_targets_add_peers_post(opts = {})
      data, _status_code, _headers = performance_review_process_targets_add_peers_post_with_http_info(opts)
      data
    end

    # Add peers a Review process target
    # Assign peers to evaluate a specific participant.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewProcessTargetsAddPeersPostRequest] :performance_review_process_targets_add_peers_post_request 
    # @return [Array<(PerformanceReviewProcessTarget, Integer, Hash)>] PerformanceReviewProcessTarget data, response status code and response headers
    def performance_review_process_targets_add_peers_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewProcessTargetApi.performance_review_process_targets_add_peers_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_process_targets/add_peers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'performance_review_process_targets_add_peers_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewProcessTarget'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewProcessTargetApi.performance_review_process_targets_add_peers_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewProcessTargetApi#performance_review_process_targets_add_peers_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk creates a Review process target
    # Add multiple participants to the active review process and create the evaluations for them.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewProcessTargetsBulkCreatePostRequest] :performance_review_process_targets_bulk_create_post_request 
    # @return [Array<PerformanceReviewProcessTarget>]
    def performance_review_process_targets_bulk_create_post(opts = {})
      data, _status_code, _headers = performance_review_process_targets_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Review process target
    # Add multiple participants to the active review process and create the evaluations for them.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewProcessTargetsBulkCreatePostRequest] :performance_review_process_targets_bulk_create_post_request 
    # @return [Array<(Array<PerformanceReviewProcessTarget>, Integer, Hash)>] Array<PerformanceReviewProcessTarget> data, response status code and response headers
    def performance_review_process_targets_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewProcessTargetApi.performance_review_process_targets_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_process_targets/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'performance_review_process_targets_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PerformanceReviewProcessTarget>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewProcessTargetApi.performance_review_process_targets_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewProcessTargetApi#performance_review_process_targets_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Review process targets
    # Retrieves the participants of active review processes.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by review process target IDs
    # @option opts [Array<String>] :access_ids Filter by access IDs
    # @option opts [Boolean] :only_for_peer_assignment Only participants for peer assignment
    # @option opts [Boolean] :without_manager Only participants with no manager assigned
    # @option opts [Array<String>] :performance_review_process_ids Filter by reviewer process IDs
    # @option opts [String] :agreement_completion_status Filter by agreement status
    # @option opts [Boolean] :pending_peer_evaluations Only participants with no peer evaluations
    # @option opts [PerformanceReviewEvaluationsGetWithTargetsManagedByFilterParameter] :managed_by_filter Only participants managed by the specified employee ID
    # @return [PerformanceReviewProcessTargetsGet200Response]
    def performance_review_process_targets_get(opts = {})
      data, _status_code, _headers = performance_review_process_targets_get_with_http_info(opts)
      data
    end

    # Reads all Review process targets
    # Retrieves the participants of active review processes.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by review process target IDs
    # @option opts [Array<String>] :access_ids Filter by access IDs
    # @option opts [Boolean] :only_for_peer_assignment Only participants for peer assignment
    # @option opts [Boolean] :without_manager Only participants with no manager assigned
    # @option opts [Array<String>] :performance_review_process_ids Filter by reviewer process IDs
    # @option opts [String] :agreement_completion_status Filter by agreement status
    # @option opts [Boolean] :pending_peer_evaluations Only participants with no peer evaluations
    # @option opts [PerformanceReviewEvaluationsGetWithTargetsManagedByFilterParameter] :managed_by_filter Only participants managed by the specified employee ID
    # @return [Array<(PerformanceReviewProcessTargetsGet200Response, Integer, Hash)>] PerformanceReviewProcessTargetsGet200Response data, response status code and response headers
    def performance_review_process_targets_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewProcessTargetApi.performance_review_process_targets_get ...'
      end
      allowable_values = ["canbeinitiated", "notinitiated", "haspendingagreement", "hassignedagreement", "haspendingesignaturesagreement", "haspartiallyesignedagreement", "hasesignedagreement", "hasdeclinedagreement", "hasbouncedemailagreement", "hascancelledagreement", "haserroragreement", "hasexpiredagreement"]
      if @api_client.config.client_side_validation && opts[:'agreement_completion_status'] && !allowable_values.include?(opts[:'agreement_completion_status'])
        fail ArgumentError, "invalid value for \"agreement_completion_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_process_targets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'access_ids[]'] = @api_client.build_collection_param(opts[:'access_ids'], :multi) if !opts[:'access_ids'].nil?
      query_params[:'only_for_peer_assignment'] = opts[:'only_for_peer_assignment'] if !opts[:'only_for_peer_assignment'].nil?
      query_params[:'without_manager'] = opts[:'without_manager'] if !opts[:'without_manager'].nil?
      query_params[:'performance_review_process_ids[]'] = @api_client.build_collection_param(opts[:'performance_review_process_ids'], :multi) if !opts[:'performance_review_process_ids'].nil?
      query_params[:'agreement_completion_status'] = opts[:'agreement_completion_status'] if !opts[:'agreement_completion_status'].nil?
      query_params[:'pending_peer_evaluations'] = opts[:'pending_peer_evaluations'] if !opts[:'pending_peer_evaluations'].nil?
      query_params[:'managed_by_filter'] = opts[:'managed_by_filter'] if !opts[:'managed_by_filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewProcessTargetsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewProcessTargetApi.performance_review_process_targets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewProcessTargetApi#performance_review_process_targets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Review process target
    # Delete a participant from the active review process. This will also remove all previously submitted evaluations about the participant.
    # @param id [String] Process Target ID
    # @param [Hash] opts the optional parameters
    # @return [PerformanceReviewProcessTarget]
    def performance_review_process_targets_id_delete(id, opts = {})
      data, _status_code, _headers = performance_review_process_targets_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Review process target
    # Delete a participant from the active review process. This will also remove all previously submitted evaluations about the participant.
    # @param id [String] Process Target ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PerformanceReviewProcessTarget, Integer, Hash)>] PerformanceReviewProcessTarget data, response status code and response headers
    def performance_review_process_targets_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewProcessTargetApi.performance_review_process_targets_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceReviewProcessTargetApi.performance_review_process_targets_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_process_targets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewProcessTarget'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewProcessTargetApi.performance_review_process_targets_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewProcessTargetApi#performance_review_process_targets_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Review process target
    # Retrieves the participants of active review processes.
    # @param id [String] Filter by review process target IDs
    # @param [Hash] opts the optional parameters
    # @return [PerformanceReviewProcessTarget]
    def performance_review_process_targets_id_get(id, opts = {})
      data, _status_code, _headers = performance_review_process_targets_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Review process target
    # Retrieves the participants of active review processes.
    # @param id [String] Filter by review process target IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(PerformanceReviewProcessTarget, Integer, Hash)>] PerformanceReviewProcessTarget data, response status code and response headers
    def performance_review_process_targets_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewProcessTargetApi.performance_review_process_targets_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceReviewProcessTargetApi.performance_review_process_targets_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_process_targets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewProcessTarget'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewProcessTargetApi.performance_review_process_targets_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewProcessTargetApi#performance_review_process_targets_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove peer evaluations a Review process target
    # Remove peers and their evaluations from a specific participant.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewProcessTargetsRemovePeerEvaluationsPostRequest] :performance_review_process_targets_remove_peer_evaluations_post_request 
    # @return [PerformanceReviewProcessTarget]
    def performance_review_process_targets_remove_peer_evaluations_post(opts = {})
      data, _status_code, _headers = performance_review_process_targets_remove_peer_evaluations_post_with_http_info(opts)
      data
    end

    # Remove peer evaluations a Review process target
    # Remove peers and their evaluations from a specific participant.
    # @param [Hash] opts the optional parameters
    # @option opts [PerformanceReviewProcessTargetsRemovePeerEvaluationsPostRequest] :performance_review_process_targets_remove_peer_evaluations_post_request 
    # @return [Array<(PerformanceReviewProcessTarget, Integer, Hash)>] PerformanceReviewProcessTarget data, response status code and response headers
    def performance_review_process_targets_remove_peer_evaluations_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceReviewProcessTargetApi.performance_review_process_targets_remove_peer_evaluations_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/review_process_targets/remove_peer_evaluations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'performance_review_process_targets_remove_peer_evaluations_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceReviewProcessTarget'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceReviewProcessTargetApi.performance_review_process_targets_remove_peer_evaluations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceReviewProcessTargetApi#performance_review_process_targets_remove_peer_evaluations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
