=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class PerformanceEmployeeScoreScaleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Employee score scales
    # Retrieves the predefined employee score scales that can be set for the company to be used when scoring the employee inside a review.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by employee score scale IDs
    # @return [PerformanceEmployeeScoreScalesGet200Response]
    def performance_employee_score_scales_get(opts = {})
      data, _status_code, _headers = performance_employee_score_scales_get_with_http_info(opts)
      data
    end

    # Reads all Employee score scales
    # Retrieves the predefined employee score scales that can be set for the company to be used when scoring the employee inside a review.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter by employee score scale IDs
    # @return [Array<(PerformanceEmployeeScoreScalesGet200Response, Integer, Hash)>] PerformanceEmployeeScoreScalesGet200Response data, response status code and response headers
    def performance_employee_score_scales_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceEmployeeScoreScaleApi.performance_employee_score_scales_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/employee_score_scales'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceEmployeeScoreScalesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceEmployeeScoreScaleApi.performance_employee_score_scales_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceEmployeeScoreScaleApi#performance_employee_score_scales_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Employee score scale
    # Retrieves the predefined employee score scales that can be set for the company to be used when scoring the employee inside a review.
    # @param id [String] Filter by employee score scale IDs
    # @param [Hash] opts the optional parameters
    # @return [PerformanceEmployeeScoreScale]
    def performance_employee_score_scales_id_get(id, opts = {})
      data, _status_code, _headers = performance_employee_score_scales_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Employee score scale
    # Retrieves the predefined employee score scales that can be set for the company to be used when scoring the employee inside a review.
    # @param id [String] Filter by employee score scale IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(PerformanceEmployeeScoreScale, Integer, Hash)>] PerformanceEmployeeScoreScale data, response status code and response headers
    def performance_employee_score_scales_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PerformanceEmployeeScoreScaleApi.performance_employee_score_scales_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PerformanceEmployeeScoreScaleApi.performance_employee_score_scales_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/performance/employee_score_scales/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PerformanceEmployeeScoreScale'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PerformanceEmployeeScoreScaleApi.performance_employee_score_scales_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PerformanceEmployeeScoreScaleApi#performance_employee_score_scales_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
