=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PostsPostApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Posts
    # ###### **What does it do?** These endpoints allow you to retrieve posts of a community ###### **What can you do with groups?** Increase visibility and communication within the company by creating interaction and community within your company. ###### **Who can use it?** For having this funcionality available, you need to have Communities V2 feature available
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :groups group identifiers of the posts
    # @option opts [String] :from date from which posts will be retrieved
    # @option opts [String] :_until date until which the posts will be retrieved
    # @option opts [Array<String>] :ids identifiers of the post
    # @return [PostsPostsGet200Response]
    def posts_posts_get(opts = {})
      data, _status_code, _headers = posts_posts_get_with_http_info(opts)
      data
    end

    # Reads all Posts
    # ###### **What does it do?** These endpoints allow you to retrieve posts of a community ###### **What can you do with groups?** Increase visibility and communication within the company by creating interaction and community within your company. ###### **Who can use it?** For having this funcionality available, you need to have Communities V2 feature available
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :groups group identifiers of the posts
    # @option opts [String] :from date from which posts will be retrieved
    # @option opts [String] :_until date until which the posts will be retrieved
    # @option opts [Array<String>] :ids identifiers of the post
    # @return [Array<(PostsPostsGet200Response, Integer, Hash)>] PostsPostsGet200Response data, response status code and response headers
    def posts_posts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsPostApi.posts_posts_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/posts/posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'groups[]'] = @api_client.build_collection_param(opts[:'groups'], :multi) if !opts[:'groups'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostsPostsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PostsPostApi.posts_posts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsPostApi#posts_posts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Post
    # Deletes a Post
    # @param id [String] identifier of the post
    # @param [Hash] opts the optional parameters
    # @return [PostsPost]
    def posts_posts_id_delete(id, opts = {})
      data, _status_code, _headers = posts_posts_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Post
    # Deletes a Post
    # @param id [String] identifier of the post
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostsPost, Integer, Hash)>] PostsPost data, response status code and response headers
    def posts_posts_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsPostApi.posts_posts_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PostsPostApi.posts_posts_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/posts/posts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostsPost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PostsPostApi.posts_posts_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsPostApi#posts_posts_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Post
    # ###### **What does it do?** These endpoints allow you to retrieve posts of a community ###### **What can you do with groups?** Increase visibility and communication within the company by creating interaction and community within your company. ###### **Who can use it?** For having this funcionality available, you need to have Communities V2 feature available
    # @param id [String] identifiers of the post
    # @param [Hash] opts the optional parameters
    # @return [PostsPost]
    def posts_posts_id_get(id, opts = {})
      data, _status_code, _headers = posts_posts_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Post
    # ###### **What does it do?** These endpoints allow you to retrieve posts of a community ###### **What can you do with groups?** Increase visibility and communication within the company by creating interaction and community within your company. ###### **Who can use it?** For having this funcionality available, you need to have Communities V2 feature available
    # @param id [String] identifiers of the post
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostsPost, Integer, Hash)>] PostsPost data, response status code and response headers
    def posts_posts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsPostApi.posts_posts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PostsPostApi.posts_posts_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/posts/posts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostsPost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PostsPostApi.posts_posts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsPostApi#posts_posts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Post
    # Updates a Post
    # @param id [String] identifier of the post
    # @param [Hash] opts the optional parameters
    # @option opts [PostsPostsIdPutRequest] :posts_posts_id_put_request 
    # @return [PostsPost]
    def posts_posts_id_put(id, opts = {})
      data, _status_code, _headers = posts_posts_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Post
    # Updates a Post
    # @param id [String] identifier of the post
    # @param [Hash] opts the optional parameters
    # @option opts [PostsPostsIdPutRequest] :posts_posts_id_put_request 
    # @return [Array<(PostsPost, Integer, Hash)>] PostsPost data, response status code and response headers
    def posts_posts_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsPostApi.posts_posts_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PostsPostApi.posts_posts_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/posts/posts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'posts_posts_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostsPost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PostsPostApi.posts_posts_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsPostApi#posts_posts_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Post
    # Creates a Post
    # @param [Hash] opts the optional parameters
    # @option opts [PostsPostsPostRequest] :posts_posts_post_request 
    # @return [PostsPost]
    def posts_posts_post(opts = {})
      data, _status_code, _headers = posts_posts_post_with_http_info(opts)
      data
    end

    # Creates a Post
    # Creates a Post
    # @param [Hash] opts the optional parameters
    # @option opts [PostsPostsPostRequest] :posts_posts_post_request 
    # @return [Array<(PostsPost, Integer, Hash)>] PostsPost data, response status code and response headers
    def posts_posts_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsPostApi.posts_posts_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/posts/posts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'posts_posts_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostsPost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PostsPostApi.posts_posts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsPostApi#posts_posts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
