=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class PostsCommentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Comments
    # Reads all Comments
    # @param post_ids [Array<String>] identifiers of the post
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids identifiers of the comment
    # @return [PostsCommentsGet200Response]
    def posts_comments_get(post_ids, opts = {})
      data, _status_code, _headers = posts_comments_get_with_http_info(post_ids, opts)
      data
    end

    # Reads all Comments
    # Reads all Comments
    # @param post_ids [Array<String>] identifiers of the post
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids identifiers of the comment
    # @return [Array<(PostsCommentsGet200Response, Integer, Hash)>] PostsCommentsGet200Response data, response status code and response headers
    def posts_comments_get_with_http_info(post_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsCommentApi.posts_comments_get ...'
      end
      # verify the required parameter 'post_ids' is set
      if @api_client.config.client_side_validation && post_ids.nil?
        fail ArgumentError, "Missing the required parameter 'post_ids' when calling PostsCommentApi.posts_comments_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/posts/comments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'post_ids[]'] = @api_client.build_collection_param(post_ids, :multi)
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostsCommentsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PostsCommentApi.posts_comments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsCommentApi#posts_comments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Comment
    # Deletes a Comment
    # @param id [String] identifier of the comment
    # @param [Hash] opts the optional parameters
    # @return [PostsComment]
    def posts_comments_id_delete(id, opts = {})
      data, _status_code, _headers = posts_comments_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Comment
    # Deletes a Comment
    # @param id [String] identifier of the comment
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostsComment, Integer, Hash)>] PostsComment data, response status code and response headers
    def posts_comments_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsCommentApi.posts_comments_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PostsCommentApi.posts_comments_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/posts/comments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostsComment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PostsCommentApi.posts_comments_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsCommentApi#posts_comments_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Comment
    # Reads a single Comment
    # @param id [String] identifiers of the comment
    # @param [Hash] opts the optional parameters
    # @return [PostsComment]
    def posts_comments_id_get(id, opts = {})
      data, _status_code, _headers = posts_comments_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Comment
    # Reads a single Comment
    # @param id [String] identifiers of the comment
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostsComment, Integer, Hash)>] PostsComment data, response status code and response headers
    def posts_comments_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsCommentApi.posts_comments_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PostsCommentApi.posts_comments_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/posts/comments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostsComment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PostsCommentApi.posts_comments_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsCommentApi#posts_comments_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Comment
    # Updates a Comment
    # @param id [String] identifier of the comment
    # @param [Hash] opts the optional parameters
    # @option opts [PostsCommentsIdPutRequest] :posts_comments_id_put_request 
    # @return [PostsComment]
    def posts_comments_id_put(id, opts = {})
      data, _status_code, _headers = posts_comments_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Comment
    # Updates a Comment
    # @param id [String] identifier of the comment
    # @param [Hash] opts the optional parameters
    # @option opts [PostsCommentsIdPutRequest] :posts_comments_id_put_request 
    # @return [Array<(PostsComment, Integer, Hash)>] PostsComment data, response status code and response headers
    def posts_comments_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsCommentApi.posts_comments_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PostsCommentApi.posts_comments_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/posts/comments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'posts_comments_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostsComment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PostsCommentApi.posts_comments_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsCommentApi#posts_comments_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Comment
    # Creates a Comment
    # @param [Hash] opts the optional parameters
    # @option opts [PostsCommentsPostRequest] :posts_comments_post_request 
    # @return [PostsComment]
    def posts_comments_post(opts = {})
      data, _status_code, _headers = posts_comments_post_with_http_info(opts)
      data
    end

    # Creates a Comment
    # Creates a Comment
    # @param [Hash] opts the optional parameters
    # @option opts [PostsCommentsPostRequest] :posts_comments_post_request 
    # @return [Array<(PostsComment, Integer, Hash)>] PostsComment data, response status code and response headers
    def posts_comments_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsCommentApi.posts_comments_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/posts/comments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'posts_comments_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PostsComment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"PostsCommentApi.posts_comments_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsCommentApi#posts_comments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
