=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ProcurementPoLineItemApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Po line items
    # Fetch line items for a purchase order.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of line item IDs to filter by.
    # @option opts [Array<String>] :purchase_order_ids An array of purchase order IDs to filter line items for.
    # @return [ProcurementPoLineItemsGet200Response]
    def procurement_po_line_items_get(opts = {})
      data, _status_code, _headers = procurement_po_line_items_get_with_http_info(opts)
      data
    end

    # Reads all Po line items
    # Fetch line items for a purchase order.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of line item IDs to filter by.
    # @option opts [Array<String>] :purchase_order_ids An array of purchase order IDs to filter line items for.
    # @return [Array<(ProcurementPoLineItemsGet200Response, Integer, Hash)>] ProcurementPoLineItemsGet200Response data, response status code and response headers
    def procurement_po_line_items_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementPoLineItemApi.procurement_po_line_items_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/procurement/po_line_items'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'purchase_order_ids[]'] = @api_client.build_collection_param(opts[:'purchase_order_ids'], :multi) if !opts[:'purchase_order_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcurementPoLineItemsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"ProcurementPoLineItemApi.procurement_po_line_items_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementPoLineItemApi#procurement_po_line_items_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Po line item
    # Fetch line items for a purchase order.
    # @param id [String] An array of line item IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [ProcurementPoLineItem]
    def procurement_po_line_items_id_get(id, opts = {})
      data, _status_code, _headers = procurement_po_line_items_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Po line item
    # Fetch line items for a purchase order.
    # @param id [String] An array of line item IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcurementPoLineItem, Integer, Hash)>] ProcurementPoLineItem data, response status code and response headers
    def procurement_po_line_items_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementPoLineItemApi.procurement_po_line_items_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProcurementPoLineItemApi.procurement_po_line_items_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/procurement/po_line_items/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcurementPoLineItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"ProcurementPoLineItemApi.procurement_po_line_items_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementPoLineItemApi#procurement_po_line_items_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
