=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ProcurementPoTemplateFieldDefinitionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Po template field definitions
    # Fetch the field definitions of a PO template version. Together these describe the schema a purchase order created against that version must comply with: which fields exist, their keys, types, whether they are required, and the allowed values for select fields. Filter by po_template_version_ids to introspect the schema of a specific version (active or historical). 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of field definition IDs to filter by.
    # @option opts [Array<String>] :po_template_version_ids An array of PO template version IDs to filter fields for. This is the primary way to introspect a version&#39;s schema: pass the id of the active version (or a historical one) to obtain all its fields. 
    # @option opts [Array<String>] :section_type Filter by section type. \&quot;general_information\&quot;, \&quot;vendor_contact\&quot; and \&quot;notes_and_delivery\&quot; are header-level (one value per PO); \&quot;line_item_columns\&quot; describes the per-line-item columns. 
    # @return [ProcurementPoTemplateFieldDefinitionsGet200Response]
    def procurement_po_template_field_definitions_get(opts = {})
      data, _status_code, _headers = procurement_po_template_field_definitions_get_with_http_info(opts)
      data
    end

    # Reads all Po template field definitions
    # Fetch the field definitions of a PO template version. Together these describe the schema a purchase order created against that version must comply with: which fields exist, their keys, types, whether they are required, and the allowed values for select fields. Filter by po_template_version_ids to introspect the schema of a specific version (active or historical). 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of field definition IDs to filter by.
    # @option opts [Array<String>] :po_template_version_ids An array of PO template version IDs to filter fields for. This is the primary way to introspect a version&#39;s schema: pass the id of the active version (or a historical one) to obtain all its fields. 
    # @option opts [Array<String>] :section_type Filter by section type. \&quot;general_information\&quot;, \&quot;vendor_contact\&quot; and \&quot;notes_and_delivery\&quot; are header-level (one value per PO); \&quot;line_item_columns\&quot; describes the per-line-item columns. 
    # @return [Array<(ProcurementPoTemplateFieldDefinitionsGet200Response, Integer, Hash)>] ProcurementPoTemplateFieldDefinitionsGet200Response data, response status code and response headers
    def procurement_po_template_field_definitions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementPoTemplateFieldDefinitionApi.procurement_po_template_field_definitions_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/procurement/po_template_field_definitions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'po_template_version_ids[]'] = @api_client.build_collection_param(opts[:'po_template_version_ids'], :multi) if !opts[:'po_template_version_ids'].nil?
      query_params[:'section_type[]'] = @api_client.build_collection_param(opts[:'section_type'], :multi) if !opts[:'section_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcurementPoTemplateFieldDefinitionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"ProcurementPoTemplateFieldDefinitionApi.procurement_po_template_field_definitions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementPoTemplateFieldDefinitionApi#procurement_po_template_field_definitions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Po template field definition
    # Fetch the field definitions of a PO template version. Together these describe the schema a purchase order created against that version must comply with: which fields exist, their keys, types, whether they are required, and the allowed values for select fields. Filter by po_template_version_ids to introspect the schema of a specific version (active or historical). 
    # @param id [String] An array of field definition IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [ProcurementPoTemplateFieldDefinition]
    def procurement_po_template_field_definitions_id_get(id, opts = {})
      data, _status_code, _headers = procurement_po_template_field_definitions_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Po template field definition
    # Fetch the field definitions of a PO template version. Together these describe the schema a purchase order created against that version must comply with: which fields exist, their keys, types, whether they are required, and the allowed values for select fields. Filter by po_template_version_ids to introspect the schema of a specific version (active or historical). 
    # @param id [String] An array of field definition IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcurementPoTemplateFieldDefinition, Integer, Hash)>] ProcurementPoTemplateFieldDefinition data, response status code and response headers
    def procurement_po_template_field_definitions_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementPoTemplateFieldDefinitionApi.procurement_po_template_field_definitions_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProcurementPoTemplateFieldDefinitionApi.procurement_po_template_field_definitions_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/procurement/po_template_field_definitions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcurementPoTemplateFieldDefinition'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"ProcurementPoTemplateFieldDefinitionApi.procurement_po_template_field_definitions_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementPoTemplateFieldDefinitionApi#procurement_po_template_field_definitions_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
