=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ProcessesProcessApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Processes
    # Reads all Processes
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids identifiers of the workflows to return.
    # @option opts [Array<String>] :categories return only workflows of these categories: &#x60;onboarding&#x60;, &#x60;offboarding&#x60;, &#x60;training&#x60; or &#x60;custom&#x60;.
    # @option opts [String] :name return only workflows whose name contains this text.
    # @return [ProcessesProcessesGet200Response]
    def processes_processes_get(opts = {})
      data, _status_code, _headers = processes_processes_get_with_http_info(opts)
      data
    end

    # Reads all Processes
    # Reads all Processes
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids identifiers of the workflows to return.
    # @option opts [Array<String>] :categories return only workflows of these categories: &#x60;onboarding&#x60;, &#x60;offboarding&#x60;, &#x60;training&#x60; or &#x60;custom&#x60;.
    # @option opts [String] :name return only workflows whose name contains this text.
    # @return [Array<(ProcessesProcessesGet200Response, Integer, Hash)>] ProcessesProcessesGet200Response data, response status code and response headers
    def processes_processes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessesProcessApi.processes_processes_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/processes/processes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'categories[]'] = @api_client.build_collection_param(opts[:'categories'], :multi) if !opts[:'categories'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcessesProcessesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProcessesProcessApi.processes_processes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessesProcessApi#processes_processes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Process
    # Reads a single Process
    # @param id [String] identifiers of the workflows to return.
    # @param [Hash] opts the optional parameters
    # @return [ProcessesProcess]
    def processes_processes_id_get(id, opts = {})
      data, _status_code, _headers = processes_processes_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Process
    # Reads a single Process
    # @param id [String] identifiers of the workflows to return.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcessesProcess, Integer, Hash)>] ProcessesProcess data, response status code and response headers
    def processes_processes_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessesProcessApi.processes_processes_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProcessesProcessApi.processes_processes_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/processes/processes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcessesProcess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProcessesProcessApi.processes_processes_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessesProcessApi#processes_processes_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
