=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ProcurementPurchaseOrderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Purchase orders
    # Fetch one or all purchase orders for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of purchase order IDs to filter by.
    # @option opts [Array<String>] :purchase_request_ids An array of purchase request IDs to filter by.
    # @option opts [String] :status Status to filter by.
    # @option opts [Array<String>] :vendor_ids Vendor IDs to filter by.
    # @return [ProcurementPurchaseOrdersGet200Response]
    def procurement_purchase_orders_get(opts = {})
      data, _status_code, _headers = procurement_purchase_orders_get_with_http_info(opts)
      data
    end

    # Reads all Purchase orders
    # Fetch one or all purchase orders for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of purchase order IDs to filter by.
    # @option opts [Array<String>] :purchase_request_ids An array of purchase request IDs to filter by.
    # @option opts [String] :status Status to filter by.
    # @option opts [Array<String>] :vendor_ids Vendor IDs to filter by.
    # @return [Array<(ProcurementPurchaseOrdersGet200Response, Integer, Hash)>] ProcurementPurchaseOrdersGet200Response data, response status code and response headers
    def procurement_purchase_orders_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementPurchaseOrderApi.procurement_purchase_orders_get ...'
      end
      allowable_values = ["processing", "draft", "pending", "ordered", "partial", "received", "closed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/procurement/purchase_orders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'purchase_request_ids[]'] = @api_client.build_collection_param(opts[:'purchase_request_ids'], :multi) if !opts[:'purchase_request_ids'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'vendor_ids[]'] = @api_client.build_collection_param(opts[:'vendor_ids'], :multi) if !opts[:'vendor_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcurementPurchaseOrdersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"ProcurementPurchaseOrderApi.procurement_purchase_orders_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementPurchaseOrderApi#procurement_purchase_orders_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Purchase order
    # Fetch one or all purchase orders for the company.
    # @param id [String] An array of purchase order IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [ProcurementPurchaseOrder]
    def procurement_purchase_orders_id_get(id, opts = {})
      data, _status_code, _headers = procurement_purchase_orders_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Purchase order
    # Fetch one or all purchase orders for the company.
    # @param id [String] An array of purchase order IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcurementPurchaseOrder, Integer, Hash)>] ProcurementPurchaseOrder data, response status code and response headers
    def procurement_purchase_orders_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementPurchaseOrderApi.procurement_purchase_orders_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProcurementPurchaseOrderApi.procurement_purchase_orders_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/procurement/purchase_orders/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcurementPurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"ProcurementPurchaseOrderApi.procurement_purchase_orders_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementPurchaseOrderApi#procurement_purchase_orders_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Purchase order
    # Update a purchase order with PUT semantics: read the purchase order, modify it, and send the complete resource back. Template fields are addressed by their stable field_key and validated against the template version the purchase order was created with. Line items are addressed by id. Omission semantics: `status`, `date` and `deadline` omitted or null keep their current value; `header_field_values_by_key` and `line_items_by_key` omitted keep the current values, while an empty array `[]` deletes them all (full replace). Within a sent block, what you send is what remains. Errors: validation problems are a 422 with `{\"errors\": {<field_key>: [messages]}}` (unknown/computed/predefined keys, missing required fields, unresolvable reference values, foreign line-item ids, mixing by_key and legacy addressing). A vendor_id or legal_entity_id that does not exist or is not visible to the credential is rejected by the platform resource check with a 400 (`{\"errors\": [{\"error\": ...}]}`). Lifecycle conflicts are a 409: purchase orders in `closed` or `processing` (still being generated — retry later) status cannot be updated. `processing` is not accepted as a new status (422). Purchase orders without a template only accept data edits while in `draft` status (409 afterwards).
    # @param id [String] Identifier of the purchase order to update.
    # @param [Hash] opts the optional parameters
    # @option opts [ProcurementPurchaseOrdersIdPutRequest] :procurement_purchase_orders_id_put_request 
    # @return [ProcurementPurchaseOrder]
    def procurement_purchase_orders_id_put(id, opts = {})
      data, _status_code, _headers = procurement_purchase_orders_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Purchase order
    # Update a purchase order with PUT semantics: read the purchase order, modify it, and send the complete resource back. Template fields are addressed by their stable field_key and validated against the template version the purchase order was created with. Line items are addressed by id. Omission semantics: &#x60;status&#x60;, &#x60;date&#x60; and &#x60;deadline&#x60; omitted or null keep their current value; &#x60;header_field_values_by_key&#x60; and &#x60;line_items_by_key&#x60; omitted keep the current values, while an empty array &#x60;[]&#x60; deletes them all (full replace). Within a sent block, what you send is what remains. Errors: validation problems are a 422 with &#x60;{\&quot;errors\&quot;: {&lt;field_key&gt;: [messages]}}&#x60; (unknown/computed/predefined keys, missing required fields, unresolvable reference values, foreign line-item ids, mixing by_key and legacy addressing). A vendor_id or legal_entity_id that does not exist or is not visible to the credential is rejected by the platform resource check with a 400 (&#x60;{\&quot;errors\&quot;: [{\&quot;error\&quot;: ...}]}&#x60;). Lifecycle conflicts are a 409: purchase orders in &#x60;closed&#x60; or &#x60;processing&#x60; (still being generated — retry later) status cannot be updated. &#x60;processing&#x60; is not accepted as a new status (422). Purchase orders without a template only accept data edits while in &#x60;draft&#x60; status (409 afterwards).
    # @param id [String] Identifier of the purchase order to update.
    # @param [Hash] opts the optional parameters
    # @option opts [ProcurementPurchaseOrdersIdPutRequest] :procurement_purchase_orders_id_put_request 
    # @return [Array<(ProcurementPurchaseOrder, Integer, Hash)>] ProcurementPurchaseOrder data, response status code and response headers
    def procurement_purchase_orders_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementPurchaseOrderApi.procurement_purchase_orders_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProcurementPurchaseOrderApi.procurement_purchase_orders_id_put"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/procurement/purchase_orders/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'procurement_purchase_orders_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProcurementPurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"ProcurementPurchaseOrderApi.procurement_purchase_orders_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementPurchaseOrderApi#procurement_purchase_orders_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Purchase order
    # Create a standalone purchase order (e.g. pushed by an ERP integrator), not linked to any purchase request. The purchase order is pinned to the company's ACTIVE purchase order template version; template fields are addressed by their stable field_key and validated against that version: unknown field keys, missing required fields and reference values that do not resolve in the company are all rejected with a field-keyed 422. A vendor_id or legal_entity_id that does not exist or is not visible to the credential is rejected earlier by the platform resource check (400).
    # @param [Hash] opts the optional parameters
    # @option opts [ProcurementPurchaseOrdersPostRequest] :procurement_purchase_orders_post_request 
    # @return [ProcurementPurchaseOrder]
    def procurement_purchase_orders_post(opts = {})
      data, _status_code, _headers = procurement_purchase_orders_post_with_http_info(opts)
      data
    end

    # Creates a Purchase order
    # Create a standalone purchase order (e.g. pushed by an ERP integrator), not linked to any purchase request. The purchase order is pinned to the company&#39;s ACTIVE purchase order template version; template fields are addressed by their stable field_key and validated against that version: unknown field keys, missing required fields and reference values that do not resolve in the company are all rejected with a field-keyed 422. A vendor_id or legal_entity_id that does not exist or is not visible to the credential is rejected earlier by the platform resource check (400).
    # @param [Hash] opts the optional parameters
    # @option opts [ProcurementPurchaseOrdersPostRequest] :procurement_purchase_orders_post_request 
    # @return [Array<(ProcurementPurchaseOrder, Integer, Hash)>] ProcurementPurchaseOrder data, response status code and response headers
    def procurement_purchase_orders_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementPurchaseOrderApi.procurement_purchase_orders_post ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/procurement/purchase_orders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'procurement_purchase_orders_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProcurementPurchaseOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"ProcurementPurchaseOrderApi.procurement_purchase_orders_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementPurchaseOrderApi#procurement_purchase_orders_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
