=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ProcurementPurchaseRequestApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Purchase requests
    # Fetch one or all purchase requests for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of purchase request IDs to filter by.
    # @option opts [Array<String>] :requester_employee_ids An array of employee IDs to filter by as the purchase requester requesters.
    # @option opts [Array<String>] :type_ids An array of purchase type IDs to filter by.
    # @option opts [String] :status Status to filter by.
    # @return [ProcurementPurchaseRequestsGet200Response]
    def procurement_purchase_requests_get(opts = {})
      data, _status_code, _headers = procurement_purchase_requests_get_with_http_info(opts)
      data
    end

    # Reads all Purchase requests
    # Fetch one or all purchase requests for the company.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of purchase request IDs to filter by.
    # @option opts [Array<String>] :requester_employee_ids An array of employee IDs to filter by as the purchase requester requesters.
    # @option opts [Array<String>] :type_ids An array of purchase type IDs to filter by.
    # @option opts [String] :status Status to filter by.
    # @return [Array<(ProcurementPurchaseRequestsGet200Response, Integer, Hash)>] ProcurementPurchaseRequestsGet200Response data, response status code and response headers
    def procurement_purchase_requests_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementPurchaseRequestApi.procurement_purchase_requests_get ...'
      end
      allowable_values = ["approved", "draft", "pending", "rejected", "changes_requested"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/procurement/purchase_requests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'requester_employee_ids[]'] = @api_client.build_collection_param(opts[:'requester_employee_ids'], :multi) if !opts[:'requester_employee_ids'].nil?
      query_params[:'type_ids[]'] = @api_client.build_collection_param(opts[:'type_ids'], :multi) if !opts[:'type_ids'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcurementPurchaseRequestsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProcurementPurchaseRequestApi.procurement_purchase_requests_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementPurchaseRequestApi#procurement_purchase_requests_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Purchase request
    # Fetch one or all purchase requests for the company.
    # @param id [String] An array of purchase request IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [ProcurementPurchaseRequest]
    def procurement_purchase_requests_id_get(id, opts = {})
      data, _status_code, _headers = procurement_purchase_requests_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Purchase request
    # Fetch one or all purchase requests for the company.
    # @param id [String] An array of purchase request IDs to filter by.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcurementPurchaseRequest, Integer, Hash)>] ProcurementPurchaseRequest data, response status code and response headers
    def procurement_purchase_requests_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcurementPurchaseRequestApi.procurement_purchase_requests_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProcurementPurchaseRequestApi.procurement_purchase_requests_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/procurement/purchase_requests/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcurementPurchaseRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProcurementPurchaseRequestApi.procurement_purchase_requests_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcurementPurchaseRequestApi#procurement_purchase_requests_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
