=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ProjectManagementProjectWorkerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk assigns a Project worker
    # ###### **What does it do?** This method is used to specify a set of employees that should be assigned as a result of the execution. All the employees in the list will be assigned and all others will be unassigned. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with a role in the given project.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectWorkersBulkAssignPostRequest] :project_management_project_workers_bulk_assign_post_request 
    # @return [Array<ProjectManagementProjectWorker>]
    def project_management_project_workers_bulk_assign_post(opts = {})
      data, _status_code, _headers = project_management_project_workers_bulk_assign_post_with_http_info(opts)
      data
    end

    # Bulk assigns a Project worker
    # ###### **What does it do?** This method is used to specify a set of employees that should be assigned as a result of the execution. All the employees in the list will be assigned and all others will be unassigned. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with a role in the given project.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectWorkersBulkAssignPostRequest] :project_management_project_workers_bulk_assign_post_request 
    # @return [Array<(Array<ProjectManagementProjectWorker>, Integer, Hash)>] Array<ProjectManagementProjectWorker> data, response status code and response headers
    def project_management_project_workers_bulk_assign_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectWorkerApi.project_management_project_workers_bulk_assign_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_workers/bulk_assign'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_project_workers_bulk_assign_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectManagementProjectWorker>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectWorkerApi.project_management_project_workers_bulk_assign_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectWorkerApi#project_management_project_workers_bulk_assign_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk creates a Project worker
    # Bulk creates a Project worker
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectWorkersBulkCreatePostRequest] :project_management_project_workers_bulk_create_post_request 
    # @return [Array<ProjectManagementProjectWorker>]
    def project_management_project_workers_bulk_create_post(opts = {})
      data, _status_code, _headers = project_management_project_workers_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Project worker
    # Bulk creates a Project worker
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectWorkersBulkCreatePostRequest] :project_management_project_workers_bulk_create_post_request 
    # @return [Array<(Array<ProjectManagementProjectWorker>, Integer, Hash)>] Array<ProjectManagementProjectWorker> data, response status code and response headers
    def project_management_project_workers_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectWorkerApi.project_management_project_workers_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_workers/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_project_workers_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectManagementProjectWorker>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectWorkerApi.project_management_project_workers_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectWorkerApi#project_management_project_workers_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Project workers
    # ###### **What does it do?** This endpoint reads and retrieves a list of project workers. You can utilize URL parameters to filter the results. ###### **Is it related to other entities?** A project_worker is always related to a project and a employee. Only a `project worker` is able to add time to a project using the `time_record` entity. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission to read project workers.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the project workers that matches the ids provided in the request.
    # @option opts [Array<String>] :project_ids Retrieve only the project workers that matches the project_ids provided in the request.
    # @option opts [Array<String>] :subproject_ids Retrieve only the project workers that matches the subproject_ids provided in the request.
    # @option opts [Boolean] :no_subproject Retrieve the project workers that are not assigned to any subproject (can be combined with subproject_ids).
    # @option opts [Array<String>] :employee_ids Retrieve only the project workers that are related to the employee_ids provided in the request.
    # @option opts [Boolean] :assigned Retrieve project workers that are assigned if true or in not-assigned status if false.
    # @option opts [Boolean] :project_active Retrieve the project workers that are assigned to active projects if turew or closed projects if false.
    # @option opts [String] :employee_name Retrieve only the project workers that matches the given employee&#39;s name provided in the request.
    # @option opts [Boolean] :include_inputed_minutes If true we will perform the minutes calculations and will be return the total inputed_minutes. If false, 0 will be returned and no minutes calculations will be performed.
    # @option opts [Boolean] :include_cost If true, costs of the project worker will be included to the response.
    # @option opts [String] :updated_after Retrieve only the project workers that were created or updated after the date provided in the request.
    # @option opts [Boolean] :include_labor_cost 
    # @return [ProjectManagementProjectWorkersGet200Response]
    def project_management_project_workers_get(opts = {})
      data, _status_code, _headers = project_management_project_workers_get_with_http_info(opts)
      data
    end

    # Reads all Project workers
    # ###### **What does it do?** This endpoint reads and retrieves a list of project workers. You can utilize URL parameters to filter the results. ###### **Is it related to other entities?** A project_worker is always related to a project and a employee. Only a &#x60;project worker&#x60; is able to add time to a project using the &#x60;time_record&#x60; entity. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission to read project workers.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the project workers that matches the ids provided in the request.
    # @option opts [Array<String>] :project_ids Retrieve only the project workers that matches the project_ids provided in the request.
    # @option opts [Array<String>] :subproject_ids Retrieve only the project workers that matches the subproject_ids provided in the request.
    # @option opts [Boolean] :no_subproject Retrieve the project workers that are not assigned to any subproject (can be combined with subproject_ids).
    # @option opts [Array<String>] :employee_ids Retrieve only the project workers that are related to the employee_ids provided in the request.
    # @option opts [Boolean] :assigned Retrieve project workers that are assigned if true or in not-assigned status if false.
    # @option opts [Boolean] :project_active Retrieve the project workers that are assigned to active projects if turew or closed projects if false.
    # @option opts [String] :employee_name Retrieve only the project workers that matches the given employee&#39;s name provided in the request.
    # @option opts [Boolean] :include_inputed_minutes If true we will perform the minutes calculations and will be return the total inputed_minutes. If false, 0 will be returned and no minutes calculations will be performed.
    # @option opts [Boolean] :include_cost If true, costs of the project worker will be included to the response.
    # @option opts [String] :updated_after Retrieve only the project workers that were created or updated after the date provided in the request.
    # @option opts [Boolean] :include_labor_cost 
    # @return [Array<(ProjectManagementProjectWorkersGet200Response, Integer, Hash)>] ProjectManagementProjectWorkersGet200Response data, response status code and response headers
    def project_management_project_workers_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectWorkerApi.project_management_project_workers_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_workers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'project_ids[]'] = @api_client.build_collection_param(opts[:'project_ids'], :multi) if !opts[:'project_ids'].nil?
      query_params[:'subproject_ids[]'] = @api_client.build_collection_param(opts[:'subproject_ids'], :multi) if !opts[:'subproject_ids'].nil?
      query_params[:'no_subproject'] = opts[:'no_subproject'] if !opts[:'no_subproject'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'assigned'] = opts[:'assigned'] if !opts[:'assigned'].nil?
      query_params[:'project_active'] = opts[:'project_active'] if !opts[:'project_active'].nil?
      query_params[:'employee_name'] = opts[:'employee_name'] if !opts[:'employee_name'].nil?
      query_params[:'include_inputed_minutes'] = opts[:'include_inputed_minutes'] if !opts[:'include_inputed_minutes'].nil?
      query_params[:'include_cost'] = opts[:'include_cost'] if !opts[:'include_cost'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'include_labor_cost'] = opts[:'include_labor_cost'] if !opts[:'include_labor_cost'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProjectWorkersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectWorkerApi.project_management_project_workers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectWorkerApi#project_management_project_workers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Project worker
    # ###### **What does it do?** This endpoint reads and retrieves a list of project workers. You can utilize URL parameters to filter the results. ###### **Is it related to other entities?** A project_worker is always related to a project and a employee. Only a `project worker` is able to add time to a project using the `time_record` entity. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission to read project workers.
    # @param id [String] Retrieve only the project workers that matches the ids provided in the request.
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementProjectWorker]
    def project_management_project_workers_id_get(id, opts = {})
      data, _status_code, _headers = project_management_project_workers_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Project worker
    # ###### **What does it do?** This endpoint reads and retrieves a list of project workers. You can utilize URL parameters to filter the results. ###### **Is it related to other entities?** A project_worker is always related to a project and a employee. Only a &#x60;project worker&#x60; is able to add time to a project using the &#x60;time_record&#x60; entity. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission to read project workers.
    # @param id [String] Retrieve only the project workers that matches the ids provided in the request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementProjectWorker, Integer, Hash)>] ProjectManagementProjectWorker data, response status code and response headers
    def project_management_project_workers_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectWorkerApi.project_management_project_workers_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementProjectWorkerApi.project_management_project_workers_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_workers/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProjectWorker'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectWorkerApi.project_management_project_workers_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectWorkerApi#project_management_project_workers_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Project worker
    # ###### **What does it do?** This creates a new project worker. By default, the project worker will be created with the status `assigned`. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with a role in the given project.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectWorkersPostRequest] :project_management_project_workers_post_request 
    # @return [ProjectManagementProjectWorker]
    def project_management_project_workers_post(opts = {})
      data, _status_code, _headers = project_management_project_workers_post_with_http_info(opts)
      data
    end

    # Creates a Project worker
    # ###### **What does it do?** This creates a new project worker. By default, the project worker will be created with the status &#x60;assigned&#x60;. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with a role in the given project.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectWorkersPostRequest] :project_management_project_workers_post_request 
    # @return [Array<(ProjectManagementProjectWorker, Integer, Hash)>] ProjectManagementProjectWorker data, response status code and response headers
    def project_management_project_workers_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectWorkerApi.project_management_project_workers_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_workers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_project_workers_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProjectWorker'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectWorkerApi.project_management_project_workers_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectWorkerApi#project_management_project_workers_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unassigns a Project worker
    # Unassigns a Project worker
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [ProjectManagementProjectWorker]
    def project_management_project_workers_unassign_post(opts = {})
      data, _status_code, _headers = project_management_project_workers_unassign_post_with_http_info(opts)
      data
    end

    # Unassigns a Project worker
    # Unassigns a Project worker
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [Array<(ProjectManagementProjectWorker, Integer, Hash)>] ProjectManagementProjectWorker data, response status code and response headers
    def project_management_project_workers_unassign_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectWorkerApi.project_management_project_workers_unassign_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_workers/unassign'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_evaluation_forms_save_as_template_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProjectWorker'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectWorkerApi.project_management_project_workers_unassign_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectWorkerApi#project_management_project_workers_unassign_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
