=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ProjectManagementExpenseRecordApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Expense records
    # Reads all Expense records
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the expense records that matches the project ids provided in the request.
    # @option opts [String] :start_date Retrieve only the expense records with end date greater than or equal to the start date provided in the request.
    # @option opts [String] :end_date Retrieve only the expense records with start date less than or equal to the end date provided in the request.
    # @option opts [Array<String>] :expense_ids Retrieve only the expense records that matches the expense ids provided in the request.
    # @option opts [Array<String>] :project_ids Retrieve only the expense records that matches the project ids provided in the request.
    # @option opts [Array<String>] :subproject_ids Retrieve only the expense records that matches the subproject ids provided in the request.
    # @option opts [String] :updated_after Retrieve only the expense records that matches the updated after date provided in the request.
    # @option opts [String] :employee_user_name_like Retrieve only the expense records that matches the employee user name like provided in the request.
    # @option opts [Array<String>] :project_worker_ids Retrieve only the expense records that matches the project worker ids provided in the request.
    # @return [ProjectManagementExpenseRecordsGet200Response]
    def project_management_expense_records_get(opts = {})
      data, _status_code, _headers = project_management_expense_records_get_with_http_info(opts)
      data
    end

    # Reads all Expense records
    # Reads all Expense records
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the expense records that matches the project ids provided in the request.
    # @option opts [String] :start_date Retrieve only the expense records with end date greater than or equal to the start date provided in the request.
    # @option opts [String] :end_date Retrieve only the expense records with start date less than or equal to the end date provided in the request.
    # @option opts [Array<String>] :expense_ids Retrieve only the expense records that matches the expense ids provided in the request.
    # @option opts [Array<String>] :project_ids Retrieve only the expense records that matches the project ids provided in the request.
    # @option opts [Array<String>] :subproject_ids Retrieve only the expense records that matches the subproject ids provided in the request.
    # @option opts [String] :updated_after Retrieve only the expense records that matches the updated after date provided in the request.
    # @option opts [String] :employee_user_name_like Retrieve only the expense records that matches the employee user name like provided in the request.
    # @option opts [Array<String>] :project_worker_ids Retrieve only the expense records that matches the project worker ids provided in the request.
    # @return [Array<(ProjectManagementExpenseRecordsGet200Response, Integer, Hash)>] ProjectManagementExpenseRecordsGet200Response data, response status code and response headers
    def project_management_expense_records_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementExpenseRecordApi.project_management_expense_records_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/expense_records'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'expense_ids[]'] = @api_client.build_collection_param(opts[:'expense_ids'], :multi) if !opts[:'expense_ids'].nil?
      query_params[:'project_ids[]'] = @api_client.build_collection_param(opts[:'project_ids'], :multi) if !opts[:'project_ids'].nil?
      query_params[:'subproject_ids[]'] = @api_client.build_collection_param(opts[:'subproject_ids'], :multi) if !opts[:'subproject_ids'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'employee_user_name_like'] = opts[:'employee_user_name_like'] if !opts[:'employee_user_name_like'].nil?
      query_params[:'project_worker_ids[]'] = @api_client.build_collection_param(opts[:'project_worker_ids'], :multi) if !opts[:'project_worker_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementExpenseRecordsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementExpenseRecordApi.project_management_expense_records_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementExpenseRecordApi#project_management_expense_records_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Expense record
    # Reads a single Expense record
    # @param id [String] Retrieve only the expense records that matches the project ids provided in the request.
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementExpenseRecord]
    def project_management_expense_records_id_get(id, opts = {})
      data, _status_code, _headers = project_management_expense_records_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Expense record
    # Reads a single Expense record
    # @param id [String] Retrieve only the expense records that matches the project ids provided in the request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementExpenseRecord, Integer, Hash)>] ProjectManagementExpenseRecord data, response status code and response headers
    def project_management_expense_records_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementExpenseRecordApi.project_management_expense_records_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementExpenseRecordApi.project_management_expense_records_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/expense_records/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementExpenseRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementExpenseRecordApi.project_management_expense_records_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementExpenseRecordApi#project_management_expense_records_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
