=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ProjectManagementImputableProjectApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Imputable projects
    # Reads all Imputable projects
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the imputable projects that match the ids provided in the request.
    # @option opts [String] :name_or_code Retrieve only the imputable projects that match the name or code passed in the request.
    # @option opts [Boolean] :only_active If true, retrieve only active imputable projects.
    # @option opts [Boolean] :assigned If true, retrieve only imputable projects that have at least one assigned project worker.
    # @option opts [Array<String>] :employee_ids Retrieve only the imputable projects in which the employees passed in the request are project workers.
    # @return [ProjectManagementImputableProjectsGet200Response]
    def project_management_imputable_projects_get(opts = {})
      data, _status_code, _headers = project_management_imputable_projects_get_with_http_info(opts)
      data
    end

    # Reads all Imputable projects
    # Reads all Imputable projects
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the imputable projects that match the ids provided in the request.
    # @option opts [String] :name_or_code Retrieve only the imputable projects that match the name or code passed in the request.
    # @option opts [Boolean] :only_active If true, retrieve only active imputable projects.
    # @option opts [Boolean] :assigned If true, retrieve only imputable projects that have at least one assigned project worker.
    # @option opts [Array<String>] :employee_ids Retrieve only the imputable projects in which the employees passed in the request are project workers.
    # @return [Array<(ProjectManagementImputableProjectsGet200Response, Integer, Hash)>] ProjectManagementImputableProjectsGet200Response data, response status code and response headers
    def project_management_imputable_projects_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementImputableProjectApi.project_management_imputable_projects_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/imputable_projects'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'name_or_code'] = opts[:'name_or_code'] if !opts[:'name_or_code'].nil?
      query_params[:'only_active'] = opts[:'only_active'] if !opts[:'only_active'].nil?
      query_params[:'assigned'] = opts[:'assigned'] if !opts[:'assigned'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementImputableProjectsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementImputableProjectApi.project_management_imputable_projects_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementImputableProjectApi#project_management_imputable_projects_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Imputable project
    # Reads a single Imputable project
    # @param id [String] Retrieve only the imputable projects that match the ids provided in the request.
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementImputableProject]
    def project_management_imputable_projects_id_get(id, opts = {})
      data, _status_code, _headers = project_management_imputable_projects_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Imputable project
    # Reads a single Imputable project
    # @param id [String] Retrieve only the imputable projects that match the ids provided in the request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementImputableProject, Integer, Hash)>] ProjectManagementImputableProject data, response status code and response headers
    def project_management_imputable_projects_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementImputableProjectApi.project_management_imputable_projects_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementImputableProjectApi.project_management_imputable_projects_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/imputable_projects/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementImputableProject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementImputableProjectApi.project_management_imputable_projects_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementImputableProjectApi#project_management_imputable_projects_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
