=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ProjectManagementSubprojectApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Subprojects
    # ###### **What does it do?** This reads all subprojects created ###### **What params does it accept?**    - `ids`: retrieve only the subprojects that matches the ids passed in the request.\\n   - `include_inputed_minutes`: if `true` we will perform the minutes calculations and will be return the total `inputed_minutes`. If the param is not passed in the request, its default value is `FALSE` so it will return `inputed_minutes: 0` and no minutes calculations will be performed.   - `updated_after`: this parameter is needed to filter subprojects created or updated after a date.  ###### **Is it related to other entities?** A subproject is always related to a project, so you can use the query params to list only the subprojects that are related to a specific project. ###### **Who can use it?** Only companies who have enabled the `projects_with_subprojects` feature and users with the permission of read subprojects.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the subprojects that matches the ids passed in the request.
    # @option opts [Array<String>] :project_ids Retrieve only the subprojects that belongs to the project ids passed in the request.
    # @option opts [String] :name Retrieve only the subprojects that matches the name passed in the request.
    # @option opts [Boolean] :include_no_subproject 
    # @option opts [Boolean] :include_inputed_minutes If &#x60;true&#x60; we will perform the minutes calculations and will be return the total &#x60;inputed_minutes&#x60;. If the param is not passed in the request, its default value is &#x60;FALSE&#x60; so it will return &#x60;inputed_minutes: 0&#x60; and no minutes calculations will be performed.
    # @option opts [Boolean] :include_cost If &#x60;true&#x60; we will perform the cost calculations and will be return the total &#x60;labor_cost_cents&#x60;. If the param is not passed in the request, its default value is &#x60;FALSE&#x60; so it will return &#x60;labor_cost_cents: 0&#x60; and no cost calculations will be performed.
    # @option opts [String] :updated_after Retrieve only the subprojects that were updated after the date passed in the request.
    # @return [ProjectManagementSubprojectsGet200Response]
    def project_management_subprojects_get(opts = {})
      data, _status_code, _headers = project_management_subprojects_get_with_http_info(opts)
      data
    end

    # Reads all Subprojects
    # ###### **What does it do?** This reads all subprojects created ###### **What params does it accept?**    - &#x60;ids&#x60;: retrieve only the subprojects that matches the ids passed in the request.\\n   - &#x60;include_inputed_minutes&#x60;: if &#x60;true&#x60; we will perform the minutes calculations and will be return the total &#x60;inputed_minutes&#x60;. If the param is not passed in the request, its default value is &#x60;FALSE&#x60; so it will return &#x60;inputed_minutes: 0&#x60; and no minutes calculations will be performed.   - &#x60;updated_after&#x60;: this parameter is needed to filter subprojects created or updated after a date.  ###### **Is it related to other entities?** A subproject is always related to a project, so you can use the query params to list only the subprojects that are related to a specific project. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_with_subprojects&#x60; feature and users with the permission of read subprojects.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the subprojects that matches the ids passed in the request.
    # @option opts [Array<String>] :project_ids Retrieve only the subprojects that belongs to the project ids passed in the request.
    # @option opts [String] :name Retrieve only the subprojects that matches the name passed in the request.
    # @option opts [Boolean] :include_no_subproject 
    # @option opts [Boolean] :include_inputed_minutes If &#x60;true&#x60; we will perform the minutes calculations and will be return the total &#x60;inputed_minutes&#x60;. If the param is not passed in the request, its default value is &#x60;FALSE&#x60; so it will return &#x60;inputed_minutes: 0&#x60; and no minutes calculations will be performed.
    # @option opts [Boolean] :include_cost If &#x60;true&#x60; we will perform the cost calculations and will be return the total &#x60;labor_cost_cents&#x60;. If the param is not passed in the request, its default value is &#x60;FALSE&#x60; so it will return &#x60;labor_cost_cents: 0&#x60; and no cost calculations will be performed.
    # @option opts [String] :updated_after Retrieve only the subprojects that were updated after the date passed in the request.
    # @return [Array<(ProjectManagementSubprojectsGet200Response, Integer, Hash)>] ProjectManagementSubprojectsGet200Response data, response status code and response headers
    def project_management_subprojects_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementSubprojectApi.project_management_subprojects_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/subprojects'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'project_ids[]'] = @api_client.build_collection_param(opts[:'project_ids'], :multi) if !opts[:'project_ids'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'include_no_subproject'] = opts[:'include_no_subproject'] if !opts[:'include_no_subproject'].nil?
      query_params[:'include_inputed_minutes'] = opts[:'include_inputed_minutes'] if !opts[:'include_inputed_minutes'].nil?
      query_params[:'include_cost'] = opts[:'include_cost'] if !opts[:'include_cost'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementSubprojectsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementSubprojectApi.project_management_subprojects_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementSubprojectApi#project_management_subprojects_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Subproject
    # ###### **What does it do?** This deletes a subproject. ###### **Who can use it?** Only companies who have enabled the `projects_with_subprojects` feature and users with a role in the project owning the subproject.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementSubproject]
    def project_management_subprojects_id_delete(id, opts = {})
      data, _status_code, _headers = project_management_subprojects_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Subproject
    # ###### **What does it do?** This deletes a subproject. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_with_subprojects&#x60; feature and users with a role in the project owning the subproject.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementSubproject, Integer, Hash)>] ProjectManagementSubproject data, response status code and response headers
    def project_management_subprojects_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementSubprojectApi.project_management_subprojects_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementSubprojectApi.project_management_subprojects_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/subprojects/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementSubproject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementSubprojectApi.project_management_subprojects_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementSubprojectApi#project_management_subprojects_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Subproject
    # ###### **What does it do?** This reads all subprojects created ###### **What params does it accept?**    - `ids`: retrieve only the subprojects that matches the ids passed in the request.\\n   - `include_inputed_minutes`: if `true` we will perform the minutes calculations and will be return the total `inputed_minutes`. If the param is not passed in the request, its default value is `FALSE` so it will return `inputed_minutes: 0` and no minutes calculations will be performed.   - `updated_after`: this parameter is needed to filter subprojects created or updated after a date.  ###### **Is it related to other entities?** A subproject is always related to a project, so you can use the query params to list only the subprojects that are related to a specific project. ###### **Who can use it?** Only companies who have enabled the `projects_with_subprojects` feature and users with the permission of read subprojects.
    # @param id [String] Retrieve only the subprojects that matches the ids passed in the request.
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementSubproject]
    def project_management_subprojects_id_get(id, opts = {})
      data, _status_code, _headers = project_management_subprojects_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Subproject
    # ###### **What does it do?** This reads all subprojects created ###### **What params does it accept?**    - &#x60;ids&#x60;: retrieve only the subprojects that matches the ids passed in the request.\\n   - &#x60;include_inputed_minutes&#x60;: if &#x60;true&#x60; we will perform the minutes calculations and will be return the total &#x60;inputed_minutes&#x60;. If the param is not passed in the request, its default value is &#x60;FALSE&#x60; so it will return &#x60;inputed_minutes: 0&#x60; and no minutes calculations will be performed.   - &#x60;updated_after&#x60;: this parameter is needed to filter subprojects created or updated after a date.  ###### **Is it related to other entities?** A subproject is always related to a project, so you can use the query params to list only the subprojects that are related to a specific project. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_with_subprojects&#x60; feature and users with the permission of read subprojects.
    # @param id [String] Retrieve only the subprojects that matches the ids passed in the request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementSubproject, Integer, Hash)>] ProjectManagementSubproject data, response status code and response headers
    def project_management_subprojects_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementSubprojectApi.project_management_subprojects_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementSubprojectApi.project_management_subprojects_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/subprojects/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementSubproject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementSubprojectApi.project_management_subprojects_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementSubprojectApi#project_management_subprojects_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Subproject
    # ###### **What does it do?** This updates the subproject details.
    # @param id [String] The id of the subproject.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementSubprojectsIdPutRequest] :project_management_subprojects_id_put_request 
    # @return [ProjectManagementSubproject]
    def project_management_subprojects_id_put(id, opts = {})
      data, _status_code, _headers = project_management_subprojects_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Subproject
    # ###### **What does it do?** This updates the subproject details.
    # @param id [String] The id of the subproject.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementSubprojectsIdPutRequest] :project_management_subprojects_id_put_request 
    # @return [Array<(ProjectManagementSubproject, Integer, Hash)>] ProjectManagementSubproject data, response status code and response headers
    def project_management_subprojects_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementSubprojectApi.project_management_subprojects_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementSubprojectApi.project_management_subprojects_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/subprojects/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_subprojects_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementSubproject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementSubprojectApi.project_management_subprojects_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementSubprojectApi#project_management_subprojects_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Subproject
    # ###### **What does it do?** This creates a new subproject. ###### **Is it related to other entities?** A subproject is always related to a project. ###### **Who can use it?** Only companies who have enabled the `projects_with_subprojects` feature and users with a role in the project owning the subproject.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementSubprojectsPostRequest] :project_management_subprojects_post_request 
    # @return [ProjectManagementSubproject]
    def project_management_subprojects_post(opts = {})
      data, _status_code, _headers = project_management_subprojects_post_with_http_info(opts)
      data
    end

    # Creates a Subproject
    # ###### **What does it do?** This creates a new subproject. ###### **Is it related to other entities?** A subproject is always related to a project. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_with_subprojects&#x60; feature and users with a role in the project owning the subproject.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementSubprojectsPostRequest] :project_management_subprojects_post_request 
    # @return [Array<(ProjectManagementSubproject, Integer, Hash)>] ProjectManagementSubproject data, response status code and response headers
    def project_management_subprojects_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementSubprojectApi.project_management_subprojects_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/subprojects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_subprojects_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementSubproject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementSubprojectApi.project_management_subprojects_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementSubprojectApi#project_management_subprojects_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Renames a Subproject
    # ###### **What does it do?** This renames a subproject. ###### **Who can use it?** Only companies who have enabled the `projects_with_subprojects` feature and users with a role in the project owning the subproject.
    # @param [Hash] opts the optional parameters
    # @option opts [LocationsWorkAreasIdPutRequest] :locations_work_areas_id_put_request 
    # @return [ProjectManagementSubproject]
    def project_management_subprojects_rename_post(opts = {})
      data, _status_code, _headers = project_management_subprojects_rename_post_with_http_info(opts)
      data
    end

    # Renames a Subproject
    # ###### **What does it do?** This renames a subproject. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_with_subprojects&#x60; feature and users with a role in the project owning the subproject.
    # @param [Hash] opts the optional parameters
    # @option opts [LocationsWorkAreasIdPutRequest] :locations_work_areas_id_put_request 
    # @return [Array<(ProjectManagementSubproject, Integer, Hash)>] ProjectManagementSubproject data, response status code and response headers
    def project_management_subprojects_rename_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementSubprojectApi.project_management_subprojects_rename_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/subprojects/rename'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'locations_work_areas_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementSubproject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementSubprojectApi.project_management_subprojects_rename_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementSubprojectApi#project_management_subprojects_rename_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
