=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ProjectManagementPlannedRecordApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk creates a Planned record
    # Bulk creates a Planned record
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementPlannedRecordsBulkCreatePostRequest] :project_management_planned_records_bulk_create_post_request 
    # @return [Array<ProjectManagementPlannedRecord>]
    def project_management_planned_records_bulk_create_post(opts = {})
      data, _status_code, _headers = project_management_planned_records_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Planned record
    # Bulk creates a Planned record
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementPlannedRecordsBulkCreatePostRequest] :project_management_planned_records_bulk_create_post_request 
    # @return [Array<(Array<ProjectManagementPlannedRecord>, Integer, Hash)>] Array<ProjectManagementPlannedRecord> data, response status code and response headers
    def project_management_planned_records_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementPlannedRecordApi.project_management_planned_records_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/planned_records/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_planned_records_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectManagementPlannedRecord>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementPlannedRecordApi.project_management_planned_records_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementPlannedRecordApi#project_management_planned_records_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Planned records
    # Reads all Planned records
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the planned records that matches the ids provided in the request.
    # @option opts [Array<String>] :project_worker_ids Retrieve only the planned records that matches the project worker ids provided in the request.
    # @option opts [String] :start_date Retrieve only the planned records that matches the start date provided in the request.
    # @option opts [String] :end_date Retrieve only the planned records that matches the end date provided in the request.
    # @option opts [Array<String>] :subproject_ids Retrieve only the planned records that matches the subproject ids provided in the request.
    # @return [ProjectManagementPlannedRecordsGet200Response]
    def project_management_planned_records_get(opts = {})
      data, _status_code, _headers = project_management_planned_records_get_with_http_info(opts)
      data
    end

    # Reads all Planned records
    # Reads all Planned records
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the planned records that matches the ids provided in the request.
    # @option opts [Array<String>] :project_worker_ids Retrieve only the planned records that matches the project worker ids provided in the request.
    # @option opts [String] :start_date Retrieve only the planned records that matches the start date provided in the request.
    # @option opts [String] :end_date Retrieve only the planned records that matches the end date provided in the request.
    # @option opts [Array<String>] :subproject_ids Retrieve only the planned records that matches the subproject ids provided in the request.
    # @return [Array<(ProjectManagementPlannedRecordsGet200Response, Integer, Hash)>] ProjectManagementPlannedRecordsGet200Response data, response status code and response headers
    def project_management_planned_records_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementPlannedRecordApi.project_management_planned_records_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/planned_records'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'project_worker_ids[]'] = @api_client.build_collection_param(opts[:'project_worker_ids'], :multi) if !opts[:'project_worker_ids'].nil?
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'subproject_ids[]'] = @api_client.build_collection_param(opts[:'subproject_ids'], :multi) if !opts[:'subproject_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementPlannedRecordsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementPlannedRecordApi.project_management_planned_records_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementPlannedRecordApi#project_management_planned_records_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Planned record
    # Deletes a Planned record
    # @param id [String] The id of the planned record to delete
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementPlannedRecord]
    def project_management_planned_records_id_delete(id, opts = {})
      data, _status_code, _headers = project_management_planned_records_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Planned record
    # Deletes a Planned record
    # @param id [String] The id of the planned record to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementPlannedRecord, Integer, Hash)>] ProjectManagementPlannedRecord data, response status code and response headers
    def project_management_planned_records_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementPlannedRecordApi.project_management_planned_records_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementPlannedRecordApi.project_management_planned_records_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/planned_records/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementPlannedRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementPlannedRecordApi.project_management_planned_records_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementPlannedRecordApi#project_management_planned_records_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Planned record
    # Reads a single Planned record
    # @param id [String] Retrieve only the planned records that matches the ids provided in the request.
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementPlannedRecord]
    def project_management_planned_records_id_get(id, opts = {})
      data, _status_code, _headers = project_management_planned_records_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Planned record
    # Reads a single Planned record
    # @param id [String] Retrieve only the planned records that matches the ids provided in the request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementPlannedRecord, Integer, Hash)>] ProjectManagementPlannedRecord data, response status code and response headers
    def project_management_planned_records_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementPlannedRecordApi.project_management_planned_records_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementPlannedRecordApi.project_management_planned_records_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/planned_records/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementPlannedRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementPlannedRecordApi.project_management_planned_records_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementPlannedRecordApi#project_management_planned_records_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Planned record
    # Updates a Planned record
    # @param id [String] The id of the planned record to update
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementPlannedRecordsIdPutRequest] :project_management_planned_records_id_put_request 
    # @return [ProjectManagementPlannedRecord]
    def project_management_planned_records_id_put(id, opts = {})
      data, _status_code, _headers = project_management_planned_records_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Planned record
    # Updates a Planned record
    # @param id [String] The id of the planned record to update
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementPlannedRecordsIdPutRequest] :project_management_planned_records_id_put_request 
    # @return [Array<(ProjectManagementPlannedRecord, Integer, Hash)>] ProjectManagementPlannedRecord data, response status code and response headers
    def project_management_planned_records_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementPlannedRecordApi.project_management_planned_records_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementPlannedRecordApi.project_management_planned_records_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/planned_records/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_planned_records_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementPlannedRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementPlannedRecordApi.project_management_planned_records_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementPlannedRecordApi#project_management_planned_records_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
