=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ProjectManagementExportableExpenseApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Exportable expenses
    # ###### **What does it do?**    This will generate an export of the type **\"Project's expenses\"**. You will have to pass the start and end date to determine the range for which htis information will be exported; as well as the projects ids to get the information of specifically given projects.  ###### **What params does it accept?**   - `start_date`: It's mandatory to pass this data, being start date to delimit the range of information exported.   - `end_date`: It's mandatory to pass this data, corresponding to an end date for the date range of data to be exported.   - `project_ids`: Mandatory data to pass to the export, specifying the projects to be exported from.  ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission of read projects.
    # @param start_date [String] 
    # @param end_date [String] 
    # @param project_ids [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementExportableExpensesGet200Response]
    def project_management_exportable_expenses_get(start_date, end_date, project_ids, opts = {})
      data, _status_code, _headers = project_management_exportable_expenses_get_with_http_info(start_date, end_date, project_ids, opts)
      data
    end

    # Reads all Exportable expenses
    # ###### **What does it do?**    This will generate an export of the type **\&quot;Project&#39;s expenses\&quot;**. You will have to pass the start and end date to determine the range for which htis information will be exported; as well as the projects ids to get the information of specifically given projects.  ###### **What params does it accept?**   - &#x60;start_date&#x60;: It&#39;s mandatory to pass this data, being start date to delimit the range of information exported.   - &#x60;end_date&#x60;: It&#39;s mandatory to pass this data, corresponding to an end date for the date range of data to be exported.   - &#x60;project_ids&#x60;: Mandatory data to pass to the export, specifying the projects to be exported from.  ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of read projects.
    # @param start_date [String] 
    # @param end_date [String] 
    # @param project_ids [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementExportableExpensesGet200Response, Integer, Hash)>] ProjectManagementExportableExpensesGet200Response data, response status code and response headers
    def project_management_exportable_expenses_get_with_http_info(start_date, end_date, project_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementExportableExpenseApi.project_management_exportable_expenses_get ...'
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ProjectManagementExportableExpenseApi.project_management_exportable_expenses_get"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ProjectManagementExportableExpenseApi.project_management_exportable_expenses_get"
      end
      # verify the required parameter 'project_ids' is set
      if @api_client.config.client_side_validation && project_ids.nil?
        fail ArgumentError, "Missing the required parameter 'project_ids' when calling ProjectManagementExportableExpenseApi.project_management_exportable_expenses_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/exportable_expenses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date
      query_params[:'project_ids[]'] = @api_client.build_collection_param(project_ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementExportableExpensesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementExportableExpenseApi.project_management_exportable_expenses_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementExportableExpenseApi#project_management_exportable_expenses_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
