=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ProjectManagementProjectTaskApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk destroys a Project task
    # ###### **What does it do?** This will delete the project tasks with the ids passed as an argument. ###### **What params does it accept?**    - `ids`: Project task ids  ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission of read projects.
    # @param [Hash] opts the optional parameters
    # @option opts [ExpensesExpensablesBulkSetToPaidPostRequest] :expenses_expensables_bulk_set_to_paid_post_request 
    # @return [Array<ProjectManagementProjectTask>]
    def project_management_project_tasks_bulk_destroy_post(opts = {})
      data, _status_code, _headers = project_management_project_tasks_bulk_destroy_post_with_http_info(opts)
      data
    end

    # Bulk destroys a Project task
    # ###### **What does it do?** This will delete the project tasks with the ids passed as an argument. ###### **What params does it accept?**    - &#x60;ids&#x60;: Project task ids  ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of read projects.
    # @param [Hash] opts the optional parameters
    # @option opts [ExpensesExpensablesBulkSetToPaidPostRequest] :expenses_expensables_bulk_set_to_paid_post_request 
    # @return [Array<(Array<ProjectManagementProjectTask>, Integer, Hash)>] Array<ProjectManagementProjectTask> data, response status code and response headers
    def project_management_project_tasks_bulk_destroy_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectTaskApi.project_management_project_tasks_bulk_destroy_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_tasks/bulk_destroy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'expenses_expensables_bulk_set_to_paid_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectManagementProjectTask>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectTaskApi.project_management_project_tasks_bulk_destroy_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectTaskApi#project_management_project_tasks_bulk_destroy_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk duplicates a Project task
    # ###### **What does it do?** This will create new project tasks with the same attributes as the project task ids passed as an argument. ###### **What params does it accept?**    - `ids`: Project task ids  ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission of read projects.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectTasksBulkDuplicatePostRequest] :project_management_project_tasks_bulk_duplicate_post_request 
    # @return [Array<ProjectManagementProjectTask>]
    def project_management_project_tasks_bulk_duplicate_post(opts = {})
      data, _status_code, _headers = project_management_project_tasks_bulk_duplicate_post_with_http_info(opts)
      data
    end

    # Bulk duplicates a Project task
    # ###### **What does it do?** This will create new project tasks with the same attributes as the project task ids passed as an argument. ###### **What params does it accept?**    - &#x60;ids&#x60;: Project task ids  ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of read projects.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectTasksBulkDuplicatePostRequest] :project_management_project_tasks_bulk_duplicate_post_request 
    # @return [Array<(Array<ProjectManagementProjectTask>, Integer, Hash)>] Array<ProjectManagementProjectTask> data, response status code and response headers
    def project_management_project_tasks_bulk_duplicate_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectTaskApi.project_management_project_tasks_bulk_duplicate_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_tasks/bulk_duplicate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_project_tasks_bulk_duplicate_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectManagementProjectTask>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectTaskApi.project_management_project_tasks_bulk_duplicate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectTaskApi#project_management_project_tasks_bulk_duplicate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Project tasks
    # ###### **What does it do?** This reads the data of projects tasks, and retrieves the information based on permissions:    - If the user can see all company projects for everybody, the endpoint will return a list with the tasks from the related projects.   - If the user can create projects for everybody, the endpoint will return a list with the tasks from the related projects.   - If the user has any role (editor or owner) on the project, the endpoint will return a list with the tasks from the related projects where the user has that role.   - If those conditions are not matched, the endpoint will return an empty list.  ###### **What params does it accept?**    - `ids`: retrieve only the projects tasks that matches the ids passed in the request.   - `project_ids`: retrieve only the projects tasks from the projects that matched the ids passed in the request.   - `subproject_ids`: retrieve only the projects tasks from the subprojects that matched the ids passed in the request.   - `completed`: boolean - retrieve only the projects tasks with the status completed.   - `overdue`: boolean - retrieve only the projects tasks that are overdue.   - `search`:  retrieve only the projects tasks that their name match with the content passed as argument.   - `due_status`: retrieve only the project tasks that their due status match with the content passed as argument.   - `client_ids`: retrieve only the projects tasks from the clients that matched the ids passed in the request.  ###### **Who can use it?**    Only companies who have enabled the `projects_management` feature and users with the permission of read projects.
    # @param ids [Array<String>] Retrieve only the projects tasks that matches the ids passed in the request.
    # @param project_ids [Array<String>] Retrieve only the projects tasks from the projects that matched the ids passed in the request.
    # @param subproject_ids [Array<String>] Retrieve only the projects tasks from the subprojects that matched the ids passed in the request.
    # @param completed [Boolean] Retrieve only the projects tasks with the status completed.
    # @param overdue [Boolean] Retrieve only the projects tasks that are overdue.
    # @param search [String] Retrieve only the projects tasks that their name match with the content passed as argument.
    # @param due_status [String] Retrieve only the project tasks that their due status match with the content passed as argument.
    # @param client_ids [Array<String>] Retrieve only the projects tasks from the clients that matched the ids passed in the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :task_ids 
    # @return [ProjectManagementProjectTasksGet200Response]
    def project_management_project_tasks_get(ids, project_ids, subproject_ids, completed, overdue, search, due_status, client_ids, opts = {})
      data, _status_code, _headers = project_management_project_tasks_get_with_http_info(ids, project_ids, subproject_ids, completed, overdue, search, due_status, client_ids, opts)
      data
    end

    # Reads all Project tasks
    # ###### **What does it do?** This reads the data of projects tasks, and retrieves the information based on permissions:    - If the user can see all company projects for everybody, the endpoint will return a list with the tasks from the related projects.   - If the user can create projects for everybody, the endpoint will return a list with the tasks from the related projects.   - If the user has any role (editor or owner) on the project, the endpoint will return a list with the tasks from the related projects where the user has that role.   - If those conditions are not matched, the endpoint will return an empty list.  ###### **What params does it accept?**    - &#x60;ids&#x60;: retrieve only the projects tasks that matches the ids passed in the request.   - &#x60;project_ids&#x60;: retrieve only the projects tasks from the projects that matched the ids passed in the request.   - &#x60;subproject_ids&#x60;: retrieve only the projects tasks from the subprojects that matched the ids passed in the request.   - &#x60;completed&#x60;: boolean - retrieve only the projects tasks with the status completed.   - &#x60;overdue&#x60;: boolean - retrieve only the projects tasks that are overdue.   - &#x60;search&#x60;:  retrieve only the projects tasks that their name match with the content passed as argument.   - &#x60;due_status&#x60;: retrieve only the project tasks that their due status match with the content passed as argument.   - &#x60;client_ids&#x60;: retrieve only the projects tasks from the clients that matched the ids passed in the request.  ###### **Who can use it?**    Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of read projects.
    # @param ids [Array<String>] Retrieve only the projects tasks that matches the ids passed in the request.
    # @param project_ids [Array<String>] Retrieve only the projects tasks from the projects that matched the ids passed in the request.
    # @param subproject_ids [Array<String>] Retrieve only the projects tasks from the subprojects that matched the ids passed in the request.
    # @param completed [Boolean] Retrieve only the projects tasks with the status completed.
    # @param overdue [Boolean] Retrieve only the projects tasks that are overdue.
    # @param search [String] Retrieve only the projects tasks that their name match with the content passed as argument.
    # @param due_status [String] Retrieve only the project tasks that their due status match with the content passed as argument.
    # @param client_ids [Array<String>] Retrieve only the projects tasks from the clients that matched the ids passed in the request.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :task_ids 
    # @return [Array<(ProjectManagementProjectTasksGet200Response, Integer, Hash)>] ProjectManagementProjectTasksGet200Response data, response status code and response headers
    def project_management_project_tasks_get_with_http_info(ids, project_ids, subproject_ids, completed, overdue, search, due_status, client_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectTaskApi.project_management_project_tasks_get ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_get"
      end
      # verify the required parameter 'project_ids' is set
      if @api_client.config.client_side_validation && project_ids.nil?
        fail ArgumentError, "Missing the required parameter 'project_ids' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_get"
      end
      # verify the required parameter 'subproject_ids' is set
      if @api_client.config.client_side_validation && subproject_ids.nil?
        fail ArgumentError, "Missing the required parameter 'subproject_ids' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_get"
      end
      # verify the required parameter 'completed' is set
      if @api_client.config.client_side_validation && completed.nil?
        fail ArgumentError, "Missing the required parameter 'completed' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_get"
      end
      # verify the required parameter 'overdue' is set
      if @api_client.config.client_side_validation && overdue.nil?
        fail ArgumentError, "Missing the required parameter 'overdue' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_get"
      end
      # verify the required parameter 'search' is set
      if @api_client.config.client_side_validation && search.nil?
        fail ArgumentError, "Missing the required parameter 'search' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_get"
      end
      # verify the required parameter 'due_status' is set
      if @api_client.config.client_side_validation && due_status.nil?
        fail ArgumentError, "Missing the required parameter 'due_status' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_get"
      end
      # verify enum value
      allowable_values = ["no_due", "due_today", "over_due", "due_in_future"]
      if @api_client.config.client_side_validation && !allowable_values.include?(due_status)
        fail ArgumentError, "invalid value for \"due_status\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'client_ids' is set
      if @api_client.config.client_side_validation && client_ids.nil?
        fail ArgumentError, "Missing the required parameter 'client_ids' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_tasks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(ids, :multi)
      query_params[:'project_ids[]'] = @api_client.build_collection_param(project_ids, :multi)
      query_params[:'subproject_ids[]'] = @api_client.build_collection_param(subproject_ids, :multi)
      query_params[:'completed'] = completed
      query_params[:'overdue'] = overdue
      query_params[:'search'] = search
      query_params[:'due_status'] = due_status
      query_params[:'client_ids[]'] = @api_client.build_collection_param(client_ids, :multi)
      query_params[:'task_ids[]'] = @api_client.build_collection_param(opts[:'task_ids'], :multi) if !opts[:'task_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProjectTasksGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectTaskApi.project_management_project_tasks_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectTaskApi#project_management_project_tasks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Project task
    # ###### **What does it do?** This reads the data of projects tasks, and retrieves the information based on permissions:    - If the user can see all company projects for everybody, the endpoint will return a list with the tasks from the related projects.   - If the user can create projects for everybody, the endpoint will return a list with the tasks from the related projects.   - If the user has any role (editor or owner) on the project, the endpoint will return a list with the tasks from the related projects where the user has that role.   - If those conditions are not matched, the endpoint will return an empty list.  ###### **What params does it accept?**    - `ids`: retrieve only the projects tasks that matches the ids passed in the request.   - `project_ids`: retrieve only the projects tasks from the projects that matched the ids passed in the request.   - `subproject_ids`: retrieve only the projects tasks from the subprojects that matched the ids passed in the request.   - `completed`: boolean - retrieve only the projects tasks with the status completed.   - `overdue`: boolean - retrieve only the projects tasks that are overdue.   - `search`:  retrieve only the projects tasks that their name match with the content passed as argument.   - `due_status`: retrieve only the project tasks that their due status match with the content passed as argument.   - `client_ids`: retrieve only the projects tasks from the clients that matched the ids passed in the request.  ###### **Who can use it?**    Only companies who have enabled the `projects_management` feature and users with the permission of read projects.
    # @param id [String] Retrieve only the projects tasks that matches the ids passed in the request.
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementProjectTask]
    def project_management_project_tasks_id_get(id, opts = {})
      data, _status_code, _headers = project_management_project_tasks_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Project task
    # ###### **What does it do?** This reads the data of projects tasks, and retrieves the information based on permissions:    - If the user can see all company projects for everybody, the endpoint will return a list with the tasks from the related projects.   - If the user can create projects for everybody, the endpoint will return a list with the tasks from the related projects.   - If the user has any role (editor or owner) on the project, the endpoint will return a list with the tasks from the related projects where the user has that role.   - If those conditions are not matched, the endpoint will return an empty list.  ###### **What params does it accept?**    - &#x60;ids&#x60;: retrieve only the projects tasks that matches the ids passed in the request.   - &#x60;project_ids&#x60;: retrieve only the projects tasks from the projects that matched the ids passed in the request.   - &#x60;subproject_ids&#x60;: retrieve only the projects tasks from the subprojects that matched the ids passed in the request.   - &#x60;completed&#x60;: boolean - retrieve only the projects tasks with the status completed.   - &#x60;overdue&#x60;: boolean - retrieve only the projects tasks that are overdue.   - &#x60;search&#x60;:  retrieve only the projects tasks that their name match with the content passed as argument.   - &#x60;due_status&#x60;: retrieve only the project tasks that their due status match with the content passed as argument.   - &#x60;client_ids&#x60;: retrieve only the projects tasks from the clients that matched the ids passed in the request.  ###### **Who can use it?**    Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of read projects.
    # @param id [String] Retrieve only the projects tasks that matches the ids passed in the request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementProjectTask, Integer, Hash)>] ProjectManagementProjectTask data, response status code and response headers
    def project_management_project_tasks_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectTaskApi.project_management_project_tasks_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_tasks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProjectTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectTaskApi.project_management_project_tasks_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectTaskApi#project_management_project_tasks_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Project task
    # ###### **What does it do?** This update a project task. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission of create projects.
    # @param id [String] The ID of the project task to update
    # @param id2 [String] The ID of the project task to update
    # @param name [String] The name of the project task
    # @param project_id [String] The ID of the project where the task belongs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content The content/description of the project task
    # @option opts [String] :starts_on The date when the project task starts
    # @option opts [Boolean] :follow_up If true, status changes related to the project will notify the author
    # @option opts [String] :due_on The date when the project task will be due
    # @option opts [Array<String>] :assignee_employee_ids The value of the assignee employee ids of the project task
    # @option opts [String] :subproject_id The ID of the subproject where the project task belongs
    # @option opts [Array<File>] :files_to_add Array of files to add to the project task
    # @option opts [Array<String>] :files_to_remove Array of files to remove from the project task
    # @option opts [String] :status The status of the project task
    # @return [ProjectManagementProjectTask]
    def project_management_project_tasks_id_put(id, id2, name, project_id, opts = {})
      data, _status_code, _headers = project_management_project_tasks_id_put_with_http_info(id, id2, name, project_id, opts)
      data
    end

    # Updates a Project task
    # ###### **What does it do?** This update a project task. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of create projects.
    # @param id [String] The ID of the project task to update
    # @param id2 [String] The ID of the project task to update
    # @param name [String] The name of the project task
    # @param project_id [String] The ID of the project where the task belongs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content The content/description of the project task
    # @option opts [String] :starts_on The date when the project task starts
    # @option opts [Boolean] :follow_up If true, status changes related to the project will notify the author
    # @option opts [String] :due_on The date when the project task will be due
    # @option opts [Array<String>] :assignee_employee_ids The value of the assignee employee ids of the project task
    # @option opts [String] :subproject_id The ID of the subproject where the project task belongs
    # @option opts [Array<File>] :files_to_add Array of files to add to the project task
    # @option opts [Array<String>] :files_to_remove Array of files to remove from the project task
    # @option opts [String] :status The status of the project task
    # @return [Array<(ProjectManagementProjectTask, Integer, Hash)>] ProjectManagementProjectTask data, response status code and response headers
    def project_management_project_tasks_id_put_with_http_info(id, id2, name, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectTaskApi.project_management_project_tasks_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_id_put"
      end
      # verify the required parameter 'id2' is set
      if @api_client.config.client_side_validation && id2.nil?
        fail ArgumentError, "Missing the required parameter 'id2' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_id_put"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_id_put"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_id_put"
      end
      allowable_values = ["todo", "in_progress", "done", "discarded"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_tasks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['id'] = id2
      form_params['name'] = name
      form_params['project_id'] = project_id
      form_params['content'] = opts[:'content'] if !opts[:'content'].nil?
      form_params['starts_on'] = opts[:'starts_on'] if !opts[:'starts_on'].nil?
      form_params['follow_up'] = opts[:'follow_up'] if !opts[:'follow_up'].nil?
      form_params['due_on'] = opts[:'due_on'] if !opts[:'due_on'].nil?
      form_params['assignee_employee_ids[]'] = @api_client.build_collection_param(opts[:'assignee_employee_ids'], :csv) if !opts[:'assignee_employee_ids'].nil?
      form_params['subproject_id'] = opts[:'subproject_id'] if !opts[:'subproject_id'].nil?
      form_params['files_to_add[]'] = @api_client.build_collection_param(opts[:'files_to_add'], :csv) if !opts[:'files_to_add'].nil?
      form_params['files_to_remove[]'] = @api_client.build_collection_param(opts[:'files_to_remove'], :csv) if !opts[:'files_to_remove'].nil?
      form_params['status'] = opts[:'status'] if !opts[:'status'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProjectTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectTaskApi.project_management_project_tasks_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectTaskApi#project_management_project_tasks_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Project task
    # ###### **What does it do?** This creates a new project task. It will also create a new normal task in the system linked with the project task. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission of create projects.
    # @param name [String] The name of the project task
    # @param project_id [String] The ID of the project where the task belongs
    # @param status [String] The status of the project task
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content The content/description of the project task
    # @option opts [String] :starts_on The date when the project task starts
    # @option opts [Boolean] :follow_up If true, status changes related to the project will notify the author
    # @option opts [String] :due_on The date when the project task will be due
    # @option opts [Array<String>] :assignee_employee_ids The value of the assignee employee ids of the project task
    # @option opts [String] :subproject_id The ID of the subproject where the project task belongs
    # @option opts [Array<File>] :files Array of files that will be attached to the project task
    # @return [ProjectManagementProjectTask]
    def project_management_project_tasks_post(name, project_id, status, opts = {})
      data, _status_code, _headers = project_management_project_tasks_post_with_http_info(name, project_id, status, opts)
      data
    end

    # Creates a Project task
    # ###### **What does it do?** This creates a new project task. It will also create a new normal task in the system linked with the project task. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of create projects.
    # @param name [String] The name of the project task
    # @param project_id [String] The ID of the project where the task belongs
    # @param status [String] The status of the project task
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content The content/description of the project task
    # @option opts [String] :starts_on The date when the project task starts
    # @option opts [Boolean] :follow_up If true, status changes related to the project will notify the author
    # @option opts [String] :due_on The date when the project task will be due
    # @option opts [Array<String>] :assignee_employee_ids The value of the assignee employee ids of the project task
    # @option opts [String] :subproject_id The ID of the subproject where the project task belongs
    # @option opts [Array<File>] :files Array of files that will be attached to the project task
    # @return [Array<(ProjectManagementProjectTask, Integer, Hash)>] ProjectManagementProjectTask data, response status code and response headers
    def project_management_project_tasks_post_with_http_info(name, project_id, status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectTaskApi.project_management_project_tasks_post ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_post"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_post"
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling ProjectManagementProjectTaskApi.project_management_project_tasks_post"
      end
      # verify enum value
      allowable_values = ["todo", "in_progress", "done", "discarded"]
      if @api_client.config.client_side_validation && !allowable_values.include?(status)
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/project_tasks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['project_id'] = project_id
      form_params['status'] = status
      form_params['content'] = opts[:'content'] if !opts[:'content'].nil?
      form_params['starts_on'] = opts[:'starts_on'] if !opts[:'starts_on'].nil?
      form_params['follow_up'] = opts[:'follow_up'] if !opts[:'follow_up'].nil?
      form_params['due_on'] = opts[:'due_on'] if !opts[:'due_on'].nil?
      form_params['assignee_employee_ids[]'] = @api_client.build_collection_param(opts[:'assignee_employee_ids'], :csv) if !opts[:'assignee_employee_ids'].nil?
      form_params['subproject_id'] = opts[:'subproject_id'] if !opts[:'subproject_id'].nil?
      form_params['files[]'] = @api_client.build_collection_param(opts[:'files'], :csv) if !opts[:'files'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProjectTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectTaskApi.project_management_project_tasks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectTaskApi#project_management_project_tasks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
