=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ProjectManagementProjectApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activates a Project
    # ###### **What does it do?** This endpoint can be used to set a project as `Active`. ###### **What body params do you need?**   - `id`: mandatory. The id of the project aimed to be activated.  ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with a role in the project.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [ProjectManagementProject]
    def project_management_projects_activate_post(opts = {})
      data, _status_code, _headers = project_management_projects_activate_post_with_http_info(opts)
      data
    end

    # Activates a Project
    # ###### **What does it do?** This endpoint can be used to set a project as &#x60;Active&#x60;. ###### **What body params do you need?**   - &#x60;id&#x60;: mandatory. The id of the project aimed to be activated.  ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with a role in the project.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [Array<(ProjectManagementProject, Integer, Hash)>] ProjectManagementProject data, response status code and response headers
    def project_management_projects_activate_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectApi.project_management_projects_activate_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/projects/activate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_evaluation_forms_save_as_template_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectApi.project_management_projects_activate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectApi#project_management_projects_activate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change assignments a Project
    # ###### **What does it do?** **DEPRECATED**; this endpoint will be removed soon. This changes assignment type to a project. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission of assign employees.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectsChangeAssignmentPostRequest] :project_management_projects_change_assignment_post_request 
    # @return [ProjectManagementProject]
    def project_management_projects_change_assignment_post(opts = {})
      data, _status_code, _headers = project_management_projects_change_assignment_post_with_http_info(opts)
      data
    end

    # Change assignments a Project
    # ###### **What does it do?** **DEPRECATED**; this endpoint will be removed soon. This changes assignment type to a project. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of assign employees.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectsChangeAssignmentPostRequest] :project_management_projects_change_assignment_post_request 
    # @return [Array<(ProjectManagementProject, Integer, Hash)>] ProjectManagementProject data, response status code and response headers
    def project_management_projects_change_assignment_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectApi.project_management_projects_change_assignment_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/projects/change_assignment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_projects_change_assignment_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectApi.project_management_projects_change_assignment_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectApi#project_management_projects_change_assignment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change statuses a Project
    # ###### **What does it do?** This update the project status. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with owner permission.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectsChangeStatusPostRequest] :project_management_projects_change_status_post_request 
    # @return [ProjectManagementProject]
    def project_management_projects_change_status_post(opts = {})
      data, _status_code, _headers = project_management_projects_change_status_post_with_http_info(opts)
      data
    end

    # Change statuses a Project
    # ###### **What does it do?** This update the project status. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with owner permission.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectsChangeStatusPostRequest] :project_management_projects_change_status_post_request 
    # @return [Array<(ProjectManagementProject, Integer, Hash)>] ProjectManagementProject data, response status code and response headers
    def project_management_projects_change_status_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectApi.project_management_projects_change_status_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/projects/change_status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_projects_change_status_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectApi.project_management_projects_change_status_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectApi#project_management_projects_change_status_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Closes a Project
    # ###### **What does it do?** This endpoint can be used to set a project as `Closed`. ###### **What body params do you need?**   - `id`: mandatory. The id of the project aimed to be closed.  ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with a role in the project.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [ProjectManagementProject]
    def project_management_projects_close_post(opts = {})
      data, _status_code, _headers = project_management_projects_close_post_with_http_info(opts)
      data
    end

    # Closes a Project
    # ###### **What does it do?** This endpoint can be used to set a project as &#x60;Closed&#x60;. ###### **What body params do you need?**   - &#x60;id&#x60;: mandatory. The id of the project aimed to be closed.  ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with a role in the project.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [Array<(ProjectManagementProject, Integer, Hash)>] ProjectManagementProject data, response status code and response headers
    def project_management_projects_close_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectApi.project_management_projects_close_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/projects/close'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_evaluation_forms_save_as_template_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectApi.project_management_projects_close_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectApi#project_management_projects_close_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Projects
    # ###### **What does it do?** This reads the data of projects, and retrieves the information based on the permissions:    - If the user has the `team_leader` permission, he will only be able to read the projects that he is the team leader.   - If the user has the `reportees` permission, he will only be able to read the projects that he is the team leader or the projects that he is a team member.   - If the user has `everyone` permission, he will be able to read all projects.   - If the user has the `owned` permission, he will only be able to read the projects that he is the assigned.  ###### **Is it related to other entities?** A project is always related to a company, so you can use the query params to list only the projects that are related to a specific company. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission of read projects.
    # @param include_inputed_minutes [Boolean] If true we will perform the minutes calculations and will be return the total inputed_minutes. If false, 0 will be returned and no minutes calculations will be performed.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the projects that matches the ids provided in the request.
    # @option opts [String] :name Retrieve only the projects that match the name passed in the request. (deprecated)
    # @option opts [String] :name_or_code Retrieve only the projects that match the name or code passed in the request.
    # @option opts [Boolean] :include_costs If true we will perform the costs calculations and will be return the total cost. If false, 0 will be returned and no costs calculations will be performed.
    # @option opts [String] :updated_after Retrieve only the projects that were created or updated after the date provided in the request.
    # @option opts [String] :legal_entity_id Retrieve only the projects that are related to the legal entity passed in the request.
    # @option opts [Array<String>] :client_ids Retrieve only the projects that are related to the clients passed in the request, refers to finance/contacts.
    # @option opts [Boolean] :no_clients Retrieve only the projects that are not related to any client, refers to finance/contacts.
    # @option opts [String] :total_currency Retrieve only the projects that have the total cost in the currency passed in the request.
    # @return [ProjectManagementProjectsGet200Response]
    def project_management_projects_get(include_inputed_minutes, opts = {})
      data, _status_code, _headers = project_management_projects_get_with_http_info(include_inputed_minutes, opts)
      data
    end

    # Reads all Projects
    # ###### **What does it do?** This reads the data of projects, and retrieves the information based on the permissions:    - If the user has the &#x60;team_leader&#x60; permission, he will only be able to read the projects that he is the team leader.   - If the user has the &#x60;reportees&#x60; permission, he will only be able to read the projects that he is the team leader or the projects that he is a team member.   - If the user has &#x60;everyone&#x60; permission, he will be able to read all projects.   - If the user has the &#x60;owned&#x60; permission, he will only be able to read the projects that he is the assigned.  ###### **Is it related to other entities?** A project is always related to a company, so you can use the query params to list only the projects that are related to a specific company. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of read projects.
    # @param include_inputed_minutes [Boolean] If true we will perform the minutes calculations and will be return the total inputed_minutes. If false, 0 will be returned and no minutes calculations will be performed.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Retrieve only the projects that matches the ids provided in the request.
    # @option opts [String] :name Retrieve only the projects that match the name passed in the request. (deprecated)
    # @option opts [String] :name_or_code Retrieve only the projects that match the name or code passed in the request.
    # @option opts [Boolean] :include_costs If true we will perform the costs calculations and will be return the total cost. If false, 0 will be returned and no costs calculations will be performed.
    # @option opts [String] :updated_after Retrieve only the projects that were created or updated after the date provided in the request.
    # @option opts [String] :legal_entity_id Retrieve only the projects that are related to the legal entity passed in the request.
    # @option opts [Array<String>] :client_ids Retrieve only the projects that are related to the clients passed in the request, refers to finance/contacts.
    # @option opts [Boolean] :no_clients Retrieve only the projects that are not related to any client, refers to finance/contacts.
    # @option opts [String] :total_currency Retrieve only the projects that have the total cost in the currency passed in the request.
    # @return [Array<(ProjectManagementProjectsGet200Response, Integer, Hash)>] ProjectManagementProjectsGet200Response data, response status code and response headers
    def project_management_projects_get_with_http_info(include_inputed_minutes, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectApi.project_management_projects_get ...'
      end
      # verify the required parameter 'include_inputed_minutes' is set
      if @api_client.config.client_side_validation && include_inputed_minutes.nil?
        fail ArgumentError, "Missing the required parameter 'include_inputed_minutes' when calling ProjectManagementProjectApi.project_management_projects_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/projects'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_inputed_minutes'] = include_inputed_minutes
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'name_or_code'] = opts[:'name_or_code'] if !opts[:'name_or_code'].nil?
      query_params[:'include_costs'] = opts[:'include_costs'] if !opts[:'include_costs'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?
      query_params[:'legal_entity_id'] = opts[:'legal_entity_id'] if !opts[:'legal_entity_id'].nil?
      query_params[:'client_ids[]'] = @api_client.build_collection_param(opts[:'client_ids'], :multi) if !opts[:'client_ids'].nil?
      query_params[:'no_clients'] = opts[:'no_clients'] if !opts[:'no_clients'].nil?
      query_params[:'total_currency'] = opts[:'total_currency'] if !opts[:'total_currency'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProjectsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectApi.project_management_projects_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectApi#project_management_projects_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Project
    # ###### **What does it do?** This reads the data of projects, and retrieves the information based on the permissions:    - If the user has the `team_leader` permission, he will only be able to read the projects that he is the team leader.   - If the user has the `reportees` permission, he will only be able to read the projects that he is the team leader or the projects that he is a team member.   - If the user has `everyone` permission, he will be able to read all projects.   - If the user has the `owned` permission, he will only be able to read the projects that he is the assigned.  ###### **Is it related to other entities?** A project is always related to a company, so you can use the query params to list only the projects that are related to a specific company. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission of read projects.
    # @param id [String] Retrieve only the projects that matches the ids provided in the request.
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementProject]
    def project_management_projects_id_get(id, opts = {})
      data, _status_code, _headers = project_management_projects_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Project
    # ###### **What does it do?** This reads the data of projects, and retrieves the information based on the permissions:    - If the user has the &#x60;team_leader&#x60; permission, he will only be able to read the projects that he is the team leader.   - If the user has the &#x60;reportees&#x60; permission, he will only be able to read the projects that he is the team leader or the projects that he is a team member.   - If the user has &#x60;everyone&#x60; permission, he will be able to read all projects.   - If the user has the &#x60;owned&#x60; permission, he will only be able to read the projects that he is the assigned.  ###### **Is it related to other entities?** A project is always related to a company, so you can use the query params to list only the projects that are related to a specific company. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of read projects.
    # @param id [String] Retrieve only the projects that matches the ids provided in the request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementProject, Integer, Hash)>] ProjectManagementProject data, response status code and response headers
    def project_management_projects_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectApi.project_management_projects_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementProjectApi.project_management_projects_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/projects/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectApi.project_management_projects_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectApi#project_management_projects_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Project
    # ###### **What does it do?** This updates a project with the given params. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with a role in the project.
    # @param id [String] Id project.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectsIdPutRequest] :project_management_projects_id_put_request 
    # @return [ProjectManagementProject]
    def project_management_projects_id_put(id, opts = {})
      data, _status_code, _headers = project_management_projects_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Project
    # ###### **What does it do?** This updates a project with the given params. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with a role in the project.
    # @param id [String] Id project.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectsIdPutRequest] :project_management_projects_id_put_request 
    # @return [Array<(ProjectManagementProject, Integer, Hash)>] ProjectManagementProject data, response status code and response headers
    def project_management_projects_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectApi.project_management_projects_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementProjectApi.project_management_projects_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/projects/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_projects_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectApi.project_management_projects_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectApi#project_management_projects_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Project
    # ###### **What does it do?** This creates a new project. By default, the project will be created with the status `active`. ###### **What body params do you need?**    - `name`: is mandatory to pass a name of the project.   - `code`: optional unique code for the project to be identifiable and searchable.   - `start_date`: optional start date for the project. If given must be in iso-8601 format (YYYY-MM-DD).   - `due_date`: optional due date for the project. If given must be in iso-8601 format (YYYY-MM-DD).   - `status`: a project can have the status `active` or `closed`. By default, the project will be created with the status `active`.   - `employees_assignment`: optional param to define the kind of assignation the project has. Its possible values are: [`manual`, `company`]. A project can have `manual` assignation or can be defined to be assigned to the whole `company`. Defaults to `manual`. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission of create projects.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectsPostRequest] :project_management_projects_post_request 
    # @return [ProjectManagementProject]
    def project_management_projects_post(opts = {})
      data, _status_code, _headers = project_management_projects_post_with_http_info(opts)
      data
    end

    # Creates a Project
    # ###### **What does it do?** This creates a new project. By default, the project will be created with the status &#x60;active&#x60;. ###### **What body params do you need?**    - &#x60;name&#x60;: is mandatory to pass a name of the project.   - &#x60;code&#x60;: optional unique code for the project to be identifiable and searchable.   - &#x60;start_date&#x60;: optional start date for the project. If given must be in iso-8601 format (YYYY-MM-DD).   - &#x60;due_date&#x60;: optional due date for the project. If given must be in iso-8601 format (YYYY-MM-DD).   - &#x60;status&#x60;: a project can have the status &#x60;active&#x60; or &#x60;closed&#x60;. By default, the project will be created with the status &#x60;active&#x60;.   - &#x60;employees_assignment&#x60;: optional param to define the kind of assignation the project has. Its possible values are: [&#x60;manual&#x60;, &#x60;company&#x60;]. A project can have &#x60;manual&#x60; assignation or can be defined to be assigned to the whole &#x60;company&#x60;. Defaults to &#x60;manual&#x60;. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of create projects.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementProjectsPostRequest] :project_management_projects_post_request 
    # @return [Array<(ProjectManagementProject, Integer, Hash)>] ProjectManagementProject data, response status code and response headers
    def project_management_projects_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectApi.project_management_projects_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/projects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_projects_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectApi.project_management_projects_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectApi#project_management_projects_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Soft deletes a Project
    # ###### **What does it do?** This soft deletes a project. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission of delete projects.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [ProjectManagementProject]
    def project_management_projects_soft_delete_post(opts = {})
      data, _status_code, _headers = project_management_projects_soft_delete_post_with_http_info(opts)
      data
    end

    # Soft deletes a Project
    # ###### **What does it do?** This soft deletes a project. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission of delete projects.
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [Array<(ProjectManagementProject, Integer, Hash)>] ProjectManagementProject data, response status code and response headers
    def project_management_projects_soft_delete_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementProjectApi.project_management_projects_soft_delete_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/projects/soft_delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_evaluation_forms_save_as_template_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementProject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementProjectApi.project_management_projects_soft_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementProjectApi#project_management_projects_soft_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
