=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ProjectManagementRateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Rates
    # Read rates
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter rates by IDs
    # @option opts [String] :company_id Filter rates by company ID
    # @option opts [String] :project_id Filter rates by project ID
    # @option opts [Array<String>] :resource_ids Filter rates by canonical resource identity (numeric id or tree node uuid)
    # @option opts [String] :resource_kind Filter rates by the kind of resource they apply to.
    # @option opts [String] :reference_rate_id Filter rates by reference rate ID
    # @option opts [String] :role_or_level Filter rates by job catalog role or level name
    # @option opts [String] :employee_name Filter rates by employee name
    # @option opts [String] :quote_id Filter rates by quote ID
    # @option opts [Boolean] :only_active If true, retrieve only currently active rates.
    # @option opts [Boolean] :without_project If true, retrieve only rates that are not linked to a project.
    # @option opts [Boolean] :without_quote If true, retrieve only rates that are not linked to a quote.
    # @option opts [String] :record_type Filter rates by record type
    # @option opts [Array<String>] :reference_rate_ids Filter rates by reference rate IDs
    # @return [ProjectManagementRatesGet200Response]
    def project_management_rates_get(opts = {})
      data, _status_code, _headers = project_management_rates_get_with_http_info(opts)
      data
    end

    # Reads all Rates
    # Read rates
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter rates by IDs
    # @option opts [String] :company_id Filter rates by company ID
    # @option opts [String] :project_id Filter rates by project ID
    # @option opts [Array<String>] :resource_ids Filter rates by canonical resource identity (numeric id or tree node uuid)
    # @option opts [String] :resource_kind Filter rates by the kind of resource they apply to.
    # @option opts [String] :reference_rate_id Filter rates by reference rate ID
    # @option opts [String] :role_or_level Filter rates by job catalog role or level name
    # @option opts [String] :employee_name Filter rates by employee name
    # @option opts [String] :quote_id Filter rates by quote ID
    # @option opts [Boolean] :only_active If true, retrieve only currently active rates.
    # @option opts [Boolean] :without_project If true, retrieve only rates that are not linked to a project.
    # @option opts [Boolean] :without_quote If true, retrieve only rates that are not linked to a quote.
    # @option opts [String] :record_type Filter rates by record type
    # @option opts [Array<String>] :reference_rate_ids Filter rates by reference rate IDs
    # @return [Array<(ProjectManagementRatesGet200Response, Integer, Hash)>] ProjectManagementRatesGet200Response data, response status code and response headers
    def project_management_rates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementRateApi.project_management_rates_get ...'
      end
      allowable_values = ["project_worker", "project", "employee", "job_catalog_tree_node"]
      if @api_client.config.client_side_validation && opts[:'resource_kind'] && !allowable_values.include?(opts[:'resource_kind'])
        fail ArgumentError, "invalid value for \"resource_kind\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/project_management/rates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'project_id'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'resource_ids[]'] = @api_client.build_collection_param(opts[:'resource_ids'], :multi) if !opts[:'resource_ids'].nil?
      query_params[:'resource_kind'] = opts[:'resource_kind'] if !opts[:'resource_kind'].nil?
      query_params[:'reference_rate_id'] = opts[:'reference_rate_id'] if !opts[:'reference_rate_id'].nil?
      query_params[:'role_or_level'] = opts[:'role_or_level'] if !opts[:'role_or_level'].nil?
      query_params[:'employee_name'] = opts[:'employee_name'] if !opts[:'employee_name'].nil?
      query_params[:'quote_id'] = opts[:'quote_id'] if !opts[:'quote_id'].nil?
      query_params[:'only_active'] = opts[:'only_active'] if !opts[:'only_active'].nil?
      query_params[:'without_project'] = opts[:'without_project'] if !opts[:'without_project'].nil?
      query_params[:'without_quote'] = opts[:'without_quote'] if !opts[:'without_quote'].nil?
      query_params[:'record_type'] = opts[:'record_type'] if !opts[:'record_type'].nil?
      query_params[:'reference_rate_ids[]'] = @api_client.build_collection_param(opts[:'reference_rate_ids'], :multi) if !opts[:'reference_rate_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementRatesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementRateApi.project_management_rates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementRateApi#project_management_rates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Rate
    # Read rates
    # @param id [String] Filter rates by IDs
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementRate]
    def project_management_rates_id_get(id, opts = {})
      data, _status_code, _headers = project_management_rates_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Rate
    # Read rates
    # @param id [String] Filter rates by IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementRate, Integer, Hash)>] ProjectManagementRate data, response status code and response headers
    def project_management_rates_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementRateApi.project_management_rates_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementRateApi.project_management_rates_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/project_management/rates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementRate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementRateApi.project_management_rates_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementRateApi#project_management_rates_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
