=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ProjectManagementTimeRecordApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk deletes a Time record
    # ###### **What does it do?** This endpoint is used to bulk delete all the time records in a particular `date` for a specific `project_worker_id`.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementTimeRecordsBulkDeletePostRequest] :project_management_time_records_bulk_delete_post_request 
    # @return [Array<ProjectManagementTimeRecord>]
    def project_management_time_records_bulk_delete_post(opts = {})
      data, _status_code, _headers = project_management_time_records_bulk_delete_post_with_http_info(opts)
      data
    end

    # Bulk deletes a Time record
    # ###### **What does it do?** This endpoint is used to bulk delete all the time records in a particular &#x60;date&#x60; for a specific &#x60;project_worker_id&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementTimeRecordsBulkDeletePostRequest] :project_management_time_records_bulk_delete_post_request 
    # @return [Array<(Array<ProjectManagementTimeRecord>, Integer, Hash)>] Array<ProjectManagementTimeRecord> data, response status code and response headers
    def project_management_time_records_bulk_delete_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementTimeRecordApi.project_management_time_records_bulk_delete_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/time_records/bulk_delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_time_records_bulk_delete_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectManagementTimeRecord>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementTimeRecordApi.project_management_time_records_bulk_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementTimeRecordApi#project_management_time_records_bulk_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk processes a Time record
    # ###### **What does it do?** This versatile endpoint allows for the creation, update, or deletion of a time record associated with an `attendance_shift_id`. To achieve this, provide an array of items with the following structure:    ```json     [{       \"time_record_id\": number | null,       \"attendance_shift_id\": number | null,       \"project_worker_id\": number | null,       \"subproject_id\": number | null     }]   ```    - If no `time_record_id` provided, a created will be performed with the other data that will be required (except for `subproject_id`, that is always optional).   - If `time_record_id but no other data provided, then the action will be a **delete**.   - If `time_record_id` and more data, then it's an **update**.  Please note: The relationship between `time_record` and `attendance_shift` is unique. In the provided array of items, if two items have exactly the same `attendance_shift_id`, only the last action specified will be executed, **unless the first action is a delete and the second one an update**. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementTimeRecordsBulkProcessPostRequest] :project_management_time_records_bulk_process_post_request 
    # @return [Array<ProjectManagementTimeRecord>]
    def project_management_time_records_bulk_process_post(opts = {})
      data, _status_code, _headers = project_management_time_records_bulk_process_post_with_http_info(opts)
      data
    end

    # Bulk processes a Time record
    # ###### **What does it do?** This versatile endpoint allows for the creation, update, or deletion of a time record associated with an &#x60;attendance_shift_id&#x60;. To achieve this, provide an array of items with the following structure:    &#x60;&#x60;&#x60;json     [{       \&quot;time_record_id\&quot;: number | null,       \&quot;attendance_shift_id\&quot;: number | null,       \&quot;project_worker_id\&quot;: number | null,       \&quot;subproject_id\&quot;: number | null     }]   &#x60;&#x60;&#x60;    - If no &#x60;time_record_id&#x60; provided, a created will be performed with the other data that will be required (except for &#x60;subproject_id&#x60;, that is always optional).   - If &#x60;time_record_id but no other data provided, then the action will be a **delete**.   - If &#x60;time_record_id&#x60; and more data, then it&#39;s an **update**.  Please note: The relationship between &#x60;time_record&#x60; and &#x60;attendance_shift&#x60; is unique. In the provided array of items, if two items have exactly the same &#x60;attendance_shift_id&#x60;, only the last action specified will be executed, **unless the first action is a delete and the second one an update**. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementTimeRecordsBulkProcessPostRequest] :project_management_time_records_bulk_process_post_request 
    # @return [Array<(Array<ProjectManagementTimeRecord>, Integer, Hash)>] Array<ProjectManagementTimeRecord> data, response status code and response headers
    def project_management_time_records_bulk_process_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementTimeRecordApi.project_management_time_records_bulk_process_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/time_records/bulk_process'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_time_records_bulk_process_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectManagementTimeRecord>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementTimeRecordApi.project_management_time_records_bulk_process_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementTimeRecordApi#project_management_time_records_bulk_process_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Time records
    # ###### **What does it do?** This endpoint reads and retrieves a list of time records. You can utilize URL parameters to filter the results. ###### **What params does it accept?**    - `ids`: retrieve only the time records that matches the `ids` passed in the request.   - `project_workers_ids`: Retrieve only the time records assigned to any `project_workers_ids` passed in the request.   - `subproject_ids`: retrieve only the time records related with any `subproject_ids` passed in the request.   - `attendance_shift_ids`: retrieve only the time records related with any `attendance_shift_ids` passed in the request.   - `employee_ids`: ⚠️ This param, will be deprecated soon. **Please use `project_worker_ids` param instead.**   - `month`: Filter time records created in a specific month of the year.   - `year`: To be used with the `month` parameter to filter time records created in a particular period.   - `updated_after`: this parameter is needed to filter time records created or updated after a date.  ###### **Is it related to other entities?** A `time_record` is mandatory related to a `project_worker_id` and an `attendance_shift_id`. Optionally, it can be related to a subproject. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission to read time_records.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Time record ids to retrieve
    # @option opts [Array<String>] :project_worker_ids Project worker ids to retrieve
    # @option opts [Array<String>] :subproject_ids Subproject ids to retrieve
    # @option opts [Array<String>] :attendance_shift_ids Attendance shift ids to retrieve
    # @option opts [Array<String>] :employee_ids Employee ids to retrieve
    # @option opts [Integer] :month Month to filter
    # @option opts [Integer] :year Year to filter
    # @option opts [String] :updated_after 
    # @return [ProjectManagementTimeRecordsGet200Response]
    def project_management_time_records_get(opts = {})
      data, _status_code, _headers = project_management_time_records_get_with_http_info(opts)
      data
    end

    # Reads all Time records
    # ###### **What does it do?** This endpoint reads and retrieves a list of time records. You can utilize URL parameters to filter the results. ###### **What params does it accept?**    - &#x60;ids&#x60;: retrieve only the time records that matches the &#x60;ids&#x60; passed in the request.   - &#x60;project_workers_ids&#x60;: Retrieve only the time records assigned to any &#x60;project_workers_ids&#x60; passed in the request.   - &#x60;subproject_ids&#x60;: retrieve only the time records related with any &#x60;subproject_ids&#x60; passed in the request.   - &#x60;attendance_shift_ids&#x60;: retrieve only the time records related with any &#x60;attendance_shift_ids&#x60; passed in the request.   - &#x60;employee_ids&#x60;: ⚠️ This param, will be deprecated soon. **Please use &#x60;project_worker_ids&#x60; param instead.**   - &#x60;month&#x60;: Filter time records created in a specific month of the year.   - &#x60;year&#x60;: To be used with the &#x60;month&#x60; parameter to filter time records created in a particular period.   - &#x60;updated_after&#x60;: this parameter is needed to filter time records created or updated after a date.  ###### **Is it related to other entities?** A &#x60;time_record&#x60; is mandatory related to a &#x60;project_worker_id&#x60; and an &#x60;attendance_shift_id&#x60;. Optionally, it can be related to a subproject. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission to read time_records.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Time record ids to retrieve
    # @option opts [Array<String>] :project_worker_ids Project worker ids to retrieve
    # @option opts [Array<String>] :subproject_ids Subproject ids to retrieve
    # @option opts [Array<String>] :attendance_shift_ids Attendance shift ids to retrieve
    # @option opts [Array<String>] :employee_ids Employee ids to retrieve
    # @option opts [Integer] :month Month to filter
    # @option opts [Integer] :year Year to filter
    # @option opts [String] :updated_after 
    # @return [Array<(ProjectManagementTimeRecordsGet200Response, Integer, Hash)>] ProjectManagementTimeRecordsGet200Response data, response status code and response headers
    def project_management_time_records_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementTimeRecordApi.project_management_time_records_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/time_records'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'project_worker_ids[]'] = @api_client.build_collection_param(opts[:'project_worker_ids'], :multi) if !opts[:'project_worker_ids'].nil?
      query_params[:'subproject_ids[]'] = @api_client.build_collection_param(opts[:'subproject_ids'], :multi) if !opts[:'subproject_ids'].nil?
      query_params[:'attendance_shift_ids[]'] = @api_client.build_collection_param(opts[:'attendance_shift_ids'], :multi) if !opts[:'attendance_shift_ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'month'] = opts[:'month'] if !opts[:'month'].nil?
      query_params[:'year'] = opts[:'year'] if !opts[:'year'].nil?
      query_params[:'updated_after'] = opts[:'updated_after'] if !opts[:'updated_after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementTimeRecordsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementTimeRecordApi.project_management_time_records_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementTimeRecordApi#project_management_time_records_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Time record
    # Deletes a Time record
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementTimeRecord]
    def project_management_time_records_id_delete(id, opts = {})
      data, _status_code, _headers = project_management_time_records_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Time record
    # Deletes a Time record
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementTimeRecord, Integer, Hash)>] ProjectManagementTimeRecord data, response status code and response headers
    def project_management_time_records_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementTimeRecordApi.project_management_time_records_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementTimeRecordApi.project_management_time_records_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/time_records/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementTimeRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementTimeRecordApi.project_management_time_records_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementTimeRecordApi#project_management_time_records_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Time record
    # ###### **What does it do?** This endpoint reads and retrieves a list of time records. You can utilize URL parameters to filter the results. ###### **What params does it accept?**    - `ids`: retrieve only the time records that matches the `ids` passed in the request.   - `project_workers_ids`: Retrieve only the time records assigned to any `project_workers_ids` passed in the request.   - `subproject_ids`: retrieve only the time records related with any `subproject_ids` passed in the request.   - `attendance_shift_ids`: retrieve only the time records related with any `attendance_shift_ids` passed in the request.   - `employee_ids`: ⚠️ This param, will be deprecated soon. **Please use `project_worker_ids` param instead.**   - `month`: Filter time records created in a specific month of the year.   - `year`: To be used with the `month` parameter to filter time records created in a particular period.   - `updated_after`: this parameter is needed to filter time records created or updated after a date.  ###### **Is it related to other entities?** A `time_record` is mandatory related to a `project_worker_id` and an `attendance_shift_id`. Optionally, it can be related to a subproject. ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission to read time_records.
    # @param id [String] Time record ids to retrieve
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementTimeRecord]
    def project_management_time_records_id_get(id, opts = {})
      data, _status_code, _headers = project_management_time_records_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Time record
    # ###### **What does it do?** This endpoint reads and retrieves a list of time records. You can utilize URL parameters to filter the results. ###### **What params does it accept?**    - &#x60;ids&#x60;: retrieve only the time records that matches the &#x60;ids&#x60; passed in the request.   - &#x60;project_workers_ids&#x60;: Retrieve only the time records assigned to any &#x60;project_workers_ids&#x60; passed in the request.   - &#x60;subproject_ids&#x60;: retrieve only the time records related with any &#x60;subproject_ids&#x60; passed in the request.   - &#x60;attendance_shift_ids&#x60;: retrieve only the time records related with any &#x60;attendance_shift_ids&#x60; passed in the request.   - &#x60;employee_ids&#x60;: ⚠️ This param, will be deprecated soon. **Please use &#x60;project_worker_ids&#x60; param instead.**   - &#x60;month&#x60;: Filter time records created in a specific month of the year.   - &#x60;year&#x60;: To be used with the &#x60;month&#x60; parameter to filter time records created in a particular period.   - &#x60;updated_after&#x60;: this parameter is needed to filter time records created or updated after a date.  ###### **Is it related to other entities?** A &#x60;time_record&#x60; is mandatory related to a &#x60;project_worker_id&#x60; and an &#x60;attendance_shift_id&#x60;. Optionally, it can be related to a subproject. ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission to read time_records.
    # @param id [String] Time record ids to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementTimeRecord, Integer, Hash)>] ProjectManagementTimeRecord data, response status code and response headers
    def project_management_time_records_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementTimeRecordApi.project_management_time_records_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementTimeRecordApi.project_management_time_records_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/time_records/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementTimeRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementTimeRecordApi.project_management_time_records_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementTimeRecordApi#project_management_time_records_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Time record
    # ###### **What does it do?** \"This endpoint is used to create time records. A time record is an entity that establishes a mandatory relationship between `project_worker` and `attendance_shift_id`, and optionally with `subproject`. For a successful creation of a `time_record`, the `project_worker` must be **assigned**, and the associated `project` must be **active**.\" ###### **Who can use it?** Only companies who have enabled the `projects_management` feature and users with the permission to create `time_records`.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementTimeRecordsPostRequest] :project_management_time_records_post_request 
    # @return [ProjectManagementTimeRecord]
    def project_management_time_records_post(opts = {})
      data, _status_code, _headers = project_management_time_records_post_with_http_info(opts)
      data
    end

    # Creates a Time record
    # ###### **What does it do?** \&quot;This endpoint is used to create time records. A time record is an entity that establishes a mandatory relationship between &#x60;project_worker&#x60; and &#x60;attendance_shift_id&#x60;, and optionally with &#x60;subproject&#x60;. For a successful creation of a &#x60;time_record&#x60;, the &#x60;project_worker&#x60; must be **assigned**, and the associated &#x60;project&#x60; must be **active**.\&quot; ###### **Who can use it?** Only companies who have enabled the &#x60;projects_management&#x60; feature and users with the permission to create &#x60;time_records&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementTimeRecordsPostRequest] :project_management_time_records_post_request 
    # @return [Array<(ProjectManagementTimeRecord, Integer, Hash)>] ProjectManagementTimeRecord data, response status code and response headers
    def project_management_time_records_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementTimeRecordApi.project_management_time_records_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/time_records'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_time_records_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementTimeRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementTimeRecordApi.project_management_time_records_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementTimeRecordApi#project_management_time_records_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update project workers a Time record
    # ###### **What does it do?** This endpoint is used to change the project that an employee (`project_worker`) has assigned to an `attendance_shift`.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementTimeRecordsUpdateProjectWorkerPostRequest] :project_management_time_records_update_project_worker_post_request 
    # @return [ProjectManagementTimeRecord]
    def project_management_time_records_update_project_worker_post(opts = {})
      data, _status_code, _headers = project_management_time_records_update_project_worker_post_with_http_info(opts)
      data
    end

    # Update project workers a Time record
    # ###### **What does it do?** This endpoint is used to change the project that an employee (&#x60;project_worker&#x60;) has assigned to an &#x60;attendance_shift&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementTimeRecordsUpdateProjectWorkerPostRequest] :project_management_time_records_update_project_worker_post_request 
    # @return [Array<(ProjectManagementTimeRecord, Integer, Hash)>] ProjectManagementTimeRecord data, response status code and response headers
    def project_management_time_records_update_project_worker_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementTimeRecordApi.project_management_time_records_update_project_worker_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/time_records/update_project_worker'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_time_records_update_project_worker_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementTimeRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementTimeRecordApi.project_management_time_records_update_project_worker_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementTimeRecordApi#project_management_time_records_update_project_worker_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
