=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class ProjectManagementBudgetStrategyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Budget strategies
    # Reads all Budget strategies
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter budget strategies by these ids
    # @option opts [Array<String>] :project_ids Filter budget strategies by these project ids
    # @option opts [Array<String>] :subproject_ids Filter budget strategies by these subproject ids
    # @option opts [Boolean] :without_subproject When true, return only budget strategies without a subproject
    # @return [ProjectManagementBudgetStrategiesGet200Response]
    def project_management_budget_strategies_get(opts = {})
      data, _status_code, _headers = project_management_budget_strategies_get_with_http_info(opts)
      data
    end

    # Reads all Budget strategies
    # Reads all Budget strategies
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter budget strategies by these ids
    # @option opts [Array<String>] :project_ids Filter budget strategies by these project ids
    # @option opts [Array<String>] :subproject_ids Filter budget strategies by these subproject ids
    # @option opts [Boolean] :without_subproject When true, return only budget strategies without a subproject
    # @return [Array<(ProjectManagementBudgetStrategiesGet200Response, Integer, Hash)>] ProjectManagementBudgetStrategiesGet200Response data, response status code and response headers
    def project_management_budget_strategies_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementBudgetStrategyApi.project_management_budget_strategies_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/budget_strategies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'project_ids[]'] = @api_client.build_collection_param(opts[:'project_ids'], :multi) if !opts[:'project_ids'].nil?
      query_params[:'subproject_ids[]'] = @api_client.build_collection_param(opts[:'subproject_ids'], :multi) if !opts[:'subproject_ids'].nil?
      query_params[:'without_subproject'] = opts[:'without_subproject'] if !opts[:'without_subproject'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementBudgetStrategiesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementBudgetStrategyApi.project_management_budget_strategies_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementBudgetStrategyApi#project_management_budget_strategies_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Budget strategy
    # Deletes a Budget strategy
    # @param id [String] Id of the budget strategy to delete
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementBudgetStrategy]
    def project_management_budget_strategies_id_delete(id, opts = {})
      data, _status_code, _headers = project_management_budget_strategies_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Budget strategy
    # Deletes a Budget strategy
    # @param id [String] Id of the budget strategy to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementBudgetStrategy, Integer, Hash)>] ProjectManagementBudgetStrategy data, response status code and response headers
    def project_management_budget_strategies_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementBudgetStrategyApi.project_management_budget_strategies_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementBudgetStrategyApi.project_management_budget_strategies_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/budget_strategies/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementBudgetStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementBudgetStrategyApi.project_management_budget_strategies_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementBudgetStrategyApi#project_management_budget_strategies_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Budget strategy
    # Reads a single Budget strategy
    # @param id [String] Filter budget strategies by these ids
    # @param [Hash] opts the optional parameters
    # @return [ProjectManagementBudgetStrategy]
    def project_management_budget_strategies_id_get(id, opts = {})
      data, _status_code, _headers = project_management_budget_strategies_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Budget strategy
    # Reads a single Budget strategy
    # @param id [String] Filter budget strategies by these ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectManagementBudgetStrategy, Integer, Hash)>] ProjectManagementBudgetStrategy data, response status code and response headers
    def project_management_budget_strategies_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementBudgetStrategyApi.project_management_budget_strategies_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementBudgetStrategyApi.project_management_budget_strategies_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/budget_strategies/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementBudgetStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementBudgetStrategyApi.project_management_budget_strategies_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementBudgetStrategyApi#project_management_budget_strategies_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Budget strategy
    # Updates a Budget strategy
    # @param id [String] Id of the budget strategy to update
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementBudgetStrategiesIdPutRequest] :project_management_budget_strategies_id_put_request 
    # @return [ProjectManagementBudgetStrategy]
    def project_management_budget_strategies_id_put(id, opts = {})
      data, _status_code, _headers = project_management_budget_strategies_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Budget strategy
    # Updates a Budget strategy
    # @param id [String] Id of the budget strategy to update
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementBudgetStrategiesIdPutRequest] :project_management_budget_strategies_id_put_request 
    # @return [Array<(ProjectManagementBudgetStrategy, Integer, Hash)>] ProjectManagementBudgetStrategy data, response status code and response headers
    def project_management_budget_strategies_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementBudgetStrategyApi.project_management_budget_strategies_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectManagementBudgetStrategyApi.project_management_budget_strategies_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/budget_strategies/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_budget_strategies_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementBudgetStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementBudgetStrategyApi.project_management_budget_strategies_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementBudgetStrategyApi#project_management_budget_strategies_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Budget strategy
    # Creates a Budget strategy
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementBudgetStrategiesPostRequest] :project_management_budget_strategies_post_request 
    # @return [ProjectManagementBudgetStrategy]
    def project_management_budget_strategies_post(opts = {})
      data, _status_code, _headers = project_management_budget_strategies_post_with_http_info(opts)
      data
    end

    # Creates a Budget strategy
    # Creates a Budget strategy
    # @param [Hash] opts the optional parameters
    # @option opts [ProjectManagementBudgetStrategiesPostRequest] :project_management_budget_strategies_post_request 
    # @return [Array<(ProjectManagementBudgetStrategy, Integer, Hash)>] ProjectManagementBudgetStrategy data, response status code and response headers
    def project_management_budget_strategies_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectManagementBudgetStrategyApi.project_management_budget_strategies_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/project_management/budget_strategies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_management_budget_strategies_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectManagementBudgetStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ProjectManagementBudgetStrategyApi.project_management_budget_strategies_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectManagementBudgetStrategyApi#project_management_budget_strategies_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
