=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class ShiftManagementShiftApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk creates a Shift
    # Bulk creates a Shift
    # @param [Hash] opts the optional parameters
    # @option opts [ShiftManagementShiftsBulkCreatePostRequest] :shift_management_shifts_bulk_create_post_request 
    # @return [Array<ShiftManagementShift>]
    def shift_management_shifts_bulk_create_post(opts = {})
      data, _status_code, _headers = shift_management_shifts_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Shift
    # Bulk creates a Shift
    # @param [Hash] opts the optional parameters
    # @option opts [ShiftManagementShiftsBulkCreatePostRequest] :shift_management_shifts_bulk_create_post_request 
    # @return [Array<(Array<ShiftManagementShift>, Integer, Hash)>] Array<ShiftManagementShift> data, response status code and response headers
    def shift_management_shifts_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftManagementShiftApi.shift_management_shifts_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/shift_management/shifts/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'shift_management_shifts_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ShiftManagementShift>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ShiftManagementShiftApi.shift_management_shifts_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftManagementShiftApi#shift_management_shifts_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk deletes a Shift
    # Bulk deletes a Shift
    # @param [Hash] opts the optional parameters
    # @option opts [ShiftManagementShiftsBulkDeletePostRequest] :shift_management_shifts_bulk_delete_post_request 
    # @return [Array<ShiftManagementShift>]
    def shift_management_shifts_bulk_delete_post(opts = {})
      data, _status_code, _headers = shift_management_shifts_bulk_delete_post_with_http_info(opts)
      data
    end

    # Bulk deletes a Shift
    # Bulk deletes a Shift
    # @param [Hash] opts the optional parameters
    # @option opts [ShiftManagementShiftsBulkDeletePostRequest] :shift_management_shifts_bulk_delete_post_request 
    # @return [Array<(Array<ShiftManagementShift>, Integer, Hash)>] Array<ShiftManagementShift> data, response status code and response headers
    def shift_management_shifts_bulk_delete_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftManagementShiftApi.shift_management_shifts_bulk_delete_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/shift_management/shifts/bulk_delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'shift_management_shifts_bulk_delete_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ShiftManagementShift>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ShiftManagementShiftApi.shift_management_shifts_bulk_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftManagementShiftApi#shift_management_shifts_bulk_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Shifts
    # Reads all Shifts
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter shifts by their unique identifiers. Returns only shifts matching the provided IDs. If an empty array is provided, returns no results
    # @option opts [Array<String>] :without_ids Exclude shifts with these identifiers from the results. Useful for filtering out specific shifts while keeping others
    # @option opts [Array<String>] :employee_ids Filter shifts by employee identifiers. Returns only shifts assigned to the specified employees. If not provided, returns shifts for all accessible employees
    # @option opts [Array<String>] :location_ids Filter shifts by location identifiers. Returns shifts that occur at the specified locations. Can be combined with employee_ids for more precise filtering
    # @option opts [String] :start_at Filter shifts that end on or after this date. Only the date (calendar day) is used; the time part is ignored (treated as start of day, 00:00:00). Shifts are included if their end time is at or after the start of the specified day
    # @option opts [String] :end_at Filter shifts that start before this date. Only the date (calendar day) is used; the time part is ignored (treated as end of day, 23:59:59). Shifts are included if their start time is before the end of the specified day
    # @option opts [Boolean] :only_published When true, returns only shifts with state &#39;published&#39; (visible to employees). When false, returns shifts in all states (draft, published, backup) based on your permissions
    # @option opts [Array<String>] :only_states Filter shifts by their state. Provide an array of states (&#39;draft&#39;, &#39;published&#39;, &#39;backup&#39;) to include. Can be combined with other filters for precise control
    # @option opts [Boolean] :split_overnight_shifts When true, shifts that span across midnight (overnight shifts) are split into two separate shift objects - one for each calendar day. This makes it easier to display shifts in day-based views
    # @return [ShiftManagementShiftsGet200Response]
    def shift_management_shifts_get(opts = {})
      data, _status_code, _headers = shift_management_shifts_get_with_http_info(opts)
      data
    end

    # Reads all Shifts
    # Reads all Shifts
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter shifts by their unique identifiers. Returns only shifts matching the provided IDs. If an empty array is provided, returns no results
    # @option opts [Array<String>] :without_ids Exclude shifts with these identifiers from the results. Useful for filtering out specific shifts while keeping others
    # @option opts [Array<String>] :employee_ids Filter shifts by employee identifiers. Returns only shifts assigned to the specified employees. If not provided, returns shifts for all accessible employees
    # @option opts [Array<String>] :location_ids Filter shifts by location identifiers. Returns shifts that occur at the specified locations. Can be combined with employee_ids for more precise filtering
    # @option opts [String] :start_at Filter shifts that end on or after this date. Only the date (calendar day) is used; the time part is ignored (treated as start of day, 00:00:00). Shifts are included if their end time is at or after the start of the specified day
    # @option opts [String] :end_at Filter shifts that start before this date. Only the date (calendar day) is used; the time part is ignored (treated as end of day, 23:59:59). Shifts are included if their start time is before the end of the specified day
    # @option opts [Boolean] :only_published When true, returns only shifts with state &#39;published&#39; (visible to employees). When false, returns shifts in all states (draft, published, backup) based on your permissions
    # @option opts [Array<String>] :only_states Filter shifts by their state. Provide an array of states (&#39;draft&#39;, &#39;published&#39;, &#39;backup&#39;) to include. Can be combined with other filters for precise control
    # @option opts [Boolean] :split_overnight_shifts When true, shifts that span across midnight (overnight shifts) are split into two separate shift objects - one for each calendar day. This makes it easier to display shifts in day-based views
    # @return [Array<(ShiftManagementShiftsGet200Response, Integer, Hash)>] ShiftManagementShiftsGet200Response data, response status code and response headers
    def shift_management_shifts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftManagementShiftApi.shift_management_shifts_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/shift_management/shifts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'without_ids[]'] = @api_client.build_collection_param(opts[:'without_ids'], :multi) if !opts[:'without_ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'location_ids[]'] = @api_client.build_collection_param(opts[:'location_ids'], :multi) if !opts[:'location_ids'].nil?
      query_params[:'start_at'] = opts[:'start_at'] if !opts[:'start_at'].nil?
      query_params[:'end_at'] = opts[:'end_at'] if !opts[:'end_at'].nil?
      query_params[:'only_published'] = opts[:'only_published'] if !opts[:'only_published'].nil?
      query_params[:'only_states[]'] = @api_client.build_collection_param(opts[:'only_states'], :multi) if !opts[:'only_states'].nil?
      query_params[:'split_overnight_shifts'] = opts[:'split_overnight_shifts'] if !opts[:'split_overnight_shifts'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ShiftManagementShiftsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ShiftManagementShiftApi.shift_management_shifts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftManagementShiftApi#shift_management_shifts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Shift
    # Deletes a Shift
    # @param id [String] Shift identifier to delete
    # @param [Hash] opts the optional parameters
    # @return [ShiftManagementShift]
    def shift_management_shifts_id_delete(id, opts = {})
      data, _status_code, _headers = shift_management_shifts_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Shift
    # Deletes a Shift
    # @param id [String] Shift identifier to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShiftManagementShift, Integer, Hash)>] ShiftManagementShift data, response status code and response headers
    def shift_management_shifts_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftManagementShiftApi.shift_management_shifts_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShiftManagementShiftApi.shift_management_shifts_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/shift_management/shifts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ShiftManagementShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ShiftManagementShiftApi.shift_management_shifts_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftManagementShiftApi#shift_management_shifts_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Shift
    # Reads a single Shift
    # @param id [String] Filter shifts by their unique identifiers. Returns only shifts matching the provided IDs. If an empty array is provided, returns no results
    # @param [Hash] opts the optional parameters
    # @return [ShiftManagementShift]
    def shift_management_shifts_id_get(id, opts = {})
      data, _status_code, _headers = shift_management_shifts_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Shift
    # Reads a single Shift
    # @param id [String] Filter shifts by their unique identifiers. Returns only shifts matching the provided IDs. If an empty array is provided, returns no results
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShiftManagementShift, Integer, Hash)>] ShiftManagementShift data, response status code and response headers
    def shift_management_shifts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftManagementShiftApi.shift_management_shifts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShiftManagementShiftApi.shift_management_shifts_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/shift_management/shifts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ShiftManagementShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ShiftManagementShiftApi.shift_management_shifts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftManagementShiftApi#shift_management_shifts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Shift
    # Creates a Shift
    # @param [Hash] opts the optional parameters
    # @option opts [ShiftManagementShiftsPostRequest] :shift_management_shifts_post_request 
    # @return [ShiftManagementShift]
    def shift_management_shifts_post(opts = {})
      data, _status_code, _headers = shift_management_shifts_post_with_http_info(opts)
      data
    end

    # Creates a Shift
    # Creates a Shift
    # @param [Hash] opts the optional parameters
    # @option opts [ShiftManagementShiftsPostRequest] :shift_management_shifts_post_request 
    # @return [Array<(ShiftManagementShift, Integer, Hash)>] ShiftManagementShift data, response status code and response headers
    def shift_management_shifts_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShiftManagementShiftApi.shift_management_shifts_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/shift_management/shifts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'shift_management_shifts_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ShiftManagementShift'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"ShiftManagementShiftApi.shift_management_shifts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShiftManagementShiftApi#shift_management_shifts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
