=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class TasksTaskFileApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Task files
    # Reads all Task files
    # @param task_id [String] identifier of the task
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids identifiers of the files
    # @return [TasksTaskFilesGet200Response]
    def tasks_task_files_get(task_id, opts = {})
      data, _status_code, _headers = tasks_task_files_get_with_http_info(task_id, opts)
      data
    end

    # Reads all Task files
    # Reads all Task files
    # @param task_id [String] identifier of the task
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids identifiers of the files
    # @return [Array<(TasksTaskFilesGet200Response, Integer, Hash)>] TasksTaskFilesGet200Response data, response status code and response headers
    def tasks_task_files_get_with_http_info(task_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskFileApi.tasks_task_files_get ...'
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling TasksTaskFileApi.tasks_task_files_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/task_files'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'task_id'] = task_id
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTaskFilesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskFileApi.tasks_task_files_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskFileApi#tasks_task_files_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Task file
    # Deletes a Task file
    # @param id [String] identifier of the file
    # @param [Hash] opts the optional parameters
    # @return [TasksTaskFile]
    def tasks_task_files_id_delete(id, opts = {})
      data, _status_code, _headers = tasks_task_files_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Task file
    # Deletes a Task file
    # @param id [String] identifier of the file
    # @param [Hash] opts the optional parameters
    # @return [Array<(TasksTaskFile, Integer, Hash)>] TasksTaskFile data, response status code and response headers
    def tasks_task_files_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskFileApi.tasks_task_files_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TasksTaskFileApi.tasks_task_files_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/task_files/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTaskFile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskFileApi.tasks_task_files_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskFileApi#tasks_task_files_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Task file
    # Reads a single Task file
    # @param id [String] identifiers of the files
    # @param [Hash] opts the optional parameters
    # @return [TasksTaskFile]
    def tasks_task_files_id_get(id, opts = {})
      data, _status_code, _headers = tasks_task_files_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Task file
    # Reads a single Task file
    # @param id [String] identifiers of the files
    # @param [Hash] opts the optional parameters
    # @return [Array<(TasksTaskFile, Integer, Hash)>] TasksTaskFile data, response status code and response headers
    def tasks_task_files_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskFileApi.tasks_task_files_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TasksTaskFileApi.tasks_task_files_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/task_files/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTaskFile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskFileApi.tasks_task_files_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskFileApi#tasks_task_files_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Task file
    # Creates a Task file
    # @param task_id [String] identifier of the task
    # @param file [File] file to attach to the task
    # @param [Hash] opts the optional parameters
    # @return [TasksTaskFile]
    def tasks_task_files_post(task_id, file, opts = {})
      data, _status_code, _headers = tasks_task_files_post_with_http_info(task_id, file, opts)
      data
    end

    # Creates a Task file
    # Creates a Task file
    # @param task_id [String] identifier of the task
    # @param file [File] file to attach to the task
    # @param [Hash] opts the optional parameters
    # @return [Array<(TasksTaskFile, Integer, Hash)>] TasksTaskFile data, response status code and response headers
    def tasks_task_files_post_with_http_info(task_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskFileApi.tasks_task_files_post ...'
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling TasksTaskFileApi.tasks_task_files_post"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling TasksTaskFileApi.tasks_task_files_post"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/task_files'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['task_id'] = task_id
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTaskFile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskFileApi.tasks_task_files_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskFileApi#tasks_task_files_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
