=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class TasksTaskApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk creates a Task
    # This endpoint creates a new task for each assignee.
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksPostRequest] :tasks_tasks_post_request 
    # @return [Array<TasksTask>]
    def tasks_tasks_bulk_create_post(opts = {})
      data, _status_code, _headers = tasks_tasks_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Task
    # This endpoint creates a new task for each assignee.
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksPostRequest] :tasks_tasks_post_request 
    # @return [Array<(Array<TasksTask>, Integer, Hash)>] Array<TasksTask> data, response status code and response headers
    def tasks_tasks_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskApi.tasks_tasks_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/tasks/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tasks_tasks_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TasksTask>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskApi.tasks_tasks_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskApi#tasks_tasks_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk deletes a Task
    # This endpoint allows to delete a list of tasks given the ids.
    # @param [Hash] opts the optional parameters
    # @option opts [ExpensesExpensablesBulkSetToPaidPostRequest] :expenses_expensables_bulk_set_to_paid_post_request 
    # @return [Array<TasksTask>]
    def tasks_tasks_bulk_delete_post(opts = {})
      data, _status_code, _headers = tasks_tasks_bulk_delete_post_with_http_info(opts)
      data
    end

    # Bulk deletes a Task
    # This endpoint allows to delete a list of tasks given the ids.
    # @param [Hash] opts the optional parameters
    # @option opts [ExpensesExpensablesBulkSetToPaidPostRequest] :expenses_expensables_bulk_set_to_paid_post_request 
    # @return [Array<(Array<TasksTask>, Integer, Hash)>] Array<TasksTask> data, response status code and response headers
    def tasks_tasks_bulk_delete_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskApi.tasks_tasks_bulk_delete_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/tasks/bulk_delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'expenses_expensables_bulk_set_to_paid_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TasksTask>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskApi.tasks_tasks_bulk_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskApi#tasks_tasks_bulk_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk updates a Task
    # Bulk updates a Task
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksBulkUpdatePostRequest] :tasks_tasks_bulk_update_post_request 
    # @return [Array<TasksTask>]
    def tasks_tasks_bulk_update_post(opts = {})
      data, _status_code, _headers = tasks_tasks_bulk_update_post_with_http_info(opts)
      data
    end

    # Bulk updates a Task
    # Bulk updates a Task
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksBulkUpdatePostRequest] :tasks_tasks_bulk_update_post_request 
    # @return [Array<(Array<TasksTask>, Integer, Hash)>] Array<TasksTask> data, response status code and response headers
    def tasks_tasks_bulk_update_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskApi.tasks_tasks_bulk_update_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/tasks/bulk_update'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tasks_tasks_bulk_update_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TasksTask>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskApi.tasks_tasks_bulk_update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskApi#tasks_tasks_bulk_update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Copies a Task
    # This endpoint duplicates a task.
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksCopyPostRequest] :tasks_tasks_copy_post_request 
    # @return [TasksTask]
    def tasks_tasks_copy_post(opts = {})
      data, _status_code, _headers = tasks_tasks_copy_post_with_http_info(opts)
      data
    end

    # Copies a Task
    # This endpoint duplicates a task.
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksCopyPostRequest] :tasks_tasks_copy_post_request 
    # @return [Array<(TasksTask, Integer, Hash)>] TasksTask data, response status code and response headers
    def tasks_tasks_copy_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskApi.tasks_tasks_copy_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/tasks/copy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tasks_tasks_copy_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskApi.tasks_tasks_copy_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskApi#tasks_tasks_copy_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create comments a Task
    # Create comments a Task
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksCreateCommentPostRequest] :tasks_tasks_create_comment_post_request 
    # @return [TasksTask]
    def tasks_tasks_create_comment_post(opts = {})
      data, _status_code, _headers = tasks_tasks_create_comment_post_with_http_info(opts)
      data
    end

    # Create comments a Task
    # Create comments a Task
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksCreateCommentPostRequest] :tasks_tasks_create_comment_post_request 
    # @return [Array<(TasksTask, Integer, Hash)>] TasksTask data, response status code and response headers
    def tasks_tasks_create_comment_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskApi.tasks_tasks_create_comment_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/tasks/create_comment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tasks_tasks_create_comment_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskApi.tasks_tasks_create_comment_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskApi#tasks_tasks_create_comment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Tasks
    # This endpoint retrieves all tasks created.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids retrieve only the tasks that match the IDs passed in the request.
    # @option opts [String] :company_id retrieve the tasks that have a company_id associated
    # @option opts [String] :assignee_id retrieve the tasks that have an assignee_id associated, assignee_id references to access_id.
    # @option opts [String] :due_on filter by tasks that have a due date.
    # @option opts [Boolean] :already_due filter by tasks that have expired or are still due.
    # @option opts [String] :task_status filter by tasks that with an especific status (todo | in_progress | done | discarded).
    # @option opts [String] :involvee_id retrieve tasks where the user is affectee or assignee
    # @option opts [String] :category filter by tasks that have a specific category
    # @return [TasksTasksGet200Response]
    def tasks_tasks_get(opts = {})
      data, _status_code, _headers = tasks_tasks_get_with_http_info(opts)
      data
    end

    # Reads all Tasks
    # This endpoint retrieves all tasks created.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids retrieve only the tasks that match the IDs passed in the request.
    # @option opts [String] :company_id retrieve the tasks that have a company_id associated
    # @option opts [String] :assignee_id retrieve the tasks that have an assignee_id associated, assignee_id references to access_id.
    # @option opts [String] :due_on filter by tasks that have a due date.
    # @option opts [Boolean] :already_due filter by tasks that have expired or are still due.
    # @option opts [String] :task_status filter by tasks that with an especific status (todo | in_progress | done | discarded).
    # @option opts [String] :involvee_id retrieve tasks where the user is affectee or assignee
    # @option opts [String] :category filter by tasks that have a specific category
    # @return [Array<(TasksTasksGet200Response, Integer, Hash)>] TasksTasksGet200Response data, response status code and response headers
    def tasks_tasks_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskApi.tasks_tasks_get ...'
      end
      allowable_values = ["todo", "in_progress", "done", "discarded"]
      if @api_client.config.client_side_validation && opts[:'task_status'] && !allowable_values.include?(opts[:'task_status'])
        fail ArgumentError, "invalid value for \"task_status\", must be one of #{allowable_values}"
      end
      allowable_values = ["benefits", "complaints", "compensation", "documents", "engagement", "finance", "organization", "performance", "policies", "recruitment", "software", "spending", "surveys", "timeoff", "time_planning", "time_tracking", "training"]
      if @api_client.config.client_side_validation && opts[:'category'] && !allowable_values.include?(opts[:'category'])
        fail ArgumentError, "invalid value for \"category\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/tasks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'company_id'] = opts[:'company_id'] if !opts[:'company_id'].nil?
      query_params[:'assignee_id'] = opts[:'assignee_id'] if !opts[:'assignee_id'].nil?
      query_params[:'due_on'] = opts[:'due_on'] if !opts[:'due_on'].nil?
      query_params[:'already_due'] = opts[:'already_due'] if !opts[:'already_due'].nil?
      query_params[:'task_status'] = opts[:'task_status'] if !opts[:'task_status'].nil?
      query_params[:'involvee_id'] = opts[:'involvee_id'] if !opts[:'involvee_id'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTasksGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskApi.tasks_tasks_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskApi#tasks_tasks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Task
    # This endpoint deletes a task.
    # @param id [String] id of the task.
    # @param [Hash] opts the optional parameters
    # @return [TasksTask]
    def tasks_tasks_id_delete(id, opts = {})
      data, _status_code, _headers = tasks_tasks_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Task
    # This endpoint deletes a task.
    # @param id [String] id of the task.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TasksTask, Integer, Hash)>] TasksTask data, response status code and response headers
    def tasks_tasks_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskApi.tasks_tasks_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TasksTaskApi.tasks_tasks_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/tasks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskApi.tasks_tasks_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskApi#tasks_tasks_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Task
    # This endpoint retrieves all tasks created.
    # @param id [String] retrieve only the tasks that match the IDs passed in the request.
    # @param [Hash] opts the optional parameters
    # @return [TasksTask]
    def tasks_tasks_id_get(id, opts = {})
      data, _status_code, _headers = tasks_tasks_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Task
    # This endpoint retrieves all tasks created.
    # @param id [String] retrieve only the tasks that match the IDs passed in the request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TasksTask, Integer, Hash)>] TasksTask data, response status code and response headers
    def tasks_tasks_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskApi.tasks_tasks_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TasksTaskApi.tasks_tasks_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/tasks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskApi.tasks_tasks_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskApi#tasks_tasks_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Task
    # This endpoint updates an existing task.
    # @param id [String] id of a task.
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksIdPutRequest] :tasks_tasks_id_put_request 
    # @return [TasksTask]
    def tasks_tasks_id_put(id, opts = {})
      data, _status_code, _headers = tasks_tasks_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Task
    # This endpoint updates an existing task.
    # @param id [String] id of a task.
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksIdPutRequest] :tasks_tasks_id_put_request 
    # @return [Array<(TasksTask, Integer, Hash)>] TasksTask data, response status code and response headers
    def tasks_tasks_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskApi.tasks_tasks_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TasksTaskApi.tasks_tasks_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/tasks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tasks_tasks_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskApi.tasks_tasks_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskApi#tasks_tasks_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Task
    # This endpoint creates a new task.
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksPostRequest] :tasks_tasks_post_request 
    # @return [TasksTask]
    def tasks_tasks_post(opts = {})
      data, _status_code, _headers = tasks_tasks_post_with_http_info(opts)
      data
    end

    # Creates a Task
    # This endpoint creates a new task.
    # @param [Hash] opts the optional parameters
    # @option opts [TasksTasksPostRequest] :tasks_tasks_post_request 
    # @return [Array<(TasksTask, Integer, Hash)>] TasksTask data, response status code and response headers
    def tasks_tasks_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TasksTaskApi.tasks_tasks_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/tasks/tasks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tasks_tasks_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TasksTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TasksTaskApi.tasks_tasks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TasksTaskApi#tasks_tasks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
