=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class TeamsMembershipApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Memberships
    # Get all memberships.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Return only the memberships with these ids.
    # @option opts [Boolean] :lead Whether the employee is a lead of the team or not
    # @option opts [Array<String>] :team_ids Return only the memberships of these teams.
    # @option opts [Array<String>] :employee_ids Return only the memberships of these employees.
    # @option opts [Boolean] :with_source_attribution Populate &#x60;direct&#x60;, &#x60;source_team_ids&#x60; and &#x60;parent_team_ids&#x60; on each returned membership (nested teams). Only honoured when filtering by a single &#x60;employee_ids&#x60; value without &#x60;team_ids&#x60; — the read that attributes one employee&#39;s own memberships, and the only one that resolves &#x60;direct&#x60;. Reads filtered by a single team already return &#x60;source_team_ids&#x60;/&#x60;parent_team_ids&#x60; without this flag (&#x60;direct&#x60; stays null there); bulk reads ignore it entirely. Unsupported filter combinations return &#x60;200&#x60; with empty attribution rather than an error. Attribution is resolved per employee and is significantly more expensive than a plain read: intended for per-profile lookups, not bulk synchronization.
    # @return [TeamsMembershipsGet200Response]
    def teams_memberships_get(opts = {})
      data, _status_code, _headers = teams_memberships_get_with_http_info(opts)
      data
    end

    # Reads all Memberships
    # Get all memberships.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Return only the memberships with these ids.
    # @option opts [Boolean] :lead Whether the employee is a lead of the team or not
    # @option opts [Array<String>] :team_ids Return only the memberships of these teams.
    # @option opts [Array<String>] :employee_ids Return only the memberships of these employees.
    # @option opts [Boolean] :with_source_attribution Populate &#x60;direct&#x60;, &#x60;source_team_ids&#x60; and &#x60;parent_team_ids&#x60; on each returned membership (nested teams). Only honoured when filtering by a single &#x60;employee_ids&#x60; value without &#x60;team_ids&#x60; — the read that attributes one employee&#39;s own memberships, and the only one that resolves &#x60;direct&#x60;. Reads filtered by a single team already return &#x60;source_team_ids&#x60;/&#x60;parent_team_ids&#x60; without this flag (&#x60;direct&#x60; stays null there); bulk reads ignore it entirely. Unsupported filter combinations return &#x60;200&#x60; with empty attribution rather than an error. Attribution is resolved per employee and is significantly more expensive than a plain read: intended for per-profile lookups, not bulk synchronization.
    # @return [Array<(TeamsMembershipsGet200Response, Integer, Hash)>] TeamsMembershipsGet200Response data, response status code and response headers
    def teams_memberships_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/teams/memberships'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'lead'] = opts[:'lead'] if !opts[:'lead'].nil?
      query_params[:'team_ids[]'] = @api_client.build_collection_param(opts[:'team_ids'], :multi) if !opts[:'team_ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'with_source_attribution'] = opts[:'with_source_attribution'] if !opts[:'with_source_attribution'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembershipsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Membership
    # Delete the membership to remove the employee from the team. For companies with nested teams what actually gets deleted depends on the kind of row: deleting a direct membership removes it, and the inherited copies it produced in the ancestor teams are cleaned up asynchronously. Deleting an INHERITED membership instead removes the employee's direct membership in EVERY sub-team that row originates from — rows with other ids, in teams you did not name — and the request is rejected altogether if you cannot manage one of those sub-teams. The inherited row you named also disappears asynchronously rather than in the request, so an immediate re-read may still return it; repeating the DELETE is safe rather than an error. Read that employee's memberships with `with_source_attribution` before deleting to see what is at stake: `direct` indicates which kind of row it is, and `source_team_ids` where the deletion would land. Both are advisory — the read and the delete resolve their answers independently, so re-read after deleting rather than assuming which branch ran.
    # @param id [String] Membership id.
    # @param [Hash] opts the optional parameters
    # @return [TeamsMembership]
    def teams_memberships_id_delete(id, opts = {})
      data, _status_code, _headers = teams_memberships_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Membership
    # Delete the membership to remove the employee from the team. For companies with nested teams what actually gets deleted depends on the kind of row: deleting a direct membership removes it, and the inherited copies it produced in the ancestor teams are cleaned up asynchronously. Deleting an INHERITED membership instead removes the employee&#39;s direct membership in EVERY sub-team that row originates from — rows with other ids, in teams you did not name — and the request is rejected altogether if you cannot manage one of those sub-teams. The inherited row you named also disappears asynchronously rather than in the request, so an immediate re-read may still return it; repeating the DELETE is safe rather than an error. Read that employee&#39;s memberships with &#x60;with_source_attribution&#x60; before deleting to see what is at stake: &#x60;direct&#x60; indicates which kind of row it is, and &#x60;source_team_ids&#x60; where the deletion would land. Both are advisory — the read and the delete resolve their answers independently, so re-read after deleting rather than assuming which branch ran.
    # @param id [String] Membership id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TeamsMembership, Integer, Hash)>] TeamsMembership data, response status code and response headers
    def teams_memberships_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TeamsMembershipApi.teams_memberships_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/teams/memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Membership
    # Get all memberships.
    # @param id [String] Return only the memberships with these ids.
    # @param [Hash] opts the optional parameters
    # @return [TeamsMembership]
    def teams_memberships_id_get(id, opts = {})
      data, _status_code, _headers = teams_memberships_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Membership
    # Get all memberships.
    # @param id [String] Return only the memberships with these ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TeamsMembership, Integer, Hash)>] TeamsMembership data, response status code and response headers
    def teams_memberships_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TeamsMembershipApi.teams_memberships_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/teams/memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Membership
    # Update the membership to either make the employee a lead of the team or remove them as a lead. For companies with nested teams, promoting an inherited membership (`lead: true`) first converts the employee into a direct member of the team (leads must be direct members), so the row becomes direct as a side effect. Demoting (`lead: false`) only removes the lead flag and keeps the membership.
    # @param id [String] Membership id.
    # @param [Hash] opts the optional parameters
    # @option opts [TeamsMembershipsIdPutRequest] :teams_memberships_id_put_request 
    # @return [TeamsMembership]
    def teams_memberships_id_put(id, opts = {})
      data, _status_code, _headers = teams_memberships_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Membership
    # Update the membership to either make the employee a lead of the team or remove them as a lead. For companies with nested teams, promoting an inherited membership (&#x60;lead: true&#x60;) first converts the employee into a direct member of the team (leads must be direct members), so the row becomes direct as a side effect. Demoting (&#x60;lead: false&#x60;) only removes the lead flag and keeps the membership.
    # @param id [String] Membership id.
    # @param [Hash] opts the optional parameters
    # @option opts [TeamsMembershipsIdPutRequest] :teams_memberships_id_put_request 
    # @return [Array<(TeamsMembership, Integer, Hash)>] TeamsMembership data, response status code and response headers
    def teams_memberships_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TeamsMembershipApi.teams_memberships_id_put"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/teams/memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'teams_memberships_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Moves a Membership
    # Move a membership to a different team in one operation (the employee is removed from the current team and added to the destination). Requires the nested teams feature and permission to manage both teams. Only direct memberships can be moved — moving an inherited row is rejected.
    # @param [Hash] opts the optional parameters
    # @option opts [TeamsMembershipsMovePostRequest] :teams_memberships_move_post_request 
    # @return [TeamsMembership]
    def teams_memberships_move_post(opts = {})
      data, _status_code, _headers = teams_memberships_move_post_with_http_info(opts)
      data
    end

    # Moves a Membership
    # Move a membership to a different team in one operation (the employee is removed from the current team and added to the destination). Requires the nested teams feature and permission to manage both teams. Only direct memberships can be moved — moving an inherited row is rejected.
    # @param [Hash] opts the optional parameters
    # @option opts [TeamsMembershipsMovePostRequest] :teams_memberships_move_post_request 
    # @return [Array<(TeamsMembership, Integer, Hash)>] TeamsMembership data, response status code and response headers
    def teams_memberships_move_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_move_post ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/teams/memberships/move'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'teams_memberships_move_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_move_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_move_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Membership
    # Assign an employee to a team, meaning create a membership. For companies with nested teams, two extra semantics apply. Propagation: memberships are inherited upwards, so after adding an employee to a sub-team, inherited membership rows for its ancestor teams are materialized asynchronously — rows you did not create will appear in later reads. Reuse: if the employee already has a membership row on that team (typically an inherited one), no new row is created — the employee becomes a direct member of the team, the `lead` flag is applied when you send one, and the existing row (with its existing id) is returned instead of a new resource. Omitting `lead` leaves a reused row's leadership as it was, so replaying an addition never demotes a current lead; a genuinely new row is created without it. The response is still `201` when an existing row is reused, so compare the returned `id` against what you already hold to tell the two cases apart.
    # @param [Hash] opts the optional parameters
    # @option opts [TeamsMembershipsPostRequest] :teams_memberships_post_request 
    # @return [TeamsMembership]
    def teams_memberships_post(opts = {})
      data, _status_code, _headers = teams_memberships_post_with_http_info(opts)
      data
    end

    # Creates a Membership
    # Assign an employee to a team, meaning create a membership. For companies with nested teams, two extra semantics apply. Propagation: memberships are inherited upwards, so after adding an employee to a sub-team, inherited membership rows for its ancestor teams are materialized asynchronously — rows you did not create will appear in later reads. Reuse: if the employee already has a membership row on that team (typically an inherited one), no new row is created — the employee becomes a direct member of the team, the &#x60;lead&#x60; flag is applied when you send one, and the existing row (with its existing id) is returned instead of a new resource. Omitting &#x60;lead&#x60; leaves a reused row&#39;s leadership as it was, so replaying an addition never demotes a current lead; a genuinely new row is created without it. The response is still &#x60;201&#x60; when an existing row is reused, so compare the returned &#x60;id&#x60; against what you already hold to tell the two cases apart.
    # @param [Hash] opts the optional parameters
    # @option opts [TeamsMembershipsPostRequest] :teams_memberships_post_request 
    # @return [Array<(TeamsMembership, Integer, Hash)>] TeamsMembership data, response status code and response headers
    def teams_memberships_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_post ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/teams/memberships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'teams_memberships_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
