=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class TeamsMembershipApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Memberships
    # Get all memberships.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Membership ids.
    # @option opts [Boolean] :lead Whether the employee is a lead of the team or not
    # @option opts [Array<String>] :team_ids Team ids.
    # @option opts [Array<String>] :employee_ids Employee ids.
    # @return [TeamsMembershipsGet200Response]
    def teams_memberships_get(opts = {})
      data, _status_code, _headers = teams_memberships_get_with_http_info(opts)
      data
    end

    # Reads all Memberships
    # Get all memberships.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Membership ids.
    # @option opts [Boolean] :lead Whether the employee is a lead of the team or not
    # @option opts [Array<String>] :team_ids Team ids.
    # @option opts [Array<String>] :employee_ids Employee ids.
    # @return [Array<(TeamsMembershipsGet200Response, Integer, Hash)>] TeamsMembershipsGet200Response data, response status code and response headers
    def teams_memberships_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/teams/memberships'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'lead'] = opts[:'lead'] if !opts[:'lead'].nil?
      query_params[:'team_ids[]'] = @api_client.build_collection_param(opts[:'team_ids'], :multi) if !opts[:'team_ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembershipsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Membership
    # Delete the membership to remove the employee from the team.
    # @param id [String] Membership id.
    # @param [Hash] opts the optional parameters
    # @return [TeamsMembership]
    def teams_memberships_id_delete(id, opts = {})
      data, _status_code, _headers = teams_memberships_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Membership
    # Delete the membership to remove the employee from the team.
    # @param id [String] Membership id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TeamsMembership, Integer, Hash)>] TeamsMembership data, response status code and response headers
    def teams_memberships_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TeamsMembershipApi.teams_memberships_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/teams/memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Membership
    # Get all memberships.
    # @param id [String] Membership ids.
    # @param [Hash] opts the optional parameters
    # @return [TeamsMembership]
    def teams_memberships_id_get(id, opts = {})
      data, _status_code, _headers = teams_memberships_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Membership
    # Get all memberships.
    # @param id [String] Membership ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TeamsMembership, Integer, Hash)>] TeamsMembership data, response status code and response headers
    def teams_memberships_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TeamsMembershipApi.teams_memberships_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/teams/memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Membership
    # Update the membership to either make the employee a lead of the team or remove them as a lead.
    # @param id [String] Membership id.
    # @param [Hash] opts the optional parameters
    # @option opts [TeamsMembershipsIdPutRequest] :teams_memberships_id_put_request 
    # @return [TeamsMembership]
    def teams_memberships_id_put(id, opts = {})
      data, _status_code, _headers = teams_memberships_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Membership
    # Update the membership to either make the employee a lead of the team or remove them as a lead.
    # @param id [String] Membership id.
    # @param [Hash] opts the optional parameters
    # @option opts [TeamsMembershipsIdPutRequest] :teams_memberships_id_put_request 
    # @return [Array<(TeamsMembership, Integer, Hash)>] TeamsMembership data, response status code and response headers
    def teams_memberships_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TeamsMembershipApi.teams_memberships_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/teams/memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'teams_memberships_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Membership
    # Assign an employee to a team, meaning create a membership.
    # @param [Hash] opts the optional parameters
    # @option opts [TeamsMembershipsPostRequest] :teams_memberships_post_request 
    # @return [TeamsMembership]
    def teams_memberships_post(opts = {})
      data, _status_code, _headers = teams_memberships_post_with_http_info(opts)
      data
    end

    # Creates a Membership
    # Assign an employee to a team, meaning create a membership.
    # @param [Hash] opts the optional parameters
    # @option opts [TeamsMembershipsPostRequest] :teams_memberships_post_request 
    # @return [Array<(TeamsMembership, Integer, Hash)>] TeamsMembership data, response status code and response headers
    def teams_memberships_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamsMembershipApi.teams_memberships_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/teams/memberships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'teams_memberships_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TeamsMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TeamsMembershipApi.teams_memberships_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamsMembershipApi#teams_memberships_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
