=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class TimeoffAllowanceStatApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Allowance stats
    # Retrieves the employee time off counters for a specific allowance with a reference date. Read without employee_ids it pages by employee with a cursor: limit and meta.total count employees rather than stats, so a page carries every stat those employees have, and the page parameter is not supported there - follow meta.end_cursor instead.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids A virtual ID for the allowance stat, composed of employee_id/allowance_id/reference_date. Cannot be used to fetch this resource.
    # @option opts [Array<String>] :employee_ids IDs of the employees to read allowance stats for, at most 25 per request. Leave it empty to read every employee you have access to. Naming an employee you cannot access returns an empty page rather than the stats for the others.
    # @option opts [Array<String>] :allowance_ids Filter the stats by these allowance IDs
    # @option opts [String] :reference_date The reference date to calculate the allowance stats. If not provided, it will use today&#39;s date.
    # @option opts [String] :simulate_policy_change_to_id When provided, computes the stats as if the employee were moved to this target time off policy effective the day AFTER reference_date, so pass the day before the change date - for a change effective on 2026-08-03, send reference_date&#x3D;2026-08-02. This truncates the source policy&#39;s current cycle at that boundary so available_days reflects the prorated balance that would actually transfer or be discarded on the change, rather than the full entitlement. Purely a read - nothing is persisted. Requires the policy timeline feature; without it the result is identical to an un-simulated read. Can only be used together with employee_ids, because a simulation needs every employee in the read to belong to the target policy&#39;s company - which a company-wide read cannot guarantee.
    # @return [TimeoffAllowanceStatsGet200Response]
    def timeoff_allowance_stats_get(opts = {})
      data, _status_code, _headers = timeoff_allowance_stats_get_with_http_info(opts)
      data
    end

    # Reads all Allowance stats
    # Retrieves the employee time off counters for a specific allowance with a reference date. Read without employee_ids it pages by employee with a cursor: limit and meta.total count employees rather than stats, so a page carries every stat those employees have, and the page parameter is not supported there - follow meta.end_cursor instead.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids A virtual ID for the allowance stat, composed of employee_id/allowance_id/reference_date. Cannot be used to fetch this resource.
    # @option opts [Array<String>] :employee_ids IDs of the employees to read allowance stats for, at most 25 per request. Leave it empty to read every employee you have access to. Naming an employee you cannot access returns an empty page rather than the stats for the others.
    # @option opts [Array<String>] :allowance_ids Filter the stats by these allowance IDs
    # @option opts [String] :reference_date The reference date to calculate the allowance stats. If not provided, it will use today&#39;s date.
    # @option opts [String] :simulate_policy_change_to_id When provided, computes the stats as if the employee were moved to this target time off policy effective the day AFTER reference_date, so pass the day before the change date - for a change effective on 2026-08-03, send reference_date&#x3D;2026-08-02. This truncates the source policy&#39;s current cycle at that boundary so available_days reflects the prorated balance that would actually transfer or be discarded on the change, rather than the full entitlement. Purely a read - nothing is persisted. Requires the policy timeline feature; without it the result is identical to an un-simulated read. Can only be used together with employee_ids, because a simulation needs every employee in the read to belong to the target policy&#39;s company - which a company-wide read cannot guarantee.
    # @return [Array<(TimeoffAllowanceStatsGet200Response, Integer, Hash)>] TimeoffAllowanceStatsGet200Response data, response status code and response headers
    def timeoff_allowance_stats_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffAllowanceStatApi.timeoff_allowance_stats_get ...'
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/timeoff/allowance_stats'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'allowance_ids[]'] = @api_client.build_collection_param(opts[:'allowance_ids'], :multi) if !opts[:'allowance_ids'].nil?
      query_params[:'reference_date'] = opts[:'reference_date'] if !opts[:'reference_date'].nil?
      query_params[:'simulate_policy_change_to_id'] = opts[:'simulate_policy_change_to_id'] if !opts[:'simulate_policy_change_to_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffAllowanceStatsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffAllowanceStatApi.timeoff_allowance_stats_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffAllowanceStatApi#timeoff_allowance_stats_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Allowance stat
    # Retrieves the employee time off counters for a specific allowance with a reference date. Read without employee_ids it pages by employee with a cursor: limit and meta.total count employees rather than stats, so a page carries every stat those employees have, and the page parameter is not supported there - follow meta.end_cursor instead.
    # @param id [String] A virtual ID for the allowance stat, composed of employee_id/allowance_id/reference_date. Cannot be used to fetch this resource.
    # @param [Hash] opts the optional parameters
    # @return [TimeoffAllowanceStatsNew]
    def timeoff_allowance_stats_id_get(id, opts = {})
      data, _status_code, _headers = timeoff_allowance_stats_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Allowance stat
    # Retrieves the employee time off counters for a specific allowance with a reference date. Read without employee_ids it pages by employee with a cursor: limit and meta.total count employees rather than stats, so a page carries every stat those employees have, and the page parameter is not supported there - follow meta.end_cursor instead.
    # @param id [String] A virtual ID for the allowance stat, composed of employee_id/allowance_id/reference_date. Cannot be used to fetch this resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeoffAllowanceStatsNew, Integer, Hash)>] TimeoffAllowanceStatsNew data, response status code and response headers
    def timeoff_allowance_stats_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffAllowanceStatApi.timeoff_allowance_stats_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffAllowanceStatApi.timeoff_allowance_stats_id_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/timeoff/allowance_stats/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffAllowanceStatsNew'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffAllowanceStatApi.timeoff_allowance_stats_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffAllowanceStatApi#timeoff_allowance_stats_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
