=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class TimePlanningPlannedBreakApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk creates a Planned break
    # Bulk creates a Planned break
    # @param [Hash] opts the optional parameters
    # @option opts [TimePlanningPlannedBreaksBulkCreatePostRequest] :time_planning_planned_breaks_bulk_create_post_request 
    # @return [Array<TimePlanningPlannedBreak>]
    def time_planning_planned_breaks_bulk_create_post(opts = {})
      data, _status_code, _headers = time_planning_planned_breaks_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Planned break
    # Bulk creates a Planned break
    # @param [Hash] opts the optional parameters
    # @option opts [TimePlanningPlannedBreaksBulkCreatePostRequest] :time_planning_planned_breaks_bulk_create_post_request 
    # @return [Array<(Array<TimePlanningPlannedBreak>, Integer, Hash)>] Array<TimePlanningPlannedBreak> data, response status code and response headers
    def time_planning_planned_breaks_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimePlanningPlannedBreakApi.time_planning_planned_breaks_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/time_planning/planned_breaks/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'time_planning_planned_breaks_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TimePlanningPlannedBreak>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimePlanningPlannedBreakApi.time_planning_planned_breaks_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimePlanningPlannedBreakApi#time_planning_planned_breaks_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Planned breaks
    # Reads all Planned breaks
    # @param ids [Array<String>] List of planned break identifiers
    # @param paid [Boolean] Filter by paid or unpaid breaks
    # @param default_shift_ids [Array<String>] List of default shift identifiers
    # @param shift_ids [Array<String>] List of shift identifiers
    # @param day_configuration_ids [Array<String>] List of day configuration identifiers
    # @param shift_configuration_ids [Array<String>] List of shift configuration identifiers
    # @param active_break_configuration [Boolean] Filter by active break configurations only
    # @param [Hash] opts the optional parameters
    # @return [TimePlanningPlannedBreaksGet200Response]
    def time_planning_planned_breaks_get(ids, paid, default_shift_ids, shift_ids, day_configuration_ids, shift_configuration_ids, active_break_configuration, opts = {})
      data, _status_code, _headers = time_planning_planned_breaks_get_with_http_info(ids, paid, default_shift_ids, shift_ids, day_configuration_ids, shift_configuration_ids, active_break_configuration, opts)
      data
    end

    # Reads all Planned breaks
    # Reads all Planned breaks
    # @param ids [Array<String>] List of planned break identifiers
    # @param paid [Boolean] Filter by paid or unpaid breaks
    # @param default_shift_ids [Array<String>] List of default shift identifiers
    # @param shift_ids [Array<String>] List of shift identifiers
    # @param day_configuration_ids [Array<String>] List of day configuration identifiers
    # @param shift_configuration_ids [Array<String>] List of shift configuration identifiers
    # @param active_break_configuration [Boolean] Filter by active break configurations only
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimePlanningPlannedBreaksGet200Response, Integer, Hash)>] TimePlanningPlannedBreaksGet200Response data, response status code and response headers
    def time_planning_planned_breaks_get_with_http_info(ids, paid, default_shift_ids, shift_ids, day_configuration_ids, shift_configuration_ids, active_break_configuration, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimePlanningPlannedBreakApi.time_planning_planned_breaks_get ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling TimePlanningPlannedBreakApi.time_planning_planned_breaks_get"
      end
      # verify the required parameter 'paid' is set
      if @api_client.config.client_side_validation && paid.nil?
        fail ArgumentError, "Missing the required parameter 'paid' when calling TimePlanningPlannedBreakApi.time_planning_planned_breaks_get"
      end
      # verify the required parameter 'default_shift_ids' is set
      if @api_client.config.client_side_validation && default_shift_ids.nil?
        fail ArgumentError, "Missing the required parameter 'default_shift_ids' when calling TimePlanningPlannedBreakApi.time_planning_planned_breaks_get"
      end
      # verify the required parameter 'shift_ids' is set
      if @api_client.config.client_side_validation && shift_ids.nil?
        fail ArgumentError, "Missing the required parameter 'shift_ids' when calling TimePlanningPlannedBreakApi.time_planning_planned_breaks_get"
      end
      # verify the required parameter 'day_configuration_ids' is set
      if @api_client.config.client_side_validation && day_configuration_ids.nil?
        fail ArgumentError, "Missing the required parameter 'day_configuration_ids' when calling TimePlanningPlannedBreakApi.time_planning_planned_breaks_get"
      end
      # verify the required parameter 'shift_configuration_ids' is set
      if @api_client.config.client_side_validation && shift_configuration_ids.nil?
        fail ArgumentError, "Missing the required parameter 'shift_configuration_ids' when calling TimePlanningPlannedBreakApi.time_planning_planned_breaks_get"
      end
      # verify the required parameter 'active_break_configuration' is set
      if @api_client.config.client_side_validation && active_break_configuration.nil?
        fail ArgumentError, "Missing the required parameter 'active_break_configuration' when calling TimePlanningPlannedBreakApi.time_planning_planned_breaks_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/time_planning/planned_breaks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(ids, :multi)
      query_params[:'paid'] = paid
      query_params[:'default_shift_ids[]'] = @api_client.build_collection_param(default_shift_ids, :multi)
      query_params[:'shift_ids[]'] = @api_client.build_collection_param(shift_ids, :multi)
      query_params[:'day_configuration_ids[]'] = @api_client.build_collection_param(day_configuration_ids, :multi)
      query_params[:'shift_configuration_ids[]'] = @api_client.build_collection_param(shift_configuration_ids, :multi)
      query_params[:'active_break_configuration'] = active_break_configuration

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimePlanningPlannedBreaksGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimePlanningPlannedBreakApi.time_planning_planned_breaks_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimePlanningPlannedBreakApi#time_planning_planned_breaks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Planned break
    # Reads a single Planned break
    # @param id [String] List of planned break identifiers
    # @param [Hash] opts the optional parameters
    # @return [TimePlanningPlannedBreak]
    def time_planning_planned_breaks_id_get(id, opts = {})
      data, _status_code, _headers = time_planning_planned_breaks_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Planned break
    # Reads a single Planned break
    # @param id [String] List of planned break identifiers
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimePlanningPlannedBreak, Integer, Hash)>] TimePlanningPlannedBreak data, response status code and response headers
    def time_planning_planned_breaks_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimePlanningPlannedBreakApi.time_planning_planned_breaks_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimePlanningPlannedBreakApi.time_planning_planned_breaks_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/time_planning/planned_breaks/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimePlanningPlannedBreak'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimePlanningPlannedBreakApi.time_planning_planned_breaks_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimePlanningPlannedBreakApi#time_planning_planned_breaks_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
