=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class TimeoffLeaveTypeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Leave types
    # Reads all Leave types
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Identifiers of the leave types
    # @option opts [Array<String>] :company_ids Identifiers of the companies
    # @option opts [Boolean] :active Whether the leave type is active
    # @option opts [Boolean] :payable Whether the leave type is payable
    # @option opts [Unknown] :identifier A unique identifier for the leave type, or an array of identifiers
    # @option opts [String] :employee_id Identifier of the employee
    # @option opts [String] :reference_date A reference date for the leave type
    # @option opts [String] :leave_type_id Identifier of a specific leave type
    # @option opts [Boolean] :allow_endless Whether the leave type allows for no end date
    # @return [TimeoffLeaveTypesGet200Response]
    def timeoff_leave_types_get(opts = {})
      data, _status_code, _headers = timeoff_leave_types_get_with_http_info(opts)
      data
    end

    # Reads all Leave types
    # Reads all Leave types
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Identifiers of the leave types
    # @option opts [Array<String>] :company_ids Identifiers of the companies
    # @option opts [Boolean] :active Whether the leave type is active
    # @option opts [Boolean] :payable Whether the leave type is payable
    # @option opts [Unknown] :identifier A unique identifier for the leave type, or an array of identifiers
    # @option opts [String] :employee_id Identifier of the employee
    # @option opts [String] :reference_date A reference date for the leave type
    # @option opts [String] :leave_type_id Identifier of a specific leave type
    # @option opts [Boolean] :allow_endless Whether the leave type allows for no end date
    # @return [Array<(TimeoffLeaveTypesGet200Response, Integer, Hash)>] TimeoffLeaveTypesGet200Response data, response status code and response headers
    def timeoff_leave_types_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveTypeApi.timeoff_leave_types_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leave_types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'company_ids[]'] = @api_client.build_collection_param(opts[:'company_ids'], :multi) if !opts[:'company_ids'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'payable'] = opts[:'payable'] if !opts[:'payable'].nil?
      query_params[:'identifier'] = opts[:'identifier'] if !opts[:'identifier'].nil?
      query_params[:'employee_id'] = opts[:'employee_id'] if !opts[:'employee_id'].nil?
      query_params[:'reference_date'] = opts[:'reference_date'] if !opts[:'reference_date'].nil?
      query_params[:'leave_type_id'] = opts[:'leave_type_id'] if !opts[:'leave_type_id'].nil?
      query_params[:'allow_endless'] = opts[:'allow_endless'] if !opts[:'allow_endless'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeaveTypesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveTypeApi.timeoff_leave_types_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveTypeApi#timeoff_leave_types_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Leave type
    # Reads a single Leave type
    # @param id [String] Identifiers of the leave types
    # @param [Hash] opts the optional parameters
    # @return [TimeoffLeaveType]
    def timeoff_leave_types_id_get(id, opts = {})
      data, _status_code, _headers = timeoff_leave_types_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Leave type
    # Reads a single Leave type
    # @param id [String] Identifiers of the leave types
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeoffLeaveType, Integer, Hash)>] TimeoffLeaveType data, response status code and response headers
    def timeoff_leave_types_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveTypeApi.timeoff_leave_types_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffLeaveTypeApi.timeoff_leave_types_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leave_types/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeaveType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveTypeApi.timeoff_leave_types_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveTypeApi#timeoff_leave_types_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Leave type
    # Updates a Leave type
    # @param id [String] Identifier of the leave type to update
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffLeaveTypesIdPutRequest] :timeoff_leave_types_id_put_request 
    # @return [TimeoffLeaveType]
    def timeoff_leave_types_id_put(id, opts = {})
      data, _status_code, _headers = timeoff_leave_types_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Leave type
    # Updates a Leave type
    # @param id [String] Identifier of the leave type to update
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffLeaveTypesIdPutRequest] :timeoff_leave_types_id_put_request 
    # @return [Array<(TimeoffLeaveType, Integer, Hash)>] TimeoffLeaveType data, response status code and response headers
    def timeoff_leave_types_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveTypeApi.timeoff_leave_types_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffLeaveTypeApi.timeoff_leave_types_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leave_types/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timeoff_leave_types_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeaveType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveTypeApi.timeoff_leave_types_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveTypeApi#timeoff_leave_types_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Leave type
    # Creates a Leave type
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffLeaveTypesPostRequest] :timeoff_leave_types_post_request 
    # @return [TimeoffLeaveType]
    def timeoff_leave_types_post(opts = {})
      data, _status_code, _headers = timeoff_leave_types_post_with_http_info(opts)
      data
    end

    # Creates a Leave type
    # Creates a Leave type
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffLeaveTypesPostRequest] :timeoff_leave_types_post_request 
    # @return [Array<(TimeoffLeaveType, Integer, Hash)>] TimeoffLeaveType data, response status code and response headers
    def timeoff_leave_types_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveTypeApi.timeoff_leave_types_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leave_types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timeoff_leave_types_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeaveType'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveTypeApi.timeoff_leave_types_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveTypeApi#timeoff_leave_types_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
