=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class TimePlanningPlanningVersionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk creates a Planning version
    # Bulk creates a Planning version
    # @param [Hash] opts the optional parameters
    # @option opts [TimePlanningPlanningVersionsBulkCreatePostRequest] :time_planning_planning_versions_bulk_create_post_request 
    # @return [Array<TimePlanningPlanningVersion>]
    def time_planning_planning_versions_bulk_create_post(opts = {})
      data, _status_code, _headers = time_planning_planning_versions_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Planning version
    # Bulk creates a Planning version
    # @param [Hash] opts the optional parameters
    # @option opts [TimePlanningPlanningVersionsBulkCreatePostRequest] :time_planning_planning_versions_bulk_create_post_request 
    # @return [Array<(Array<TimePlanningPlanningVersion>, Integer, Hash)>] Array<TimePlanningPlanningVersion> data, response status code and response headers
    def time_planning_planning_versions_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimePlanningPlanningVersionApi.time_planning_planning_versions_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/time_planning/planning_versions/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'time_planning_planning_versions_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TimePlanningPlanningVersion>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimePlanningPlanningVersionApi.time_planning_planning_versions_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimePlanningPlanningVersionApi#time_planning_planning_versions_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Planning versions
    # Reads all Planning versions
    # @param only_active [Boolean] Filter by active planning versions only
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :employee_ids List of employee identifiers
    # @option opts [Boolean] :for_shifts Filter by shift management planning tool
    # @option opts [String] :planning_tool Type of planning tool (shift_management, work_schedules, contract_hours)
    # @option opts [Array<String>] :schedule_ids List of work schedule identifiers to include
    # @return [TimePlanningPlanningVersionsGet200Response]
    def time_planning_planning_versions_get(only_active, opts = {})
      data, _status_code, _headers = time_planning_planning_versions_get_with_http_info(only_active, opts)
      data
    end

    # Reads all Planning versions
    # Reads all Planning versions
    # @param only_active [Boolean] Filter by active planning versions only
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :employee_ids List of employee identifiers
    # @option opts [Boolean] :for_shifts Filter by shift management planning tool
    # @option opts [String] :planning_tool Type of planning tool (shift_management, work_schedules, contract_hours)
    # @option opts [Array<String>] :schedule_ids List of work schedule identifiers to include
    # @return [Array<(TimePlanningPlanningVersionsGet200Response, Integer, Hash)>] TimePlanningPlanningVersionsGet200Response data, response status code and response headers
    def time_planning_planning_versions_get_with_http_info(only_active, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimePlanningPlanningVersionApi.time_planning_planning_versions_get ...'
      end
      # verify the required parameter 'only_active' is set
      if @api_client.config.client_side_validation && only_active.nil?
        fail ArgumentError, "Missing the required parameter 'only_active' when calling TimePlanningPlanningVersionApi.time_planning_planning_versions_get"
      end
      allowable_values = ["shift_management", "work_schedule", "contract_hours"]
      if @api_client.config.client_side_validation && opts[:'planning_tool'] && !allowable_values.include?(opts[:'planning_tool'])
        fail ArgumentError, "invalid value for \"planning_tool\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/time_planning/planning_versions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'only_active'] = only_active
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'for_shifts'] = opts[:'for_shifts'] if !opts[:'for_shifts'].nil?
      query_params[:'planning_tool'] = opts[:'planning_tool'] if !opts[:'planning_tool'].nil?
      query_params[:'schedule_ids[]'] = @api_client.build_collection_param(opts[:'schedule_ids'], :multi) if !opts[:'schedule_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimePlanningPlanningVersionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimePlanningPlanningVersionApi.time_planning_planning_versions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimePlanningPlanningVersionApi#time_planning_planning_versions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Planning version
    # Deletes a Planning version
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TimePlanningPlanningVersion]
    def time_planning_planning_versions_id_delete(id, opts = {})
      data, _status_code, _headers = time_planning_planning_versions_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Planning version
    # Deletes a Planning version
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimePlanningPlanningVersion, Integer, Hash)>] TimePlanningPlanningVersion data, response status code and response headers
    def time_planning_planning_versions_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimePlanningPlanningVersionApi.time_planning_planning_versions_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimePlanningPlanningVersionApi.time_planning_planning_versions_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/time_planning/planning_versions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimePlanningPlanningVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimePlanningPlanningVersionApi.time_planning_planning_versions_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimePlanningPlanningVersionApi#time_planning_planning_versions_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Planning version
    # Updates a Planning version
    # @param id [String] Planning version identifier
    # @param [Hash] opts the optional parameters
    # @option opts [TimePlanningPlanningVersionsIdPutRequest] :time_planning_planning_versions_id_put_request 
    # @return [TimePlanningPlanningVersion]
    def time_planning_planning_versions_id_put(id, opts = {})
      data, _status_code, _headers = time_planning_planning_versions_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Planning version
    # Updates a Planning version
    # @param id [String] Planning version identifier
    # @param [Hash] opts the optional parameters
    # @option opts [TimePlanningPlanningVersionsIdPutRequest] :time_planning_planning_versions_id_put_request 
    # @return [Array<(TimePlanningPlanningVersion, Integer, Hash)>] TimePlanningPlanningVersion data, response status code and response headers
    def time_planning_planning_versions_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimePlanningPlanningVersionApi.time_planning_planning_versions_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimePlanningPlanningVersionApi.time_planning_planning_versions_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/time_planning/planning_versions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'time_planning_planning_versions_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimePlanningPlanningVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimePlanningPlanningVersionApi.time_planning_planning_versions_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimePlanningPlanningVersionApi#time_planning_planning_versions_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Planning version
    # Creates a Planning version
    # @param [Hash] opts the optional parameters
    # @option opts [TimePlanningPlanningVersionsPostRequest] :time_planning_planning_versions_post_request 
    # @return [TimePlanningPlanningVersion]
    def time_planning_planning_versions_post(opts = {})
      data, _status_code, _headers = time_planning_planning_versions_post_with_http_info(opts)
      data
    end

    # Creates a Planning version
    # Creates a Planning version
    # @param [Hash] opts the optional parameters
    # @option opts [TimePlanningPlanningVersionsPostRequest] :time_planning_planning_versions_post_request 
    # @return [Array<(TimePlanningPlanningVersion, Integer, Hash)>] TimePlanningPlanningVersion data, response status code and response headers
    def time_planning_planning_versions_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimePlanningPlanningVersionApi.time_planning_planning_versions_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/time_planning/planning_versions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'time_planning_planning_versions_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimePlanningPlanningVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimePlanningPlanningVersionApi.time_planning_planning_versions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimePlanningPlanningVersionApi#time_planning_planning_versions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
