=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class TimeoffPolicyAssignmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Policy assignments
    # Read Time off Policy Assignments
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of time off policy assignment ids
    # @option opts [Array<String>] :employee_ids Filter policy assignments by employee ids
    # @option opts [Array<String>] :timeoff_policy_ids Filter policy assignments by time off policy ids
    # @return [TimeoffPolicyAssignmentsGet200Response]
    def timeoff_policy_assignments_get(opts = {})
      data, _status_code, _headers = timeoff_policy_assignments_get_with_http_info(opts)
      data
    end

    # Reads all Policy assignments
    # Read Time off Policy Assignments
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of time off policy assignment ids
    # @option opts [Array<String>] :employee_ids Filter policy assignments by employee ids
    # @option opts [Array<String>] :timeoff_policy_ids Filter policy assignments by time off policy ids
    # @return [Array<(TimeoffPolicyAssignmentsGet200Response, Integer, Hash)>] TimeoffPolicyAssignmentsGet200Response data, response status code and response headers
    def timeoff_policy_assignments_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffPolicyAssignmentApi.timeoff_policy_assignments_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/policy_assignments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'timeoff_policy_ids[]'] = @api_client.build_collection_param(opts[:'timeoff_policy_ids'], :multi) if !opts[:'timeoff_policy_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffPolicyAssignmentsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffPolicyAssignmentApi.timeoff_policy_assignments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffPolicyAssignmentApi#timeoff_policy_assignments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Policy assignment
    # Delete a Time off Policy Assignment
    # @param id [String] Unique identifier of the policy assignment
    # @param [Hash] opts the optional parameters
    # @return [TimeoffPolicyAssignment]
    def timeoff_policy_assignments_id_delete(id, opts = {})
      data, _status_code, _headers = timeoff_policy_assignments_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Policy assignment
    # Delete a Time off Policy Assignment
    # @param id [String] Unique identifier of the policy assignment
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeoffPolicyAssignment, Integer, Hash)>] TimeoffPolicyAssignment data, response status code and response headers
    def timeoff_policy_assignments_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffPolicyAssignmentApi.timeoff_policy_assignments_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffPolicyAssignmentApi.timeoff_policy_assignments_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/policy_assignments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffPolicyAssignment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffPolicyAssignmentApi.timeoff_policy_assignments_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffPolicyAssignmentApi#timeoff_policy_assignments_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Policy assignment
    # Read Time off Policy Assignments
    # @param id [String] An array of time off policy assignment ids
    # @param [Hash] opts the optional parameters
    # @return [TimeoffPolicyAssignment]
    def timeoff_policy_assignments_id_get(id, opts = {})
      data, _status_code, _headers = timeoff_policy_assignments_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Policy assignment
    # Read Time off Policy Assignments
    # @param id [String] An array of time off policy assignment ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeoffPolicyAssignment, Integer, Hash)>] TimeoffPolicyAssignment data, response status code and response headers
    def timeoff_policy_assignments_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffPolicyAssignmentApi.timeoff_policy_assignments_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffPolicyAssignmentApi.timeoff_policy_assignments_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/policy_assignments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffPolicyAssignment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffPolicyAssignmentApi.timeoff_policy_assignments_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffPolicyAssignmentApi#timeoff_policy_assignments_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Policy assignment
    # Update a Time off Policy Assignment
    # @param id [String] Unique identifier of the policy assignment
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffPolicyAssignmentsIdPutRequest] :timeoff_policy_assignments_id_put_request 
    # @return [TimeoffPolicyAssignment]
    def timeoff_policy_assignments_id_put(id, opts = {})
      data, _status_code, _headers = timeoff_policy_assignments_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Policy assignment
    # Update a Time off Policy Assignment
    # @param id [String] Unique identifier of the policy assignment
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffPolicyAssignmentsIdPutRequest] :timeoff_policy_assignments_id_put_request 
    # @return [Array<(TimeoffPolicyAssignment, Integer, Hash)>] TimeoffPolicyAssignment data, response status code and response headers
    def timeoff_policy_assignments_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffPolicyAssignmentApi.timeoff_policy_assignments_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffPolicyAssignmentApi.timeoff_policy_assignments_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/policy_assignments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timeoff_policy_assignments_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffPolicyAssignment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffPolicyAssignmentApi.timeoff_policy_assignments_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffPolicyAssignmentApi#timeoff_policy_assignments_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Policy assignment
    # Create a Time off Policy Assignment
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffPolicyAssignmentsPostRequest] :timeoff_policy_assignments_post_request 
    # @return [TimeoffPolicyAssignment]
    def timeoff_policy_assignments_post(opts = {})
      data, _status_code, _headers = timeoff_policy_assignments_post_with_http_info(opts)
      data
    end

    # Creates a Policy assignment
    # Create a Time off Policy Assignment
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffPolicyAssignmentsPostRequest] :timeoff_policy_assignments_post_request 
    # @return [Array<(TimeoffPolicyAssignment, Integer, Hash)>] TimeoffPolicyAssignment data, response status code and response headers
    def timeoff_policy_assignments_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffPolicyAssignmentApi.timeoff_policy_assignments_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/policy_assignments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timeoff_policy_assignments_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffPolicyAssignment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffPolicyAssignmentApi.timeoff_policy_assignments_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffPolicyAssignmentApi#timeoff_policy_assignments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
