=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-10-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class TimeoffFrenchLeaveDayCountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all French leave day counts
    # Returns the French day count for each requested leave. Leaves whose details the requester cannot see are omitted rather than rejected, so a partial result is normal. A leave with no computable count is also omitted. The request must be bounded — send either `leave_ids` or both `from` and `to`.
    # @param include_deleted [Boolean] Include leaves that have been deleted
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :leave_ids Only return day counts for these leaves. Required unless &#x60;from&#x60; and &#x60;to&#x60; are sent
    # @option opts [Array<String>] :employee_ids Only return day counts for leaves belonging to these employees
    # @option opts [String] :from Start of the period the count is computed over (YYYY-MM-DD). Leaves are filtered to those overlapping the period, and a leave extending beyond it is counted only for the days inside. Must be sent together with &#x60;to&#x60;. Required unless &#x60;leave_ids&#x60; is sent.
    # @option opts [String] :to End of the period the count is computed over (YYYY-MM-DD). Must be sent together with &#x60;from&#x60;. Required unless &#x60;leave_ids&#x60; is sent.
    # @return [TimeoffFrenchLeaveDayCountsGet200Response]
    def timeoff_french_leave_day_counts_get(include_deleted, opts = {})
      data, _status_code, _headers = timeoff_french_leave_day_counts_get_with_http_info(include_deleted, opts)
      data
    end

    # Reads all French leave day counts
    # Returns the French day count for each requested leave. Leaves whose details the requester cannot see are omitted rather than rejected, so a partial result is normal. A leave with no computable count is also omitted. The request must be bounded — send either &#x60;leave_ids&#x60; or both &#x60;from&#x60; and &#x60;to&#x60;.
    # @param include_deleted [Boolean] Include leaves that have been deleted
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :leave_ids Only return day counts for these leaves. Required unless &#x60;from&#x60; and &#x60;to&#x60; are sent
    # @option opts [Array<String>] :employee_ids Only return day counts for leaves belonging to these employees
    # @option opts [String] :from Start of the period the count is computed over (YYYY-MM-DD). Leaves are filtered to those overlapping the period, and a leave extending beyond it is counted only for the days inside. Must be sent together with &#x60;to&#x60;. Required unless &#x60;leave_ids&#x60; is sent.
    # @option opts [String] :to End of the period the count is computed over (YYYY-MM-DD). Must be sent together with &#x60;from&#x60;. Required unless &#x60;leave_ids&#x60; is sent.
    # @return [Array<(TimeoffFrenchLeaveDayCountsGet200Response, Integer, Hash)>] TimeoffFrenchLeaveDayCountsGet200Response data, response status code and response headers
    def timeoff_french_leave_day_counts_get_with_http_info(include_deleted, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffFrenchLeaveDayCountApi.timeoff_french_leave_day_counts_get ...'
      end
      # verify the required parameter 'include_deleted' is set
      if @api_client.config.client_side_validation && include_deleted.nil?
        fail ArgumentError, "Missing the required parameter 'include_deleted' when calling TimeoffFrenchLeaveDayCountApi.timeoff_french_leave_day_counts_get"
      end
      # resource path
      local_var_path = '/api/2026-10-01/resources/timeoff/french_leave_day_counts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_deleted'] = include_deleted
      query_params[:'leave_ids[]'] = @api_client.build_collection_param(opts[:'leave_ids'], :multi) if !opts[:'leave_ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffFrenchLeaveDayCountsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffFrenchLeaveDayCountApi.timeoff_french_leave_day_counts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffFrenchLeaveDayCountApi#timeoff_french_leave_day_counts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
