=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class TimeoffPolicyTimelineApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Policy timelines
    # Reads all Policy timelines
    # @param employee_id [String] 
    # @param reference_date [String] 
    # @param [Hash] opts the optional parameters
    # @return [TimeoffPolicyTimelinesGet200Response]
    def timeoff_policy_timelines_get(employee_id, reference_date, opts = {})
      data, _status_code, _headers = timeoff_policy_timelines_get_with_http_info(employee_id, reference_date, opts)
      data
    end

    # Reads all Policy timelines
    # Reads all Policy timelines
    # @param employee_id [String] 
    # @param reference_date [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeoffPolicyTimelinesGet200Response, Integer, Hash)>] TimeoffPolicyTimelinesGet200Response data, response status code and response headers
    def timeoff_policy_timelines_get_with_http_info(employee_id, reference_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffPolicyTimelineApi.timeoff_policy_timelines_get ...'
      end
      # verify the required parameter 'employee_id' is set
      if @api_client.config.client_side_validation && employee_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_id' when calling TimeoffPolicyTimelineApi.timeoff_policy_timelines_get"
      end
      # verify the required parameter 'reference_date' is set
      if @api_client.config.client_side_validation && reference_date.nil?
        fail ArgumentError, "Missing the required parameter 'reference_date' when calling TimeoffPolicyTimelineApi.timeoff_policy_timelines_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/policy_timelines'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'employee_id'] = employee_id
      query_params[:'reference_date'] = reference_date

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffPolicyTimelinesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffPolicyTimelineApi.timeoff_policy_timelines_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffPolicyTimelineApi#timeoff_policy_timelines_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
