=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class TimeoffLeaveApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve alls a Leave
    # Allows authorized users to approve employee time-off requests by directly approving the leave
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [TimeoffLeave]
    def timeoff_leaves_approve_all_post(opts = {})
      data, _status_code, _headers = timeoff_leaves_approve_all_post_with_http_info(opts)
      data
    end

    # Approve alls a Leave
    # Allows authorized users to approve employee time-off requests by directly approving the leave
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [Array<(TimeoffLeave, Integer, Hash)>] TimeoffLeave data, response status code and response headers
    def timeoff_leaves_approve_all_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveApi.timeoff_leaves_approve_all_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leaves/approve_all'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_evaluation_forms_save_as_template_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeave'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveApi.timeoff_leaves_approve_all_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveApi#timeoff_leaves_approve_all_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approves a Leave
    # Allows authorized users to approve employee time-off requests by approving the corresponding approval flow if it exists
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [TimeoffLeave]
    def timeoff_leaves_approve_post(opts = {})
      data, _status_code, _headers = timeoff_leaves_approve_post_with_http_info(opts)
      data
    end

    # Approves a Leave
    # Allows authorized users to approve employee time-off requests by approving the corresponding approval flow if it exists
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [Array<(TimeoffLeave, Integer, Hash)>] TimeoffLeave data, response status code and response headers
    def timeoff_leaves_approve_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveApi.timeoff_leaves_approve_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leaves/approve'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_evaluation_forms_save_as_template_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeave'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveApi.timeoff_leaves_approve_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveApi#timeoff_leaves_approve_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Leaves
    # Reads all Leaves
    # @param include_deleted_leaves [Boolean] Whether to include deleted leaves (not included by default if not specified)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The leave ids to retrieve
    # @option opts [Array<String>] :employee_ids The employee ids to retrieve
    # @option opts [Array<String>] :leave_type_id The leave type id to retrieve
    # @option opts [String] :to Valid date following the format YYYY-MM-DD
    # @option opts [String] :from Valid date following the format YYYY-MM-DD
    # @option opts [Boolean] :only_active Retrieve only active leaves
    # @option opts [Boolean] :approved Retrieve approved leaves
    # @option opts [Boolean] :include_pending Retrieve pending leaves
    # @option opts [Boolean] :include_leave_type Retrieve leave types
    # @option opts [Boolean] :include_duration Retrieve leave duration
    # @option opts [Boolean] :type_is_workable Retrieve workable leaves
    # @option opts [Boolean] :type_is_payable Retrieve payable leaves
    # @return [TimeoffLeavesGet200Response]
    def timeoff_leaves_get(include_deleted_leaves, opts = {})
      data, _status_code, _headers = timeoff_leaves_get_with_http_info(include_deleted_leaves, opts)
      data
    end

    # Reads all Leaves
    # Reads all Leaves
    # @param include_deleted_leaves [Boolean] Whether to include deleted leaves (not included by default if not specified)
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids The leave ids to retrieve
    # @option opts [Array<String>] :employee_ids The employee ids to retrieve
    # @option opts [Array<String>] :leave_type_id The leave type id to retrieve
    # @option opts [String] :to Valid date following the format YYYY-MM-DD
    # @option opts [String] :from Valid date following the format YYYY-MM-DD
    # @option opts [Boolean] :only_active Retrieve only active leaves
    # @option opts [Boolean] :approved Retrieve approved leaves
    # @option opts [Boolean] :include_pending Retrieve pending leaves
    # @option opts [Boolean] :include_leave_type Retrieve leave types
    # @option opts [Boolean] :include_duration Retrieve leave duration
    # @option opts [Boolean] :type_is_workable Retrieve workable leaves
    # @option opts [Boolean] :type_is_payable Retrieve payable leaves
    # @return [Array<(TimeoffLeavesGet200Response, Integer, Hash)>] TimeoffLeavesGet200Response data, response status code and response headers
    def timeoff_leaves_get_with_http_info(include_deleted_leaves, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveApi.timeoff_leaves_get ...'
      end
      # verify the required parameter 'include_deleted_leaves' is set
      if @api_client.config.client_side_validation && include_deleted_leaves.nil?
        fail ArgumentError, "Missing the required parameter 'include_deleted_leaves' when calling TimeoffLeaveApi.timeoff_leaves_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leaves'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_deleted_leaves'] = include_deleted_leaves
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'employee_ids[]'] = @api_client.build_collection_param(opts[:'employee_ids'], :multi) if !opts[:'employee_ids'].nil?
      query_params[:'leave_type_id[]'] = @api_client.build_collection_param(opts[:'leave_type_id'], :multi) if !opts[:'leave_type_id'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'only_active'] = opts[:'only_active'] if !opts[:'only_active'].nil?
      query_params[:'approved'] = opts[:'approved'] if !opts[:'approved'].nil?
      query_params[:'include_pending'] = opts[:'include_pending'] if !opts[:'include_pending'].nil?
      query_params[:'include_leave_type'] = opts[:'include_leave_type'] if !opts[:'include_leave_type'].nil?
      query_params[:'include_duration'] = opts[:'include_duration'] if !opts[:'include_duration'].nil?
      query_params[:'type_is_workable'] = opts[:'type_is_workable'] if !opts[:'type_is_workable'].nil?
      query_params[:'type_is_payable'] = opts[:'type_is_payable'] if !opts[:'type_is_payable'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeavesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveApi.timeoff_leaves_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveApi#timeoff_leaves_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Leave
    # Deletes a Leave
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TimeoffLeave]
    def timeoff_leaves_id_delete(id, opts = {})
      data, _status_code, _headers = timeoff_leaves_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Leave
    # Deletes a Leave
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeoffLeave, Integer, Hash)>] TimeoffLeave data, response status code and response headers
    def timeoff_leaves_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveApi.timeoff_leaves_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffLeaveApi.timeoff_leaves_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leaves/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeave'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveApi.timeoff_leaves_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveApi#timeoff_leaves_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Leave
    # Reads a single Leave
    # @param id [String] The leave ids to retrieve
    # @param [Hash] opts the optional parameters
    # @return [TimeoffLeave]
    def timeoff_leaves_id_get(id, opts = {})
      data, _status_code, _headers = timeoff_leaves_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Leave
    # Reads a single Leave
    # @param id [String] The leave ids to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeoffLeave, Integer, Hash)>] TimeoffLeave data, response status code and response headers
    def timeoff_leaves_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveApi.timeoff_leaves_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffLeaveApi.timeoff_leaves_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leaves/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeave'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveApi.timeoff_leaves_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveApi#timeoff_leaves_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Leave
    # Updates a Leave
    # @param id [String] The leave id
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffLeavesIdPutRequest] :timeoff_leaves_id_put_request 
    # @return [TimeoffLeave]
    def timeoff_leaves_id_put(id, opts = {})
      data, _status_code, _headers = timeoff_leaves_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Leave
    # Updates a Leave
    # @param id [String] The leave id
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffLeavesIdPutRequest] :timeoff_leaves_id_put_request 
    # @return [Array<(TimeoffLeave, Integer, Hash)>] TimeoffLeave data, response status code and response headers
    def timeoff_leaves_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveApi.timeoff_leaves_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffLeaveApi.timeoff_leaves_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leaves/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timeoff_leaves_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeave'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveApi.timeoff_leaves_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveApi#timeoff_leaves_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Leave
    # Creates a Leave
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffLeavesPostRequest] :timeoff_leaves_post_request 
    # @return [TimeoffLeave]
    def timeoff_leaves_post(opts = {})
      data, _status_code, _headers = timeoff_leaves_post_with_http_info(opts)
      data
    end

    # Creates a Leave
    # Creates a Leave
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffLeavesPostRequest] :timeoff_leaves_post_request 
    # @return [Array<(TimeoffLeave, Integer, Hash)>] TimeoffLeave data, response status code and response headers
    def timeoff_leaves_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveApi.timeoff_leaves_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leaves'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timeoff_leaves_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeave'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveApi.timeoff_leaves_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveApi#timeoff_leaves_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rejects a Leave
    # Allows authorized users to reject employee time-off requests
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffLeavesRejectPostRequest] :timeoff_leaves_reject_post_request 
    # @return [TimeoffLeave]
    def timeoff_leaves_reject_post(opts = {})
      data, _status_code, _headers = timeoff_leaves_reject_post_with_http_info(opts)
      data
    end

    # Rejects a Leave
    # Allows authorized users to reject employee time-off requests
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffLeavesRejectPostRequest] :timeoff_leaves_reject_post_request 
    # @return [Array<(TimeoffLeave, Integer, Hash)>] TimeoffLeave data, response status code and response headers
    def timeoff_leaves_reject_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffLeaveApi.timeoff_leaves_reject_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/leaves/reject'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timeoff_leaves_reject_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffLeave'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffLeaveApi.timeoff_leaves_reject_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffLeaveApi#timeoff_leaves_reject_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
