=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class TimeoffAllowanceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete with alt allowances an Allowance
    # Deletes an allowance and migrate the existing incidences in the alternative allowance
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffAllowancesDeleteWithAltAllowancePostRequest] :timeoff_allowances_delete_with_alt_allowance_post_request 
    # @return [TimeoffAllowance]
    def timeoff_allowances_delete_with_alt_allowance_post(opts = {})
      data, _status_code, _headers = timeoff_allowances_delete_with_alt_allowance_post_with_http_info(opts)
      data
    end

    # Delete with alt allowances an Allowance
    # Deletes an allowance and migrate the existing incidences in the alternative allowance
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffAllowancesDeleteWithAltAllowancePostRequest] :timeoff_allowances_delete_with_alt_allowance_post_request 
    # @return [Array<(TimeoffAllowance, Integer, Hash)>] TimeoffAllowance data, response status code and response headers
    def timeoff_allowances_delete_with_alt_allowance_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffAllowanceApi.timeoff_allowances_delete_with_alt_allowance_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/allowances/delete_with_alt_allowance'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timeoff_allowances_delete_with_alt_allowance_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffAllowance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffAllowanceApi.timeoff_allowances_delete_with_alt_allowance_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffAllowanceApi#timeoff_allowances_delete_with_alt_allowance_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Allowances
    # Retrieves allowances
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of allowance ids to look for
    # @option opts [String] :timeoff_policy_id Filter allowances by Time off policy id
    # @option opts [Boolean] :by_overtime Filter by only overtime allowances
    # @return [TimeoffAllowancesGet200Response]
    def timeoff_allowances_get(opts = {})
      data, _status_code, _headers = timeoff_allowances_get_with_http_info(opts)
      data
    end

    # Reads all Allowances
    # Retrieves allowances
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids An array of allowance ids to look for
    # @option opts [String] :timeoff_policy_id Filter allowances by Time off policy id
    # @option opts [Boolean] :by_overtime Filter by only overtime allowances
    # @return [Array<(TimeoffAllowancesGet200Response, Integer, Hash)>] TimeoffAllowancesGet200Response data, response status code and response headers
    def timeoff_allowances_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffAllowanceApi.timeoff_allowances_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/allowances'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'timeoff_policy_id'] = opts[:'timeoff_policy_id'] if !opts[:'timeoff_policy_id'].nil?
      query_params[:'by_overtime'] = opts[:'by_overtime'] if !opts[:'by_overtime'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffAllowancesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffAllowanceApi.timeoff_allowances_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffAllowanceApi#timeoff_allowances_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an Allowance
    # Deletes an allowance
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TimeoffAllowance]
    def timeoff_allowances_id_delete(id, opts = {})
      data, _status_code, _headers = timeoff_allowances_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes an Allowance
    # Deletes an allowance
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeoffAllowance, Integer, Hash)>] TimeoffAllowance data, response status code and response headers
    def timeoff_allowances_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffAllowanceApi.timeoff_allowances_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffAllowanceApi.timeoff_allowances_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/allowances/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffAllowance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffAllowanceApi.timeoff_allowances_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffAllowanceApi#timeoff_allowances_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Allowance
    # Retrieves allowances
    # @param id [String] An array of allowance ids to look for
    # @param [Hash] opts the optional parameters
    # @return [TimeoffAllowance]
    def timeoff_allowances_id_get(id, opts = {})
      data, _status_code, _headers = timeoff_allowances_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Allowance
    # Retrieves allowances
    # @param id [String] An array of allowance ids to look for
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimeoffAllowance, Integer, Hash)>] TimeoffAllowance data, response status code and response headers
    def timeoff_allowances_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffAllowanceApi.timeoff_allowances_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffAllowanceApi.timeoff_allowances_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/allowances/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffAllowance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffAllowanceApi.timeoff_allowances_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffAllowanceApi#timeoff_allowances_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Allowance
    # Updates an existing Time Off Allowance
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffAllowancesIdPutRequest] :timeoff_allowances_id_put_request 
    # @return [TimeoffAllowance]
    def timeoff_allowances_id_put(id, opts = {})
      data, _status_code, _headers = timeoff_allowances_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Allowance
    # Updates an existing Time Off Allowance
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffAllowancesIdPutRequest] :timeoff_allowances_id_put_request 
    # @return [Array<(TimeoffAllowance, Integer, Hash)>] TimeoffAllowance data, response status code and response headers
    def timeoff_allowances_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffAllowanceApi.timeoff_allowances_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimeoffAllowanceApi.timeoff_allowances_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/allowances/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timeoff_allowances_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffAllowance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffAllowanceApi.timeoff_allowances_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffAllowanceApi#timeoff_allowances_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an Allowance
    # Creates a new Time off allowance
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffAllowancesPostRequest] :timeoff_allowances_post_request 
    # @return [TimeoffAllowance]
    def timeoff_allowances_post(opts = {})
      data, _status_code, _headers = timeoff_allowances_post_with_http_info(opts)
      data
    end

    # Creates an Allowance
    # Creates a new Time off allowance
    # @param [Hash] opts the optional parameters
    # @option opts [TimeoffAllowancesPostRequest] :timeoff_allowances_post_request 
    # @return [Array<(TimeoffAllowance, Integer, Hash)>] TimeoffAllowance data, response status code and response headers
    def timeoff_allowances_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeoffAllowanceApi.timeoff_allowances_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/timeoff/allowances'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timeoff_allowances_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimeoffAllowance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TimeoffAllowanceApi.timeoff_allowances_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeoffAllowanceApi#timeoff_allowances_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
