=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class TrainingsTrainingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk deletes a Training
    # Bulk deletes a Training
    # @param [Hash] opts the optional parameters
    # @option opts [ExpensesExpensablesBulkSetToPaidPostRequest] :expenses_expensables_bulk_set_to_paid_post_request 
    # @return [Array<TrainingsTraining>]
    def trainings_trainings_bulk_delete_post(opts = {})
      data, _status_code, _headers = trainings_trainings_bulk_delete_post_with_http_info(opts)
      data
    end

    # Bulk deletes a Training
    # Bulk deletes a Training
    # @param [Hash] opts the optional parameters
    # @option opts [ExpensesExpensablesBulkSetToPaidPostRequest] :expenses_expensables_bulk_set_to_paid_post_request 
    # @return [Array<(Array<TrainingsTraining>, Integer, Hash)>] Array<TrainingsTraining> data, response status code and response headers
    def trainings_trainings_bulk_delete_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingApi.trainings_trainings_bulk_delete_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/trainings/bulk_delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'expenses_expensables_bulk_set_to_paid_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TrainingsTraining>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingApi.trainings_trainings_bulk_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingApi#trainings_trainings_bulk_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk update catalogs a Training
    # Bulk update catalogs a Training
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingsBulkUpdateCatalogPostRequest] :trainings_trainings_bulk_update_catalog_post_request 
    # @return [Array<TrainingsTraining>]
    def trainings_trainings_bulk_update_catalog_post(opts = {})
      data, _status_code, _headers = trainings_trainings_bulk_update_catalog_post_with_http_info(opts)
      data
    end

    # Bulk update catalogs a Training
    # Bulk update catalogs a Training
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingsBulkUpdateCatalogPostRequest] :trainings_trainings_bulk_update_catalog_post_request 
    # @return [Array<(Array<TrainingsTraining>, Integer, Hash)>] Array<TrainingsTraining> data, response status code and response headers
    def trainings_trainings_bulk_update_catalog_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingApi.trainings_trainings_bulk_update_catalog_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/trainings/bulk_update_catalog'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_trainings_bulk_update_catalog_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TrainingsTraining>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingApi.trainings_trainings_bulk_update_catalog_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingApi#trainings_trainings_bulk_update_catalog_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Trainings
    # Reads all Trainings
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id This field is used to get a specific training.
    # @option opts [Array<String>] :ids This field is used to filter those trainings whose id match with the given.
    # @option opts [String] :access_id @deprecated
    # @option opts [String] :search This field is used to search in the training name, training description or training category.
    # @option opts [String] :status This field is used to filter those trainings whose status is the same as the one we pass.
    # @option opts [Boolean] :catalog This field is used to filter those trainings whose are visible in the catalog.
    # @option opts [Boolean] :only_assigned This field is used to filter those trainings whose attendance status is different from not assigned.
    # @option opts [Boolean] :with_expired_memberships This field is used to filter those trainings whose members have the course expired (if &#39;true&#39;) or not (if &#39;false&#39;).
    # @option opts [Boolean] :return_expired_memberships Fills the information of the field &#39;number_of_expired_participants&#39; if &#39;true&#39;
    # @option opts [Boolean] :is_mandatory This field is used to filter by mandatory or non-mandatory trainings if provided
    # @option opts [Boolean] :with_current_training_classes This field is used to filter those trainings whose have current training classes if &#39;true&#39;
    # @return [TrainingsTrainingsGet200Response]
    def trainings_trainings_get(opts = {})
      data, _status_code, _headers = trainings_trainings_get_with_http_info(opts)
      data
    end

    # Reads all Trainings
    # Reads all Trainings
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id This field is used to get a specific training.
    # @option opts [Array<String>] :ids This field is used to filter those trainings whose id match with the given.
    # @option opts [String] :access_id @deprecated
    # @option opts [String] :search This field is used to search in the training name, training description or training category.
    # @option opts [String] :status This field is used to filter those trainings whose status is the same as the one we pass.
    # @option opts [Boolean] :catalog This field is used to filter those trainings whose are visible in the catalog.
    # @option opts [Boolean] :only_assigned This field is used to filter those trainings whose attendance status is different from not assigned.
    # @option opts [Boolean] :with_expired_memberships This field is used to filter those trainings whose members have the course expired (if &#39;true&#39;) or not (if &#39;false&#39;).
    # @option opts [Boolean] :return_expired_memberships Fills the information of the field &#39;number_of_expired_participants&#39; if &#39;true&#39;
    # @option opts [Boolean] :is_mandatory This field is used to filter by mandatory or non-mandatory trainings if provided
    # @option opts [Boolean] :with_current_training_classes This field is used to filter those trainings whose have current training classes if &#39;true&#39;
    # @return [Array<(TrainingsTrainingsGet200Response, Integer, Hash)>] TrainingsTrainingsGet200Response data, response status code and response headers
    def trainings_trainings_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingApi.trainings_trainings_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/trainings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'access_id'] = opts[:'access_id'] if !opts[:'access_id'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'catalog'] = opts[:'catalog'] if !opts[:'catalog'].nil?
      query_params[:'only_assigned'] = opts[:'only_assigned'] if !opts[:'only_assigned'].nil?
      query_params[:'with_expired_memberships'] = opts[:'with_expired_memberships'] if !opts[:'with_expired_memberships'].nil?
      query_params[:'return_expired_memberships'] = opts[:'return_expired_memberships'] if !opts[:'return_expired_memberships'].nil?
      query_params[:'is_mandatory'] = opts[:'is_mandatory'] if !opts[:'is_mandatory'].nil?
      query_params[:'with_current_training_classes'] = opts[:'with_current_training_classes'] if !opts[:'with_current_training_classes'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTrainingsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingApi.trainings_trainings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingApi#trainings_trainings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Training
    # Deletes a Training
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TrainingsTraining]
    def trainings_trainings_id_delete(id, opts = {})
      data, _status_code, _headers = trainings_trainings_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Training
    # Deletes a Training
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingsTraining, Integer, Hash)>] TrainingsTraining data, response status code and response headers
    def trainings_trainings_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingApi.trainings_trainings_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsTrainingApi.trainings_trainings_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/trainings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTraining'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingApi.trainings_trainings_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingApi#trainings_trainings_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Training
    # Reads a single Training
    # @param id [String] This field is used to get a specific training.
    # @param [Hash] opts the optional parameters
    # @return [TrainingsTraining]
    def trainings_trainings_id_get(id, opts = {})
      data, _status_code, _headers = trainings_trainings_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Training
    # Reads a single Training
    # @param id [String] This field is used to get a specific training.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingsTraining, Integer, Hash)>] TrainingsTraining data, response status code and response headers
    def trainings_trainings_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingApi.trainings_trainings_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsTrainingApi.trainings_trainings_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/trainings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTraining'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingApi.trainings_trainings_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingApi#trainings_trainings_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Training
    # Updates a Training
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingsIdPutRequest] :trainings_trainings_id_put_request 
    # @return [TrainingsTraining]
    def trainings_trainings_id_put(id, opts = {})
      data, _status_code, _headers = trainings_trainings_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Training
    # Updates a Training
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingsIdPutRequest] :trainings_trainings_id_put_request 
    # @return [Array<(TrainingsTraining, Integer, Hash)>] TrainingsTraining data, response status code and response headers
    def trainings_trainings_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingApi.trainings_trainings_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsTrainingApi.trainings_trainings_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/trainings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_trainings_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTraining'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingApi.trainings_trainings_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingApi#trainings_trainings_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Training
    # Creates a Training
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingsPostRequest] :trainings_trainings_post_request 
    # @return [TrainingsTraining]
    def trainings_trainings_post(opts = {})
      data, _status_code, _headers = trainings_trainings_post_with_http_info(opts)
      data
    end

    # Creates a Training
    # Creates a Training
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingsPostRequest] :trainings_trainings_post_request 
    # @return [Array<(TrainingsTraining, Integer, Hash)>] TrainingsTraining data, response status code and response headers
    def trainings_trainings_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingApi.trainings_trainings_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/trainings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_trainings_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTraining'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingApi.trainings_trainings_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingApi#trainings_trainings_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update statuses a Training
    # Update statuses a Training
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingsUpdateStatusPostRequest] :trainings_trainings_update_status_post_request 
    # @return [TrainingsTraining]
    def trainings_trainings_update_status_post(opts = {})
      data, _status_code, _headers = trainings_trainings_update_status_post_with_http_info(opts)
      data
    end

    # Update statuses a Training
    # Update statuses a Training
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingsUpdateStatusPostRequest] :trainings_trainings_update_status_post_request 
    # @return [Array<(TrainingsTraining, Integer, Hash)>] TrainingsTraining data, response status code and response headers
    def trainings_trainings_update_status_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingApi.trainings_trainings_update_status_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/trainings/update_status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_trainings_update_status_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTraining'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingApi.trainings_trainings_update_status_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingApi#trainings_trainings_update_status_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
