=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class TrainingsSessionAccessMembershipApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk creates a Session access membership
    # Bulk creates a Session access membership
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsSessionAccessMembershipsBulkCreatePostRequest] :trainings_session_access_memberships_bulk_create_post_request 
    # @return [Array<TrainingsSessionAccessMembership>]
    def trainings_session_access_memberships_bulk_create_post(opts = {})
      data, _status_code, _headers = trainings_session_access_memberships_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Session access membership
    # Bulk creates a Session access membership
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsSessionAccessMembershipsBulkCreatePostRequest] :trainings_session_access_memberships_bulk_create_post_request 
    # @return [Array<(Array<TrainingsSessionAccessMembership>, Integer, Hash)>] Array<TrainingsSessionAccessMembership> data, response status code and response headers
    def trainings_session_access_memberships_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionAccessMembershipApi.trainings_session_access_memberships_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/session_access_memberships/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_session_access_memberships_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TrainingsSessionAccessMembership>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionAccessMembershipApi.trainings_session_access_memberships_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionAccessMembershipApi#trainings_session_access_memberships_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk destroys a Session access membership
    # Bulk destroys a Session access membership
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsSessionAccessMembershipsBulkDestroyPostRequest] :trainings_session_access_memberships_bulk_destroy_post_request 
    # @return [Array<TrainingsSessionAccessMembership>]
    def trainings_session_access_memberships_bulk_destroy_post(opts = {})
      data, _status_code, _headers = trainings_session_access_memberships_bulk_destroy_post_with_http_info(opts)
      data
    end

    # Bulk destroys a Session access membership
    # Bulk destroys a Session access membership
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsSessionAccessMembershipsBulkDestroyPostRequest] :trainings_session_access_memberships_bulk_destroy_post_request 
    # @return [Array<(Array<TrainingsSessionAccessMembership>, Integer, Hash)>] Array<TrainingsSessionAccessMembership> data, response status code and response headers
    def trainings_session_access_memberships_bulk_destroy_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionAccessMembershipApi.trainings_session_access_memberships_bulk_destroy_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/session_access_memberships/bulk_destroy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_session_access_memberships_bulk_destroy_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TrainingsSessionAccessMembership>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionAccessMembershipApi.trainings_session_access_memberships_bulk_destroy_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionAccessMembershipApi#trainings_session_access_memberships_bulk_destroy_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Session access memberships
    # Reads all Session access memberships
    # @param session_id [String] Filter memberships by session ID
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter memberships by specific IDs
    # @option opts [String] :search Filter memberships by user name
    # @option opts [Array<String>] :team_ids ID of the team associated with this membership
    # @option opts [Array<String>] :status Current status of the session attendance
    # @return [TrainingsSessionAccessMembershipsGet200Response]
    def trainings_session_access_memberships_get(session_id, opts = {})
      data, _status_code, _headers = trainings_session_access_memberships_get_with_http_info(session_id, opts)
      data
    end

    # Reads all Session access memberships
    # Reads all Session access memberships
    # @param session_id [String] Filter memberships by session ID
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter memberships by specific IDs
    # @option opts [String] :search Filter memberships by user name
    # @option opts [Array<String>] :team_ids ID of the team associated with this membership
    # @option opts [Array<String>] :status Current status of the session attendance
    # @return [Array<(TrainingsSessionAccessMembershipsGet200Response, Integer, Hash)>] TrainingsSessionAccessMembershipsGet200Response data, response status code and response headers
    def trainings_session_access_memberships_get_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionAccessMembershipApi.trainings_session_access_memberships_get ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling TrainingsSessionAccessMembershipApi.trainings_session_access_memberships_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/session_access_memberships'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'session_id'] = session_id
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'team_ids[]'] = @api_client.build_collection_param(opts[:'team_ids'], :multi) if !opts[:'team_ids'].nil?
      query_params[:'status[]'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsSessionAccessMembershipsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionAccessMembershipApi.trainings_session_access_memberships_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionAccessMembershipApi#trainings_session_access_memberships_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Session access membership
    # Reads a single Session access membership
    # @param id [String] Filter memberships by specific IDs
    # @param [Hash] opts the optional parameters
    # @return [TrainingsSessionAccessMembership]
    def trainings_session_access_memberships_id_get(id, opts = {})
      data, _status_code, _headers = trainings_session_access_memberships_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Session access membership
    # Reads a single Session access membership
    # @param id [String] Filter memberships by specific IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingsSessionAccessMembership, Integer, Hash)>] TrainingsSessionAccessMembership data, response status code and response headers
    def trainings_session_access_memberships_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionAccessMembershipApi.trainings_session_access_memberships_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsSessionAccessMembershipApi.trainings_session_access_memberships_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/session_access_memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsSessionAccessMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionAccessMembershipApi.trainings_session_access_memberships_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionAccessMembershipApi#trainings_session_access_memberships_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
