=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class TrainingsSessionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Sessions
    # Reads all Sessions
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids This field is used to filter those sessions whose id match with the given.
    # @option opts [Array<String>] :training_ids This field is used to filter those sessions whose belong to these trainings.
    # @option opts [String] :search This field is used to filter those sessions whose name include some of the text written.
    # @option opts [String] :start_after This field is used to filter those sessions whose starts date is after the given.
    # @option opts [String] :start_before This field is used to filter those sessions whose starts date is before the given.
    # @option opts [String] :access_id access_id associated to the employee, refers to employees/employees endpoint.
    # @option opts [String] :employee_id employee_id associated to the employee, refers to employees/employees endpoint.
    # @option opts [Array<String>] :training_class_ids This field is used to filter those sessions whose belong to this training groups.
    # @option opts [Boolean] :_next When this field is active, it filters and orders those sessions that are closest in time, with the first element being the closest.
    # @option opts [String] :modality The mode the session will be handled, online, in person or hybrid.
    # @option opts [Array<String>] :starts_at This field is used to filter the sessions that start at a given date.
    # @option opts [Boolean] :active When this field is active, filter by only active sessions
    # @return [TrainingsSessionsGet200Response]
    def trainings_sessions_get(opts = {})
      data, _status_code, _headers = trainings_sessions_get_with_http_info(opts)
      data
    end

    # Reads all Sessions
    # Reads all Sessions
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids This field is used to filter those sessions whose id match with the given.
    # @option opts [Array<String>] :training_ids This field is used to filter those sessions whose belong to these trainings.
    # @option opts [String] :search This field is used to filter those sessions whose name include some of the text written.
    # @option opts [String] :start_after This field is used to filter those sessions whose starts date is after the given.
    # @option opts [String] :start_before This field is used to filter those sessions whose starts date is before the given.
    # @option opts [String] :access_id access_id associated to the employee, refers to employees/employees endpoint.
    # @option opts [String] :employee_id employee_id associated to the employee, refers to employees/employees endpoint.
    # @option opts [Array<String>] :training_class_ids This field is used to filter those sessions whose belong to this training groups.
    # @option opts [Boolean] :_next When this field is active, it filters and orders those sessions that are closest in time, with the first element being the closest.
    # @option opts [String] :modality The mode the session will be handled, online, in person or hybrid.
    # @option opts [Array<String>] :starts_at This field is used to filter the sessions that start at a given date.
    # @option opts [Boolean] :active When this field is active, filter by only active sessions
    # @return [Array<(TrainingsSessionsGet200Response, Integer, Hash)>] TrainingsSessionsGet200Response data, response status code and response headers
    def trainings_sessions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionApi.trainings_sessions_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/sessions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'training_ids[]'] = @api_client.build_collection_param(opts[:'training_ids'], :multi) if !opts[:'training_ids'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'start_after'] = opts[:'start_after'] if !opts[:'start_after'].nil?
      query_params[:'start_before'] = opts[:'start_before'] if !opts[:'start_before'].nil?
      query_params[:'access_id'] = opts[:'access_id'] if !opts[:'access_id'].nil?
      query_params[:'employee_id'] = opts[:'employee_id'] if !opts[:'employee_id'].nil?
      query_params[:'training_class_ids[]'] = @api_client.build_collection_param(opts[:'training_class_ids'], :multi) if !opts[:'training_class_ids'].nil?
      query_params[:'next'] = opts[:'_next'] if !opts[:'_next'].nil?
      query_params[:'modality'] = opts[:'modality'] if !opts[:'modality'].nil?
      query_params[:'starts_at[]'] = @api_client.build_collection_param(opts[:'starts_at'], :multi) if !opts[:'starts_at'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsSessionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionApi.trainings_sessions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionApi#trainings_sessions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Session
    # Deletes a Session
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TrainingsSession]
    def trainings_sessions_id_delete(id, opts = {})
      data, _status_code, _headers = trainings_sessions_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Session
    # Deletes a Session
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingsSession, Integer, Hash)>] TrainingsSession data, response status code and response headers
    def trainings_sessions_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionApi.trainings_sessions_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsSessionApi.trainings_sessions_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/sessions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionApi.trainings_sessions_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionApi#trainings_sessions_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Session
    # Reads a single Session
    # @param id [String] This field is used to filter those sessions whose id match with the given.
    # @param [Hash] opts the optional parameters
    # @return [TrainingsSession]
    def trainings_sessions_id_get(id, opts = {})
      data, _status_code, _headers = trainings_sessions_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Session
    # Reads a single Session
    # @param id [String] This field is used to filter those sessions whose id match with the given.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingsSession, Integer, Hash)>] TrainingsSession data, response status code and response headers
    def trainings_sessions_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionApi.trainings_sessions_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsSessionApi.trainings_sessions_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/sessions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionApi.trainings_sessions_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionApi#trainings_sessions_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update training session
    # Update fields from a training session
    # @param id [String] The session id you want to update
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsSessionsIdPutRequest] :trainings_sessions_id_put_request 
    # @return [TrainingsSession]
    def trainings_sessions_id_put(id, opts = {})
      data, _status_code, _headers = trainings_sessions_id_put_with_http_info(id, opts)
      data
    end

    # Update training session
    # Update fields from a training session
    # @param id [String] The session id you want to update
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsSessionsIdPutRequest] :trainings_sessions_id_put_request 
    # @return [Array<(TrainingsSession, Integer, Hash)>] TrainingsSession data, response status code and response headers
    def trainings_sessions_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionApi.trainings_sessions_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsSessionApi.trainings_sessions_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/sessions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_sessions_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionApi.trainings_sessions_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionApi#trainings_sessions_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new training session
    # Create a new training session, do not forget to make it child from a training class if you want it to be displayed in the frontend application.
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsSessionsPostRequest] :trainings_sessions_post_request 
    # @return [TrainingsSession]
    def trainings_sessions_post(opts = {})
      data, _status_code, _headers = trainings_sessions_post_with_http_info(opts)
      data
    end

    # Create a new training session
    # Create a new training session, do not forget to make it child from a training class if you want it to be displayed in the frontend application.
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsSessionsPostRequest] :trainings_sessions_post_request 
    # @return [Array<(TrainingsSession, Integer, Hash)>] TrainingsSession data, response status code and response headers
    def trainings_sessions_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionApi.trainings_sessions_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_sessions_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionApi.trainings_sessions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionApi#trainings_sessions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
