=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class TrainingsTrainingClassApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Training classes
    # Reads all Training classes
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter those training classes whose id match with the given.
    # @option opts [String] :id Get a specific training class.
    # @option opts [String] :training_id Get training classes for the specified training.
    # @option opts [String] :search This field is used to search in the training class name.
    # @option opts [Array<String>] :start_date Field those classes that start on the given date.
    # @option opts [Array<String>] :end_date Filter those classes that end on the given date.
    # @return [TrainingsTrainingClassesGet200Response]
    def trainings_training_classes_get(opts = {})
      data, _status_code, _headers = trainings_training_classes_get_with_http_info(opts)
      data
    end

    # Reads all Training classes
    # Reads all Training classes
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids Filter those training classes whose id match with the given.
    # @option opts [String] :id Get a specific training class.
    # @option opts [String] :training_id Get training classes for the specified training.
    # @option opts [String] :search This field is used to search in the training class name.
    # @option opts [Array<String>] :start_date Field those classes that start on the given date.
    # @option opts [Array<String>] :end_date Filter those classes that end on the given date.
    # @return [Array<(TrainingsTrainingClassesGet200Response, Integer, Hash)>] TrainingsTrainingClassesGet200Response data, response status code and response headers
    def trainings_training_classes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingClassApi.trainings_training_classes_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/training_classes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'training_id'] = opts[:'training_id'] if !opts[:'training_id'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'start_date[]'] = @api_client.build_collection_param(opts[:'start_date'], :multi) if !opts[:'start_date'].nil?
      query_params[:'end_date[]'] = @api_client.build_collection_param(opts[:'end_date'], :multi) if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTrainingClassesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingClassApi.trainings_training_classes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingClassApi#trainings_training_classes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a Training class
    # Deletes a Training class
    # @param id [String] Identifier of the training class to delete
    # @param [Hash] opts the optional parameters
    # @return [TrainingsTrainingClass]
    def trainings_training_classes_id_delete(id, opts = {})
      data, _status_code, _headers = trainings_training_classes_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes a Training class
    # Deletes a Training class
    # @param id [String] Identifier of the training class to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingsTrainingClass, Integer, Hash)>] TrainingsTrainingClass data, response status code and response headers
    def trainings_training_classes_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingClassApi.trainings_training_classes_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsTrainingClassApi.trainings_training_classes_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/training_classes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTrainingClass'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingClassApi.trainings_training_classes_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingClassApi#trainings_training_classes_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Training class
    # Reads a single Training class
    # @param id [String] Filter those training classes whose id match with the given.
    # @param [Hash] opts the optional parameters
    # @return [TrainingsTrainingClass]
    def trainings_training_classes_id_get(id, opts = {})
      data, _status_code, _headers = trainings_training_classes_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Training class
    # Reads a single Training class
    # @param id [String] Filter those training classes whose id match with the given.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingsTrainingClass, Integer, Hash)>] TrainingsTrainingClass data, response status code and response headers
    def trainings_training_classes_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingClassApi.trainings_training_classes_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsTrainingClassApi.trainings_training_classes_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/training_classes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTrainingClass'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingClassApi.trainings_training_classes_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingClassApi#trainings_training_classes_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Training class
    # Updates a Training class
    # @param id [String] Identifier of the training class to update
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingClassesIdPutRequest] :trainings_training_classes_id_put_request 
    # @return [TrainingsTrainingClass]
    def trainings_training_classes_id_put(id, opts = {})
      data, _status_code, _headers = trainings_training_classes_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Training class
    # Updates a Training class
    # @param id [String] Identifier of the training class to update
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingClassesIdPutRequest] :trainings_training_classes_id_put_request 
    # @return [Array<(TrainingsTrainingClass, Integer, Hash)>] TrainingsTrainingClass data, response status code and response headers
    def trainings_training_classes_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingClassApi.trainings_training_classes_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsTrainingClassApi.trainings_training_classes_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/training_classes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_training_classes_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTrainingClass'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingClassApi.trainings_training_classes_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingClassApi#trainings_training_classes_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Training class
    # Creates a Training class
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingClassesPostRequest] :trainings_training_classes_post_request 
    # @return [TrainingsTrainingClass]
    def trainings_training_classes_post(opts = {})
      data, _status_code, _headers = trainings_training_classes_post_with_http_info(opts)
      data
    end

    # Creates a Training class
    # Creates a Training class
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingClassesPostRequest] :trainings_training_classes_post_request 
    # @return [Array<(TrainingsTrainingClass, Integer, Hash)>] TrainingsTrainingClass data, response status code and response headers
    def trainings_training_classes_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingClassApi.trainings_training_classes_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/training_classes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_training_classes_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTrainingClass'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingClassApi.trainings_training_classes_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingClassApi#trainings_training_classes_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
