=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F::Api
  class TrainingsTrainingMembershipApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk creates a Training membership
    # Creates training memberships in bulk
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingMembershipsBulkCreatePostRequest] :trainings_training_memberships_bulk_create_post_request 
    # @return [Array<TrainingsTrainingMembership>]
    def trainings_training_memberships_bulk_create_post(opts = {})
      data, _status_code, _headers = trainings_training_memberships_bulk_create_post_with_http_info(opts)
      data
    end

    # Bulk creates a Training membership
    # Creates training memberships in bulk
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingMembershipsBulkCreatePostRequest] :trainings_training_memberships_bulk_create_post_request 
    # @return [Array<(Array<TrainingsTrainingMembership>, Integer, Hash)>] Array<TrainingsTrainingMembership> data, response status code and response headers
    def trainings_training_memberships_bulk_create_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingMembershipApi.trainings_training_memberships_bulk_create_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/training_memberships/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_training_memberships_bulk_create_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TrainingsTrainingMembership>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingMembershipApi.trainings_training_memberships_bulk_create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingMembershipApi#trainings_training_memberships_bulk_create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk destroys a Training membership
    # Deletes training memberships in bulk
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingMembershipsBulkDestroyPostRequest] :trainings_training_memberships_bulk_destroy_post_request 
    # @return [Array<TrainingsTrainingMembership>]
    def trainings_training_memberships_bulk_destroy_post(opts = {})
      data, _status_code, _headers = trainings_training_memberships_bulk_destroy_post_with_http_info(opts)
      data
    end

    # Bulk destroys a Training membership
    # Deletes training memberships in bulk
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingMembershipsBulkDestroyPostRequest] :trainings_training_memberships_bulk_destroy_post_request 
    # @return [Array<(Array<TrainingsTrainingMembership>, Integer, Hash)>] Array<TrainingsTrainingMembership> data, response status code and response headers
    def trainings_training_memberships_bulk_destroy_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingMembershipApi.trainings_training_memberships_bulk_destroy_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/training_memberships/bulk_destroy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_training_memberships_bulk_destroy_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TrainingsTrainingMembership>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingMembershipApi.trainings_training_memberships_bulk_destroy_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingMembershipApi#trainings_training_memberships_bulk_destroy_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Training memberships
    # Reads all Training memberships
    # @param due_date [String] This field is used to filter training memberships by due date. Values can be &#39;overdue&#39;, &#39;no_due_date&#39;, or a number of days (e.g., &#39;7&#39;, &#39;30&#39;, &#39;90&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :training_id This field is used to filter those trainings memberships that belongs to this training.
    # @option opts [Array<String>] :ids This field is used to filter those trainings memberships whose id match with the given.
    # @option opts [String] :search This field is used to filter those trainings memberships whose employee name include some of the text written.
    # @option opts [String] :team_id This field is used to filter those memberships whose employees belongs to this team.
    # @option opts [String] :status This field is used to filter those trainings memberships whose attendance status is the given.
    # @option opts [String] :class_id This field is used to filter those trainings memberships whose employees belongs to this group.
    # @option opts [String] :employee_id Get the training memberships by passing the employee id
    # @return [TrainingsTrainingMembershipsGet200Response]
    def trainings_training_memberships_get(due_date, opts = {})
      data, _status_code, _headers = trainings_training_memberships_get_with_http_info(due_date, opts)
      data
    end

    # Reads all Training memberships
    # Reads all Training memberships
    # @param due_date [String] This field is used to filter training memberships by due date. Values can be &#39;overdue&#39;, &#39;no_due_date&#39;, or a number of days (e.g., &#39;7&#39;, &#39;30&#39;, &#39;90&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :training_id This field is used to filter those trainings memberships that belongs to this training.
    # @option opts [Array<String>] :ids This field is used to filter those trainings memberships whose id match with the given.
    # @option opts [String] :search This field is used to filter those trainings memberships whose employee name include some of the text written.
    # @option opts [String] :team_id This field is used to filter those memberships whose employees belongs to this team.
    # @option opts [String] :status This field is used to filter those trainings memberships whose attendance status is the given.
    # @option opts [String] :class_id This field is used to filter those trainings memberships whose employees belongs to this group.
    # @option opts [String] :employee_id Get the training memberships by passing the employee id
    # @return [Array<(TrainingsTrainingMembershipsGet200Response, Integer, Hash)>] TrainingsTrainingMembershipsGet200Response data, response status code and response headers
    def trainings_training_memberships_get_with_http_info(due_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingMembershipApi.trainings_training_memberships_get ...'
      end
      # verify the required parameter 'due_date' is set
      if @api_client.config.client_side_validation && due_date.nil?
        fail ArgumentError, "Missing the required parameter 'due_date' when calling TrainingsTrainingMembershipApi.trainings_training_memberships_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/training_memberships'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'due_date'] = due_date
      query_params[:'training_id'] = opts[:'training_id'] if !opts[:'training_id'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'team_id'] = opts[:'team_id'] if !opts[:'team_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'class_id'] = opts[:'class_id'] if !opts[:'class_id'].nil?
      query_params[:'employee_id'] = opts[:'employee_id'] if !opts[:'employee_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTrainingMembershipsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingMembershipApi.trainings_training_memberships_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingMembershipApi#trainings_training_memberships_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Training membership
    # Reads a single Training membership
    # @param id [String] This field is used to filter those trainings memberships whose id match with the given.
    # @param [Hash] opts the optional parameters
    # @return [TrainingsTrainingMembership]
    def trainings_training_memberships_id_get(id, opts = {})
      data, _status_code, _headers = trainings_training_memberships_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Training membership
    # Reads a single Training membership
    # @param id [String] This field is used to filter those trainings memberships whose id match with the given.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingsTrainingMembership, Integer, Hash)>] TrainingsTrainingMembership data, response status code and response headers
    def trainings_training_memberships_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingMembershipApi.trainings_training_memberships_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsTrainingMembershipApi.trainings_training_memberships_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/training_memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTrainingMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingMembershipApi.trainings_training_memberships_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingMembershipApi#trainings_training_memberships_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Training membership
    # Update a training membership
    # @param id [String] Unique identifier for the training membership. Only used to identify the training membership to update.
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingMembershipsIdPutRequest] :trainings_training_memberships_id_put_request 
    # @return [TrainingsTrainingMembership]
    def trainings_training_memberships_id_put(id, opts = {})
      data, _status_code, _headers = trainings_training_memberships_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Training membership
    # Update a training membership
    # @param id [String] Unique identifier for the training membership. Only used to identify the training membership to update.
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsTrainingMembershipsIdPutRequest] :trainings_training_memberships_id_put_request 
    # @return [Array<(TrainingsTrainingMembership, Integer, Hash)>] TrainingsTrainingMembership data, response status code and response headers
    def trainings_training_memberships_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsTrainingMembershipApi.trainings_training_memberships_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsTrainingMembershipApi.trainings_training_memberships_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/training_memberships/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_training_memberships_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsTrainingMembership'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsTrainingMembershipApi.trainings_training_memberships_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsTrainingMembershipApi#trainings_training_memberships_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
