=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class TrainingsSessionAttendanceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk update session attendances
    # Updates the status or completed duration of multiple session attendances. When status is set to completed, completed_duration is automatically set to session duration. When only completed_duration is provided, attendances must already be in completed status.
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsSessionAttendancesBulkUpdatePostRequest] :trainings_session_attendances_bulk_update_post_request 
    # @return [Array<TrainingsSessionAttendance>]
    def trainings_session_attendances_bulk_update_post(opts = {})
      data, _status_code, _headers = trainings_session_attendances_bulk_update_post_with_http_info(opts)
      data
    end

    # Bulk update session attendances
    # Updates the status or completed duration of multiple session attendances. When status is set to completed, completed_duration is automatically set to session duration. When only completed_duration is provided, attendances must already be in completed status.
    # @param [Hash] opts the optional parameters
    # @option opts [TrainingsSessionAttendancesBulkUpdatePostRequest] :trainings_session_attendances_bulk_update_post_request 
    # @return [Array<(Array<TrainingsSessionAttendance>, Integer, Hash)>] Array<TrainingsSessionAttendance> data, response status code and response headers
    def trainings_session_attendances_bulk_update_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionAttendanceApi.trainings_session_attendances_bulk_update_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/session_attendances/bulk_update'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'trainings_session_attendances_bulk_update_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TrainingsSessionAttendance>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionAttendanceApi.trainings_session_attendances_bulk_update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionAttendanceApi#trainings_session_attendances_bulk_update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads all Session attendances
    # Reads all Session attendances
    # @param [Hash] opts the optional parameters
    # @option opts [String] :session_id 
    # @option opts [String] :id 
    # @option opts [Array<String>] :ids 
    # @option opts [Array<String>] :session_access_membership_ids 
    # @option opts [Array<String>] :access_ids 
    # @return [TrainingsSessionAttendancesGet200Response]
    def trainings_session_attendances_get(opts = {})
      data, _status_code, _headers = trainings_session_attendances_get_with_http_info(opts)
      data
    end

    # Reads all Session attendances
    # Reads all Session attendances
    # @param [Hash] opts the optional parameters
    # @option opts [String] :session_id 
    # @option opts [String] :id 
    # @option opts [Array<String>] :ids 
    # @option opts [Array<String>] :session_access_membership_ids 
    # @option opts [Array<String>] :access_ids 
    # @return [Array<(TrainingsSessionAttendancesGet200Response, Integer, Hash)>] TrainingsSessionAttendancesGet200Response data, response status code and response headers
    def trainings_session_attendances_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionAttendanceApi.trainings_session_attendances_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/session_attendances'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'session_id'] = opts[:'session_id'] if !opts[:'session_id'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?
      query_params[:'session_access_membership_ids[]'] = @api_client.build_collection_param(opts[:'session_access_membership_ids'], :multi) if !opts[:'session_access_membership_ids'].nil?
      query_params[:'access_ids[]'] = @api_client.build_collection_param(opts[:'access_ids'], :multi) if !opts[:'access_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsSessionAttendancesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionAttendanceApi.trainings_session_attendances_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionAttendanceApi#trainings_session_attendances_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Session attendance
    # Reads a single Session attendance
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TrainingsSessionAttendance]
    def trainings_session_attendances_id_get(id, opts = {})
      data, _status_code, _headers = trainings_session_attendances_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Session attendance
    # Reads a single Session attendance
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrainingsSessionAttendance, Integer, Hash)>] TrainingsSessionAttendance data, response status code and response headers
    def trainings_session_attendances_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrainingsSessionAttendanceApi.trainings_session_attendances_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TrainingsSessionAttendanceApi.trainings_session_attendances_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/trainings/session_attendances/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrainingsSessionAttendance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"TrainingsSessionAttendanceApi.trainings_session_attendances_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrainingsSessionAttendanceApi#trainings_session_attendances_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
