=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class WorkScheduleScheduleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Schedules
    # Reads all Schedules
    # @param with_employee_ids [Boolean] 
    # @param with_periods [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @return [WorkScheduleSchedulesGet200Response]
    def work_schedule_schedules_get(with_employee_ids, with_periods, opts = {})
      data, _status_code, _headers = work_schedule_schedules_get_with_http_info(with_employee_ids, with_periods, opts)
      data
    end

    # Reads all Schedules
    # Reads all Schedules
    # @param with_employee_ids [Boolean] 
    # @param with_periods [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids 
    # @return [Array<(WorkScheduleSchedulesGet200Response, Integer, Hash)>] WorkScheduleSchedulesGet200Response data, response status code and response headers
    def work_schedule_schedules_get_with_http_info(with_employee_ids, with_periods, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkScheduleScheduleApi.work_schedule_schedules_get ...'
      end
      # verify the required parameter 'with_employee_ids' is set
      if @api_client.config.client_side_validation && with_employee_ids.nil?
        fail ArgumentError, "Missing the required parameter 'with_employee_ids' when calling WorkScheduleScheduleApi.work_schedule_schedules_get"
      end
      # verify the required parameter 'with_periods' is set
      if @api_client.config.client_side_validation && with_periods.nil?
        fail ArgumentError, "Missing the required parameter 'with_periods' when calling WorkScheduleScheduleApi.work_schedule_schedules_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/work_schedule/schedules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'with_employee_ids'] = with_employee_ids
      query_params[:'with_periods'] = with_periods
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkScheduleSchedulesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"WorkScheduleScheduleApi.work_schedule_schedules_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkScheduleScheduleApi#work_schedule_schedules_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Schedule
    # Reads a single Schedule
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WorkScheduleSchedule]
    def work_schedule_schedules_id_get(id, opts = {})
      data, _status_code, _headers = work_schedule_schedules_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Schedule
    # Reads a single Schedule
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkScheduleSchedule, Integer, Hash)>] WorkScheduleSchedule data, response status code and response headers
    def work_schedule_schedules_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkScheduleScheduleApi.work_schedule_schedules_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkScheduleScheduleApi.work_schedule_schedules_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/work_schedule/schedules/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkScheduleSchedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"WorkScheduleScheduleApi.work_schedule_schedules_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkScheduleScheduleApi#work_schedule_schedules_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Schedule
    # Updates a Schedule
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkScheduleSchedulesIdPutRequest] :work_schedule_schedules_id_put_request 
    # @return [WorkScheduleSchedule]
    def work_schedule_schedules_id_put(id, opts = {})
      data, _status_code, _headers = work_schedule_schedules_id_put_with_http_info(id, opts)
      data
    end

    # Updates a Schedule
    # Updates a Schedule
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkScheduleSchedulesIdPutRequest] :work_schedule_schedules_id_put_request 
    # @return [Array<(WorkScheduleSchedule, Integer, Hash)>] WorkScheduleSchedule data, response status code and response headers
    def work_schedule_schedules_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkScheduleScheduleApi.work_schedule_schedules_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkScheduleScheduleApi.work_schedule_schedules_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/work_schedule/schedules/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'work_schedule_schedules_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'WorkScheduleSchedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"WorkScheduleScheduleApi.work_schedule_schedules_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkScheduleScheduleApi#work_schedule_schedules_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Schedule
    # Creates a Schedule
    # @param [Hash] opts the optional parameters
    # @option opts [WorkScheduleSchedulesPostRequest] :work_schedule_schedules_post_request 
    # @return [WorkScheduleSchedule]
    def work_schedule_schedules_post(opts = {})
      data, _status_code, _headers = work_schedule_schedules_post_with_http_info(opts)
      data
    end

    # Creates a Schedule
    # Creates a Schedule
    # @param [Hash] opts the optional parameters
    # @option opts [WorkScheduleSchedulesPostRequest] :work_schedule_schedules_post_request 
    # @return [Array<(WorkScheduleSchedule, Integer, Hash)>] WorkScheduleSchedule data, response status code and response headers
    def work_schedule_schedules_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkScheduleScheduleApi.work_schedule_schedules_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/work_schedule/schedules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'work_schedule_schedules_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'WorkScheduleSchedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"WorkScheduleScheduleApi.work_schedule_schedules_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkScheduleScheduleApi#work_schedule_schedules_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Toggle archives a Schedule
    # Toggle archives a Schedule
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [WorkScheduleSchedule]
    def work_schedule_schedules_toggle_archive_post(opts = {})
      data, _status_code, _headers = work_schedule_schedules_toggle_archive_post_with_http_info(opts)
      data
    end

    # Toggle archives a Schedule
    # Toggle archives a Schedule
    # @param [Hash] opts the optional parameters
    # @option opts [AtsEvaluationFormsSaveAsTemplatePostRequest] :ats_evaluation_forms_save_as_template_post_request 
    # @return [Array<(WorkScheduleSchedule, Integer, Hash)>] WorkScheduleSchedule data, response status code and response headers
    def work_schedule_schedules_toggle_archive_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkScheduleScheduleApi.work_schedule_schedules_toggle_archive_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/work_schedule/schedules/toggle_archive'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ats_evaluation_forms_save_as_template_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'WorkScheduleSchedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"WorkScheduleScheduleApi.work_schedule_schedules_toggle_archive_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkScheduleScheduleApi#work_schedule_schedules_toggle_archive_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
