=begin
#Factorial API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module F
  class WorkScheduleOverlapPeriodApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Reads all Overlap periods
    # Reads all Overlap periods
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of overlap period identifiers to retrieve. If provided, returns only overlap periods matching these IDs
    # @return [WorkScheduleOverlapPeriodsGet200Response]
    def work_schedule_overlap_periods_get(opts = {})
      data, _status_code, _headers = work_schedule_overlap_periods_get_with_http_info(opts)
      data
    end

    # Reads all Overlap periods
    # Reads all Overlap periods
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :ids List of overlap period identifiers to retrieve. If provided, returns only overlap periods matching these IDs
    # @return [Array<(WorkScheduleOverlapPeriodsGet200Response, Integer, Hash)>] WorkScheduleOverlapPeriodsGet200Response data, response status code and response headers
    def work_schedule_overlap_periods_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_get ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/work_schedule/overlap_periods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids[]'] = @api_client.build_collection_param(opts[:'ids'], :multi) if !opts[:'ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkScheduleOverlapPeriodsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkScheduleOverlapPeriodApi#work_schedule_overlap_periods_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an Overlap period
    # Deletes an Overlap period
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WorkScheduleOverlapPeriod]
    def work_schedule_overlap_periods_id_delete(id, opts = {})
      data, _status_code, _headers = work_schedule_overlap_periods_id_delete_with_http_info(id, opts)
      data
    end

    # Deletes an Overlap period
    # Deletes an Overlap period
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkScheduleOverlapPeriod, Integer, Hash)>] WorkScheduleOverlapPeriod data, response status code and response headers
    def work_schedule_overlap_periods_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_id_delete"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/work_schedule/overlap_periods/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkScheduleOverlapPeriod'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkScheduleOverlapPeriodApi#work_schedule_overlap_periods_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads a single Overlap period
    # Reads a single Overlap period
    # @param id [String] List of overlap period identifiers to retrieve. If provided, returns only overlap periods matching these IDs
    # @param [Hash] opts the optional parameters
    # @return [WorkScheduleOverlapPeriod]
    def work_schedule_overlap_periods_id_get(id, opts = {})
      data, _status_code, _headers = work_schedule_overlap_periods_id_get_with_http_info(id, opts)
      data
    end

    # Reads a single Overlap period
    # Reads a single Overlap period
    # @param id [String] List of overlap period identifiers to retrieve. If provided, returns only overlap periods matching these IDs
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkScheduleOverlapPeriod, Integer, Hash)>] WorkScheduleOverlapPeriod data, response status code and response headers
    def work_schedule_overlap_periods_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_id_get"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/work_schedule/overlap_periods/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkScheduleOverlapPeriod'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkScheduleOverlapPeriodApi#work_schedule_overlap_periods_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an Overlap period
    # Updates an Overlap period
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkScheduleOverlapPeriodsIdPutRequest] :work_schedule_overlap_periods_id_put_request 
    # @return [WorkScheduleOverlapPeriod]
    def work_schedule_overlap_periods_id_put(id, opts = {})
      data, _status_code, _headers = work_schedule_overlap_periods_id_put_with_http_info(id, opts)
      data
    end

    # Updates an Overlap period
    # Updates an Overlap period
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [WorkScheduleOverlapPeriodsIdPutRequest] :work_schedule_overlap_periods_id_put_request 
    # @return [Array<(WorkScheduleOverlapPeriod, Integer, Hash)>] WorkScheduleOverlapPeriod data, response status code and response headers
    def work_schedule_overlap_periods_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_id_put"
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/work_schedule/overlap_periods/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'work_schedule_overlap_periods_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'WorkScheduleOverlapPeriod'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkScheduleOverlapPeriodApi#work_schedule_overlap_periods_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an Overlap period
    # Creates an Overlap period
    # @param [Hash] opts the optional parameters
    # @option opts [WorkScheduleOverlapPeriodsPostRequest] :work_schedule_overlap_periods_post_request 
    # @return [WorkScheduleOverlapPeriod]
    def work_schedule_overlap_periods_post(opts = {})
      data, _status_code, _headers = work_schedule_overlap_periods_post_with_http_info(opts)
      data
    end

    # Creates an Overlap period
    # Creates an Overlap period
    # @param [Hash] opts the optional parameters
    # @option opts [WorkScheduleOverlapPeriodsPostRequest] :work_schedule_overlap_periods_post_request 
    # @return [Array<(WorkScheduleOverlapPeriod, Integer, Hash)>] WorkScheduleOverlapPeriod data, response status code and response headers
    def work_schedule_overlap_periods_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_post ...'
      end
      # resource path
      local_var_path = '/api/2026-07-01/resources/work_schedule/overlap_periods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'work_schedule_overlap_periods_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'WorkScheduleOverlapPeriod'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey', 'oauth2']

      new_options = opts.merge(
        :operation => :"WorkScheduleOverlapPeriodApi.work_schedule_overlap_periods_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkScheduleOverlapPeriodApi#work_schedule_overlap_periods_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
